#pathwayDetails {
  .container-padding {
    padding-bottom: 0;
  }

  .information-row__main-info {
    padding-top: rem-calc(4);
  }

  .complete-text {
    font-size: 12px;
    text-align: left;
    color: #acadc1;
    &.complete-text-v3 {
      color: #454560;
    }
  }
  .complete-bar {
    max-width: 150px;
    position: absolute;
    right: 0rem;
    bottom: 1rem;
    &.complete-bar-v3 {
      bottom: 0.5rem;
    }
  }
  .relevancyRatingStars {
    span:last-of-type {
      margin-right: 0;
    }
  }
  .position-relative {
    position: relative;
    .stick-to-bottom {
      position: absolute;
      bottom: 0;
    }
  }
  .action-button {
    button {
      margin-right: 0px !important;
      margin-left: 0px !important;
    }
  }
}
.review-btn {
  border: none !important;
}
.start-action-button {
  margin-top: -1.9rem;
}
.review-btn-v3 {
  width: 9rem !important;
  border: solid 1px #00a1e1 !important;
  color: #00a1e1 !important;
  background: none !important;
}
.review-btn-completed {
  cursor: default !important;
}
.review-btn-completed__color {
  background-color: #2fb7a0 !important;
}
.journey-details__container {
  .complete-text {
    font-size: 12px;
    text-align: left;
    color: #acadc1;
    &.complete-text-v3 {
      color: #454560;
    }
  }
  .complete-bar {
    max-width: 150px;
    position: absolute;
    right: 0rem;
    bottom: 1rem;
  }
  .action-button {
    button {
      margin-right: 0px !important;
      margin-left: 0px !important;
    }
  }
}
.pathway-main-info {
  span {
    font-family: 'Open Sans' !important;
  }
  .pathway-title {
    margin-bottom: rem-calc(20);
    font-size: rem-calc(22);
    letter-spacing: rem-calc(0.8);
    line-height: 1;
    text-align: left;
    color: #454560;
    &.pathway-title-v3 {
      font-size: 1.5rem;
      line-height: 1.25;
      height: 1.925rem;
      white-space: nowrap;
      margin-bottom: 1.0625rem;
      overflow: hidden;
      font-family: 'Open Sans' !important;
    }
    &.pathway-title-preview {
      overflow: visible;
    }
  }
  .more-description {
    color: #4990e2;
    text-decoration: underline;
    cursor: pointer;
  }
  .info-block {
    margin-bottom: rem-calc(20);
  }
  .align-inline-box {
    display: inline-flex;
    align-items: center;
  }
  .align-inline-box-v3 {
    padding-bottom: 0 !important;
    &:first-child {
      font-weight: normal;
    }
  }
  .pathway-labels {
    font-weight: 600;
    padding-left: 2px;
  }
  .cursor-pointer {
    cursor: pointer;
  }
  .pathway-provider-image {
    height: 26px;
    margin-left: 15px;
  }
  .channel-link {
    cursor: pointer;
    &:active {
      outline: none;
    }
  }
  .inline-flex {
    display: inline-flex;
  }
  .stick-to-bottom {
    .pathway-text {
      padding-bottom: rem-calc(20);
      &.pathway-text-stars-v3 {
        padding-bottom: 0.5rem;
      }
      &.pathway-text-creator-v3 {
        padding: 0;
        &:first-child {
          font-weight: normal;
        }
      }
      &.pathway-text-date-v3,
      &.pathway-text-assigner-v3 {
        span {
          font-weight: normal;
        }
        padding: 0;
        font-weight: normal;
      }
    }
  }
}

.pathway-text-creator-v3__container {
  white-space: nowrap;
  overflow: hidden;
}

.more-channels-link {
  cursor: pointer;
  font-weight: 600;
}

.pathway-text {
  font-size: rem-calc(12);
  font-weight: 300;
  line-height: 1.29;
  letter-spacing: rem-calc(0.5);
  text-align: left;
  color: #454560;
  word-wrap: break-word;
  &.pathway-text-v3 {
    font-family: Open Sans !important;
    font-size: 1rem;
    height: 5.1rem;
    margin: 0 !important;
    overflow: hidden;
    word-break: break-all;
    span {
      font-weight: normal;
    }
    .more-description {
      text-decoration: none;
      color: #454560 !important;
      &:hover {
        color: #4a90e2 !important;
      }
    }
  }
  &.pathway-text__margin {
    margin-bottom: rem-calc(20);
  }
}

.relevancyRatingStars {
  display: inline-flex;
  margin: auto auto;
}
.relevancyRatingStars-v3 {
  margin: 0 auto;
}

.relative {
  position: relative;
}
.pathway-full-description {
  padding: 16px;
  max-width: 500px;
  .pathway-description-title {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.29;
    letter-spacing: 0.5px;
    text-align: left;
    color: #454560;
  }
}

.pathway-full-details-v2 {
  max-width: rem-calc(800);
}
.pathway-full-details-v3 {
  max-width: rem-calc(600);
  .pathway-text {
    font-size: 1rem;
    font-weight: normal;
  }
  .pathway-description-title {
    font-size: 1.1rem;
  }
}
.removeBlueOutline {
  outline: none !important;
}

.smartbite-details__container_v3 {
  .comment-input {
    padding: rem-calc(8) rem-calc(16);
    line-height: 1.14;
  }
}

@media (min-width: 2157px) {
  .smartbite-details__container_v3 {
    width: rem-calc(2056);
  }
}

@media (max-width: 2156px) {
  .smartbite-details__container_v3 {
    width: rem-calc(1724);
  }
}

@media (max-width: 1776px) {
  .smartbite-details__container_v3 {
    width: rem-calc(1392);
  }
}

@media (max-width: 1440px) {
  .smartbite-details__container_v3 {
    width: rem-calc(1060);
  }
}

.pathway-title-v3_clipped {
  position: relative;
  padding-right: rem-calc(20);
}

.pathway-v3__cropping-dots {
  color: #454560;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  position: absolute;
  background: white;
  width: rem-calc(17);
  text-align: right;
  cursor: pointer;
  &:hover {
    color: #4a90e2;
  }
}

.pathway-title-v3__cropping-dots {
  display: none;
}

.pathway-title-v3_clipped + .pathway-title-v3__cropping-dots {
  display: block;
  font-size: rem-calc(24);
  top: rem-calc(-2);
  right: 0;
}

.pathway-main-info-v3 {
  position: relative;
}

.pathway-v3__tooltip {
  box-shadow: 0 rem-calc(2) rem-calc(4) 0 rgba(0, 0, 0, 0.22);
  background-color: #ffffff;
  padding: rem-calc(20);
  font-size: rem-calc(12);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  display: none;
  position: absolute;
  z-index: 100;
  word-break: break-all;
  overflow-y: auto;
}

.pathway-title-v3__tooltip {
  right: -5.6875rem;
  top: rem-calc(45);
  width: rem-calc(368);
}

.pathway-title-v3__cropping-dots:hover + .pathway-title-v3__tooltip {
  display: block;
}
.information-row__main-info-v3 {
  width: calc(100% - 23.465rem) !important;
}

.pathway-text-date-v3__tooltip {
  right: 0;
  bottom: -2.8125rem;
  width: rem-calc(168);
}

.pathway-text-creator-v3__cropping-dots {
  display: block !important;
  opacity: 0;
}

.pathway-text-creator-v3__container_clipped + .pathway-text-creator-v3__cropping-dots {
  font-size: rem-calc(12);
  bottom: rem-calc(1);
  opacity: 1;
  z-index: 13;
}

.pathway-text-creator-v3__container_clipped .pathway-text-assigner-v3 .dot {
  display: none;
}

.pathway-text-creator-v3__container_clipped .pathway-text-date-v3 {
  opacity: 0;
}

.pathway-text-creator-v3__cropping-dots:hover + .pathway-text-date-v3__tooltip {
  display: block;
}
.pathway-description-v3__tooltip {
  display: block !important;
  top: rem-calc(110);
  font-size: rem-calc(12);
}

.stick-to-bottom_v3 {
  .pathway-text__bottom-row {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  .information-row__btn-block {
    width: auto;
    padding-top: 0;
    padding-left: 2.5rem;
  }
  .complete-bar {
    position: static !important;
  }
  .date-converter {
    white-space: nowrap;
  }
}
