.channel-analytics-container {
  padding-top: 1.25rem;
  padding-bottom: 1.875rem;

  .row {
    max-width: none;
    padding: 0.625rem 40px;
  }

  .graph-card {
    padding: 15px;
    background-color: white;
    border-radius: 3px;
    height: 100%;
    font-size: 12px;

    h3 {
      color: #454560;
      font-size: 14px;
      margin: 0;
    }

    h5 {
      color: #6f708b;
      font-size: 12px;
      font-weight: normal;
    }
  }

  // React Date Range CSS
  .rdrInputRange:last-child {
    display: none;
  }

  .rdrDayToday .rdrDayNumber span:after {
    background-color: #45455c !important;
  }

  .date-selector {
    font-size: 12px;
    border: 1px solid;
    padding: 6px;
    border-radius: 2px;
    float: right;
  }

  .date-selector-update {
    background: #45455c;
    padding: 12px;
    color: white;
  }

  .date-selector-layer {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
  }

  .date-selector-calendar {
    position: absolute;
    box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.3);
    z-index: 2;

    .date-selector-wrapper {
      display: flex;
      flex-direction: column;
      background: white;

      & > div {
        border-bottom: 1px solid #eff2f7;
      }
    }
  }

  // Hide title fro TeamsLinearGraph
  .graph-card > div > div > span {
    display: none;
  }

  //Contributor Table
  ol.contributor-table {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    justify-content: space-around;
    height: 100%;
    padding-bottom: 36px;

    li.contributor-row {
      & > * {
        vertical-align: middle;
      }

      .contributor-name {
        margin-left: 12px;
      }

      .contributor-score {
        font-weight: bold;
        float: right;
        margin-right: 24px;
      }
    }
  }
}
