#myContent {
  margin: rem-calc(16) rem-calc(40) 0;
  padding-bottom: rem-calc(16);
  .my-content-wrapper {
    width: 100%;
    display: flex;
    .left-filter {
      width: rem-calc(136);
      .left-filter-item {
        padding-bottom: rem-calc(15);
        .left-filter-item-text {
          text-transform: uppercase;
          cursor: pointer;
          font-size: rem-calc(14);
          color: #959597;
          letter-spacing: rem-calc(-0.5);
        }
        .active-filter {
          font-weight: bold;
          color: #5c5c5c;
        }
      }
    }
    .my-content-right-block {
      width: calc(100% - 120px);
      .pending-cards {
        margin: 10px 0;
      }
      .card-v2 {
        .paper-card {
          width: 100% !important;
        }
      }
      @media (max-width: 639px) {
        .card-v2.card-v2__simple-size {
          width: 100%;
        }
      }
      @media (max-width: 832px) {
        .card-v2:not(.card-v2__simple-size) {
          width: 100%;
        }
      }
      @media (min-width: 640px) {
        .card-v2.card-v2__simple-size {
          width: 50%;
        }
      }
      @media (min-width: 833px) {
        .card-v2:not(.card-v2__simple-size) {
          width: 50%;
        }
      }
      @media (min-width: 850px) {
        .card-v2.card-v2__simple-size {
          width: 33.3333%;
        }
      }
      @media (min-width: 1148px) {
        .card-v2:not(.card-v2__simple-size) {
          width: 33.3333%;
        }
      }
      @media (min-width: 1090px) {
        .card-v2.card-v2__simple-size {
          width: 25%;
        }
      }
      @media (min-width: 1464px) {
        .card-v2:not(.card-v2__simple-size) {
          width: 25%;
        }
      }
      @media (min-width: 1350px) {
        .card-v2.card-v2__simple-size {
          width: 20%;
        }
      }
      @media (min-width: 1580px) {
        .card-v2.card-v2__simple-size {
          width: 16.6666%;
        }
      }
      @media (min-width: 1780px) {
        .card-v2:not(.card-v2__simple-size) {
          width: 20%;
        }
      }
      @media (min-width: 1800px) {
        .card-v2.card-v2__simple-size {
          width: 14%;
        }
      }
      @media (min-width: 2096px) {
        .card-v2:not(.card-v2__simple-size) {
          width: 14%;
        }
      }
    }
  }
}
