#widget-container {
  min-width: rem-calc(350);
  max-width: rem-calc(1050);
  margin: 0 auto;

  .widget-wrapper {
    display: flex;
    // flex-wrap: wrap;
    overflow: scroll;
  }
  .card-container {
    // display: inline;
    flex: 1 0 33%;
    min-width: 300px;
    .card-v2,
    .paper-card {
      display: flex;
    }
  }
  .widget-title {
    margin-bottom: 1rem;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 0.25rem;
    .widget-title-label {
      display: inline;
      border-bottom: 2px solid black;
      font-weight: 600;
      padding: 0 0.5rem 0.25rem 0;
    }
  }
  .menu li {
    padding: 0 1rem;
  }
  .sign-in-modal {
    .logo-wrapper {
      padding: 0 20%;
      div {
        display: block;
      }
      .logo-container {
        text-align: center;
      }
      .tag-line {
        text-align: center;
      }
      .button-wrapper {
        display: table;
        margin: 0 auto;
        margin-top: 1rem;
        .sign-up-button {
          box-shadow: none !important;
        }
      }
    }
  }
}

#iframe-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow: hidden;

  iframe {
    border: none;
    flex-grow: 1;
    margin: 0;
    padding: 0;
  }
}
