.skill-coin-container {
  .coin-amount {
    display: inline;
    background: #ffffff;
    border: 1px solid #454460;
    margin-left: 10px;
    color: #454460;
    padding: 5px 15px;
    cursor: pointer;

    &.active {
      background: #454460;
      color: #ffffff;
    }
  }

  .dollar-amount {
    display: inline;
    padding-left: 20px;
    color: green;
    font-size: 18px;
    font-weight: 600;
  }

  .horizontal-spacing-xlarge {
    margin-bottom: 20px;
  }

  td {
    padding: 20px 0px;
  }

  .failure {
    color: red;
  }

  .success {
    color: green;
  }
}
