.settings-tab {
  padding: 1rem 0 0;
}

.settings-paper {
  border-radius: 5px !important;
  padding: 0 5rem;
}

.settings-content {
  background: white;
  border-radius: 5px;
}

label {
  min-width: 27px;
}

.char-counter {
  font-size: 12px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: rgba(0, 0, 0, 0.541176);
}

.bio-field {
  margin-bottom: 15px;
}

.error-text {
  color: red;
  font-size: 12px;
}

.integration-image {
  min-height: 126px;
  line-height: 126px;
}

.password-edit {
  display: inline-block;
  vertical-align: sub;
  padding-right: 2rem;
}

.password-block {
  line-height: 16px;
  padding: 20px 16px 16px 0;
  font-size: 14px;
}

#accountDetails {
  min-height: 280px;
  .small-font {
    font-size: 12px;
  }
}

.cover-image {
  height: 9.375rem;
  width: 21.125rem;
  margin: 0 auto 1rem;
}

.image-block {
  padding: 1rem 0;
}

.avatar-box {
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  display: inline-flex;
  z-index: 10;
}

.img-blurred-container {
  display: flex;
  align-items: center;
  justify-content: center;

  &.avatar-box {
    display: inline-flex;
  }
}

.img-blurred-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.img-with-blurred {
  max-width: 100%;
  z-index: 2;
  position: relative;
}

img.img-with-blurred {
  max-height: 100%;
  flex: 0 0 auto;
}

.settings-data {
  padding-top: 12px;

  .laoding-spinner {
    width: 34px;
    margin-left: 12px;
  }

  .settings-data-download {
    margin: 4px 3px;
    font-size: 14px;
    white-space: nowrap;
  }

  .settings-data-modal-container {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;

    .settings-data-modal {
      background: white;
      padding: 24px 34px;
      border-radius: 5px;
      min-width: 400px;

      p {
        text-align: center;
        margin: 20px;
      }

      .small {
        font-size: 12px;
        color: #999;
      }
    }
  }
}
