.navigation-wrapped-content_full-height {
  min-height: 100vh;
  #footer-wrapper {
    min-height: 100vh;
    .footer-wrapped-content {
      min-height: 100vh;
    }
  }
}

#footer-wrapper {
  // display: flex;
  min-height: calc(100vh - 7.75rem);
  // flex-direction: column;
  @media screen and (min-width: 0\0) {
    width: 100%;
  }
  .footer-wrapped-content {
    flex: 1 0 0;
    min-height: calc(100vh - 11.9375rem);
    height: auto;
    overflow-y: visible;
  }
  @media screen and (min-width: 0\0) {
    /* IE9 and IE10 rule sets go here */
    button:not(.like, .bookmark, .completed, .comment, .statistics, .my-icon-button_mark_complete, .my-icon-button_mark_incomplete) {
      font-weight: bold !important;
      div {
        div {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 48px;
        }
      }
    }
  }
}
.row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
}
