#footer {
  // TODO remove all hard-coded color values and replace with palette constants
  background-color: #f0f0f5;
  z-index: 2;
  position: relative;
  font-size: 14px;
  .row {
    max-width: none;
    padding-right: 40px;
    padding-left: 40px;
  }
  .app-links-img {
    max-height: 28px;
  }
  img {
    max-width: none;
  }
  a {
    // TODO remove all hard-coded color values and replace with palette constants
    color: #555555;
    margin: 0 6px;
  }

  .powered-logo {
    max-width: 146px;
    margin-bottom: 8px;

    height: auto;
  }

  .vertical-spacing-large {
    div {
      @media #{$small-only} {
        justify-content: center;
        &:not(:first-child) {
          justify-content: center;
          margin-top: 0.7em;
        }
      }

      @media #{$medium-only} {
        justify-content: center;
        &:not(:first-child) {
          justify-content: center;
          margin-top: 0.7em;
        }
      }
      margin: 0;
      align-items: center;
    }
  }
  @media (min-width: 769px) {
    .search-input-block {
      display: none !important;
    }
  }
}
