.bia {
  .level-dots {
    a:focus {
      outline-color: white;
    }
    text-align: right;
    > a > span {
      width: 10px;
      background: #d6d6e1;
      height: 10px;
      display: inline-block;
      margin-left: 5px;
      cursor: pointer;

      .level-tip {
        position: absolute;
        top: -18px;
        right: -10px;
        background: #000000;
        border: 1px;
        border-radius: 5px;
        padding: 1px 4px;
        color: #ffffff;
        z-index: 1000000;
        visibility: hidden;
      }

      &:hover {
        .level-tip {
          visibility: visible;
        }
      }
    }
  }

  .beginner {
    .first {
      background: #454560;
    }
  }

  .intermediate {
    .first,
    .second {
      background: #454560;
    }
  }

  .advanced {
    .first,
    .second,
    .third {
      background: #454560;
    }
  }
}

.new-card-bia_revert-colors {
  .level-dots > a > span {
    background: #6f708b !important;
  }

  .beginner {
    .first {
      background: #f0f0f5 !important;
    }
  }

  .intermediate {
    .first,
    .second {
      background: #f0f0f5 !important;
    }
  }

  .advanced {
    .first,
    .second,
    .third {
      background: #f0f0f5 !important;
    }
  }
}
