.breadcrumb-container {
  padding-top: 1rem;
  @media #{$small-only} {
    padding-top: 0.5rem;
  }
  .breadcrumb-padding {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    .breadcrumb {
      display: inline-block;
      text-decoration: none;
      cursor: pointer;
      .level {
        display: inline-block;
        margin-right: 0.4rem;
        font-size: rem-calc(14);
      }
      .back-link {
        color: #555;
      }
      margin-right: 0.4rem;
    }
    .last {
      font-weight: bold;
      cursor: auto;
    }
    .first {
      padding-left: rem-calc(8);
    }
  }
}
