.my-icon-button {
  /* outline: none !important; removed for TAB key accessibility*/
  border: none !important;
  vertical-align: middle;
}

.my-icon-button_no-action {
  cursor: default;
}

.my-icon-button_small {
  width: rem-calc(24);
  height: rem-calc(24);
  padding: 0;
}

.my-icon-button_mark_complete {
  height: rem-calc(24);
  padding: 0;
  font-size: 12px;
  border-radius: 2px;
  background-color: #ff1f6b;
  color: #fff;
  padding: 4px 7px;
  &.button_mark_complete_v3 {
    font-size: 0.875rem;
    letter-spacing: 1.2px;
  }
  &.button_mark_complete_disabled {
    background-color: #d6d6e1;
  }
  &.button_mark_complete_disabled_on_complete {
    background-color: #2fb7a0;
  }
}

.my-icon-button_mark_incomplete {
  height: rem-calc(24);
  padding: 0;
  font-size: 12px;
  border-radius: 2px;
  background-color: #2fb7a0;
  color: #fff;
  padding: 4px 7px;
}

.mark_as_complete_button_disabled {
  background-color: #d6d6e1 !important;
}

.my-icon-button_prevented_click {
  cursor: not-allowed;
}

.mark-complete-incomplete-button {
  vertical-align: middle;
  height: 15px !important;
  width: 15px !important;
  margin-right: 3px;
}

.my-full-button {
  outline: none !important;
  border: none !important;
  vertical-align: middle;
}

.my-button {
  border: 1px solid;
  padding: rem-calc(5);
  margin-bottom: rem-calc(10);
  font-size: rem-calc(12);
  /* outline: none !important; removed for TAB key accessibility*/
  cursor: pointer;
}

/* Tooltip container */
.tooltip {
  position: relative;
}

/* Tooltip text */
.tooltip .tooltiptext {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
  font-size: rem-calc(12);
  line-height: rem-calc(22);
  padding: 0 rem-calc(8);
  z-index: 30000;
  color: rgb(255, 255, 255);
  overflow: hidden;

  border-radius: 2px;
  user-select: none;
  transition: top 0ms cubic-bezier(0.23, 1, 0.32, 1) 450ms,
    transform 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms,
    opacity 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  box-sizing: border-box;

  display: none;
  width: auto;
  background-color: #555;
  text-align: center;

  /* Position the tooltip text */
  position: absolute;
  bottom: rem-calc(-27);
  transform: translateX(-50%);
  left: 50%;
  /* Fade in tooltip */
  opacity: 0;
  white-space: nowrap;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  display: block;
  opacity: 0.8;
}
