#cardViewToggle {
  height: 100%;
  .tile-block {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    &.tile-block-v1 {
      align-items: flex-start;
    }
    .tile-block-icons {
      display: flex;
      align-items: center;
      span {
        width: 16px;
        height: 16px;
        cursor: pointer;
        overflow: hidden;
      }
    }
    .card-view-icon {
      cursor: pointer;
      margin-right: 5px;
      width: 18px;
      height: 18px;
    }
  }
  .tile-text {
    font-size: 12px;
    color: #454560;
    padding-left: 10px;
  }
}
