.carousel {
  padding: 0 48px;
  overflow: visible;
  .slick-slider {
    .slick-prev,
    .slick-next {
      position: absolute;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
    }

    .slick-prev {
      left: -48px;
    }

    .slick-next {
      right: -48px;
    }
    .slick-slide {
      padding: rem-calc(7) rem-calc(4) rem-calc(4);
    }
  }
  .without-transform {
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
    transform: none !important;
  }
}
