.common-card {
  .card-image {
    // padding: rem-calc(8);
    margin-bottom: rem-calc(5);
  }
  .card-img-container {
    position: relative;
    .card-blurred-background {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  }

  .image {
    background: center center no-repeat;
    background-size: cover;
    height: rem-calc(128);
    position: relative;
  }

  .title {
    font-weight: 500;
    font-size: rem-calc(15);
    margin-bottom: rem-calc(10);
    word-break: break-word;
    -ms-word-wrap: break-word;
    color: #555;
    max-height: 2.8em;
    line-height: 1.4em;

    &.with-image {
      margin-top: rem-calc(10);
    }
  }
  .message {
    font-size: rem-calc(14);
    color: #555;
    word-break: break-word;
    line-height: 1.3em;

    &.line-clamp-3 {
      max-height: 3.9em;
    }

    &.line-clamp-6 {
      max-height: 7.8em;
    }
  }

  .title,
  .message {
    overflow: hidden;
    position: relative;
    // text-align: justify;
    width: 100%;
    margin-right: -0.8em;
    padding-right: 0.8em;
    padding-left: 0.8em;
  }
  .title:before,
  .message:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
    background: white;
  }
  .title:after,
  .message:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: white;
  }

  .card-label {
    position: absolute;
    top: rem-calc(-10);
    background-color: $edc-blue;
    color: $white;
    right: rem-calc(5);
    padding: rem-calc(5 8);
  }

  .action-bar {
    position: absolute;
    bottom: rem-calc(5);
    width: calc(100% - 16px);
    height: rem-calc(35);
  }

  .premium-pro-logo {
    position: absolute;
    bottom: rem-calc(45);
    right: rem-calc(8);
    img {
      display: inline-block;
      max-height: rem-calc(30);
      border: 1px solid #ccc;
      padding: rem-calc(5);
    }
  }
}
