.owner-label {
  background-color: $edc-pink;
  border-radius: 4px;
  display: inline-block;
  width: 3.25rem;
  margin-left: 0.5rem;
  .label-text {
    color: $white;
  }
}

.text-top {
  vertical-align: top;
}

.table-row:hover {
  -webkit-box-shadow: 0px 7px 9px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 7px 9px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 7px 9px -7px rgba(0, 0, 0, 0.75);
}

.menu-item-custom {
  div {
    div {
      div {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}
.menu-item-empty {
  padding: 0 5px !important;
  width: 256px;
  div {
    white-space: normal;
    font-size: rem-calc(12);
  }
}

.menu-item-filter {
  padding: 0 5px !important;
  div {
    white-space: normal;
    font-size: rem-calc(12);
  }
}

.channel-item-insight {
  overflow: hidden;
  position: relative;
  max-width: 100%;
  display: inline-block !important;
  text-overflow: ellipsis;
}
