.alert-appear {
  opacity: 0.01;
}

.alert-appear.alert-appear-active {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.flash-alert {
  width: rem-calc(600);
  background: #b00000;
  color: $white;
  padding: rem-calc(10 15);
  border-radius: rem-calc(3);
  position: fixed;
  top: rem-calc(5);
  left: calc(50% - 300px);
  z-index: 100;

  p {
    color: $white;
    padding-right: rem-calc(10);
    font-size: rem-calc(15);
    display: inline-block;
    width: rem-calc(560);
    vertical-align: middle;
  }

  .close {
    right: rem-calc(10);
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
  }
}

@media only screen and (max-width: 500px) {
  .flash-alert {
    width: 90%;
    left: 5%;
    p {
      width: 90%;
      vertical-align: top;
    }
  }
}
