#journeys {
  .table-row-column {
    width: 14.5rem;
    .journey-image {
      position: relative;
      padding-right: 1rem;
      height: 10rem;
      .image {
        max-width: 12.25rem;
        max-height: 8.0625rem;
        background: no-repeat 50%;
        background-size: cover;
        &:before {
          content: '';
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;
          height: 100%;
          overflow: hidden;
          box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px, #d8d8d8 6px 6px 0px -3px,
            rgba(0, 0, 0, 0.298039) 8px 7px 3px -3px, #e8e8e8 13px 13px 0px -5px,
            rgba(0, 0, 0, 0.298039) 16px 16px 2px -7px;
        }
      }
    }
  }
  .journey-content {
    margin-left: rem-calc(14);
  }
}
