.premium-card {
  position: relative;
  min-width: 12.5rem;
  .ellipsis {
    display: none;
  }
  .card-paper {
    min-height: 18rem;
    position: relative;
    .card-content {
      padding: 0.5rem;
    }
    .title {
      word-break: break-word;
      -ms-word-wrap: break-word;
      max-height: 3em;
      line-height: 1.5em;
      font-weight: bold;
      .link {
        color: inherit;
        text-decoration: none;
      }
    }
    .description {
      word-break: break-word;
      -ms-word-wrap: break-word;
      max-height: 9.1em;
      line-height: 1.3em;
      font-size: rem-calc(14);
      color: #808080;
    }
    .title,
    .description {
      overflow: hidden;
      position: relative;
      width: 100%;
      margin-right: -0.8em;
      padding-right: 0.8em;
      padding-left: 0.8em;
    }
    .title:before,
    .description:before {
      content: '...';
      position: absolute;
      right: 0;
      bottom: 0;
      background: white;
    }
    .title:after,
    .description:after {
      content: '';
      position: absolute;
      right: 0;
      width: 1em;
      height: 1em;
      margin-top: 0.2em;
      background: white;
    }
    .card-action-bar {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
    .other-actions {
      float: right;
    }
  }
}
