#content-topics-ref {
  font-size: 14px;
  display: none;

  #content-topics {
    color: #4a90e2;
  }
}

.recommend-users {
  justify-content: flex-start;

  & > div {
    flex: 1 1 25%;
    max-width: 25%;
  }
}

.recommend-cards {
  justify-content: flex-start;

  & > div {
    flex: 1 1 33.334%;
    max-width: 33.334%;
  }
}

.card-wrapper-flex {
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;

  .card-v3 {
    flex: 0 1 31%;
    margin: 1% !important;
  }
}
