.smartbite-details__container {
  position: relative;
  padding: rem-calc(16) rem-calc(40);

  .breadcrumbBack {
    position: absolute;
    left: rem-calc(10);
    .back-link {
      display: inline-block;
    }
  }
  .container-padding-v3 {
    padding-top: 0;
    padding-left: 0;
    border: solid 1px #d6d6e1;
    border-radius: 0;
    height: 13.5625rem;
  }
  .information-row__main-info-v3 {
    padding-top: rem-calc(21) !important;
    margin-right: auto;
  }
  .preview-mode {
    font-size: rem-calc(20);
    line-height: 2.1;
    text-align: center;
    text-transform: uppercase;
    color: #acadc1;
  }

  .information-row {
    display: flex;
    .information-row__image-block-v3 {
      width: 23.465rem;
      min-width: 23.465rem;
      .img-container {
        height: 100%;
      }
    }
    .information-row__image-block {
      margin-bottom: rem-calc(16);
      width: 20%;
      flex: none;
      min-width: rem-calc(100);
    }
    .information-row__main-info {
      width: calc(80% - 170px);
    }
  }
  .feed-without-rail {
    width: 100%;
  }

  .img-container {
    width: calc(100% - 15px);
    position: relative;
    height: rem-calc(150);
    .pathway-label-block {
      position: absolute;
      right: 0;
      z-index: 10;
      line-height: rem-calc(14);
      display: flex;
      height: rem-calc(20);
      width: 100%;
      justify-content: space-between;
      .pathway-label {
        background-color: #454560;
        font-size: rem-calc(11);
        color: #fff;
        padding: rem-calc(1) rem-calc(6);
        display: flex;
        align-items: center;
        .pathway-badge-preview {
          height: rem-calc(18);
          width: rem-calc(18);
          margin-right: rem-calc(5);
        }
      }
      .pathway-draft-label {
        background-color: #f18d86;
        font-size: rem-calc(11);
        color: #fff;
        font-weight: bold;
        padding: rem-calc(1) rem-calc(6);
        display: flex;
        align-items: center;
      }
    }
  }
  .pathway-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .card-blurred-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .information-row__btn-block {
    width: rem-calc(170);
    flex: none;
    text-align: right;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: rem-calc(30);
    .active-btns {
      margin-top: auto;
      padding: rem-calc(16) 0 rem-calc(8) 0;
      flex: none;
      width: 100%;
      display: flex;
      justify-content: space-between;
      .mid-align {
        vertical-align: middle;
      }
      .icon-inline-block {
        display: inline-block;
        position: relative;
        width: auto;
        .actions-counter {
          top: rem-calc(7);
          position: absolute;
          font-size: rem-calc(12);
        }
      }
    }
  }
  .assigners__container {
    display: flex;
  }
  .assigners__block,
  .due-date__block {
    white-space: nowrap;
    max-width: calc(100% - 170px);
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .assigners__block {
    padding-right: rem-calc(15);
  }
  .due-date__block {
    border-left: rem-calc(1) solid lightslategray;
    padding-left: rem-calc(15);
  }
  .custom-card-container {
    padding-top: rem-calc(15);
    padding-bottom: rem-calc(15);
  }
  .locked-journey-card {
    background-image: url(/i/images/empty_state_card.png);
    background-size: cover;
    width: rem-calc(223);
    height: rem-calc(313);
  }
  .locked-icon {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .card-v2 {
    .card-img-container {
      position: relative;
    }
    .card-blurred-background {
      height: 100%;
      min-height: 100% !important;
    }
    .card-details {
      padding: 0 rem-calc(8);
      position: relative;
      .cursor {
        cursor: pointer;
      }
      .label-text {
        font-size: rem-calc(11);
      }
      .title {
        font-size: rem-calc(13);
        overflow: hidden;
        line-height: rem-calc(18);
      }
      .title-with-image,
      .text-title,
      .card-title {
        font-size: rem-calc(13);
        line-height: rem-calc(17);
      }
      .inline-block {
        display: inline-block;
      }
      .mid-align {
        vertical-align: middle;
      }
      .provider-logo {
        height: 0.85rem;
      }
    }
  }

  .pathway-details {
    background: #fff;
    padding: rem-calc(4) rem-calc(30) rem-calc(4) rem-calc(32);
    border-top-right-radius: rem-calc(4);
    border-top-left-radius: rem-calc(4);
    display: flex;
    &.pathway-details-v3 {
      padding-right: 0;
    }
    .actions-counter {
      display: inline-block;
      vertical-align: middle;
      margin-left: rem-calc(8);
      color: #454560;
    }
    .relevancy {
      color: #acadc1;
      font-size: rem-calc(14);
    }
    .pathway-actions {
      display: inline-flex;
      align-items: center;
    }
    .action {
      display: inline-flex;
      margin: 0 rem-calc(5);
    }
    .pathway-actions_to-right {
      margin-left: auto;
    }
  }

  .comments-block {
    background-color: #e2e2eb;
    padding: 2rem 2.5rem;
    border-bottom-right-radius: rem-calc(4);
    border-bottom-left-radius: rem-calc(4);
  }

  .comment-user {
    line-height: rem-calc(18);
    font-size: rem-calc(12);
    color: #000000;
    font-weight: 600;
  }

  .comment-text {
    color: #000;
    font-size: rem-calc(12);
    font-weight: 300;
    margin-left: rem-calc(10);
  }

  .comment-actions {
    font-size: rem-calc(12);
    font-weight: 300;
  }

  .delete-comment {
    display: inline-block;
    padding: 0 0.5rem;
    border-left: 1px solid;
  }

  .likes {
    padding-right: 0.5rem;
    display: inline-block;
  }

  .comment-time-ago {
    display: inline-block;
  }

  .origin-logos {
    max-height: rem-calc(40);
    margin-top: rem-calc(5);
  }

  .resource-card {
    margin-bottom: rem-calc(20);
  }

  .comment-user {
    line-height: rem-calc(18);
    font-size: rem-calc(12);
    color: #000000;
    font-weight: 600;
  }

  .comment-container-v3 {
    position: relative;
  }

  .comment-create {
    position: relative;
    width: 100%;
    margin-top: rem-calc(2);

    .comment-input {
      content: '@';
      width: 100%;
      height: rem-calc(33);
      padding-left: rem-calc(10);
      padding-right: 8%;
      border: 1px solid #000000;
      border-radius: rem-calc(5);
      outline: none;
    }
    .comment-input::placeholder {
      font-size: rem-calc(14);
      color: #454560;
      font-weight: 300;
      text-align: left;
    }

    .comment-button {
      position: absolute;
      top: 0;
      right: 0;

      span {
        display: inline-block;
        width: rem-calc(22);
        height: rem-calc(33);
      }

      input {
        width: rem-calc(60);
        height: rem-calc(33);
        border: rem-calc(1) solid #000000;
        border-radius: 0 rem-calc(5) rem-calc(5) 0;
        cursor: pointer;
        background-color: #ffffff;
        font-size: rem-calc(12);
      }
    }
  }

  .inline-flex span[data-index='0'] {
    margin: 0 0 0 0.3rem;
  }
  .inline-flex span[data-index='4'] {
    margin: 0 0.3rem 0 0 !important;
  }
}

.pathway-header-label {
  font-size: rem-calc(10) !important;
  @media (max-width: 1350px) {
    font-size: rem-calc(7.5) !important;
  }
  @media (max-width: 1080px) {
    font-size: rem-calc(6) !important;
  }
  @media (max-width: 940px) {
    font-size: rem-calc(4) !important;
  }
}

.pathway-paid-label {
  text-transform: capitalize;
}

.pathway-paid-label-uppercase {
  text-transform: uppercase;
}

.page-with-medium-width {
  margin: auto;

  @media (max-width: 1079px) {
    width: 100%;
  }
  @media (min-width: 1080px) {
    width: 1000px;
  }
  @media (min-width: 1350px) {
    width: 1300px;
  }

  .list-view-block .pathway-view,
  .row.pathway-details {
    width: 100% !important;
    max-width: 100% !important;
  }

  .five-card-column {
    .card-v2 {
      .paper-card {
        width: 100% !important;
      }
    }
    @media (max-width: 499px) {
      .card-v2 {
        width: 100% !important;
      }
    }
    @media (min-width: 500px) {
      .card-v2 {
        width: 50% !important;
      }
    }
    @media (min-width: 850px) {
      .card-v2 {
        width: 33.3333% !important;
      }
    }
    @media (min-width: 1350px) {
      .card-v2 {
        width: 20% !important;
      }
    }
  }
}
