.tooltip-parent {
  position: relative;
  .tooltip-snippet {
    position: absolute;
    color: rgb(255, 255, 255);
    margin-top: rem-calc(-13);
    left: rem-calc(20);
    background-color: rgba(85, 85, 85, 0.95);
    font-size: rem-calc(12);
    padding: rem-calc(8);
    z-index: 6;
    border-radius: rem-calc(3);
    height: fit-content !important;
  }
  .tooltip-snippet.bottom {
    white-space: normal !important;
  }
}

.tooltip-appear {
  opacity: 0.01;
}

.tooltip-appear.tooltip-appear-active {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.tooltip-leave {
  opacity: 1;
}

.tooltip-leave.tooltip-leave-active {
  opacity: 0.01;
  transition: opacity 0.3s ease-in;
}
