.user-list-item {
  margin-bottom: rem-calc(10);
  min-height: rem-calc(76);
  background-color: rgb(254, 254, 254);
  box-shadow: 0;

  position: relative;

  .user-list-item-cell {
    display: inline-block;
    vertical-align: middle;
  }

  &:hover {
    -webkit-box-shadow: 0px 7px 9px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 7px 9px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 7px 9px -7px rgba(0, 0, 0, 0.75);
  }

  .right {
    float: right;
  }

  .insight-dropdown {
    position: absolute !important;
    right: -10px;
    top: -14px;
  }
}
