.user-square-item {
  flex: none;
  height: rem-calc(245);
  margin-bottom: rem-calc(16);
  display: inline-block;
  vertical-align: top;
  padding: 0 rem-calc(8);
  min-width: 206px;

  .user-square-item__container {
    height: 100%;
    border-radius: rem-calc(4);
    background-color: #ffffff;
    padding: rem-calc(18) rem-calc(16) rem-calc(21);
    display: flex;
    flex-direction: column;
  }
  .avatar-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .avatar-container {
    flex: none;
  }
  .btn-block {
    padding-left: rem-calc(16);
  }
  .user-name {
    font-size: rem-calc(18);
    font-weight: 600;
    letter-spacing: 0.5px;
    text-align: left;
    color: #6f708b;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    display: inline-block;
  }

  .user-follow {
    display: flex;
    font-size: rem-calc(10);
    line-height: 1.8;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: auto;
    > div {
      padding-right: rem-calc(10);
    }
    small {
      color: #9476c9;
      padding-right: rem-calc(5);
    }
  }
  .user-info__text {
    font-size: rem-calc(12);
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.5px;
    color: #26273b;
  }
  .user-name-row {
    padding: rem-calc(5) 0;
  }
}

.five-card-column {
  @media (max-width: 850px) {
    .user-square-item {
      width: 100%;
    }
  }
  @media (min-width: 850px) {
    .user-square-item {
      width: 50%;
    }
  }
  @media (min-width: 1100px) {
    .user-square-item {
      width: 33.3333%;
    }
  }
  @media (min-width: 1320px) {
    .user-square-item {
      width: 25%;
    }
  }
  @media (min-width: 1520px) {
    .user-square-item {
      width: 20%;
    }
  }
  @media (min-width: 1921px) {
    .user-square-item {
      width: 16.666%;
    }
  }
  @media (min-width: 2000px) {
    .user-square-item {
      width: auto;
    }
  }
}

.user-square-item-v2 {
  width: rem-calc(316) !important;
  height: rem-calc(275);
  padding: 0 !important;
  margin-right: rem-calc(10);
  .user-square-item__container {
    height: rem-calc(177);
    padding: rem-calc(18) rem-calc(18) rem-calc(21);
  }
  .user-information-row {
    display: flex;
    justify-content: space-between;
  }
  .avatar-row {
    padding-bottom: 0;
  }
  .avatar-container {
    padding-right: rem-calc(10);
  }
  .user-name-row {
    display: flex;
    align-items: flex-end;
    height: rem-calc(36);
  }
  .user-name {
    font-family: 'Open Sans';
    font-size: rem-calc(16);
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: 0.4px;
    color: #454560;
  }
  .user-info__title {
    font-family: 'Open Sans';
    font-size: rem-calc(12);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #6f708b;
    padding-bottom: rem-calc(15);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .info-container {
    width: 100%;
  }
  .user-followers,
  .user-following {
    font-size: rem-calc(10);
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    color: #6f708b;
    font-weight: 300;
    span:first-child {
      font-weight: 600;
    }
  }
  .btn-block {
    margin-top: auto !important;
    padding: 0;
    text-align: center;
  }
}
.discover-user-square-item-v2 {
  width: 100% !important;
}
.user-square-item-v2__banner {
  width: 100%;
  height: rem-calc(98);
  background-position: 0 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  padding: 0 rem-calc(19);
  .avatar-row {
    padding-bottom: 0;
    position: relative;
    bottom: rem-calc(-20);
  }
}

.user-square-item-v2__topics {
  height: rem-calc(48);
  overflow: hidden;
  line-height: rem-calc(23);
}

.user-square-item-v2__expert-topic {
  font-family: 'Open Sans';
  font-size: rem-calc(12);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  color: #6f708b;
  max-width: rem-calc(156);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  .dot {
    display: inline-block;
    top: rem-calc(-3);
    position: relative;
  }
}
