#video-stream-list-item {
  .video-stream-image {
    height: 6rem;
    margin: 1rem;
    position: relative;
  }
  .center-play-icon {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
  }
  .stream-info {
    vertical-align: top;
    position: relative;
    .info-container {
      margin-left: rem-calc(14);
      margin-right: rem-calc(14);

      .videostream-title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: block;
      }
    }
    .like-comment-container {
      position: absolute;
      bottom: rem-calc(14);
    }
  }
  .view-count {
    vertical-align: middle;
    position: relative;
    padding-right: rem-calc(40);
    .container {
      text-align: right;
      margin-right: 2rem;
      .item {
        display: inline-block;
      }
    }
  }
}
