.user {
  position: relative;
  .follow {
    padding-top: rem-calc(2);
    min-width: rem-calc(75);
  }
  .user-wrapper {
    text-align: center;
    height: rem-calc(215);
    width: rem-calc(152);
    margin: 0 auto;

    .user-avatar {
      width: rem-calc(96);
      height: rem-calc(96);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-radius: 50%;
    }

    .user-info {
      overflow: visible;
      .tooltip-parent {
        position: static !important;
      }

      .user-name {
        overflow: hidden;
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-bottom: rem-calc(2);
        font-size: rem-calc(14);
        font-weight: 600;
        letter-spacing: rem-calc(0.6);
        color: #454560;
      }

      .user-sub-name {
        overflow: hidden;
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-bottom: rem-calc(2);
        font-size: rem-calc(12);
        font-weight: 300;
        letter-spacing: rem-calc(0.6);
        color: #454560;
      }

      .tooltip-snippet {
        margin-top: rem-calc(-30);
        width: rem-calc(250);

        &:before {
          border-width: 6px;
          bottom: calc(50% - 6px);
          content: '';
          position: absolute;
          z-index: 99;
        }

        &.top {
          width: rem-calc(180);
          margin-top: 0 !important;
          left: 0;
          bottom: rem-calc(87);
          &:before {
            border-style: solid inset inset inset;
            border-color: rgba(85, 85, 85, 0.95) transparent transparent transparent;
            left: calc(50% - 6px);
            top: 100%;
          }
        }

        .tooltip-title {
          font-size: rem-calc(14);
          margin-bottom: 10px;
          font-weight: bold;
        }

        .line-clamp-4 {
          display: -webkit-inline-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }

        p {
          white-space: normal;
        }
      }
    }

    .edcaster-info {
      padding-top: rem-calc(4);
      padding-bottom: rem-calc(4);
    }

    .user-more-menu {
      button {
        padding: 0px 12px !important;
        height: auto !important;
      }
    }

    .remove-button {
      display: inline;
      position: absolute;
      top: 0px;
      right: 15px;
      font-size: 11px;
      background: #454460;
      padding: 4px 10px;
      line-height: 1;
      color: #fff;
    }

    a > * {
      margin: auto auto rem-calc(8);
    }
  }
}
