#forgot-password {
  font-family: 'Open Sans';

  .forgot-heading {
    font-family: 'Open Sans';
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #454560;
  }

  .page-text {
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #454560;
  }

  .form-container {
    max-width: 270px;
    margin: 0 auto;

    .form-group-container {
      margin-bottom: 20px;
    }

    .input-label {
      font-family: 'Open Sans';
      font-size: 12px;
      line-height: 1.33;
      letter-spacing: 0.5px;
      text-align: left;
      color: #454560;
      margin-bottom: 10px;
    }

    .input-text {
      width: 100%;
      height: 32px;
      border-radius: 4px;
      box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.03);
      border: solid 1px #d6d6e1;
      font-size: 14px;
      padding: 5px 10px;
    }

    .input-text::placeholder {
      color: #acadc1;
    }
  }

  .button-green {
    width: 100%;
    height: 32px;
    border-radius: 4px;
    background-color: rgb(0, 161, 225);
    color: #ffffff;
    font-size: 14px;
  }

  .small-text {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.5px;
    color: #454560;
  }

  .back-link {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.5px;
    color: #4a90e2;
    text-decoration: underline;
  }

  .margin-top-10 {
    margin-top: 10px;
  }

  .margin-top-20 {
    margin-top: 20px;
  }

  .margin-bottom-20 {
    margin-bottom: 20px;
  }

  .margin-top-30 {
    margin-top: 30px;
  }

  .color-green {
    color: #4cc3a5;
  }

  .color-error {
    color: #f1736a;
  }

  #header {
    height: 134px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    text-align: center;
    padding: 30px 0px;

    .logo {
      img {
        height: 74px;
      }
    }
  }

  #forgot-body {
    padding: 70px 15px;
    min-height: 550px;
    .content-paper {
      max-width: 558px;
      margin: 0 auto;
      padding: 22px 70px;
      border-radius: 4px;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.06);
      text-align: center;

      &.margin-bottom-20 {
        margin-bottom: 20px;
      }

      &.invalid-token {
        padding: 70px 70px;
      }
    }
  }

  #footerv2 {
    padding: 20px 58px 20px 58px;
    max-width: 100%;

    .footer-left {
      text-align: left;

      ul {
        list-style: none;
        li {
          display: inline;

          &.padding-left {
            padding-left: 12.5px;
          }

          &.padding-right {
            padding-right: 12.5px;
          }

          &.border-right {
            border-right: 1px solid #6f708b;
          }

          a {
            font-size: 14px;
            letter-spacing: 0.5px;
            color: #6f708b;
          }
        }
      }
    }

    .footer-right {
      text-align: right;
    }
  }

  .password-policy {
    text-align: left;
    ul {
      li {
        font-size: 14px;
        line-height: 1.86;
        color: #f1736a;
      }
    }
  }

  @media (max-width: 499px) {
    #forgot-body {
      min-height: 0px;
      padding: 20px 15px;

      .content-paper {
        padding: 22px 15px;
        .invalid-token {
          padding: 30px 15px;
        }
      }
    }

    .forgot-heading {
      font-size: 20px;
    }

    #footerv2 {
      padding: 20px 5px 20px 5px;
      max-width: 100%;

      .footer-left {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
        margin-bottom: 15px;
      }

      .footer-right {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
      }
    }
  }
}
