.skills-direcrory-container {
  padding: rem-calc(20) rem-calc(50);

  h3 {
    font-size: rem-calc(25);
  }

  .skills {
    display: flex;
    flex-wrap: wrap;

    .skillbox {
      height: rem-calc(201);
      width: 15%;
      margin: rem-calc(10);
      text-align: center;
      color: #ffffff;
      background-position: center;
      background-repeat: none;
      display: flex;
      justify-content: center;
      align-items: center;

      &:nth-child(6n + 1) {
        margin-left: 0;
      }

      &:hover {
        background-image: none !important;
        background-color: #454461;
      }
    }
  }
}
