.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: 0 19px;
  border: 1px solid #d6d6e1;

  .calendar-day {
    border: 1px solid #fff;
    display: flex;
    font-size: 9px;
    position: relative;
    background-color: #f9f9f9;

    // Make the grid items square
    &:before {
      content: '';
      height: 0;
      padding-bottom: calc(100%);
    }

    &.weekday,
    &.month-year {
      background-color: white;
      justify-content: center;
      font-size: 10px;

      &:before {
        content: none;
      }
    }

    &.month-year {
      justify-self: left;
      font-weight: bold;
      text-indent: 5px;
      grid-column: 1 / span 7;
    }
  }

  .calendar-data {
    font-size: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 2px;
    text-align: right;
  }
}
