#profile {
  flex-wrap: nowrap;
  display: flex;
  .left-rail {
    display: none;
    flex: 0 0 300px;
    @media #{$large-up} {
      display: block;
    }
  }

  .profile-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      flex: 1 1;
    }
    & > * {
      width: 100%;
    }
  }

  .following-container {
    width: 119.5%;
    margin-left: -66px;

    .follower {
      margin-top: 10px;
    }

    .block-name {
      max-width: 85%;

      div {
        margin-left: 62px;
        font-weight: 600;
      }
    }

    .influencer-wrapper {
      height: auto;
      margin: 0 10px;

      a > * {
        margin: auto auto 0.2rem;
      }

      .influencer-spacing {
        padding: 10px 10px 5px 10px;
      }

      .influencer-avatar {
        margin-top: 0 !important;
      }

      .influencer-name {
        padding-bottom: 0;
        font-size: 14px;
      }
    }
  }
}
