#learning-analytics {
  .learning-analytic-box-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -10px;

    .learning-analytic-container {
      padding: rem-calc(10);
      width: 33.3333%;
    }

    .learning-analytic-box {
      height: rem-calc(335);
      border: rem-calc(0.5) solid #d6d6e1;
      background: #ffffff;

      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;

      position: relative;
    }
  }

  .learning-analytic-box-margin {
    width: 100%;
    margin: rem-calc(12) rem-calc(20);
  }

  .learning-analytic-title {
    font-size: rem-calc(14);
    font-weight: 600;
    letter-spacing: rem-calc(0.1);
    color: #454560;
  }

  /**/

  .learning-hours-time {
    font-size: rem-calc(12);
    letter-spacing: 0;
    color: #454560;
    margin-top: rem-calc(40);
    .sub-title {
      font-size: rem-calc(24);
    }
  }

  .points-percent-box {
    margin-top: 30px;
    .points-percent {
      letter-spacing: rem-calc(0.1);
      color: #454560;
      font-size: rem-calc(14);
      .sub-title {
        line-height: rem-calc(35);
        font-size: rem-calc(24);
      }
    }
  }

  /**/
  .all-badge {
    display: flex;
    flex-wrap: wrap;
    margin-top: rem-calc(10);

    .badge {
      width: 33%;
      text-align: center;
      font-size: 12px;
      letter-spacing: 0.1px;
      text-align: center;
      color: #454560;

      img {
        padding: rem-calc(10 0);
        max-width: 50%;
      }
    }

    .empty-state {
      padding: 30% rem-calc(145);
      text-align: center;
      font-size: rem-calc(12);
    }
  }

  .badges-expanded-view {
    padding: rem-calc(45);
    border: rem-calc(1) solid #d6d6e0;

    .share-with-linkedIn-btn {
      border: solid 1px #979797;
      background-color: #0076b7;
      margin: rem-calc(12 0);

      .share-with-linkedIn-btn-title {
        font-size: rem-calc(12);
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: rem-calc(0.1);
        text-align: center;
        color: #ffffff;
        margin: rem-calc(0 15);
      }

      .share-with-linkedIn-btn-icon {
        img {
          padding: rem-calc(5 4 5 5);
          border-right: rem-calc(1) solid #0080c0;
        }
      }
    }
  }

  /**/
  .in-progress-title {
    font-size: rem-calc(12);
    letter-spacing: rem-calc(0.1);
    color: #454560;
    .empty-state {
      padding: 29% 81px;
      text-align: center;
    }
  }

  .in-progress-assignment {
    margin-top: rem-calc(25);
    cursor: pointer;
  }

  .in-progress-msg {
    margin-bottom: rem-calc(7);
    white-space: nowrap;
  }

  .completedPerContainer {
    .completedBar {
      height: rem-calc(3);
      background-color: #d6d6e1;
    }

    .completedPer {
      color: #6f708b;
      height: rem-calc(3);
      background-color: #6f708b;
      margin-top: -0.1875rem;
    }
    .perCount {
      margin-top: rem-calc(3);
      font-size: rem-calc(9);
      letter-spacing: rem-calc(0.1);
    }
  }
  /**/

  .top-contents-container {
    margin: rem-calc(10 0 0 0);

    .top-content-box {
      display: flex;
      padding: rem-calc(10 5);
      cursor: pointer;

      .top-content-msg {
        flex: 1 1;
        margin: rem-calc(0 15 0 0);

        span {
          font-size: rem-calc(12);
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.58;
          letter-spacing: rem-calc(0.1);
          color: #454560;
        }
      }

      .top-content-view-count {
        font-size: rem-calc(12);
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.58;
        letter-spacing: rem-calc(0.1);
        color: #454560;
      }
    }

    .top-content-box:hover {
      background-color: #f0f0f5;
    }
  }
}

.active-topic-section {
  #wordcloud-activetopic {
    width: 100%;
    margin: rem-calc(33 0 0 0);
  }
}

.public-profile-overlay {
  background-color: rgba(172, 173, 193, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 11;
  display: none;

  .public-profile-post-handler {
    text-align: right;

    .public-profile-post-btn {
      margin: rem-calc(10);
      border-radius: 2px;
      background-color: #ffffff;
      font-size: rem-calc(14);
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0;
      text-align: center;
      color: #454560;
      padding: rem-calc(5);
    }

    .remove {
      background-color: #f1736a;
      color: #ffffff;
    }
  }
}

.learning-analytic-box:hover {
  .public-profile-overlay {
    display: block;
  }
}

.user-activity-list-container:hover {
  .public-profile-overlay {
    display: block;
  }
}

.LA-expanded-view {
  width: 100vw;
  position: relative;

  .LA-expanded-view-constainer {
    position: relative;
    margin: rem-calc(20) 0 0 0;

    .badge {
      width: 25% !important;

      img {
        max-width: 35% !important;
      }
    }
  }

  .arrow_box {
    position: relative;
    background: #fff;
  }
  .arrow_box:after,
  .arrow_box:before {
    bottom: rem-calc(-1);
    border: solid #000000;
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    z-index: 1;
  }

  .arrow_box:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #fff;
    border-width: rem-calc(12);
    margin-left: rem-calc(-12);
  }
  .arrow_box:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #d6d6e0;
    border-width: rem-calc(13);
    margin-left: rem-calc(-13);
  }

  .in-progress-expanded-view {
    border-radius: 0 !important;
    border: rem-calc(1) solid #d6d6e0;
    padding: rem-calc(45);

    .mlp-content-type-headings {
      background-color: #ffffff;
      border-top: 0;
    }

    .mlp-content-row {
      border-right: solid 0.5px #acadc180;
      border-left: solid 0.5px #acadc180;
    }
  }

  .active-topic-expanded-view {
    border-radius: 0 !important;
    border: rem-calc(1) solid #d6d6e0;
    padding: rem-calc(45);
    text-align: center;

    #wordcloud-activetopic-expanded {
      width: 60%;
    }
  }
  .top-content-expanded-view {
    border-radius: 0 !important;
    border: rem-calc(1) solid #d6d6e0;
    padding: rem-calc(45);

    .top-content-msg {
      span {
        font-size: rem-calc(14) !important;
      }
    }

    .top-content-view-count {
      font-size: rem-calc(14) !important;
    }
  }
}
