.team-feed-block {
  .pending-at {
    padding-bottom: rem-calc(2);
  }
  .title-at {
    font-size: rem-calc(14);
    font-weight: 600;
    letter-spacing: rem-calc(0.5);
    text-align: left;
    color: #26273b;
    margin-top: rem-calc(4);
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: calc(100% - 6.25rem);
    overflow: hidden;
  }
  .header-line-at {
    display: flex;
    justify-content: space-between;
    margin: rem-calc(16);
  }
  .text-comment-at {
    font-size: rem-calc(13);
    word-wrap: break-word;
    margin-left: 0.25rem;
    display: inline-block;
    width: 8rem;
  }
  .text-comment-at .user-name + strong {
    font-weight: normal !important;
    font-size: rem-calc(13);
  }
  .action-line-at {
    margin-top: rem-calc(8);
    font-size: rem-calc(11);
    display: flex;
    font-weight: 300;
    justify-content: space-between;
    white-space: nowrap;
    width: 100%;
  }
  .comment-date-at {
    font-size: rem-calc(11);
    width: 100%;
  }
  .like-at,
  .comment-at {
    cursor: pointer;
  }
  .input-comment-at {
    font-size: rem-calc(12);
    height: rem-calc(34);
    border-radius: 3px;
    border: 1px solid #acadc1;
    width: 100%;
    padding-left: rem-calc(16);
  }
  .pr-65 {
    padding-right: rem-calc(65);
  }

  .mt-5 {
    margin-top: rem-calc(5);
  }
  .flex-block {
    display: flex;
  }
  .last-comment-span-at {
    margin-left: rem-calc(-70);
    border-right: 1px solid #acadc1;
    padding: rem-calc(5);
  }

  .last-comment-btn-at {
    padding: rem-calc(10);
    font-size: rem-calc(12);
  }

  .send-line-at {
    margin-top: rem-calc(10);
    margin-bottom: rem-calc(8);
  }
  .send-line-label-at {
    font-size: rem-calc(12);
    color: #454560;
    margin-right: rem-calc(5);
  }
  .send-block-at {
    margin: rem-calc(16);
  }
  .empty-msg-at {
    margin: rem-calc(16);
  }
}

.team-feed-block_v2 {
  width: rem-calc(373);
  border-radius: 0 !important;
  border: solid rem-calc(1) #d6d6e1;
  .pending-at {
    padding-bottom: rem-calc(2);
  }
  .filter-row {
    display: flex;
    align-items: center;
  }
  .title-at {
    font-size: rem-calc(16);
    font-weight: normal;
    line-height: normal;
    letter-spacing: rem-calc(0.1);
    color: #454560;
    margin-top: 0 !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .header-line-at {
    display: flex;
    justify-content: space-between;
  }
  .header-line-at,
  .filter-block {
    margin: rem-calc(14) 0 rem-calc(11) rem-calc(23);
  }
  .text-comment-at {
    font-size: rem-calc(14);
    font-weight: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #6f708b;
    word-wrap: break-word;
    margin-left: 0.25rem;
    display: inline-block;
    width: 8rem;
  }
  .user-name,
  .marked-text strong {
    font-weight: 600;
    color: #454560;
  }
  .action-line-at {
    margin-top: rem-calc(8);
    font-size: rem-calc(11);
    display: flex;
    font-weight: 300;
    justify-content: flex-start;
    width: 100%;

    .my-icon-button {
      margin-right: rem-calc(7);
    }
  }

  .snippet-text_sub-comment {
    background-color: #f0f0f5;
    font-size: rem-calc(12);
    color: #6f708b;
    padding: rem-calc(6) rem-calc(10);
  }

  .delete-link-new-feed {
    float: right;
  }

  .comment-date-at {
    font-size: rem-calc(11);
    width: 100%;
    display: inline-block;
    padding-top: rem-calc(8);
    color: #acadc1;
  }
  .like-at,
  .comment-at {
    cursor: pointer;
  }
  .icon-inline-block {
    padding-right: rem-calc(12);
  }
  .my-icon-button-block_filter-btn {
    padding-right: rem-calc(15);
  }
  .my-icon-button-block_close-btn {
    margin-top: rem-calc(-3);
  }
  .votes-count {
    font-size: rem-calc(14);
    font-weight: normal;
    color: #454560;
    padding-right: rem-calc(8);
  }
  .send-block-at {
    background-color: rgba(214, 214, 225, 0.6);
    border-top: solid rem-calc(1) #d6d6e1;
    margin: 0;
    padding: 1rem;
  }
  .send-line-at {
    margin-top: 0;
    margin-bottom: rem-calc(12);
  }
  .send-line-label-at {
    font-size: rem-calc(12);
    color: #6f708b;
    margin-right: rem-calc(10);
  }
  .last-comment-btn-at {
    background-color: #f0f0f5;
    border: solid rem-calc(1) #acadc1;
    border-left: none;
    padding: rem-calc(10);
    font-size: rem-calc(12);
  }
  .last-comment-span-at {
    display: none;
  }
  .input-comment-at {
    font-size: rem-calc(12);
    height: rem-calc(34);
    border-radius: 0;
    border: rem-calc(1) solid #acadc1;
    width: 100%;
    padding-left: rem-calc(16);
  }

  .sub-comment-input-container {
    padding-top: rem-calc(10);
    padding-bottom: rem-calc(10);
  }

  .conversation-cb {
    font-size: rem-calc(10);
    font-weight: normal;
    padding-left: rem-calc(15);
    letter-spacing: 0.1px;
    color: #6f708b;
    span {
      padding-left: rem-calc(5);
    }
  }

  .button-container {
    padding-top: rem-calc(18);
  }
  .my-button-save {
    background-color: #6f708b;
    color: #ffffff;
    margin-left: rem-calc(5);
    border-color: #6f708b;
  }

  .pr-65 {
    padding-right: rem-calc(65);
  }

  .mt-5 {
    margin-top: rem-calc(5);
  }
  .flex-block {
    display: flex;
  }
  .empty-msg-at {
    margin: rem-calc(16);
  }

  .comments-view-more {
    font-size: rem-calc(12);
    font-weight: normal;
    letter-spacing: 0.1px;
    text-align: right;
    color: #4a90e2;
  }
}
