.left-rail-title {
  font-size: rem-calc(14);
  span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    width: 100%;
  }
}

.left-rail-item {
  span:hover {
    &:hover {
      .DraftEditor-editorContainer {
        background-color: rgba(85, 85, 85, 0.1);
      }
    }
  }

  .snippet-text {
    word-wrap: break-word;
    -ms-word-wrap: break-word;
    font-size: rem-calc(14);
  }

  .left-rail-activity-icon {
    width: rem-calc(20) !important;
    height: rem-calc(20) !important;
  }
}

.left-rail-announcement {
  overflow-y: auto;
  height: 100%;
}
