.bookmark-block {
  margin-top: rem-calc(27) !important;
  position: relative;
  .left-rail-title {
    margin-bottom: 0;
    padding: 1rem 1rem 0;
    > .bookmark-title {
      max-width: 100%;
    }
  }
}

.bookmark__spinner-container {
  padding: 1rem 0;
}

.bookmark-title-container {
  display: flex;
  padding: 1rem 1rem 0;
  align-items: center;
}

.bookmark-title {
  font-family: 'Open Sans';
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #454560;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 4.7rem);
}

.bookmark-view-all {
  margin-left: auto;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  text-align: right;
  color: #4a90e2;
  cursor: pointer;
}

.bookmarks__container {
  padding: 1rem 0 0;
  .bookmarked-search {
    height: rem-calc(32);
    border-radius: rem-calc(2);
    border: solid 1px #acadc1;
    background-color: #ffffff;
    margin: 0 1rem;
    font-size: rem-calc(14);
    padding-left: rem-calc(33);
    padding-right: rem-calc(11);
    width: calc(100% - 2rem);
    input {
      padding-left: 0;
    }
  }
}

.bookmark__move-to-top {
  text-align: right;
  visibility: hidden;
  padding-right: rem-calc(21);
  svg {
    cursor: pointer;
  }
  .tooltip .tooltiptext {
    transform: translateX(-64%);
  }
}

.bookmark__container {
  margin-top: rem-calc(-8);
  z-index: 3;
  &:hover {
    z-index: 5;
    .bookmark__move-to-top {
      visibility: visible;
    }
    .bookmark__text {
      background-color: rgba(214, 214, 225, 0.6);
    }
  }
}

.bookmark-items__container {
  overflow-y: auto;
}

.bookmark__text {
  display: block;
  font-family: 'Open Sans';
  font-size: rem-calc(14);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: 0.1px;
  color: #454264;
  padding: rem-calc(11) 1rem;
  &:hover {
    color: #454264;
  }
}

.bookmark__container:first-child {
  margin-top: 0;
}

.bookmark-view-all_v2 {
  text-align: right;
  padding: 0 1rem 0.5rem 0;
}

#bookmarks-panel_v2 {
  > div,
  .bookmark-block {
    height: 100%;
  }
  .bookmarks__container {
    height: calc(100% - 2.375rem);
  }
  .bookmark-items-view__container {
    height: calc(100% - 2rem);
  }
  .bookmark-items__container {
    height: calc(100% - 2rem);
  }
}
