.user-panel {
  margin: 0;
  height: 100%;

  > div {
    /* removing box shadow to maintain consistancy for EP-10657*/
    /*box-shadow: 0 12px 20px -15px rgba(0,0,0,.2);*/
  }

  .user-details-container {
    margin-bottom: -55px;
    position: relative;
    top: -53px;
    &.fix-v1 {
      margin-bottom: 0;
      top: 0;
      padding-bottom: rem-calc(10);
      border-bottom: solid 0.5px #d6d6e1;
      &.fix-v1 span {
        font-family: OpenSans-Regular, Open Sans !important;
      }
    }

    .user-name-container {
      font-size: 16px;
      line-height: 1.44;
      font-weight: bold;
      color: #6f708b;
      a {
        color: #6f708b;
      }
    }
  }

  .your-annual-learning fieldset,
  .your-learning-plan fieldset {
    border: 1px solid #dedfef;
    legend {
      text-align: center;
      padding: 0px 10px;
      color: #555;
      font-weight: 600;
    }
  }

  .your-learning-plan {
    margin-top: 18px;
  }

  .your-learning-plan-header a {
    font-size: 16px;
    color: #454560;
    margin-bottom: 14px;
    font-weight: 600;
  }

  .your-learning-plan-count {
    font-size: 13px;
    color: #5b8edc;
    text-align: center;
    &.fix-v1 {
      font-size: 0.875rem;
      letter-spacing: 0.1px;
      color: #26273b;
      font-family: OpenSans-Regular, Open Sans !important;
    }
  }

  .your-learning-plan-title {
    font-size: 13px;
    text-align: center;
    color: #797891;
    padding-bottom: 18px;
    &.fix-v1 {
      font-size: 0.875rem;
      letter-spacing: 0.1px;
      color: #6f708b;
      font-family: OpenSans-Regular, Open Sans !important;
      &.fix-v1 span {
        font-family: OpenSans-Regular, Open Sans !important;
      }
    }
  }

  .your-learning-plan-header a:hover {
    color: #4a90e2;
  }

  .your-learning-plan-skill-stats {
    margin-bottom: 16px;
    display: flex;
    align-items: center;

    .rich-text-read-only {
      p {
        white-space: nowrap;
        width: 96%;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .your-learning-plan-skill-name {
      font-size: 12px;
      color: #454560;
      width: 58%;
      display: inline-block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      cursor: pointer;
      margin-right: 2%;
    }

    .your-learning-plan-progress {
      width: 40%;
      display: inline-block;
      position: relative;
    }

    .resume-learning {
      font-size: 12px;
      color: #4a90e2;
      cursor: pointer;
      display: inline-block;
      margin-right: 84%;
    }

    .last-updated-date {
      font-size: 11px;
      font-weight: 300;
      color: #454560;
    }
  }

  .your-learning-plan-skill-stats:last-child {
    border-bottom: 0px;
    margin-bottom: 0px;
  }

  .announcement-block {
    min-height: rem-calc(60);
    > div {
      height: 100%;
    }
    .carousel {
      padding: 0;

      .nextArrow,
      .prevArrow {
        display: none !important;
      }
    }
  }

  .indicator {
    text-align: center;
    position: absolute;
    top: -5px;
    left: 0;
    font-weight: bold;
    border-left: 2px solid #d6d5e0;
    line-height: 14px;
    height: 22px;
    overflow: hidden;

    &.dark {
      overflow: visible;
      div {
        border-right-color: transparent;
      }

      span {
        color: #45445e;
      }
    }

    div {
      border-right: 2px solid #d6d5e0;
      margin-top: 2px;

      &.hide-right-indicator {
        border-right: none;
      }
    }

    span {
      font-size: 9px;
      color: #d6d5e0;
      position: relative;
      top: -1px;
    }
  }
}

.calibrate_points {
  width: 100%;
  div {
    display: inline-block;
    width: 20%;
    font-size: 9px;
    color: #6f708b;
  }
  .tl {
    text-align: left;
    padding-left: 9px;
  }
  .tr {
    text-align: right;
    margin-left: 60%;
    padding-right: 9px;
  }
}

.user-scrollable-block {
  overflow-y: auto;
  overflow-x: hidden;
  width: calc(100% + 1rem);
}

.user-panel_v2 {
  height: 100%;
  .user-details-container {
    margin-bottom: 0;
    position: relative;
    top: 0;

    .user-name-container {
      font-size: rem-calc(16);
      font-weight: normal;
      line-height: 1.63;
      letter-spacing: 0.1px;

      a {
        color: #454560;
      }
      color: #454560;
    }
  }
  .your-learning-plan {
    margin-top: rem-calc(15);
    font-size: rem-calc(14);
  }
  .your-learning-plan-count {
    letter-spacing: 0.1px;
    color: #26273b;
    text-align: center;
  }
  .your-learning-plan-title {
    letter-spacing: 0.1px;
    text-align: center;
    color: #6f708b;
  }

  .clc-badgings-container {
    margin-top: rem-calc(15);
  }

  .your-learning-plan-header {
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.1px;
    color: #454560;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .view-more-link {
    font-size: rem-calc(12);
    letter-spacing: 0.1px;
    text-align: left;
    color: #4a90e2;
  }

  .your-annual-learning fieldset,
  .your-learning-plan fieldset {
    border: 1px solid #dedfef;
    legend {
      text-align: center;
      padding: 0px 10px;
      color: #555;
      font-weight: 600;
    }
  }

  .your-learning-plan-title {
    font-size: 13px;
    text-align: center;
    color: #797891;
    padding-bottom: 18px;
    &.fix-v1 {
      font-size: 0.875rem;
      letter-spacing: 0.1px;
      color: #6f708b;
      font-family: OpenSans-Regular, Open Sans !important;
      &.fix-v1 span {
        font-family: OpenSans-Regular, Open Sans !important;
      }
    }
  }

  .your-learning-plan-skill-stats {
    margin-bottom: 16px;

    .your-learning-plan-skill-name {
      font-size: 13px;
      letter-spacing: 0.1px;
      color: #6f708b;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      cursor: pointer;
      margin-bottom: 9px;
      display: block;
    }

    .your-learning-plan-progress {
      display: block;
      position: relative;
    }

    .resume-learning {
      font-size: 12px;
      color: #4a90e2;
      cursor: pointer;
      display: inline-block;
      margin-right: 84%;
    }

    .last-updated-date {
      font-size: 11px;
      font-weight: 300;
      color: #454560;
    }
  }

  .indicator {
    text-align: right;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
    line-height: 1rem;
    height: 1rem;
    overflow: hidden;

    &.dark {
      overflow: visible;
      span {
        color: #45445e;
      }
    }

    span {
      padding: 0 rem-calc(4);
      font-size: rem-calc(11);
      color: #ffffff;
      position: relative;
      top: 0;
    }
  }

  .your-learning-plan-skill-stats:last-child {
    border-bottom: 0;
    margin-bottom: 0;
  }

  .announcement-block {
    > div {
      height: 100%;
    }
    .carousel {
      padding: 0;

      .nextArrow,
      .prevArrow {
        display: none !important;
      }
    }
  }
}

.user-details-container {
  .img-blurred-container {
    &.fix-v1 {
      border: none !important;
    }
  }
}

.container-padding {
  &.container-padding__summary {
    padding: rem-calc(18) rem-calc(20) rem-calc(15) rem-calc(29);
  }
}
