#home {
  flex-wrap: nowrap;
  &.home-fix-v1 {
    background-color: #f0f0f5;
  }
  .left-rail {
    margin-right: 0;
  }
  .left-rail_in-old-home-page {
    #left-rail {
      margin-right: 1rem;
      flex: 0 0 300px;
      // @media #{$large-up} {h
      display: block !important;
    }
  }

  .home-feed {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: calc(100% - 300px - 1rem);
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      flex: 1 1;
    }
    & > * {
      width: 100%;
    }

    .inline-creation-overlay {
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 16;
      position: fixed;
      top: 0px;
      width: 100%;
      height: 100%;

      &.hidden {
        left: -100%;
        opacity: 0;
        transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 400ms,
          opacity 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      }

      &.visible {
        left: 0px;
        opacity: 1;
        transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms,
          opacity 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      }
    }
    .custom-label {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 100%;
      padding: 0 0.3rem;
    }
  }
}
