@mixin hide-feed-block-with-user-panel($is_big, $feed_width) {
  .feed-header-with-userpanel.feed-header-with-right-rail {
    width: calc(100% - 20rem);
    @if $is_big {
      margin-left: calc(50% - 7.1875rem) !important;
    }
  }

  .feed-header-with-left-rail.feed-header-with-userpanel {
    @if $is_big {
      margin: auto;
      .home-content {
        margin-left: 10rem;
      }
    } @else {
      width: calc(100% - 18.75rem) !important;
      margin-left: 20rem;
    }
  }

  .feed-with-left-rail.home-redesign_with-user-pane {
    margin-left: 0;
    .left-user-panel {
      left: 2.5rem;
    }
  }
  .feed-with-left-rail {
    .feed-with-userpanel.feed-with-rail {
      width: calc(100% - 18.75rem) !important;
      margin-left: 20rem;
    }
  }
  .feed-with-right-rail.home-redesign_with-user-pane,
  .feed-with-left-rail.home-redesign_with-user-pane {
    @if $is_big {
      .left-user-panel {
        right: 50%;
        -ms-transform: translateX(50%) translateX(-17.675rem);
        -webkit-transform: translateX(50%) translateX(-17.675rem);
        -moz-transform: translateX(50%) translateX(-17.675rem);
        transform: translateX(50%) translateX(-17.675rem);
        left: auto;
      }
    }
  }

  .home-redesign_with-user-pane {
    @if $is_big {
      margin-left: 20rem;
    } @else {
      margin-right: 0;
    }
    .rail__mobile-btn {
      display: block;
      width: 1.8375rem;
      height: 1.8375rem;
      background: none;
      color: white;
      position: absolute;
      left: -1.125rem;
      button {
        border: none !important;
        padding: 0 !important;
        font-size: rem-calc(15) !important;
        top: rem-calc(22) !important;
        svg {
          background: none;
          width: 1.8375rem !important;
          height: 1.8375rem !important;
          left: -1.125rem;
          color: white !important;
        }
      }
    }
    .left-rail__mobile-btn {
      right: rem-calc(-15);
    }
    .right-rail__mobile-btn {
      left: rem-calc(-15);
      button {
        left: rem-calc(-2);
      }
    }

    .left-rail {
      margin: 0;
      border: rem-calc(1) solid white;
      height: calc(100% - 13.625rem);
      background: #f0f0f5;
      z-index: 100;
      -webkit-transform: translateZ(0);
      -webkit-backface-visibility: hidden;
    }
    .left-rail:not(.right-rail) {
      left: rem-calc(-$feed_width);
      transition: left 0.2s;
      right: auto;
    }
    .right-rail {
      right: rem-calc(-$feed_width);
      transition: right 0.2s;
      left: auto;
    }

    .active-menu-container {
      &.left-rail:not(.right-rail) {
        left: 0;
      }
      &.right-rail {
        right: 0;
      }
      .rail__mobile-btn {
        background: none;
        width: 1.8375rem !important;
        height: 1.8375rem !important;
        left: -1.125rem;
        svg {
          color: black !important;
        }
      }
      .right-rail__container {
        display: block;
      }
      .rail-container {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
      }
    }
  }
}

@mixin hide-feed-block-without-user-panel($is_small, $feed_width) {
  .feed-with-right-rail {
    margin-right: 0;
  }
  .feed-with-left-rail {
    margin-left: 0;
  }
  .home-feed {
    margin: 0;
    width: 100%;
  }
  .feed-header-with-left-rail.home-feed:not(.feed-header-with-userpanel),
  .feed-header-with-right-rail.home-feed:not(.feed-header-with-userpanel) {
    @if $is_small {
      width: 100% !important;
    }
  }
  .feed-with-left-rail.feed-with-userpanel.home-feed,
  .feed-header-with-userpanel.home-feed.feed-header-with-left-rail {
    width: calc(100% - 18.75rem) !important;
    @if $is_small {
      margin-left: 20rem !important;
      .home-content {
        margin-left: 0 !important;
      }
    } @else {
      margin-left: 0;
    }
  }
  .wide-item-list {
    margin: -0.5rem !important;
  }
  .rail__mobile-btn {
    display: block;
    color: white;
    position: absolute;
    background: none;
    width: 1.8375rem !important;
    height: 1.8375rem !important;
    left: -1.125rem;
    button {
      border: none !important;
      padding: 0 !important;
      font-size: rem-calc(15) !important;
      top: rem-calc(-2) !important;
      svg {
        color: white !important;
        background: none;
        width: 1.8375rem !important;
        height: 1.8375rem !important;
        left: -1.125rem;
      }
    }
  }
  .left-rail__mobile-btn {
    right: rem-calc(-15);
  }
  .right-rail__mobile-btn {
    left: rem-calc(-15);
    button {
      left: rem-calc(-2);
    }
  }

  .left-rail {
    margin: 0;
    border: rem-calc(1) solid white;
    height: calc(100% - 13.625rem);
    background: #f0f0f5;
    z-index: 100;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .left-rail:not(.right-rail) {
    left: rem-calc(-$feed_width);
    transition: left 0.2s;
  }
  .right-rail {
    right: rem-calc(-$feed_width);
    transition: right 0.2s;
  }

  .active-menu-container {
    &.left-rail:not(.right-rail) {
      left: 0;
    }
    &.right-rail {
      right: 0;
    }
    .rail__mobile-btn {
      background: white;
      svg {
        color: black !important;
      }
    }
    .right-rail__container {
      display: block;
    }
    .rail-container {
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    }
  }
}

@mixin feed-block-position-with-big-view() {
  .right-rail {
    left: 50%;
    -ms-transform: translateX(-50%) translateX(26.375rem);
    -webkit-transform: translateX(-50%) translateX(26.375rem);
    -moz-transform: translateX(-50%) translateX(26.375rem);
    transform: translateX(-50%) translateX(26.375rem);
    right: auto;
  }
  .feed-with-left-rail.home-redesign_with-user-pane {
    .left-user-panel {
      -ms-transform: translateX(-50%) translateX(-10.4rem);
      -webkit-transform: translateX(-50%) translateX(-10.4rem);
      -moz-transform: translateX(-50%) translateX(-10.4rem);
      transform: translateX(-50%) translateX(-10.4rem);
      right: auto;
      left: auto;
    }
    .left-rail:not(.right-rail) {
      -ms-transform: translateX(50%) translateX(-48.9375rem);
      -webkit-transform: translateX(50%) translateX(-48.9375rem);
      -moz-transform: translateX(50%) translateX(-48.9375rem);
      transform: translateX(50%) translateX(-48.9375rem);
      left: auto;
    }
  }
  .feed-with-left-rail:not(.home-redesign_with-user-pane) {
    .left-user-panel {
      -ms-transform: translateX(-50%) translateX(-27.675rem);
      -webkit-transform: translateX(-50%) translateX(-27.675rem);
      -moz-transform: translateX(-50%) translateX(-27.675rem);
      transform: translateX(-50%) translateX(-27.675rem);
      right: auto;
      left: auto;
    }
    .left-rail:not(.right-rail) {
      -ms-transform: translateX(50%) translateX(-28.9375rem);
      -webkit-transform: translateX(50%) translateX(-28.9375rem);
      -moz-transform: translateX(50%) translateX(-28.9375rem);
      transform: translateX(50%) translateX(-28.9375rem);
      left: auto;
    }
  }
  .feed-with-right-rail {
    .left-user-panel {
      right: 50%;
      -ms-transform: translateX(50%) translateX(-28rem);
      -webkit-transform: translateX(50%) translateX(-28rem);
      -moz-transform: translateX(50%) translateX(-28rem);
      transform: translateX(50%) translateX(-28rem);
      left: auto;
    }
  }

  .feed-with-left-rail:not(.home-redesign_with-user-pane) {
    .left-rail:not(.right-rail) {
      -ms-transform: translateX(50%) translateX(-36.1875rem);
      -webkit-transform: translateX(50%) translateX(-36.1875rem);
      -moz-transform: translateX(50%) translateX(-36.1875rem);
      transform: translateX(50%) translateX(-36.1875rem);
      left: 50%;
    }
  }
  .feed-with-right-rail:not(.home-redesign_with-user-pane) {
    .right-rail {
      left: 50%;
      -ms-transform: translateX(-50%) translateX(16.25rem);
      -webkit-transform: translateX(-50%) translateX(16.25rem);
      -moz-transform: translateX(-50%) translateX(16.25rem);
      transform: translateX(-50%) translateX(16.25rem);
      right: auto;
    }
  }
}

@mixin user-block-position-with-big-view() {
  .feed-with-left-rail.home-redesign_with-user-pane {
    .left-user-panel {
      -ms-transform: translateX(-50%) translateX(-10.4rem);
      -webkit-transform: translateX(-50%) translateX(-10.4rem);
      -moz-transform: translateX(-50%) translateX(-10.4rem);
      transform: translateX(-50%) translateX(-10.4rem);
      right: auto;
      left: auto;
    }
    .left-rail:not(.right-rail) {
      -ms-transform: translateX(50%) translateX(-48.9375rem);
      -webkit-transform: translateX(50%) translateX(-48.9375rem);
      -moz-transform: translateX(50%) translateX(-48.9375rem);
      transform: translateX(50%) translateX(-48.9375rem);
      left: auto;
    }
  }
  .feed-with-left-rail:not(.home-redesign_with-user-pane) {
    .left-user-panel {
      -ms-transform: translateX(-50%) translateX(-27.675rem);
      -webkit-transform: translateX(-50%) translateX(-27.675rem);
      -moz-transform: translateX(-50%) translateX(-27.675rem);
      transform: translateX(-50%) translateX(-27.675rem);
      right: auto;
      left: auto;
    }
    .left-rail:not(.right-rail) {
      -ms-transform: translateX(50%) translateX(-28.9375rem);
      -webkit-transform: translateX(50%) translateX(-28.9375rem);
      -moz-transform: translateX(50%) translateX(-28.9375rem);
      transform: translateX(50%) translateX(-28.9375rem);
      left: auto;
    }
  }
  .feed-with-right-rail {
    .left-user-panel {
      right: 50%;
      -ms-transform: translateX(50%) translateX(-28rem);
      -webkit-transform: translateX(50%) translateX(-28rem);
      -moz-transform: translateX(50%) translateX(-28rem);
      transform: translateX(50%) translateX(-28rem);
      left: auto;
    }
  }

  .feed-with-left-rail:not(.home-redesign_with-user-pane) {
    .left-rail:not(.right-rail) {
      -ms-transform: translateX(50%) translateX(-36.1875rem);
      -webkit-transform: translateX(50%) translateX(-36.1875rem);
      -moz-transform: translateX(50%) translateX(-36.1875rem);
      transform: translateX(50%) translateX(-36.1875rem);
      left: 50%;
    }
  }
}

@mixin change-list-view-on-small-width() {
  .feed-card-view {
    max-height: rem-calc(600);
  }
  .list-view-main-card .flex-block {
    flex-direction: column;
    .relative:not(.no-attached):not(.content-view-block) {
      width: 100%;
      max-width: 100%;
      height: rem-calc(298);
    }
    .card-block-with-information {
      width: 100%;
      height: rem-calc(298);
    }
    .card-details > .cursor {
      height: 100%;
      flex-grow: 2;
      overflow-y: hidden;
    }
  }
}

.home-new-ui {
  padding: rem-calc(16) rem-calc(40);
  #chat-button {
    width: 60px;
    height: 60px;
    position: fixed;
    top: 50%;
    right: 0;
    background-color: #6f708b;
    z-index: 10;
    &.chat-button-group {
      top: calc(50% - 4.3rem);
    }
    &.chat-button-group-ie {
      right: 0;
    }
    &.chat-btn-group-other {
      left: -3.75rem;
    }
  }
  .feed-header-with-left-rail {
    margin-left: 20rem;
  }
  .left-user-panel {
    margin-bottom: rem-calc(15);
  }
  .feed-header-with-right-rail {
    margin-right: 20rem;
  }
  &:not(.feed-container_big-cards)
    .feed-header-with-userpanel:not(.feed-header-with-right-rail):not(.feed-header-with-left-rail) {
    margin-left: auto;
  }
  .home-redesign {
    display: flex;
  }
  .left-rail {
    margin-right: 0;
  }
  .right-rail {
    margin-left: rem-calc(20);
  }
  #left-rail {
    margin-right: rem-calc(20);
    flex: 0 0 rem-calc(300);
    display: block;
  }
  .feed-with-rail:not(.feed-with-userpanel) {
    width: calc(100% - 20rem);
    @media (max-width: 990px) {
      @include change-list-view-on-small-width();
    }
    @media (min-width: 991px) {
      .feed-card-view {
        height: rem-calc(298);
      }
    }
    .five-card-column {
      .card-v2 {
        .paper-card {
          width: 100%;
        }
      }
      @media (max-width: 850px) {
        .card-v2.card-v2__simple-size {
          width: 100%;
        }
      }
      @media (min-width: 850px) {
        .card-v2.card-v2__simple-size {
          width: 50%;
        }
      }
      @media (max-width: 984px) {
        .card-v2:not(.card-v2__simple-size) {
          width: 100%;
        }
      }
      @media (min-width: 985px) {
        .card-v2:not(.card-v2__simple-size) {
          width: 50%;
        }
      }
      @media (min-width: 1100px) {
        .card-v2.card-v2__simple-size {
          width: 33.3333%;
        }
      }
      @media (min-width: 1290px) {
        .card-v2:not(.card-v2__simple-size) {
          width: 33.3333%;
        }
      }
      @media (min-width: 1320px) {
        .card-v2.card-v2__simple-size {
          width: 25%;
        }
      }
      @media (min-width: 1585px) {
        .card-v2:not(.card-v2__simple-size) {
          width: 25%;
        }
      }
      @media (min-width: 1520px) {
        .card-v2.card-v2__simple-size {
          width: 20%;
        }
      }
      @media (min-width: 1885px) {
        .card-v2:not(.card-v2__simple-size) {
          width: 20%;
        }
      }
      @media (min-width: 1921px) {
        .card-v2.card-v2__simple-size {
          width: 16.666%;
        }
      }
      @media (min-width: 2196px) {
        .card-v2:not(.card-v2__simple-size) {
          width: 16.666%;
        }
      }
    }
  }
  .feed-with-userpanel.feed-with-rail {
    width: 100% !important;
    @media (max-width: 1277px) {
      @include change-list-view-on-small-width();
    }
    @media (min-width: 1278px) {
      .feed-card-view {
        height: rem-calc(298);
      }
    }

    .five-card-column {
      .card-v2 {
        .paper-card {
          width: 100%;
        }
      }
      @media (max-width: 1144px) {
        .card-v2.card-v2__simple-size {
          width: 100%;
        }
      }

      @media (max-width: 1335px) {
        .card-v2:not(.card-v2__simple-size) {
          width: 100%;
        }
      }
      @media (min-width: 1145px) {
        .card-v2.card-v2__simple-size {
          width: 50%;
        }
      }
      @media (min-width: 1336px) {
        .card-v2:not(.card-v2__simple-size) {
          width: 50%;
        }
      }
      @media (min-width: 1400px) {
        .card-v2.card-v2__simple-size {
          width: 33.3333%;
        }
      }
      @media (min-width: 1652px) {
        .card-v2:not(.card-v2__simple-size) {
          width: 33.3333%;
        }
      }
      @media (min-width: 1520px) {
        .card-v2.card-v2__simple-size {
          width: 25%;
        }
      }
      @media (min-width: 1968px) {
        .card-v2:not(.card-v2__simple-size) {
          width: 25%;
        }
      }
      @media (min-width: 1921px) {
        .card-v2.card-v2__simple-size {
          width: 20%;
        }
      }
      @media (min-width: 2284px) {
        .card-v2:not(.card-v2__simple-size) {
          width: 20%;
        }
      }
    }
  }
  .feed-without-rail {
    width: 100% !important;
    @media (max-width: 500px) {
      .card-v2.card-v2__simple-size {
        width: 100%;
      }
    }
    @media (max-width: 671px) {
      .card-v2:not(.card-v2__simple-size) {
        width: 100%;
      }
    }
    @media (min-width: 500px) {
      .card-v2.card-v2__simple-size {
        width: 50%;
      }
    }
    @media (min-width: 670px) {
      .card-v2:not(.card-v2__simple-size) {
        width: 50%;
      }
    }
    @media (min-width: 750px) {
      .card-v2.card-v2__simple-size {
        width: 33.3333%;
      }
    }
    @media (min-width: 985px) {
      .card-v2:not(.card-v2__simple-size) {
        width: 33.3333%;
      }
    }
    @media (min-width: 950px) {
      .card-v2.card-v2__simple-size {
        width: 25%;
      }
    }
    @media (min-width: 1265px) {
      .card-v2:not(.card-v2__simple-size) {
        width: 25%;
      }
    }
    @media (min-width: 1250px) {
      .card-v2.card-v2__simple-size {
        width: 20%;
      }
    }
    @media (min-width: 1575px) {
      .card-v2:not(.card-v2__simple-size) {
        width: 20%;
      }
    }
    @media (min-width: 1580px) {
      .card-v2.card-v2__simple-size {
        width: 16.6666%;
      }
    }
    @media (min-width: 1865px) {
      .card-v2:not(.card-v2__simple-size) {
        width: 16.6666%;
      }
    }
    @media (min-width: 1800px) {
      .card-v2.card-v2__simple-size {
        width: 14.28%;
      }
    }
    @media (min-width: 2165px) {
      .card-v2:not(.card-v2__simple-size) {
        width: 14.28%;
      }
    }
  }
  .feed-with-userpanel:not(.feed-with-rail) {
    width: 100% !important;
    @media (max-width: 977px) {
      @include change-list-view-on-small-width();
    }
    @media (min-width: 978px) {
      .feed-card-view {
        height: rem-calc(298);
      }
    }
    .five-card-column {
      .card-v2 {
        .paper-card {
          width: 100%;
        }
      }

      @media (max-width: 850px) {
        .card-v2.card-v2__simple-size {
          width: 100%;
        }
      }
      @media (max-width: 1035px) {
        .card-v2:not(.card-v2__simple-size) {
          width: 100%;
        }
      }
      @media (min-width: 850px) {
        .card-v2.card-v2__simple-size {
          width: 50%;
        }
      }
      @media (min-width: 1036px) {
        .card-v2:not(.card-v2__simple-size) {
          width: 50%;
        }
      }
      @media (min-width: 1100px) {
        .card-v2.card-v2__simple-size {
          width: 33.3333%;
        }
      }
      @media (min-width: 1352px) {
        .card-v2:not(.card-v2__simple-size) {
          width: 33.3333%;
        }
      }
      @media (min-width: 1320px) {
        .card-v2.card-v2__simple-size {
          width: 25%;
        }
      }
      @media (min-width: 1668px) {
        .card-v2:not(.card-v2__simple-size) {
          width: 25%;
        }
      }
      @media (min-width: 1520px) {
        .card-v2.card-v2__simple-size {
          width: 20%;
        }
      }
      @media (min-width: 1984px) {
        .card-v2:not(.card-v2__simple-size) {
          width: 20%;
        }
      }
    }
  }
  .home-feed {
    display: flex;
    flex-direction: column;
    min-width: rem-calc(300);
    width: calc(100% - 20rem);
    flex: none;
    .sub-header-tabs {
      display: flex;
      .feed-toggle {
        text-align: right;
        margin-bottom: 0 !important;
        &.fix-v1 {
          margin-bottom: 0.5rem !important;
          padding-top: 0.8rem;
        }
      }
      .home-tabs {
        display: flex;
        text-transform: uppercase;
        font-size: 0.875rem;
        color: #6f708b;
        justify-content: center;
        line-height: 1;
        flex: 1;
        flex-wrap: wrap;
        margin-left: -1.25rem;
        &.home-tabs-v1 {
          margin-left: -1.4rem;
          &.home-tabs-v1 span {
            font-family: OpenSans-Regular, Open Sans !important;
          }
        }
        .feed-tab-item {
          padding: 0.8rem 1.25rem 1.1rem 1.25rem;
          min-width: 5rem;
          text-align: center;
          height: 1rem;
          margin-bottom: 1rem;
          cursor: pointer;
        }
        .active-feed-tab-item {
          font-weight: bold;
          color: #454560;
        }
        a {
          color: #6f708b;
        }
      }
      .with-toggle-view {
        text-align: left;
        justify-content: flex-start;
        .feed-tab-item {
          border-right: rem-calc(1) solid #6f708b;
          &.feed-tab-item-v1 {
            border: none;
          }
          &:last-child {
            border: none;
          }
        }
      }
    }
  }
  .feed-with-userpanel {
    .five-card-column {
      margin: 0 !important;
    }
  }
  .home-feed-userpanel {
    display: flex;
    min-height: 1200px;
    flex-direction: column;
    min-width: rem-calc(300);
    width: calc(100% - 20rem);
    flex: none;
    .sub-header-tabs {
      display: flex;
      .feed-toggle {
        text-align: right;
        margin-bottom: 0 !important;
        &.fix-v1 {
          margin-bottom: 0.5rem !important;
          padding-top: 0.8rem;
        }
      }
      .home-tabs {
        display: flex;
        text-transform: uppercase;
        font-size: 0.875em;
        color: #6f708b;
        justify-content: center;
        line-height: 1;
        flex: 1;
        flex-wrap: wrap;
        margin-left: -1.25rem;
        &.home-tabs-v1 {
          margin-left: -1.4rem;
          &.home-tabs-v1 span {
            font-family: OpenSans-Regular, Open Sans !important;
          }
        }
        .feed-tab-item {
          padding: 0 1.25rem;
          min-width: 5rem;
          text-align: center;
          height: 1rem;
          margin-bottom: 1rem;
          cursor: pointer;
        }
        .active-feed-tab-item {
          font-weight: bold;
          color: #454560;
        }
        a {
          color: #6f708b;
        }
      }
      .with-toggle-view {
        text-align: left;
        justify-content: flex-start;
        .feed-tab-item {
          border-right: rem-calc(1) solid #6f708b;
          &.feed-tab-item-v1 {
            border: none;
          }
          &:last-child {
            border: none;
          }
        }
      }
    }
  }

  .rail__mobile-btn {
    display: none;
  }
  .feed-with-right-rail {
    margin-right: 20rem;
  }

  .feed-with-left-rail {
    margin-left: 20rem;
  }

  .home-redesign_with-user-pane {
    margin-left: rem-calc(316);
  }

  .feed-with-left-rail.home-redesign_with-user-pane {
    margin-left: 40rem;
    .left-user-panel {
      left: 22.5rem;
    }
  }

  #right-rail {
    position: relative;
  }
  .right-rail__container {
    height: 100%;
  }
  .left-rail,
  .left-rail-panel {
    z-index: 1;
    position: fixed;
    width: 18.75rem;
    top: 9.375rem;
    height: 40.0625rem;
  }
  .left-rail-panel {
    top: 10.9rem;
  }
  .feed-header-with-left-rail.feed-header-with-userpanel {
    width: calc(100% - 39.75rem) !important;
    margin-left: 40rem;
  }
  .feed-header-with-right-rail.feed-header-with-userpanel {
    width: calc(100% - 22.5rem) !important;
    margin-left: rem-calc(316) !important;
    margin-right: 2.5rem;
  }
  .group-page.left-rail {
    top: 12.0325rem;
  }

  .left-rail:not(.right-rail),
  .left-rail-panel {
    left: 2.5rem;
  }
  .right-rail {
    right: 2.5rem;
  }
  .rail-container {
    display: flex !important;
    flex-direction: column;
    height: 100%;
    section {
      > div {
        min-height: 100% !important;
        max-height: 100% !important;
        height: 100%;
        > div {
          height: 100%;
          .message-container {
            max-height: calc(100% - 10.125rem) !important;
            .user-name {
              cursor: pointer;
            }
            .user-name:hover {
              text-decoration: underline;
            }
            .date-delete-container {
              display: flex;
              justify-content: space-between;
              .delete-link {
                line-height: 1rem;
                font-size: 0.6875rem;
              }
            }
          }
          .wide-item-list {
            max-height: calc(100% - 1.25rem) !important;
            overflow-y: scroll;
          }
        }
      }
    }
    section.my-learning-queue {
      overflow-y: scroll;
    }
    section.my-learning-queue.fullSections {
      //min-height: rem-calc(140);
      //height: calc(100% - 23.125rem) !important;
    }
    section.team-feed {
      //flex: 2;
      overflow-y: hidden !important;
      position: relative;
    }

    //section.team-feed.fullSections {
    //  min-height: rem-calc(220);
    //}
  }

  &:not(.feed-page_new-style) #right-rail-container {
    overflow-y: hidden;
    overflow-x: hidden;
  }

  @media screen and (max-width: 831px) {
    .left-rail {
      height: calc(100% - 18.75rem);
    }
  }

  @media screen and (max-width: 1025px) {
    &:not(.feed-page_new-style) {
      @include hide-feed-block-with-user-panel(false, 300);
    }
    &:not(.feed-page_new-style) #right-rail-container {
      overflow-y: visible;
      overflow-x: visible;
    }
  }

  @media screen and (max-width: 769px) {
    &:not(.journey-details__container.feed-page_new-style) {
      @include hide-feed-block-without-user-panel(true, 300);
    }
  }
}

.home-new-ui.feed-container_big-cards {
  &.home-new-ui_right-sidebar:not(.home-new-ui_with-user-pane) {
    margin-right: 20rem;
  }
  &.home-new-ui_right-sidebar.home-new-ui_with-user-pane {
    margin-right: 0;
  }
  &.home-new-ui_left-sidebar.home-new-ui_with-user-pane {
    margin-left: 40rem;
  }
  &.home-new-ui_left-sidebar:not(.home-new-ui_with-user-pane) {
    margin-left: 20rem;
  }
  .home-redesign {
    justify-content: center;
  }

  .home-redesign:not(.feed-without-rail-side) {
    margin: auto;
  }
  .feed-without-rail-side {
    .left-user-panel {
      left: calc(50% - 27.25rem);
    }
  }

  .feed-header-with-userpanel.feed-header-with-right-rail {
    width: calc(50% + 17.225rem) !important;
    margin-left: calc(50% - 17.225rem) !important;
  }
  .feed-header-with-userpanel.feed-header-with-left-rail {
    margin-left: calc(50% - 17.225rem);
  }
  .feed-with-userpanel.home-feed-userpanel.feed-with-rail,
  .feed-header-with-userpanel.feed-header-with-left-rail,
  .home-feed-userpanel:not(.feed-with-rail) {
    width: rem-calc(552) !important;
  }
  .feed-header-with-userpanel.feed-header-without-rail {
    margin: auto;
    .home-content {
      margin-left: 10rem;
    }
  }
  .feed-header-with-left-rail.home-feed:not(.feed-header-with-userpanel),
  .feed-header-with-right-rail.home-feed:not(.feed-header-with-userpanel),
  .home-redesign.feed-with-left-rail:not(.home-redesign_with-user-pane),
  .home-redesign.feed-with-right-rail:not(.home-redesign_with-user-pane) {
    width: rem-calc(552) !important;
    margin: auto !important;
  }
  .feed-without-rail {
    width: 34.5rem !important;
    margin: auto;
  }
}

.home-new-ui.home-new-ui_with-small-space {
  padding: 1rem 2.25rem;
  .left-rail:not(.right-rail),
  &:not(.feed-container_big-cards) .left-rail-panel {
    left: 1.25rem !important;
  }

  &.feed-page_new-style .feed-header-with-right-rail.feed-container-tabs,
  &.feed-page_new-style .feed-with-right-rail {
    //margin-right: 24.1rem !important;
    margin-right: rem-calc(306) !important;
  }
  &.user-block_new-style:not(.feed-container_big-cards)
    .feed-header-with-right-rail.feed-header-with-userpanel.feed-container-tabs,
  &:not(.feed-container_big-cards) .home-redesign_with-user-pane {
    margin-left: rem-calc(306) !important;
  }
  &.feed-page_new-style.user-block_new-style .feed-container.feed-with-userpanel.feed-with-rail {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  &.feed-page_old-style:not(.feed-container_big-cards)
    .feed-header-with-right-rail.feed-container-tabs {
    margin-right: 2.25rem !important;
  }

  &.feed-page_old-style .feed-header-with-right-rail.feed-header-with-userpanel {
    width: calc(100% - 19.5rem) !important;
  }

  &.feed-page_old-style.feed-container_big-cards
    .feed-header-with-right-rail.feed-header-with-userpanel {
    width: calc(50% + 20.5rem) !important;
  }

  &.feed-page_old-style.feed-container_big-cards.user-block_new-style
    .feed-header-with-right-rail.feed-header-with-userpanel.feed-container-tabs {
    margin-left: 17.125rem !important;
  }

  &.feed-page_new-style.user-block_new-style.hide-team-feed
    .feed-container.feed-with-userpanel.feed-with-rail {
    width: 100% !important;
  }

  &:not(.feed-container_big-cards) .user-panel-container {
    width: rem-calc(290) !important;
    left: 2.25rem !important;
  }
  .card-v3__tile-view {
    width: rem-calc(290) !important;
    margin: 0 0.5rem 0.9375rem 0.5rem !important;
  }
  #right-rail-container,
  #right-rail,
  #right-rail-activity {
    width: rem-calc(326) !important;
  }
  &.feed-page_old-style:not(.feed-container_big-cards) {
    .feed-with-right-rail {
      margin-right: rem-calc(342) !important;
    }
    .feed-container {
      margin-right: rem-calc(16) !important;
    }
  }
}
.home-new-ui.home-new-ui_with-small-space:not(.feed-page_new-style):not(.feed-container_big-cards)
  .right-rail {
  right: 2.25rem !important;
}

@media screen and (max-width: 920px) {
  .home-new-ui.feed-container_big-cards.home-new-ui_left-sidebar:not(.home-new-ui_with-user-pane.feed-page_new-style),
  .home-new-ui.feed-container_big-cards.home-new-ui_right-sidebar:not(.home-new-ui_with-user-pane.feed-page_new-style) {
    margin-right: 0;
    margin-left: 0;
    @include hide-feed-block-without-user-panel(false, 300);
  }
}

@media screen and (min-width: 921px) {
  .home-new-ui.feed-container_big-cards.home-new-ui_left-sidebar:not(.home-new-ui_with-user-pane),
  .home-new-ui.feed-container_big-cards.home-new-ui_right-sidebar:not(.home-new-ui_with-user-pane) {
    @include feed-block-position-with-big-view();
  }
}

@media screen and (max-width: 1020px) {
  .home-new-ui.feed-container_big-cards.home-new-ui_with-user-pane:not(.home-new-ui_left-sidebar):not(.home-new-ui_right-sidebar) {
    margin-right: 0;
    margin-left: 0;
  }
}

@media screen and (max-width: 1270px) {
  .home-new-ui.feed-container_big-cards_page-no-center.home-new-ui_with-user-pane.home-new-ui_left-sidebar,
  .home-new-ui.feed-container_big-cards_page-no-center.home-new-ui_with-user-pane.home-new-ui_right-sidebar:not(.feed-page_new-style) {
    margin-right: 0;
    margin-left: 0;
    @include hide-feed-block-with-user-panel(false, 300);
  }
}

@media screen and (max-width: 1270px) {
  .home-new-ui.feed-container_big-cards.home-new-ui_with-user-pane.home-new-ui_left-sidebar,
  .home-new-ui.feed-container_big-cards.home-new-ui_with-user-pane.home-new-ui_right-sidebar:not(.feed-page_new-style) {
    margin-right: 0;
    margin-left: 0;
    @include hide-feed-block-with-user-panel(true, 300);
  }
}

@media screen and (min-width: 1271px) {
  .home-new-ui.feed-container_big-cards.home-new-ui_with-user-pane.home-new-ui_left-sidebar,
  .home-new-ui.feed-container_big-cards.home-new-ui_with-user-pane.home-new-ui_right-sidebar:not(.feed-page_new-style) {
    @include feed-block-position-with-big-view();
  }
}

@media (max-width: 800px) {
  .feed-with-rail,
  .home-feed {
    .list-view-block .feed-card-view {
      height: auto;
      min-width: 18.123rem;
    }
    .list-view-block .feed-card-view .list-view-main-card .flex-block {
      flex-wrap: wrap;
      flex-direction: column;
      .relative {
        width: 100%;
        + .relative {
          margin-top: rem-calc(10);
        }
      }
    }
  }
}

.paper {
  color: rgb(85, 85, 85);
  background-color: rgb(255, 255, 255);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  box-sizing: border-box;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border-radius: 0.1875rem;
  width: 100%;
  margin-bottom: rem-calc(8);
}

.feed-page_new-style.user-block_new-style {
  .feed-container.feed-with-userpanel.feed-with-rail {
    width: calc(100%) !important;
    margin-right: rem-calc(20);
    margin-left: rem-calc(20);
  }
  &.hide-team-feed {
    .feed-container.feed-with-userpanel.feed-with-rail {
      width: calc(100% - 1.25rem) !important;
    }
  }

  .user-panel-container {
    width: rem-calc(320) !important;
  }
  &.home-new-ui_with-small-space:not(.feed-page_new-style):not(.feed-container_big-cards) {
    .user-panel-container {
      width: rem-calc(290) !important;
      left: 2.25rem !important;
    }
  }

  .left-rail,
  #right-rail {
    width: rem-calc(373) !important;
  }

  &.home-new-ui .feed-header-with-right-rail.feed-header-with-userpanel.feed-container-tabs {
    width: auto !important;
  }
}

.feed-page_new-style:not(.user-block_new-style) {
  .feed-container {
    width: calc(100%) !important;
  }
  .left-rail {
    width: rem-calc(373) !important;
  }
  .feed-with-right-rail {
    margin-right: 22.125rem !important;
  }
  .feed-container-tabs {
    width: auto !important;
    margin-right: 22.125rem !important;
  }
}

.user-block_new-style:not(.feed-page_new-style) {
  .feed-container {
    margin-right: rem-calc(20);
  }
}

.user-block_new-style {
  .user-panel-container {
    width: rem-calc(320) !important;
  }
  .five-card-column {
    margin: 0 -0.5rem;
  }

  .feed-header-with-right-rail.feed-header-with-userpanel.feed-container-tabs {
    margin-left: 22.125rem !important;
  }

  &.home-new-ui {
    .custom-card-container {
      .five-card-column {
        .card-v2 {
          .paper-card {
            width: 100%;
          }
        }

        @media (max-width: 1229px) {
          .card-v2.card-v2__simple-size {
            width: 100%;
          }
        }
        @media (max-width: 1300px) {
          .card-v2:not(.card-v2__simple-size) {
            width: 100%;
          }
        }

        @media (min-width: 1230px) {
          .card-v2.card-v2__simple-size {
            width: 50%;
          }
        }
        @media (min-width: 1315px) {
          .card-v2:not(.card-v2__simple-size) {
            width: 50%;
          }
        }
        @media (min-width: 1400px) {
          .card-v2.card-v2__simple-size {
            width: 33.3333%;
          }
        }
        @media (min-width: 1720px) {
          .card-v2:not(.card-v2__simple-size) {
            width: 33.3333%;
          }
        }
        @media (min-width: 1620px) {
          .card-v2.card-v2__simple-size {
            width: 25%;
          }
        }
        @media (min-width: 2220px) {
          .card-v2:not(.card-v2__simple-size) {
            width: 25%;
          }
        }
        @media (min-width: 1805px) {
          .card-v2.card-v2__simple-size {
            width: 20%;
          }
        }
      }
    }
  }
}
.feed-page_old-style {
  .right-rail {
    z-index: 1000;
  }
  .team-feed {
    height: 100%;
  }
}
.feed-page_new-style {
  #right-rail {
    width: 100%;
  }
  .right-rail {
    right: 0;
    z-index: 1000;
  }
  .team-feed {
    height: 100%;
  }
  .feed-with-right-rail {
    margin-right: 24.5625rem !important;
  }
  &.home-new-ui .feed-header-with-right-rail.feed-container-tabs {
    width: auto !important;
    margin-right: rem-calc(397) !important;
  }

  &.home-new-ui.hide-team-feed {
    .custom-card-container {
      .five-card-column {
        @media (max-width: 1229px) {
          .card-v2.card-v2__simple-size {
            width: 100%;
          }
        }
        @media (max-width: 999px) {
          .card-v2:not(.card-v2__simple-size) {
            width: 98%;
          }
        }
        @media (min-width: 1000px) {
          .card-v2:not(.card-v2__simple-size) {
            width: 48%;
          }
        }
        @media (min-width: 1230px) {
          .card-v2.card-v2__simple-size {
            width: 50%;
          }
        }
        //@media (min-width: 1300px) {
        //  .card-v2:not(.card-v2__simple-size) {
        //    width: 50%;
        //  }
        //}
        @media (min-width: 1400px) {
          .card-v2.card-v2__simple-size {
            width: 33.3333%;
          }
        }
        @media (min-width: 1300px) {
          .card-v2:not(.card-v2__simple-size) {
            width: 33%;
          }
        }
        @media (min-width: 1620px) {
          .card-v2.card-v2__simple-size {
            width: 25%;
          }
        }
        @media (min-width: 1600px) {
          .card-v2:not(.card-v2__simple-size) {
            width: 25%;
          }
        }
        @media (min-width: 1805px) {
          .card-v2.card-v2__simple-size {
            width: 20%;
          }
        }
      }
    }
  }
  &.home-new-ui {
    .rail-container section > div > div {
      .message-container:not(.message-container_with-filer-row) {
        max-height: calc(100% - 9.625rem) !important;
      }
      .message-container_with-filer-row {
        max-height: calc(100% - 16.375rem) !important;
      }
    }
    .custom-card-container {
      .five-card-column {
        .card-v2 {
          .paper-card {
            width: 100%;
          }
        }

        @media (max-width: 1229px) {
          .card-v2.card-v2__simple-size {
            width: 100%;
          }
        }
        @media (max-width: 1420px) {
          .card-v2:not(.card-v2__simple-size) {
            width: 100%;
          }
        }
        @media (min-width: 1230px) {
          .card-v2.card-v2__simple-size {
            width: 50%;
          }
        }
        @media (min-width: 1421px) {
          .card-v2:not(.card-v2__simple-size) {
            width: 50%;
          }
        }
        @media (min-width: 1400px) {
          .card-v2.card-v2__simple-size {
            width: 33.3333%;
          }
        }
        @media (min-width: 1720px) {
          .card-v2:not(.card-v2__simple-size) {
            width: 33.3333%;
          }
        }
        @media (min-width: 1620px) {
          .card-v2.card-v2__simple-size {
            width: 25%;
          }
        }
        @media (min-width: 1990px) {
          .card-v2:not(.card-v2__simple-size) {
            width: 25%;
          }
        }
        @media (min-width: 1805px) {
          .card-v2.card-v2__simple-size {
            width: 20%;
          }
        }
      }
    }
  }

  &.home-new-ui:not(.home-new-ui_with-user-pane) {
    &.hide-team-feed {
      @include hide-feed-block-without-user-panel(false, 373);
      &.home-new-ui .feed-header-with-right-rail.feed-container-tabs,
      &.home-new-ui .feed-with-right-rail {
        margin-right: 0 !important;
      }
      &.home-new-ui .feed-header-with-right-rail.feed-container-tabs {
        width: auto !important;
      }
    }

    &:not(.feed-container_big-cards_page-no-center) {
      @media screen and (max-width: 900px) {
        @include hide-feed-block-without-user-panel(false, 373);
        .feed-header-with-right-rail.feed-container-tabs,
        &.home-new-ui .feed-with-right-rail {
          margin-right: 0 !important;
        }
        .feed-header-with-right-rail.feed-container-tabs {
          width: auto !important;
        }
      }
    }

    &.feed-container_big-cards_page-no-center {
      @media screen and (max-width: 1000px) {
        &.home-new-ui.home-new-ui_right-sidebar {
          margin-right: 0;
          margin-left: 0;
          @include hide-feed-block-with-user-panel(false, 373);
        }
      }
    }
  }

  &.home-new-ui_with-user-pane {
    &.hide-team-feed {
      @include hide-feed-block-with-user-panel(false, 373);
      &.home-new-ui .feed-header-with-right-rail.feed-container-tabs,
      &.home-new-ui .feed-with-right-rail {
        margin-right: 0 !important;
      }
      &.home-new-ui .feed-header-with-right-rail.feed-container-tabs {
        width: auto !important;
      }
    }

    @media screen and (max-width: 1100px) {
      @include hide-feed-block-with-user-panel(false, 373);
      &.home-new-ui .feed-header-with-right-rail.feed-container-tabs,
      &.home-new-ui .feed-with-right-rail {
        margin-right: 0 !important;
      }
      &.home-new-ui .feed-header-with-right-rail.feed-container-tabs {
        width: auto !important;
      }
    }
    &.feed-container_big-cards_page-no-center {
      @media screen and (max-width: 1300px) {
        &.home-new-ui.home-new-ui_right-sidebar {
          @include hide-feed-block-with-user-panel(false, 373);
        }
      }
    }
  }

  &.home-new-ui.feed-container_big-cards.home-new-ui_with-user-pane.home-new-ui_right-sidebar {
    .feed-with-right-rail {
      margin-right: auto !important;
    }
  }

  @media screen and (max-width: 1339px) {
    &.home-new-ui.feed-container_big-cards.home-new-ui_with-user-pane.home-new-ui_left-sidebar,
    &.home-new-ui.feed-container_big-cards.home-new-ui_with-user-pane.home-new-ui_right-sidebar {
      margin-right: 0;
      margin-left: 0;
      @include hide-feed-block-with-user-panel(true, 373);
    }
  }

  @media screen and (min-width: 1340px) {
    &.home-new-ui.feed-container_big-cards.home-new-ui_with-user-pane.home-new-ui_left-sidebar,
    &.home-new-ui.feed-container_big-cards.home-new-ui_with-user-pane.home-new-ui_right-sidebar {
      @include user-block-position-with-big-view();
    }
  }
}

.tooltip-parent {
  .tooltip-snippet {
    margin-top: rem-calc(-30);
    width: auto;
    height: auto;

    &:before {
      border-width: 6px;
      bottom: calc(50% - 6px);
      content: '';
      position: absolute;
      z-index: 99;
    }

    &.bottom {
      left: 0;
      top: rem-calc(50);
      background-color: #454560;
      white-space: nowrap;
      z-index: 9999;

      p {
        font-weight: normal;
        color: #fff;
        text-transform: none;
      }
    }

    .tooltip-text {
      font-size: rem-calc(14);
      margin-bottom: 10px;
      font-weight: bold;
    }
  }
}

.genpact-ui {
  &.left-rail-panel {
    position: absolute;
  }
  .your-learning-plan-header,
  .left-rail-title {
    text-transform: uppercase;
  }
  .user-panel_v2 {
    height: auto;
  }
  .stick-to-top {
    position: fixed;
    top: 100px;
    width: 300px;
  }
  .user-details-container {
    .image-container {
      img {
        display: block !important;
        margin: 0 auto;
      }
    }
  }
}

/*///////DEMO FOR MEETUP//////////*/
.left-user-panel-meetup {
  position: absolute !important;
}
