.learning-queue-msg * {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.2;
  font-size: rem-calc(13);
  font-weight: 500;
}

.learning-queue-icon {
  width: rem-calc(20) !important;
  height: rem-calc(20) !important;
}
