.user-score {
  .user-score-empty-state {
    width: rem-calc(268);
    height: rem-calc(136);
    background: url('/i/images/user-score-empty-bg.png');
    padding-top: 0.5rem;
  }
}

.info-icon-wrapper {
  position: relative;
  display: inline-block;
  width: rem-calc(25);
  height: rem-calc(30);
  vertical-align: middle;
  margin-left: rem-calc(5);

  .false-div {
    position: absolute;
    width: rem-calc(25);
    height: rem-calc(25);
    top: 0;
    left: 0;
  }
}

.custom-popover {
  margin-left: rem-calc(5);
  max-width: rem-calc(500);
  padding: rem-calc(15 15 10 15);
  overflow: visible !important;
}

.popover-title {
  font-weight: 500;
  font-size: rem-calc(15);
  margin-bottom: rem-calc(5);
}

.score-steps li {
  font-size: rem-calc(14);
}
