#left-rail {
  width: 300px;
  .score-chart-container {
    position: relative;
    height: rem-calc(130);
    .canvas-container {
      position: absolute;
      left: rem-calc(-82);
      z-index: 2;
    }
  }
  .score-chart-text {
    position: absolute;
    top: rem-calc(40);
    left: rem-calc(28);
    width: rem-calc(82);
  }
  .score-chart-legend {
    position: relative;
    padding-left: rem-calc(24);
    .legend-text {
      line-height: rem-calc(19);
    }
    .legend-icon {
      width: 1rem;
      height: 1rem;
      position: absolute;
      left: 0;
      top: rem-calc(1);
      background-color: blue;
      border-radius: 0.5rem;
    }
  }
  .wide-item-list {
    margin: rem-calc(-16);
  }

  .inactive {
    color: $silver-sand;
  }
  .rail-text-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .carousel {
    padding: 0px;

    .nextArrow,
    .prevArrow {
      display: none !important;
    }
  }
}

.clcContainer {
  p:first-child {
    font-size: 16px;
    padding: 0px;
  }
  p {
    padding: 15px 0px;
    font-size: 14px;
    color: #454560;
  }
  span {
    font-size: 10px;
  }
  .clcHeader span {
    font-size: 16px;
  }
  #indicator {
    width: 35px;
    text-align: center;
  }
  .badges {
    p {
      padding: 5px 0px;
      font-size: 14px;
    }
  }
  .recharts-legend-wrapper {
    display: none !important;
  }
}

.components-count_3 {
  height: calc(33% - 1rem) !important;
}

.components-count_2 {
  height: calc(50% - 1rem) !important;
}

.components-count_1 {
  height: calc(100% - 1rem) !important;
}
