#right-rail {
  width: 300px;
  position: relative;
  .score-chart-container {
    position: relative;
    height: rem-calc(130);
    .canvas-container {
      position: absolute;
      left: rem-calc(-82);
      z-index: 2;
    }
  }
  .score-chart-text {
    position: absolute;
    top: rem-calc(40);
    left: rem-calc(28);
    width: rem-calc(82);
  }
  .score-chart-legend {
    position: relative;
    padding-left: rem-calc(24);
    .legend-text {
      line-height: rem-calc(19);
    }
    .legend-icon {
      width: 1rem;
      height: 1rem;
      position: absolute;
      left: 0;
      top: rem-calc(1);
      background-color: blue;
      border-radius: 0.5rem;
    }
  }
  .wide-item-list {
    margin: rem-calc(-16);
  }

  .inactive {
    color: $silver-sand;
  }
  .rail-text-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  #right-rail-activity {
    max-height: 556px;
    overflow-y: hidden;
    position: relative;
    &.teem-feed-block-height {
      max-height: 678px !important;
      overflow-y: auto !important;
    }
  }

  .carousel {
    padding: 0;

    .nextArrow,
    .prevArrow {
      display: none !important;
    }
  }
}
