#mlp-v5 {
  margin: 16px 40px;

  .mlp-container {
    display: flex;

    .left-nav-filters {
      width: 120px;

      .mpl-left-tabs {
        font-size: 14px;
        text-align: left;
        color: #26273b;
        font-weight: 300;
        cursor: pointer;
        margin-bottom: 20px;
        margin-right: 0.3rem;
        display: block;
      }

      .activeTab {
        font-weight: 600;
      }
    }

    .my-mlp-v5 {
      width: calc(100% - 120px);

      .mlp-table-container {
        padding: 0px 0px 40px 0px;

        .empty-mlp-state {
          font-size: 12px;
          padding: 90px 0px;
          text-align: center;
          color: #acadc1;
        }

        .quarter-competency-tab-holder {
          padding: 20px 30px;

          > div {
            margin: 5px 0px 0px 0px;
          }

          .quarter-competency-tab {
            display: flex;
            float: left;
            padding: 0.2rem;
            .mpl-top-tabs {
              .hideOutline {
                display: block;
                padding: 0.25rem 0.6rem;
              }
              border: solid 1px #d6d6e1;
              font-size: 12px;
              color: #acadc1;
              background-color: #ffffff;
              cursor: pointer;
            }

            .activeTab {
              color: #454560;
              background-color: #d6d6e1;
            }
          }

          .create-mlp-button {
            display: flex;
            float: right;
          }
        }

        .mlp-table-holder {
          margin-bottom: rem-calc(35);

          .mlp-content-type-header {
            border-bottom: solid 0.5px rgba(172, 173, 193, 0.5);
            font-size: 20px;
            color: #454560;
            padding: 5px 30px;
          }

          .load-more-section {
            display: flex;
            font-size: 14px;
            margin: rem-calc(10 31 40 31);

            .total-count-container {
              width: 50%;
              color: #808080;
            }

            .load-more-container {
              width: 50%;
              text-align: right;
              font-weight: 600;
              color: #4a90e2;

              span {
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}

.mlp-content-type-headings {
  display: flex;
  padding: 18px 0px;
  border-top: solid 0.5px rgba(172, 173, 193, 0.5);
  border-bottom: solid 0.5px rgba(172, 173, 193, 0.5);
  background-color: #fbfbfb;

  div {
    text-align: center;
    color: #454560;
    font-size: 14px;
    font-weight: 600;
  }
}

.mlp-content-row {
  display: flex;
  border-bottom: solid 0.5px rgba(172, 173, 193, 0.5);

  &:hover {
    background-color: #f0f0f5;
    box-shadow: inset 0 1px 3px 0 #d6d6e1;
    cursor: pointer;
  }

  .mlp-content-name-row {
    padding: 5px 30px;
    color: #454560;
    font-size: 16px;

    .rich-text-read-only {
      p {
        white-space: nowrap;
        width: 96%;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .content-assigner-type {
      margin: 5px 0px;
      font-size: 12px;
      font-weight: 400;
      color: #454560;
      text-transform: capitalize;

      small {
        font-weight: normal;
      }
    }
  }

  .mlp-content-complete-row {
    margin: auto;
    padding: 5px 30px;

    > div {
      width: 100%;
      display: inline-block;
      position: relative;
    }
  }

  .mlp-content-efforts-row,
  .mlp-content-assigned-date-row,
  .mlp-content-due-date-row,
  .mlp-content-complete-date-row {
    font-size: 14px;
    text-align: center;
    color: #6f708b;
    margin: auto;
  }

  .mlp-badge-row {
    margin: auto;

    .badge-img {
      width: 40px;
    }

    .badge-name {
      font-size: 14px;
      font-weight: 600;
      color: #454560;
      display: inline-block;
      white-space: nowrap;
      max-width: 174px;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0px 0px 0px 5px;
      vertical-align: middle;
      text-align: left;
    }
  }

  .card-bia {
    .level-dots {
      text-align: right;
      > span {
        width: 10px;
        background: #d6d6e1;
        height: 10px;
        display: inline-block;
        margin-left: 5px;
        cursor: pointer;

        .level-tip {
          position: absolute;
          top: -18px;
          right: -10px;
          background: #000000;
          border: 1px;
          border-radius: 5px;
          padding: 1px 4px;
          color: #ffffff;
          z-index: 1000000;
          visibility: hidden;
        }

        &:hover {
          .level-tip {
            visibility: visible;
          }
        }
      }
    }

    .beginner {
      .first {
        background: #454560;
      }
    }

    .intermediate {
      .first {
        background: #454560;
      }
      .second {
        background: #454560;
      }
    }

    .advanced {
      .first {
        background: #454560;
      }
      .second {
        background: #454560;
      }
      .third {
        background: #454560;
      }
    }

    .level {
      color: #6f708b;
    }
  }
}

.mlp__search-input-block {
  background-color: #d6d6e1;
  margin-top: rem-calc(23);
  float: right;
  position: relative;
  padding-right: rem-calc(25);
  border-radius: rem-calc(2);
  width: rem-calc(370);
  font-size: rem-calc(14);
  line-height: 1.5;
  display: inline-block;
  input {
    border: none;
    width: 100%;
    height: 100%;
    padding: rem-calc(4) 0 rem-calc(4) rem-calc(10);
    outline: none;
    background: transparent;
    font-weight: 600;
    color: #454560;
    &::placeholder {
      color: #acadc1;
      font-weight: 600;
    }
  }
  .search-button {
    position: absolute;
    right: rem-calc(6);
    top: rem-calc(5);
    z-index: 1;
    padding: 0;
    width: 20px;
    color: #6f708b;
  }
}

.mlp-filter-dropdown {
  .mlp-filter-title {
    font-size: rem-calc(12);
    margin-bottom: rem-calc(6);
  }

  * {
    font-family: 'Open Sans' !important;
  }
  .Select-control {
    box-shadow: 0 0 2px 0 #454560;
    width: auto;
    border: none;
    border-radius: 2px;
    border: 1px solid #000000;
  }
  .Select-value,
  .Select-input,
  .Select-control {
    height: rem-calc(26);
    line-height: rem-calc(23) !important;
  }
  .Select-value-label {
    font-size: rem-calc(12);
    line-height: rem-calc(14);
    color: #d6d6e1;
    font-family: 'Open Sans' !important;
  }
  .Select-arrow {
    color: #454560;
    border-color: #454560 transparent transparent;
  }
  .Select-menu-outer {
    text-align: left;
    width: rem-calc(135);
    margin-top: 3px;
    border-radius: 3px;
    .Select-option {
      font-family: 'Open Sans' !important;
      font-size: rem-calc(11);
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #6f708b;
      padding: rem-calc(5);
    }
  }
}
