.card-v3 .paper-card {
  width: 100%;
  height: 200px;
  position: relative;
  display: flex;

  .card-img-container {
    margin: 13px 11px 17px 13px;
    cursor: pointer;
    overflow: hidden;
    flex: 0 0 255px;
    height: 170px;
    position: relative;

    .pathway-label {
      position: absolute;
      color: white;
      right: 0;
      background-color: #454560;
      z-index: 10;
      font-size: 11px;
      padding: 1px 6px;
    }

    .card-blurred-background {
      position: absolute;
      height: 100%;
      width: 100%;
    }
    .fp_video {
      width: 255px;
      height: 100%;
      video {
        width: 100%;
        height: 100%;
      }
    }
    .center-play-icon {
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      z-index: 3;
    }
  }

  .card-details {
    width: 100%;
    padding: rem-calc(8);
    position: relative;
    .horizontal-spacing-small {
      display: flex;
    }
    .author-info-container {
      position: absolute;
      width: 100%;
      .author-info {
        display: flex;
      }
      .channel-label {
        color: #00a1e1;
      }
    }
    .label-text {
      font-size: rem-calc(11);
      color: #acadc1;
    }
    .title {
      font-size: rem-calc(13);
      overflow: hidden;
    }
    .title-with-image,
    .text-title,
    .card-title {
      font-size: 13px;
      line-height: 17px;
    }
    .cursor {
      cursor: pointer;
    }
    .provider-logo {
      height: 13px;
    }
    .card-container-with-image-no-author {
      height: 118px;
    }
    .main-card-content-container {
      height: 80px;
    }
    .actions-bar {
      position: absolute;
      bottom: 10px;
      width: 96%;
      height: 40px;
      padding: 0;
    }
    .markdown-container {
      line-height: 19px;
    }
  }
  .poll-content {
    padding-top: 0;
    .vertical-spacing-medium {
      display: flex;
      align-items: center;
      margin: 0;
      flex-wrap: wrap;
      .vertical-spacing-medium {
        padding-bottom: 10px;
      }
      .poll-radio {
        width: auto !important;
        margin: 0;
        padding-right: 10px;
        > div {
          align-items: center;
        }
        label {
          line-height: 28px !important;
        }
      }
      .vote {
        margin: 0 !important;
      }
      .poll-stats-bar {
        width: 100px;
        margin-bottom: 0 !important;
        max-width: 100px;
        margin-right: 5px;
        height: 33px;
        line-height: 23px;
        .name {
          line-height: 23px;
        }
      }
    }
  }
}
