// Search Modal
// Part of TopNav component

#search {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  color: #fff;
  padding-top: 68px;
  overflow-y: scroll;
  cursor: default;

  h1 {
    font-weight: 200;
  }

  .view-more-button {
    border-color: $silver-sand !important;
    color: $silver-sand !important;
  }

  .search-close {
    font-size: 4rem;
    line-height: 4rem;
    cursor: pointer;
    position: fixed;
    top: 0%;
    right: 3%;
  }

  .bootstrap-typeahead-input {
    position: relative;
    > input {
      color: #ffffff;
    }
  }

  // For fake "blinking" box when there is no focus
  // refer to checkInputBlink() on Search.jsx
  .bootstrap-typeahead-input-main.blink {
    border-left: 1px solid;
    animation: blink 1.2s step-start 0s infinite;
    -webkit-animation: blink 1.2s step-start 0s infinite;

    &:active,
    &:focus {
      border: none;
      animation: none;
      -webkit-animation: none;
    }
  }

  .bootstrap-typeahead-input-main,
  .bootstrap-typeahead-input-hint {
    background: none;
    border: none;
    color: #fff;
    font-size: 2rem;
    line-height: 2rem;
    margin: 0;
    padding: 0;
    max-width: 100%;

    &:hover,
    &:active,
    &:focus {
      background: none;
      outline: none;
    }
  }

  .bootstrap-typeahead-menu {
    margin: 0;

    li {
      a {
        color: rgba(255, 255, 255, 0.6);
        font-size: 1.8rem;
        font-weight: 300;

        .highlight {
          font-weight: 500;
        }
      }

      &.disabled {
        display: none;
      }

      &.active {
        a {
          color: #fff;
        }
      }
    }
  }

  @media (min-width: 640px) {
    .search-filters {
      position: fixed;
      max-width: rem-calc(250);
      backface-visibility: hidden;
    }
  }

  @media (max-width: 1024px) {
    .search-results .vertical-spacing-large {
      width: 85%;
    }
  }

  .search-results-container {
    padding-top: rem-calc(63);
    .search-results {
      .result-paper {
        box-shadow: 0px 0px 15px #888888;
      }

      .no-results {
        font-size: rem-calc(20);
      }

      .total-count {
        margin-bottom: rem-calc(10);
        font-size: rem-calc(18);
      }
    }
  }

  #facets {
    margin-top: rem-calc(12);
    padding-right: rem-calc(15);
    max-height: 450px;
    overflow-y: scroll;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      float: left;
      border-radius: rem-calc(3);
      background: rgba(27, 27, 27, 0.8);
      width: 100%;
      margin-top: rem-calc(5);

      li {
        padding: rem-calc(15 15 12 15);
        cursor: pointer;
        font-size: rem-calc(12);
        text-transform: capitalize;

        span {
          min-width: 0;
          display: inline-block;
          text-align: center;
          border-radius: rem-calc(20);
          font-size: rem-calc(10);
          font-weight: bold;
          border: rem-calc(1) solid #808080;
          padding: rem-calc(0 10);
          color: $gray;
          float: right;
          margin-left: rem-calc(20);
        }

        &:hover {
          background-color: rgba(255, 255, 255, 0.3);
        }

        &.selected {
          background-color: rgba(255, 255, 255, 0.8);
          color: black;

          span {
            border-color: black;
          }
        }

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0;
  }
}

// .left-rail & .home-feed is matched with HomeContainer.scss
