.search-v1 {
  .bootstrap-typeahead {
    display: inline-block;
  }

  .search-button {
    position: absolute;
    right: rem-calc(6);
    top: rem-calc(5);
    z-index: 1;
    padding: 0;
    width: 20px;
  }

  .form-control {
    display: block;
    width: 100%;
    height: rem-calc(26);
    padding: 0 rem-calc(12);
    font-size: 14px;
    line-height: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    font-family: OpenSans-Regular, Open Sans !important;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  }

  .dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #777;
    white-space: nowrap;
  }

  .dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
  }

  .bootstrap-typeahead .dropdown-menu > li a {
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #f2f2f2;
    }
  }

  .bootstrap-typeahead .dropdown-menu > li.disabled {
    padding-left: 12px;
    a:hover {
      background-color: transparent;
    }
  }

  .dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
  }

  .dropdown-menu-justify {
    right: 0;
  }

  .bootstrap-typeahead-input-main {
    min-width: 300px;
    border-radius: 500px;
    background-color: white !important;
    outline: 0;
    padding-right: 35px;
    line-height: 26px;
  }

  .bootstrap-typeahead-input {
    display: inline-block;
    vertical-align: middle;
  }

  .bootstrap-typeahead-input-hint {
    background-color: transparent;
  }
}

.search-input-container {
  display: inline-block;
  position: relative;
  width: 100%;
}

.input-container_special-radius {
  width: calc(100% - 150px);
  border-radius: 2px 0 0 2px;
  input.bootstrap-typeahead-input-main {
    line-height: rem-calc(20);
  }
}

.header__seacrh-filter {
  border-left: 1px solid #454560;
  z-index: 900;
  * {
    font-family: 'Open Sans' !important;
  }
  .Select-control {
    background-color: #6f708b;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
    width: auto;
    border: none;
    border-radius: 2px;
  }
  .Select-value,
  .Select-input,
  .Select-control {
    height: rem-calc(26);
    line-height: rem-calc(23) !important;
  }
  .Select-value-label {
    font-size: rem-calc(12);
    line-height: rem-calc(14);
    color: #d6d6e1;
    font-family: 'Open Sans' !important;
  }
  .Select-arrow {
    color: #d6d6e1;
    border-color: #d6d6e1 transparent transparent;
  }
  .Select-menu-outer {
    text-align: left;
    width: rem-calc(135);
    margin-top: 3px;
    border-radius: 3px;
    .Select-option {
      font-family: 'Open Sans' !important;
      font-size: rem-calc(11);
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #6f708b;
      padding: rem-calc(5);
    }
  }
}

.search-button {
  outline: none !important;
}
