#sub-nav {
  z-index: 25;
  position: absolute;
  width: 100%;
  left: 0;
  top: rem-calc(124);
  &.fixed {
    top: 58px;
  }
  .sub-nav-container {
    background-color: rgba(0, 0, 0, 0.8);
    .sub-nav-clmn {
      color: $white;
    }
  }
  .nav-option {
    .option {
      color: $white;
      &:hover {
        color: $edc-blue;
      }
    }
  }
  .sub-nav-second {
    padding-top: rem-calc(10);
    .subnav-option {
      small {
        color: #a9a9a9;
        &:hover {
          color: $white;
        }
      }
    }
  }
}
