#top-nav.fixed {
  .navigation-wrapped-content {
    margin-top: 58px;
  }
}

.top-nav-container {
  height: rem-calc(72);
  width: 100%;
  background-color: $white;
  z-index: 16;
  .top-nav {
    .border-bottom-line {
      border-bottom: rem-calc(1) solid lightgrey;
    }
    min-width: 350px;
    max-width: 1050px;
    margin: 0 auto;
    padding: rem-calc(0 16);
  }

  .logo {
    padding: 14px 0;
    margin-right: 36px;
    max-width: 200px;
    a {
      display: block;
    }
    a img {
      height: 40px;
      max-width: 215px;
    }
  }

  .links {
    ul {
      li a {
        padding: 27px 32px 27px 0;
        height: 100%;
        line-height: 16px;
        text-transform: uppercase;
        color: #555;
        font-size: 14px;
        font-weight: 400;

        &:hover,
        &.active {
          color: #e74260;
        }
      }
    }
  }

  img.action-icon {
    height: 22px;
  }

  .action-icon-wrapper {
    display: inline-block;
    vertical-align: middle;
  }

  .action-icon-list {
    padding-top: rem-calc(10);
    .notifications {
      margin-right: rem-calc(8);
    }
  }
}

.announcement-container {
  position: fixed;
  left: 0;
  width: 100%;
  background-color: rgb(0, 161, 255);
  z-index: 15;
  padding: 6px;

  &.fixed {
    top: 58px;
  }

  .announcement {
    width: calc(100% - 30px);
    padding: rem-calc(0 16);
    color: #fff;
    text-align: center;

    a {
      color: #fff;
      text-decoration: underline;
    }
  }
}

.hidden-top-nav-container {
  height: 5rem;
  position: relative;
  display: none;

  &.visible {
    display: block;
  }
}

.secondary-nav-container {
  //min-height: rem-calc(58);
  width: 100%;
  background-color: $white;
  z-index: 15;
  overflow: visible;
  padding: rem-calc(5 0);
  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
  }

  .secondary-nav {
    min-width: rem-calc(350);
    max-width: rem-calc(1050);
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    .top-menu-link {
      font-size: rem-calc(14);
      cursor: pointer;
      padding: rem-calc(12);
    }
  }

  ul > li:first-child > a {
    padding-left: 0;
  }

  .links {
    ul {
      li a {
        padding: rem-calc(15 32 22 0);
        height: 100%;
        line-height: 16px;
        text-transform: uppercase;
        color: #555;
        font-size: 14px;
        font-weight: 400;

        &:hover,
        &.active {
          color: #e74260;
        }
      }
    }
  }

  // action items
  img.action-icon {
    height: rem-calc(26);
    width: rem-calc(26);
  }
  .action-icon-wrapper {
    display: inline-block;
    vertical-align: middle;

    .createOpen > div {
      display: flex;
      align-items: center;
    }
  }

  .nav-arrow {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .action-icon-list {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 62%;
    &.action-icon-list-v1 {
      align-items: flex-end;
    }
  }
}

.left-menu-content {
  align-self: center;
  width: 38%;
  li {
    display: inline-block;
  }
  .menu {
    display: inline-block;
  }
  ul {
    margin-top: rem-calc(15);
    &.fix-v1 {
      margin-top: 2.65rem;
    }
  }
}

.more-icons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  font-size: 12px;
  font-weight: 600;
  text-align: center;

  a {
    display: inline-block;
    margin: 0.2rem 8px;
    width: 74px;
  }
  div {
    color: #555555;
    margin-top: -10px;
  }
}

.translation-labels {
  span {
    font-size: 11px;
    display: block;
    font-weight: 300;
    color: #6f708b;
  }
  .main-label > span {
    font-size: 12px;
    font-weight: normal;
    color: #6f708b;
  }
}

@media (max-width: 768px) {
  .search-input-block {
    display: none !important;
    text-align: center;
  }
  .search-input-block__active
    + .navigation-wrapped-content
    > #footer-wrapper
    > .footer-wrapped-content
    > .search-input-block {
    display: block !important;
    padding: 10px 38px 0 38px;
    &.search-v2 form {
      width: 100%;
    }
  }
  .search-bnt-block {
    display: inline-block !important;
  }

  .menu-links-container .menu {
    display: none !important;
  }

  .topMenu {
    text-transform: capitalize;
    font-size: 14px !important;
    min-height: 50px !important;
    line-height: 50px !important;
  }

  .topMenu__active {
    color: black !important;
    font-weight: 600 !important;
  }

  .menu-popover {
    min-width: rem-calc(135) !important;
    border-radius: rem-calc(3) !important;
  }

  .menu-popover.menu-popover_header-v2:not(.menu-popover_fixed-header) {
    top: rem-calc(176) !important;
    left: rem-calc(38) !important;
  }
}

.create-popover > div {
  overflow: visible !important;
}

.walkThroughToolTip::after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 75%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-bottom-color: #171717;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
}

@media (min-width: 769px) {
  #footer-wrapper > .footer-wrapped-content > .search-input-block {
    display: none !important;
  }

  .search-input-block {
    display: inline-block !important;
  }
  .search-bnt-block {
    display: none !important;
  }

  .menu-links-container .action-icon-wrapper {
    display: none !important;
  }
}
