.topnav-main-container-v3 {
  background-color: $white;
  box-shadow: 0px 12px 20px -15px rgba(0, 0, 0, 0.2);

  .top-nav-container-v3 {
    height: 44px;
    position: relative;
    padding-left: 37px;

    .topnav-logo-v3 {
      position: absolute;
      bottom: -4px;
      top: 10px;
    }
    .logo {
      max-width: 340px;
      svg {
        height: 27px !important;
      }
      a {
        display: block;
      }
      a img {
        height: rem-calc(43) !important;
        max-width: 215px;
      }
    }
  }

  .top-nav-container-v3-public {
    min-height: 70px;

    .public-log-link {
      text-align: right;
      padding: 24px 40px;
      font-size: 20px;

      a {
        font-size: 16px;
        background: #ffffff;
        border: 1px solid #565656;
        padding: 2px 15px;
        color: #565656;
        border-radius: 3px;
        text-transform: uppercase;
      }
    }
  }

  .secondary-nav-container-v3 {
    background-color: $white;
    width: 100%;
    z-index: 16;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 38px 16px;
    &.fix-v1 {
      padding-bottom: 0.3rem;
    }
    .topnav-logo-v3 {
      position: absolute;
      bottom: -4px;
      top: 10px;
    }
    .logo {
      max-width: 340px;

      svg {
        height: 27px !important;
      }
      a {
        display: block;
      }
      a img {
        height: rem-calc(43) !important;
        max-width: 215px;
      }
    }

    .left-menu-content {
      flex: 1 1 auto;
      ul {
        margin-top: rem-calc(15);
        &.fix-v1 {
          margin-top: 2.65rem;
          &.fix-v1 span {
            font-family: OpenSans-Regular, Open Sans !important;
          }
        }
      }
    }

    .search-v3 {
      flex: 1 1 50%;
    }
    .profile-menu {
      &.profile-menu__exclude-guide-me {
        flex: 0 0 rem-calc(355);
      }
      &.profile-menu__include-guide-me {
        flex: 1 1 rem-calc(480);
      }
      .action-icon-wrapper-redesign {
        width: auto;
        flex: none;
      }
    }

    > div {
      font-size: 0.9rem;
    }
    .top-menu-link {
      cursor: pointer;
      padding: rem-calc(12);
    }
    .action-icon-list {
      .action-icon-wrapper {
        &.action-icon-wrapper-v1 {
          padding: 0 !important;
        }
        span {
          font-family: OpenSans-Regular, Open Sans !important;
        }
        display: flex;
        flex-direction: column;
        font-size: 11px;
        text-align: center;

        .username-redesign {
          cursor: pointer;
          white-space: nowrap;
          color: rgb(214, 214, 225);
        }

        button {
          padding-bottom: 0 !important;
          padding-top: 0 !important;
        }

        .createOpen {
          height: 30px !important;
          background: #f2f2f2 !important;
          border: none !important;
          color: rgb(85, 85, 85) !important;
          box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);

          svg {
            height: 20px !important;
            width: 20px !important;
            fill: rgb(85, 85, 85) !important;
          }
        }
      }
    }
    &.nav-search-align-container {
      .left-menu-content {
        flex: 0 1 auto;
        max-width: 38%;
        width: auto;
      }
      .search-input-block {
        flex: 1 1 auto;
        width: auto;
        form {
          margin: auto;
          justify-content: center;
          max-width: rem-calc(550);
        }
        .search-input-container {
          &.input-container_special-width {
            width: calc(100% - 8.5rem) !important;
            &.search-input-container__wide {
              width: calc(100% - 2.5rem) !important;
            }
          }
        }
        .header__search-filter_small {
          .Select-control {
            width: 2rem;
          }
          .Select-multi-value-wrapper {
            display: none;
          }
          .Select-arrow-zone {
            padding-right: 0;
          }
        }
      }
      .profile-menu {
        flex: 0 1 auto;
        width: auto;
      }
    }
  }
  .search-redesign-header {
    &.profile-menu {
      flex: 1 1 60%;
    }

    &.search-input-block {
      padding: 0 20px;
      &.fix-v1 {
        margin-top: 2rem;
      }
    }

    form {
      display: flex !important;
    }

    .action-icon-wrapper-redesign {
      display: flex;
      flex: 1 1 auto;
      justify-content: space-around;
    }

    .bootstrap-typeahead-input-main::-webkit-input-placeholder {
      color: $fontColorRedesign !important;
    }
    .bootstrap-typeahead-input-main:-ms-input-placeholder {
      color: $fontColorRedesign !important;
    }
    .bootstrap-typeahead-input-main {
      input:-ms-input-placeholder {
        color: $fontColorRedesign !important;
      }
    }

    .bootstrap-typeahead-input-main::-ms-input-placeholder {
      /* Microsoft Edge */
      color: $fontColorRedesign !important;
    }
    .bootstrap-typeahead-input-main::placeholder {
      color: $fontColorRedesign !important;
    }
  }
}

.search-redesign-header.search-v3 {
  .bootstrap-typeahead,
  .bootstrap-typeahead-input {
    width: 100%;
  }
  .bootstrap-typeahead-input-main {
    width: 100%;
    min-width: 150px;
    border-radius: 2px;
    background-color: #f2f2f2 !important;
    border-color: transparent;
    box-shadow: none;
  }
  .search-button {
    height: 24px;
    top: 1px;
    width: 36px;
    right: 0;

    svg {
      display: block;
      margin: auto;
    }
    svg path {
      fill: #6f708b;
    }
  }
  .bootstrap-typeahead-input-main::-webkit-input-placeholder {
    color: $fontColorRedesign !important;
  }
  .bootstrap-typeahead-input-main:-ms-input-placeholder {
    color: $fontColorRedesign !important;
  }
  .bootstrap-typeahead-input-main::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $fontColorRedesign !important;
  }

  .bootstrap-typeahead-input-main::placeholder {
    color: $fontColorRedesign !important;
  }
}
.create-list-redesign {
  padding: 15px;

  .create-item-redesign {
    text-align: center;
    width: 65px;
    display: inline-block;

    .create-label-redesign {
      font-size: 10px;
      text-align: center;
      color: #454560;
      display: block;
      top: -9px;
      position: relative;
      cursor: pointer;
    }
  }
  .pathway-create-redesign {
    margin-left: 15px;
  }
}

.smartSearchToggle {
  margin-top: 2rem;
  width: rem-calc(140);
  font-size: rem-calc(12) !important;
  label {
    color: rgb(214, 214, 225) !important;
  }
}

//Safari
.secondary-nav-container-v3:not(:root:root) {
  input.bootstrap-typeahead-input-main {
    line-height: rem-calc(24);
  }
}

.notification-label {
  line-height: rem-calc(15);
}

.reducing-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 15;
  + .navigation-wrapped-content {
    margin-top: rem-calc(90);
  }
  .top-nav-container-v2,
  .top-nav-container-v3,
  .top-nav-container-v4 {
    height: rem-calc(41) !important;
  }
  .top-nav-container-v2 .logo {
    max-height: rem-calc(41) !important;
  }

  &.topnav-main-container-v3 .search-redesign-header.search-input-block.fix-v1,
  &.topnav-main-container-v4 .search-redesign-header.search-input-block.fix-v1 {
    margin-top: 0;
  }

  .search-v3 {
    top: rem-calc(-4);
    position: relative;
  }

  .secondary-nav-container-v2 {
    padding-top: 0 !important;
  }

  .secondary-nav-container {
    padding-bottom: rem-calc(5) !important;
    align-items: flex-end !important;
  }

  .left-menu-content {
    align-self: flex-end !important;
  }
  .secondary-nav-container .top-menu-link {
    padding-bottom: 0 !important;
  }
  .secondary-nav-container .action-icon-list {
    align-self: flex-end !important;
    align-items: flex-end !important;
    justify-content: flex-end !important;
  }
  .search-redesign-header.profile-menu {
    padding-bottom: 0 !important;
  }

  .secondary-nav-container:not(.fix-v1) {
    .action-icon-wrapper-redesign {
      height: rem-calc(39);
    }

    .action-icon-wrapper-redesign > a > button,
    .action-icon-wrapper-redesign > a > .mui-badge > button {
      height: 2rem !important;
      top: -0.25rem;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }

    .action-icon-list .action-icon-wrapper .createButton > button {
      margin-top: 0;
    }

    .action-icon-wrapper-redesign > a > .mui-badge {
      position: relative;
      top: rem-calc(-3) !important;
    }
    .action-icon-wrapper-redesign > a > .mui-badge + div + .notification-label {
      top: rem-calc(-8);
      position: relative;
    }
  }

  &.topnav-main-container-v4
    .secondary-nav-container-v4.fix-v1
    .action-icon-wrapper-redesign
    > a
    > .username-redesign,
  &.topnav-main-container-v4
    .secondary-nav-container-v4.fix-v1
    .action-icon-wrapper-redesign
    > a
    > .mui-badge
    > .username-redesign {
    top: 0;
    position: relative;
  }

  &.topnav-main-container-v4 .secondary-nav-container-v4.fix-v1 .left-menu-content ul.fix-v1 {
    margin-top: 1rem !important;
  }

  &.topnav-main-container-v3
    .secondary-nav-container-v3.fix-v1
    .action-icon-list
    .action-icon-wrapper
    button {
    height: 2rem !important;
    top: -0.25rem;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    flex: none;
  }

  &.topnav-main-container-v4
    .secondary-nav-container-v4
    .action-icon-list
    .action-icon-wrapper
    button {
    height: 2rem !important;
    top: -0.25rem;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    flex: none;
  }

  .secondary-nav-container.fix-v1 {
    .left-menu-content ul.fix-v1 {
      margin-top: rem-calc(25) !important;
    }
    &.secondary-nav-container-v2.fix-v1 .action-icon-wrapper-redesign {
      height: rem-calc(52);
    }
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .topnav-main-container-v3 {
    .search-redesign-header {
      &.search-input-block {
        flex: 1 1 30%;
        width: auto;
      }
    }
    .secondary-nav-container-v3 {
      .left-menu-content {
        flex: 1 1 30%;
      }
    }
  }
}
