.topnav-main-container-v2 {
  background-color: $white;

  .top-nav-container-v2 {
    height: 86px;
    position: relative;
    padding-left: 37px;

    .topnav-logo-v2 {
      position: absolute;
      bottom: 0;
    }
    .logo {
      max-width: 340px;
      a {
        display: block;
      }
      a img {
        height: 50px;
        max-width: 215px;
      }
    }
  }
  .ml-auto {
    margin-left: auto !important;
  }
  .secondary-nav-container-v2 {
    background-color: $white;
    width: 100%;
    z-index: 16;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px 38px;
    &.fix-v1 {
      padding-bottom: 0.3rem;
    }
    &.fixed {
      position: fixed;
      top: 0;
      left: 0;
    }
    .top-menu-link {
      cursor: pointer;
      padding: rem-calc(12);
    }
    .left-menu-content {
      width: auto;
      .menu-links-container {
        display: inline-block;
        vertical-align: middle;
      }
      .menu {
        display: flex;
        flex-wrap: wrap;
      }
      ul {
        margin-top: rem-calc(15);
        &.fix-v1 {
          margin-top: 2.65rem;
          &.fix-v1 span {
            font-family: OpenSans-Regular, Open Sans !important;
          }
        }
      }
    }

    ul.menu a {
      font-size: 14px;
    }
    .action-icon-wrapper-redesign {
      height: 54px;
      display: inline-block;
      margin: 0 0 0 28px;

      .action-icon-wrapper {
        text-align: center;
        span {
          font-family: OpenSans-Regular, Open Sans !important;
        }
      }
      .username-redesign {
        font-size: 11px;
        text-align: center;
        color: #454560;
        display: flex;
        justify-content: center;
        top: -9px;
        position: relative;
        cursor: pointer;
      }
      button {
        padding: 10px !important;

        .action-icon {
          width: 29px !important;
          height: 29px !important;
        }
      }
    }
    @media (max-width: 1060px) {
      .action-icon-wrapper-redesign {
        margin-left: 8px;
      }
    }

    //IE 10+ :
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      .user-name-redesign-ie {
        .username-redesign {
          top: -15px;
        }
      }

      .notification-label {
        left: -5px;
      }
    }
  }
  .search-redesign-header {
    display: flex;
    justify-content: baseline;
    flex-wrap: wrap;
    align-items: center;
    width: auto;
    .bootstrap-typeahead-input-main::placeholder {
      color: #acadc1;
    }
    .create-btn-container {
      display: inline-block;
      margin-left: 38px;

      .createOpen {
        top: 4px;
        svg,
        span {
          display: inline-block;
          margin: auto 0;
          line-height: 24px !important;
          height: 24px;
        }
      }
    }
    @media (max-width: 1060px) {
      .create-btn-container {
        display: inline-block;
        margin-left: 18px;
      }
    }
  }
  &.nav-search-align-container {
    .search-input-block {
      form {
        text-align: center;
      }
      .header__search-filter_small {
        .Select-control {
          width: 2rem;
        }
        .Select-multi-value-wrapper {
          display: none;
        }
        .Select-arrow-zone {
          padding-right: 0;
        }
      }
    }
  }
}

.search-redesign-header.search-v2 {
  form {
    margin-right: 0 !important;
    width: 306px;
  }
  .bootstrap-typeahead,
  .bootstrap-typeahead-input {
    width: 100%;
  }
  .bootstrap-typeahead-input-main {
    width: 100%;
    min-width: 150px;
    border-radius: 2px;
    border-color: #6f708b;
  }
  .search-button {
    position: absolute;
    height: 24px;
    top: 1px;
    width: 36px;
    right: 0;

    svg {
      display: block;
      margin: auto;
    }
    svg path {
      fill: #6f708b;
    }
  }
  .bootstrap-typeahead-input-main::placeholder {
    color: #acadc1;
  }
  .header__seacrh-filter {
    display: inline-block;
    vertical-align: top;
  }
}
.create-list-redesign {
  padding: 15px;

  .create-item-redesign {
    text-align: center;
    width: 65px;
    display: inline-block;

    .create-label-redesign {
      font-size: 10px;
      text-align: center;
      color: #454560;
      display: block;
      top: -9px;
      position: relative;
      cursor: pointer;
    }
  }
  .pathway-create-redesign {
    margin-left: 15px;
  }
}

//Safari
.secondary-nav-container-v2:not(:root:root) {
  input.bootstrap-typeahead-input-main {
    padding-top: 12px !important;
  }
}
