.v3-container {
  .path-title {
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    position: relative;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 !important;
    -webkit-line-clamp: 2;
    font-size: 14px;
    cursor: pointer;
    color: #4990e2;
  }

  .card-list-row {
    padding-bottom: 5px;
    font-size: 13px;
    margin-bottom: 5px;
    max-width: none;

    .title-wrapper {
      padding-left: 0;
      padding-right: 30px;
      font-size: 13px;
    }
  }

  .learning-header-row {
    margin-bottom: 10px;
    max-width: none;
    border-bottom: 1px solid #d6d6e1;
    .learning-header {
      padding-bottom: 5px;
      font-size: 14px;
      font-weight: 600;
      color: #454560;

      &:first-child {
        padding-left: 0;
      }
    }
  }

  .card-state {
    text-transform: capitalize;
  }

  .learning-progress-wrapper {
    padding-right: 50px;
  }

  .learning-progress {
    background: #cacaca !important;
    height: 12px !important;
  }

  .learning-load-more {
    padding: 10px 0;
    font-size: 13px;
    text-align: right;
    background-color: white;
    color: #4990e2;
    font-size: 14px;
    text-decoration: underline;
    cursor: auto;

    span {
      cursor: pointer;
    }
  }

  .learning-plan-section-title {
    font-size: 16px;
    color: #6f708b;
    margin-bottom: 12px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .learning-content-row-wrapper {
    border-bottom: 1px solid #d6d6e1;
  }
}

.recharts {
  margin: 0 auto;
  font-size: rem-calc(10);
  padding: rem-calc(20) 0;
}

.recharts-wrapper {
  width: 100% !important;
  height: auto !important;
  text-align: center;

  .recharts-surface {
    max-width: 100%;
    max-height: 100%;
    height: auto;
  }
}
