#channels {
  margin-top: -0.5rem;
}

.channelv2__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.channelsv2 {
  .my-team__search-input-block,
  .breadcrumbBack {
    margin-right: rem-calc(20);
    height: rem-calc(32);
  }
  .my-team__search-input-block {
    border: solid rem-calc(1) #d6d6e1;
    margin-top: 0.25rem;
    &.bookmarked-search {
      margin-right: 0;
      border: 0;
      .search-channels-input {
        padding-left: 2.1rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 0.875rem;
        color: #454560;
      }
      .search-channels-input::placeholder {
        color: #454560;
      }
    }
  }
  .my-team__filter-block {
    &.my-team__filter-block_wide {
      width: rem-calc(316);
    }
  }
  .outer-checkbox > div > div {
    align-items: center;
  }
  .channel-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: -0.5rem;
  }
  .my-content-wrapper-v1 {
    width: 100%;
  }
  .my-content-wrapper {
    width: calc(100% - 19.75rem) !important;
  }
}

.channels-suggestions-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 15;
  height: auto;
  border-left: 1px solid #d1d1d1;
  border-right: 1px solid #d1d1d1;
  background-color: #fff;
  color: #999aad;
  ul {
    margin: 0 -1px;
    padding: 0;
    list-style: none;
    background: #fff;
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    color: #999aad;
    li {
      border-bottom: 1px solid #ddd;
      padding: 0.4375rem 0 0.4375rem 1rem;
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      &:hover {
        background-color: #eee;
        cursor: pointer;
      }
    }
  }
}

.my-team__seacrh-by-filter {
  width: rem-calc(104);
  border-radius: rem-calc(3);
  box-shadow: rem-calc(2) rem-calc(1) rem-calc(3) 0 #d6d6e1;
  background-color: #d6d6e1;
  border: solid 1px #d6d6e1;
  .Select-control {
    text-align: left;
    font-size: rem-calc(14);
    background-color: #d6d6e1;
  }
  .Select-menu-outer {
    text-align: left;
    .Select-option {
      font-size: rem-calc(12);
      padding: 0.5rem 0.875rem 0.5rem 1.125rem;
      color: #6f708b;
    }
  }
}

.filter-block {
  padding: rem-calc(10) rem-calc(20);
  border-radius: rem-calc(4);
  background-color: #ffffff;
  margin-bottom: 1rem;
}

.filter-title {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.4px;
  color: #6f708b;
}

.filter-content {
  padding-left: rem-calc(20);
}

@media (max-width: 870px) {
  .channel-v2 {
    width: 100%;
  }
}
@media (min-width: 871px) {
  .channel-v2 {
    width: 50%;
  }
}
@media (min-width: 1050px) {
  .channel-v2 {
    width: 33.3%;
  }
}

@media (min-width: 1250px) {
  .channel-v2 {
    width: 25%;
  }
}

@media (min-width: 1555px) {
  .channel-v2 {
    width: 20%;
  }
}

.channel-v2 {
  padding: 0.5rem;
  cursor: pointer;
  flex: none;
}

.channel-v2__body {
  min-width: rem-calc(205);
  height: rem-calc(195);
  background: white;

  .tooltip-parent {
    position: relative;
    .tooltip-snippet {
      position: absolute;
      color: rgb(255, 255, 255);
      margin-top: rem-calc(-13);
      left: rem-calc(20);
      background-color: rgba(85, 85, 85, 0.95);
      font-size: rem-calc(12);
      padding: rem-calc(8);
      z-index: 6;
      border-radius: rem-calc(3);
      margin-left: -20px;
      bottom: 130%;
    }
  }
}

.channel-bannerv2 {
  height: rem-calc(115);
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: rem-calc(12);
}

.channel-followers {
  font-size: rem-calc(11);
  color: white;
  text-transform: uppercase;
}

.channel-info {
  padding: rem-calc(12);
}

.channelv2-title {
  height: rem-calc(29);
}

.channels-not-found,
.channel-loading {
  width: 100%;
  text-align: center;
}

.channel-coming-soon {
  height: 1.25rem !important;
  span {
    line-height: rem-calc(20px) !important;
    font-size: rem-calc(10px) !important;
  }
}
