#sg-filters {
  font-size: 12px;
  ::placeholder {
    color: #aaa;
  }
  div.Select.Select--single {
    max-width: 15rem;
  }
  .skills-filter-container {
    padding-right: 1em;
  }
  #skills-filter-options {
    position: absolute;
    background: #fff;
    max-height: 250px;
    width: 15rem;
    overflow-y: scroll;
    text-transform: capitalize;
    border-color: #d9d9d9 #ccc #b3b3b3;
    border-radius: 4px;
    border: 1px solid #ccc;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    margin-top: 34px;
  }
  .skills-filter-option {
    padding: 2px 4px;
    label:hover,
    &:hover {
      cursor: pointer;
      color: #333;
    }
  }
  #skills-filter-mask {
    background-color: #fff;
    border-color: #d9d9d9 #ccc #b3b3b3;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: #aaa;
    cursor: default;
    height: 36px;
    outline: none;
    overflow: hidden;
    position: relative;
    width: 15rem;
    line-height: 34px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
