#skills-graph-wrapper {
  background: #fff;

  .skills-graph-header-wrapper {
    // TODO prefer variable
    background: #f0f0f5;
  }
  .skills-graph-header {
    padding: 1em 0;
  }
  // begin d3 elements
  text {
    text-transform: capitalize;
    font: 0.8em 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-anchor: middle;
    pointer-events: none;
    // fill: white;
  }
  .rv-force__nodes circle {
    stroke: #fff;
    stroke-width: 3px;
  }
  // end d3 elements
  .form-container {
    text-transform: capitalize;
    font-size: 0.8em;
  }

  .left-pane-list {
    height: 300px;
    overflow-y: scroll;
  }
  .left-pane-container {
    span {
      display: block;
      font-size: 1.2em;
      font-weight: bold;
      margin-bottom: 0.5em;
    }
  }
  // need to move these to common
  .mt-1 {
    margin-top: 1em;
  }
  .mt-2 {
    margin-top: 2em;
  }
}
