#learners-dashboard {
  .horizontal-spacing-xlarge {
    width: 100%;
    display: flex;
  }

  #learners-dashboard-card-carousel {
    .view-more-badges {
      color: #4a90e2;
      cursor: pointer;
      text-align: right;
      text-decoration: underline;
    }

    .card-v2 {
      box-shadow: 1px 1px 5px 1px rgba(119, 119, 119, 0.161);
    }

    .channel-course {
      box-shadow: 1px 1px 5px 1px rgba(119, 119, 119, 0.161);
    }
  }

  #learners-dashboard-course-carousel {
    .channel-course {
      box-shadow: 1px 1px 5px 1px rgba(119, 119, 119, 0.161);
    }
  }

  .channel-card-wrapper-inner {
    margin: 0px !important;
  }

  .empty-content-cards,
  .empty-content-channel {
    height: 150px;
    width: 100%;
    background: rgb(255, 254, 254);
  }

  .card-block {
    border-bottom: 1px solid #f0f0f5;
  }

  .after-card-icon-2 {
    width: auto;
  }

  .custom-5-cards {
    flex: 0 0 20%;
    max-width: 20%;
    .card-v3__tile-view {
      width: 100%;
    }
  }

  .custom-4-cards {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .custom-5-cards.custom-cards__v3,
  .custom-4-cards.custom-cards__v3 {
    flex: none;
    max-width: 20rem;
    min-width: 20rem;
    > .card-v3__tile-view {
      margin: 0 !important;
      width: rem-calc(315);
    }
  }

  .custom-5-cards.custom-cards__v3 {
    margin-right: calc((100% - 100rem) / 4) !important;
  }

  .custom-4-cards.custom-cards__v3 {
    margin-right: calc((100% - 80rem) / 3) !important;
  }

  .custom-5-cards.custom-cards__v3:last-child,
  .custom-4-cards.custom-cards__v3:last-child {
    margin-right: 0 !important;
  }

  @media screen and (max-width: 1940px) {
    .custom-4-cards.custom-cards__v3 {
      margin-right: calc((100% - 60rem) / 2) !important;
    }
    .custom-4-cards:nth-child(n + 3).custom-cards__v3 {
      margin-right: 0 !important;
    }
    .custom-4-cards:nth-child(n + 4).custom-cards__v3 {
      display: none;
    }
  }

  @media screen and (max-width: 1500px) {
    .custom-4-cards.custom-cards__v3 {
      margin-right: calc(100% - 40rem) !important;
    }
    .custom-4-cards:nth-child(n + 2).custom-cards__v3 {
      margin-right: 0 !important;
    }
    .custom-4-cards:nth-child(n + 3).custom-cards__v3 {
      display: none;
    }
  }

  @media screen and (max-width: 1090px) {
    .custom-4-cards:nth-child(n + 2).custom-cards__v3 {
      margin-right: 0 !important;
      display: none;
    }
  }

  // in this width we make content width 100%, cause it need this blocks
  @media screen and (max-width: 1020px) {
    .custom-4-cards.custom-cards__v3 {
      margin-right: calc(100% - 40rem) !important;
    }
    .custom-4-cards:nth-child(n + 2).custom-cards__v3 {
      margin-right: 0 !important;
      display: block;
    }
    .custom-4-cards:nth-child(n + 3).custom-cards__v3 {
      display: none;
    }
  }

  @media screen and (max-width: 840px) {
    .custom-4-cards:nth-child(n + 2).custom-cards__v3 {
      margin-right: 0 !important;
      display: none;
    }
  }

  @media screen and (max-width: 1800px) {
    .custom-5-cards.custom-cards__v3 {
      margin-right: calc((100% - 80rem) / 3) !important;
    }
    .custom-5-cards:nth-child(n + 4).custom-cards__v3 {
      margin-right: 0 !important;
    }
    .custom-5-cards:nth-child(n + 5).custom-cards__v3 {
      display: none;
    }
  }

  @media screen and (max-width: 1480px) {
    .custom-5-cards.custom-cards__v3 {
      margin-right: calc((100% - 60rem) / 2) !important;
    }
    .custom-5-cards:nth-child(n + 3).custom-cards__v3 {
      margin-right: 0 !important;
    }
    .custom-5-cards:nth-child(n + 4).custom-cards__v3 {
      display: none;
    }
  }

  @media screen and (max-width: 1160px) {
    .custom-5-cards.custom-cards__v3 {
      margin-right: calc(100% - 40rem) !important;
    }
    .custom-5-cards:nth-child(n + 2).custom-cards__v3 {
      margin-right: 0 !important;
    }
    .custom-5-cards:nth-child(n + 3).custom-cards__v3 {
      display: none;
    }
  }

  @media screen and (max-width: 840px) {
    .custom-5-cards.custom-cards__v3 {
      margin-right: 0 !important;
    }
    .custom-5-cards:nth-child(n + 2).custom-cards__v3 {
      display: none;
    }
  }

  @media screen and (max-width: 1700px) {
    .custom-5-cards.custom-cards__wide {
      flex: 0 0 25%;
      max-width: 25%;
    }
    .custom-5-cards:nth-child(n + 5).custom-cards__wide {
      display: none;
    }
  }

  @media screen and (max-width: 1280px) {
    .custom-5-cards.custom-cards__simple-size {
      flex: 0 0 25%;
      max-width: 25%;
    }
    .custom-5-cards:nth-child(n + 5).custom-cards__simple-size {
      display: none;
    }
  }

  @media screen and (max-width: 1384px) {
    .custom-5-cards.custom-cards__wide {
      flex: 0 0 33.3333%;
      max-width: 33.3333%;
    }
    .custom-5-cards:nth-child(n + 4).custom-cards__wide {
      display: none;
    }
  }

  @media screen and (max-width: 1062px) {
    .custom-5-cards.custom-cards__simple-size {
      flex: 0 0 33.3333%;
      max-width: 33.3333%;
    }
    .custom-5-cards:nth-child(n + 4).custom-cards__simple-size {
      display: none;
    }
  }

  @media screen and (max-width: 1068px) {
    .custom-5-cards.custom-cards__wide {
      flex: 0 0 50%;
      max-width: 50%;
    }
    .custom-4-cards.custom-cards__wide {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .custom-5-cards:nth-child(n + 3).custom-cards__wide,
    .custom-4-cards:nth-child(n + 2).custom-cards__wide {
      display: none;
    }
  }

  @media screen and (max-width: 840px) {
    .custom-5-cards.custom-cards__simple-size {
      flex: 0 0 50%;
      max-width: 50%;
    }
    .custom-4-cards.custom-cards__simple-size {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .custom-5-cards:nth-child(n + 3).custom-cards__simple-size,
    .custom-4-cards:nth-child(n + 2).custom-cards__simple-size {
      display: none;
    }
  }

  @media screen and (max-width: 775px) {
    .custom-5-cards.custom-cards__wide {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .custom-5-cards:nth-child(n + 2).custom-cards__wide {
      display: none;
    }
  }
  @media screen and (max-width: 600px) {
    .custom-5-cards.custom-cards__simple-size {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .custom-5-cards:nth-child(n + 2).custom-cards__simple-size {
      display: none;
    }
  }

  @media screen and (max-width: 1808px) {
    .custom-4-cards {
      flex: 0 0 33.333%;
      max-width: 33.333%;
    }
    .custom-4-cards:nth-child(n + 4) {
      display: none;
    }
  }
  @media screen and (max-width: 1410px) {
    .custom-4-cards {
      flex: 0 0 50%;
      max-width: 50%;
    }
    .custom-4-cards:nth-child(n + 3) {
      display: none;
    }
  }
  @media screen and (max-width: 1000px) {
    .custom-4-cards {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .custom-4-cards:nth-child(n + 2) {
      display: none;
    }
  }
  .tooltip-snippet {
    left: rem-calc(28) !important;
  }
}
