#user-activity-list {
  margin: rem-calc(20 0 40 0);

  .user-activity-list-title-container {
    display: flex;
    align-content: center;
    margin: rem-calc(0 0 10 0);

    .user-activity-list-title {
      width: 50%;
      font-size: rem-calc(16);
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: rem-calc(0.2);
      color: #26273b;
    }

    .user-activity-list-view-all {
      width: 50%;
      font-size: rem-calc(14);
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.71;
      letter-spacing: rem-calc(0.2);
      text-align: right;
      color: #4a90e2;
      cursor: pointer;
    }
  }

  .activity-list-item {
    .activity-text-container {
      font-size: rem-calc(12);
      margin: rem-calc(0 0 0 10);
    }
  }

  .user-activity-list-container {
    border-radius: 0 !important;
    position: relative;
  }

  .user-activity-loader {
    display: flex;
    align-items: center;
    min-height: rem-calc(159);

    .text-center {
      width: 100%;
    }
  }
}

#user-activity-standalone {
  margin: rem-calc(15 0 0 0);

  .full-width-row {
    max-width: 93%;
  }

  .user-name-title {
    display: flex;
    align-content: center;
    width: 100%;
    margin: rem-calc(0 0 25 0);
    padding: rem-calc(0 10);

    .user-name {
      cursor: pointer;
      margin: rem-calc(0 0 0 20);
      font-size: rem-calc(24);
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 0.88;
      letter-spacing: rem-calc(0.2);
    }
  }

  .user-panel {
    width: 25%;
    padding: rem-calc(0 10);
    margin: rem-calc(35 0 0 0);

    .user-panel-container {
      padding: rem-calc(15);
      border-radius: 0 !important;
      border: rem-calc(1) solid #d6d6e1;
    }

    .user-avatar {
      display: flex;
      align-content: center;
    }

    .user-name-designation {
      div {
        font-size: rem-calc(18);
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.44;
        letter-spacing: rem-calc(0.1);
        color: #6f708c;
      }
    }

    .user-custom-fiels {
      .custom-field {
        font-size: rem-calc(12);
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.08;
        letter-spacing: normal;
        color: #454560;

        span {
          font-weight: 600;
        }
      }
    }

    .follow-button-container {
      text-align: center;
      margin: rem-calc(15 0 0 0);
    }
  }

  .card-panel {
    width: 50%;
    padding: rem-calc(0 10);

    .activity-tab-container {
      display: flex;
      margin-bottom: rem-calc(14);

      .activity-tabs {
        font-size: rem-calc(13);
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.62;
        letter-spacing: normal;
        text-transform: uppercase;
        width: rem-calc(104);

        a {
          color: #454560;
        }
      }

      .active {
        font-weight: 600;
      }
    }

    .card-list-container {
      .card-user-activity-container {
        .user-activity-container {
          background-color: #fff;
          border: rem-calc(0.5) solid #d6d6e1;
          padding: rem-calc(5 10);
        }

        .big-vew-block,
        .card-v3__feed-view {
          width: 100% !important;
          box-shadow: 0 0 0 0 !important;
          border-radius: 0;
          border: rem-calc(0.5) solid #d6d6e1;
          border-top: 0;
        }

        .card-v3 {
          border-top: 0;
        }
      }
    }
  }

  .recommended-user-panel {
    width: 25%;
    padding: rem-calc(0 10);

    .recommended-user-title {
      margin-bottom: rem-calc(13);

      .title {
        font-size: rem-calc(16);
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: rem-calc(-0.4);
        color: #454560;
      }
    }

    .recommended-user-container {
      border-radius: 0 !important;
      padding: rem-calc(20);
    }

    .user-info-container {
      display: flex;
      margin: rem-calc(0 0 26 0);

      .user-name-follow-btn {
        margin: rem-calc(0 0 0 20);
      }

      .user-name {
        font-size: rem-calc(14);
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: rem-calc(0.1);
        color: #454560;
        margin: rem-calc(0 0 10 0);
        cursor: pointer;
      }
    }
  }
}
