#blankState {
  .blank-container {
    padding: rem-calc(50) rem-calc(30);
  }
  .blank-title {
    font-family: Lato, 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
    margin-bottom: 1.5rem;
  }
  .blank-sub-title {
    font-weight: 300;
    font-family: Lato, 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
    margin-bottom: 1.5rem;
  }
  .view-more-link {
    padding: 1rem 0;
    color: $edc-blue;
    text-decoration: underline;
    font-weight: 400;
    font-size: 17px;
    span {
      cursor: pointer;
    }
  }
  .done-button {
    span {
      font-size: 0.95rem !important;
      font-weight: 400 !important;
    }
  }
  .view-more {
    color: $edc-blue;
    cursor: pointer;
    text-decoration: underline;
    min-height: rem-calc(52);
  }
}

.empty-learning-block {
  padding: 7em 1rem;
}

.quote-container {
  font-size: 1.5rem;
  max-width: rem-calc(600);
  border: 1px solid #bdbdbd;
  left: 50%;
  margin: 0 auto;
  .author {
    margin-right: 2rem;
  }
}

#todayLearning {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  .vertical-spacing-large > div {
    border: none !important;
  }
  .empty-message {
    margin-top: rem-calc(50);
  }
}
