.my-team__filter-block {
  .new-search__paper {
    position: relative;
    border-radius: rem-calc(4);
    padding: rem-calc(15) rem-calc(10) rem-calc(5);
    margin-bottom: rem-calc(18);
    font-size: rem-calc(14);
    color: #6f708b !important;

    .calendar-container > div {
      width: 17.5rem !important;
    }
  }
  .filter-title {
    font-weight: 600;
    font-size: rem-calc(16);
    margin-bottom: rem-calc(20);
  }
  .outer-checkbox {
    padding-left: rem-calc(25);
  }
  .new-search__input-container {
    margin-left: rem-calc(25);
    margin-bottom: rem-calc(13);
    width: rem-calc(230);
  }
  .date-field-container {
    position: relative;
    width: 6.5rem;
    display: inline-flex;
    margin-left: 0.3125rem;
    margin-bottom: 0.875rem;
    align-items: center;
  }
  .date-input-field {
    width: rem-calc(96);
    height: rem-calc(27);
    cursor: pointer;
    &.date-input-field__last {
      margin-right: 0;
    }
  }
  .rdr-Calendar {
    z-index: 15;
    position: absolute;
    top: rem-calc(90);
    width: rem-calc(250);
    border: rem-calc(1) solid #6f708b;
  }
  .view-more {
    margin-bottom: rem-calc(10);
    margin-right: rem-calc(10);
    margin-top: 0;
    min-height: unset;
    text-align: right;
    text-decoration: none;
    cursor: pointer;
  }
  .new-search__paper_custom-block {
    .filter-title {
      text-transform: capitalize;
    }
  }
}
