$channel-banner-height: rem-calc(146);
$white: #ffffff;
$link-color: #5596e3;
$search-box-bg: #e5e5ed;
$bg-dusk: #6f708b;

.channel-redesign-base {
  background-color: #f0f0f5;
  .channel-banner {
    height: $channel-banner-height;
    background-color: $bg-dusk;
    .banner-container {
      width: rem-calc(1208);
      display: flex;
      margin: auto;
      @media screen and (min-width: 1920px) {
        width: rem-calc(1820);
      }
      .cb-right-block {
        height: $channel-banner-height;
        width: 60%;
        display: flex;
        padding-top: rem-calc(16);
        .arrow-container {
          color: $white;
          cursor: pointer;
        }
        .channel-info-container {
          padding-left: rem-calc(15);
          color: $white;
          p {
            margin: 0;
            padding: 0;
          }
          .channel-label {
            position: relative;
            display: flex;
            max-height: rem-calc(35);
            .tooltiptext {
              transform: translate(0, rem-calc(-6));
            }
            p {
              font-size: rem-calc(18);
              letter-spacing: rem-calc(0.2);
              margin-bottom: rem-calc(15);
              text-transform: capitalize;
              word-break: break-all;
            }
            .lock-container {
              position: relative;
              max-width: rem-calc(67);
              margin-left: rem-calc(10);
              .tooltiptext {
                width: rem-calc(111);
                position: absolute;
                transform: translate(rem-calc(-44), rem-calc(5));
              }
            }
          }
          .channel-description {
            height: rem-calc(44);
            margin-bottom: rem-calc(8);
            width: rem-calc(565);
            p {
              font-size: rem-calc(12);
              line-height: 1.86;
              letter-spacing: rem-calc(0.2);
              word-break: break-all;
              span {
                cursor: pointer;
                text-decoration: underline;
              }
            }
          }
          .curate-btn {
            padding: 0 rem-calc(20);
            height: rem-calc(26);
            border-radius: rem-calc(3);
            background-color: $white;
            font-size: rem-calc(13);
            color: $dusk;
          }
          .provider-container {
            display: flex;
            align-items: center;
            margin-left: rem-calc(16);
            img {
              height: rem-calc(25);
              margin: 0 rem-calc(5);
            }
            p {
              font-size: rem-calc(14);
              text-transform: capitalize;
              color: $white;
              position: relative;
              top: rem-calc(1);
              margin-left: rem-calc(5);
            }
            label {
              font-size: rem-calc(14);
              font-weight: 400;
              margin-bottom: 0;
            }
          }
        }
        .curate-button-provider-container {
          display: flex;
        }
        .tooltiptext {
          opacity: 1;
          font-size: rem-calc(12);
          padding: rem-calc(5) rem-calc(10);
          left: 0;
          transform: translateX(0);
          max-width: rem-calc(300);
          word-break: break-all;
          white-space: pre-wrap;
        }
      }
      .cb-left-block {
        height: $channel-banner-height;
        width: 40%;
        display: flex;
        flex-direction: row;
        @media screen and (min-width: 1430px) {
          width: 45%;
        }
        @media screen and (min-width: 1490px) {
          width: 40%;
        }
        .banner-image-block {
          width: rem-calc(263);
          // height: $channel-banner-height;
          background-size: cover;
          .image-gradient {
            width: 100%;
            height: 100%;
            background-image: linear-gradient(
              to right,
              $bg-dusk,
              rgba(156, 156, 172, 0.57) 24%,
              rgba(216, 216, 216, 0) 50%,
              rgba(216, 216, 216, 0) 50%,
              rgba(155, 155, 171, 0.58) 76%,
              $bg-dusk
            );
          }
        }
        .channel-info-box {
          width: calc(100% - 16.4375rem);
          padding-top: rem-calc(16);
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          background-color: $bg-dusk;
          .vertical-menu {
            display: flex;
            flex-direction: column;
            width: rem-calc(20);
            cursor: pointer;
            position: absolute;
            .dot {
              width: rem-calc(4.3);
              height: rem-calc(4.7);
              background-color: $white;
              border-radius: 50%;
              margin-bottom: rem-calc(3);
            }
          }
          .curator-box {
            width: rem-calc(200);
            .curator-label {
              color: $white;
              font-size: rem-calc(12);
              margin-bottom: rem-calc(10);
            }
            .curator-row {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              margin-bottom: rem-calc(8);
              .curator-dp {
                margin-right: rem-calc(10);
                min-width: rem-calc(32);
                border-radius: 50%;
                overflow: hidden;
                img {
                  width: rem-calc(32);
                  height: rem-calc(32);
                }
              }
              .curator-name {
                p {
                  font-size: rem-calc(12);
                  font-weight: 600;
                  line-height: 1.17;
                  color: $white;
                }
              }
            }
            .and-other-text {
              font-size: rem-calc(12);
              text-align: left;
              color: $white;
              margin-left: rem-calc(42);
              span {
                text-decoration: underline;
                font-weight: 600;
                color: $white;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }

  .content-padding {
    width: rem-calc(1208);
    margin: rem-calc(20) auto;
    @media screen and (min-width: 1920px) {
      width: rem-calc(1820);
    }
    .tab-search-container {
      display: flex;
      margin-bottom: rem-calc(10);
      padding-left: rem-calc(4);
      padding-right: rem-calc(4);
      .tab-container {
        width: 70%;
        position: relative;
        overflow: hidden;
        .horizontal-menu {
          position: relative;
          left: rem-calc(-24);
        }
        .menu-wrapper {
          .menu-item-wrapper {
            border: none;
          }
          .menu-item {
            padding-right: rem-calc(30);
            height: rem-calc(33);
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            font-size: rem-calc(13);
            color: $dusk;
            text-transform: uppercase;
          }
          .active {
            font-weight: 600;
          }
        }
        .scroll-menu-arrow {
          cursor: pointer;
          z-index: 1;
          background-color: #f0f0f5;
          position: relative;
          top: rem-calc(2);
          .arrow-prev {
            position: relative;
            background-color: #f0f0f5;
            left: rem-calc(20);
          }
        }
        .scroll-menu-arrow--disabled {
          visibility: hidden;
        }
      }
      .search-container {
        width: 30%;
      }
    }
    .channel-carousel-container {
      margin-bottom: rem-calc(25);
      .carousel-label {
        font-size: rem-calc(20);
        letter-spacing: rem-calc(0.3);
        color: $dusk;
        margin-bottom: rem-calc(10);
      }
      .carousel {
        padding: 0;
      }
      .carousel-header-conatiner {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        .label-icon-container {
          display: flex;
        }
        .view-all-text {
          padding-right: rem-calc(4);
          color: $link-color;
          margin-bottom: rem-calc(10);
          cursor: pointer;
        }
      }
      .card-v3__tile-view {
        max-width: rem-calc(290);
        min-width: rem-calc(290);
      }
    }
  }
  .card-v3-padding-fix {
    padding-left: rem-calc(4);
  }
}

// popover curator list
.popover-curator-list {
  .curator-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: rem-calc(10);
    max-width: rem-calc(250);
    .curator-dp {
      margin-right: rem-calc(10);
      width: rem-calc(40);
      height: rem-calc(40);
      border-radius: 50%;
      overflow: hidden;
      img {
        width: rem-calc(40);
        height: rem-calc(40);
      }
    }
    .curator-name {
      p {
        font-size: rem-calc(14);
        font-weight: 600;
        line-height: 1;
        color: white;
      }
    }
  }
}

// setting and edit popover
.setting-edit-dropdown {
  width: rem-calc(130);
  padding: rem-calc(15) rem-calc(20);
  p,
  a {
    padding: rem-calc(10) 0;
    font-size: rem-calc(12);
    margin-bottom: 0;
    cursor: pointer;
    color: $dusk;
    text-decoration: none;
  }
}

// search iwith suggestion
.search-with-suggestions {
  position: relative;
  border-radius: rem-calc(2);
  background-color: $search-box-bg;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.5;
  display: inline-block;
  padding-right: rem-calc(25);
  input {
    border: none;
    width: 100%;
    height: 100%;
    padding: 0.4375rem 0 0.4375rem 1rem;
    outline: none;
    background: transparent;
  }
  input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: rem-calc(14);
    font-weight: 600;
    color: #acadc1;
  }
  input::-moz-placeholder {
    /* Firefox 19+ */
    font-size: rem-calc(14);
    font-weight: 600;
    color: #acadc1;
  }
  input:-ms-input-placeholder {
    /* IE 10+ */
    font-size: rem-calc(14);
    font-weight: 600;
    color: #acadc1;
  }
  input:-moz-placeholder {
    /* Firefox 18- */
    font-size: rem-calc(14);
    font-weight: 600;
    color: #acadc1;
  }
}

.make-loader-center {
  width: 100%;
  display: flex;
  align-items: center;
}

.channel-description-popover {
  width: rem-calc(800);
  padding: rem-calc(20);
  h5 {
    margin-bottom: rem-calc(10);
  }
}

.html-widget-container {
  width: 100%;
  max-height: rem-calc(122);
  background-color: #ffffff;
  margin-bottom: rem-calc(15);
  padding: rem-calc(10) rem-calc(20);
  div {
    max-height: rem-calc(102);
    overflow: hidden;
    overflow-y: scroll;
    font-size: rem-calc(14);
    color: $dusk;
  }
}
