.card-overlay-layer-v2 {
  .icon-wrapper {
    display: flex;
    margin-top: rem-calc(110);
    .icon-overlay-wrapper-v3 {
      flex: 1;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
    }
  }
}

.channel-cards-modal-V2 {
  .card-v3-container {
    .card-v3__tile-view {
      max-width: 100%;
    }
  }
}
