$text-grey: #6f708b;
$link-color: #5596e3;
.channel-search-container {
  .channel-search-layout {
    display: flex;
    .aggregation-box-column {
      min-width: rem-calc(225);
      width: rem-calc(225);
      .aggregation-box-container {
        width: rem-calc(205);
        .filter-title {
          font-size: rem-calc(12);
          margin-bottom: rem-calc(16);
        }
        .filter-content {
          padding: 0;
        }
        .filter-block {
          border-radius: 0;
          margin-bottom: rem-calc(20);
        }
        .outer-checkbox {
          margin-bottom: rem-calc(8);
          label {
            font-size: rem-calc(14);
            padding: 0 !important;
            text-transform: capitalize;
            color: $text-grey;
          }
        }
        .inner-checkbox {
          margin-bottom: rem-calc(7);
          height: rem-calc(15);
          padding-left: rem-calc(22);
          label {
            font-size: rem-calc(14);
            padding: 0 !important;
            text-transform: capitalize;
            color: $text-grey;
            top: rem-calc(2);
          }
        }
        .view-more-container {
          display: flex;
          justify-content: flex-end;
          small {
            font-size: rem-calc(12);
            color: #4a90e2;
            line-height: 2.14;
            cursor: pointer;
          }
        }
      }
    }
    .searched-card-column {
      width: 80%;
      .card-v3__tile-view {
        width: rem-calc(290);
        max-width: rem-calc(290);
        margin: 0 rem-calc(20) rem-calc(20) 0 !important;
      }
    }
  }
  .search-info-box {
    width: 100%;
    display: flex;
    .aggregation-box-column {
      width: 20%;
      .text {
        font-size: rem-calc(16);
      }
    }
    .searched-card-column {
      padding-left: 0.5rem;
      .text {
        font-size: rem-calc(16);
        margin-bottom: rem-calc(20);
        .query-text {
          font-weight: 600;
        }
      }
      .selected-categories {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: rem-calc(10);
        .badge {
          padding-left: rem-calc(10);
          background-color: $darkgrey;
          display: flex;
          align-items: center;
          height: rem-calc(20);
          margin-right: rem-calc(10);
          overflow: hidden;
          border-radius: rem-calc(2);
          margin-bottom: rem-calc(5);
          p {
            font-size: rem-calc(12);
            color: $text-grey;
            text-transform: capitalize;
          }
          .close-btn {
            cursor: pointer;
            padding: 0 rem-calc(10);
          }
        }
        .clear-all {
          font-size: rem-calc(12);
          color: $link-color;
          cursor: pointer;
          opacity: 0.7;
          margin-bottom: rem-calc(5);
        }
      }
    }
  }
  .make-center {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .note-container {
    max-height: rem-calc(50);
    color: rgb(85, 85, 85);
    background-color: rgb(255, 255, 255);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    border-radius: rem-calc(2);
    width: 50%;
    margin: 0 auto;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    display: flex;
  }
}
