$text-shadow: #454560;
.featured-carousel {
  margin-bottom: rem-calc(30);
  .carousel-label {
    font-size: rem-calc(20);
    letter-spacing: rem-calc(0.3);
    color: $dusk;
    margin-bottom: rem-calc(10);
    padding-left: rem-calc(4);
  }
  .slick-next {
    position: absolute;
    right: rem-calc(-49);
    bottom: rem-calc(215);
  }
  .slick-prev {
    position: absolute;
    left: rem-calc(-48);
    bottom: rem-calc(215);
  }
}

.featured-card-layout {
  width: 100%;
  height: rem-calc(443);
  padding: 0 rem-calc(4);
  .bg-white {
    background-color: white;
  }
  .card-bg-image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    .bg-gradient {
      width: 100%;
      height: 100%;
    }
  }
  .card-padding {
    padding: rem-calc(20);
    width: 100%;
    height: 100%;
    position: relative;
    .card-content {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 100%;
      height: 100%;
      .decription {
        width: 50%;
        margin-bottom: rem-calc(60);
        p {
          font-size: rem-calc(18);
          line-height: 1.44;
          letter-spacing: rem-calc(0.1);
          color: white;
          text-shadow: 0 rem-calc(0.3) rem-calc(3) $text-shadow;
        }
      }
    }
    .content-height {
      max-height: 240px;
      overflow-y: scroll;
      cursor: pointer;
    }
    .footer {
      display: flex;
      justify-content: space-between;
      .left-conatiner {
        .comment-conatiner {
          display: flex;
          align-items: center;
          .comment-avatar-container {
            display: flex;
          }
          .comment-avatar {
            width: rem-calc(30);
            height: rem-calc(30);
            border-radius: 50%;
            position: relative;
            overflow: hidden;
            img {
              width: rem-calc(30);
              height: rem-calc(30);
              border-radius: 50%;
              border: 2px solid white;
            }
          }
          .count-text {
            font-size: rem-calc(13);
            color: #d6d6e1;
            position: relative;
            margin-left: rem-calc(3);
          }
          .dark-text-comment {
            color: #6f708b;
          }
          .tooltip-snippet {
            transform: translateX(0);
          }
        }
      }
      .right-conatiner {
        display: flex;
        align-items: center;
        .count-text {
          font-size: rem-calc(13);
          color: #d6d6e1;
          margin-left: rem-calc(5);
        }
        .dark-text-count {
          color: #6f708b;
        }
        .insight-dropdown {
          transform: rotate(90deg);
        }
      }
    }
    .author-container {
      display: inline-flex;
      align-items: center;
      margin-bottom: rem-calc(20);
      .avatar {
        margin-right: rem-calc(10);
        img {
          width: rem-calc(50);
          height: rem-calc(50);
          border-radius: 50%;
        }
      }
      .fullname {
        p {
          font-size: rem-calc(18);
          color: $text-shadow;
        }
      }
    }
    .text-card-content {
      p {
        font-size: rem-calc(18);
        line-height: 1.86;
        letter-spacing: rem-calc(0.1);
      }
    }
    .poll-card-content {
      .qstn {
        font-size: rem-calc(18);
        margin-bottom: rem-calc(15);
      }
    }
    .file-card-content {
      .file-title {
        font-size: rem-calc(18);
        margin-bottom: rem-calc(15);
      }
    }
    .footer-conatiner {
      position: absolute;
      padding: 0 0 0 rem-calc(20);
      left: 0;
      right: 0;
      bottom: 0;
    }
    .pathway-author-container {
      position: absolute;
      top: 20;
      left: 20;
    }
    // poll card css overirde
    .poll-stats-bar {
      height: rem-calc(30);
      .name {
        display: flex;
        align-items: center;
        height: 100%;
      }
    }
  }
}

.filter-sort-position-fix {
  height: rem-calc(35);
}
