$light-grey: #6f708b;
.filter-sort-layout {
  position: relative;
  .fliter-sort-box {
    position: absolute;
    right: 0.25rem;
    display: flex;
    .filter-box {
      display: flex;
      align-items: center;
      margin-right: rem-calc(15);
      cursor: pointer;
      p {
        font-size: rem-calc(14);
        font-weight: 600;
        letter-spacing: rem-calc(0.5);
        color: $light-grey;
        margin-left: rem-calc(5);
      }
    }
    .sort-box {
      border: rem-calc(1) solid #acadc1;
      border-radius: rem-calc(2);
      width: rem-calc(150);
      height: rem-calc(27);
      display: flex;
      align-items: center;
      justify-content: space-around;
      cursor: pointer;
      p {
        font-size: rem-calc(12);
        letter-spacing: rem-calc(0.4);
        color: $dusk;
      }
      .down-arrow {
        width: 0;
        height: 0;
        border-left: rem-calc(5) solid transparent;
        border-right: rem-calc(5) solid transparent;
        border-top: rem-calc(5) solid $light-grey;
      }
    }
  }
  .channel-filter-container {
    transition: all 300ms ease-in-out;
    overflow: hidden;
    .thin-border {
      border-top: rem-calc(1) solid #d6d6e1;
      border-bottom: rem-calc(1) solid #d6d6e1;
    }
    .filter-header-container,
    .filter-content-conatiner {
      display: flex;
      padding: rem-calc(13px) 0 rem-calc(25) rem-calc(20);
      .filter-column {
        width: rem-calc(200);
        .filter-header {
          font-size: rem-calc(14);
          letter-spacing: rem-calc(0.5);
          color: $light-grey;
        }
        .filter-label {
          font-size: rem-calc(12);
          letter-spacing: rem-calc(0.4);
          color: $dusk;
          margin-bottom: rem-calc(10);
          cursor: pointer;
          font-weight: 600;
        }
        .filter-option {
          display: flex;
          justify-content: space-between;
          padding-right: rem-calc(50);
          align-items: center;
          height: rem-calc(30);
          .close-icon {
            bottom: 2px;
            position: relative;
            cursor: pointer;
          }
        }
      }
    }
    .filter-content-conatiner {
      padding-bottom: 0;
    }
  }
  .show-filter-content {
    height: rem-calc(410);
    position: relative;
    top: 40px;
  }
  .hide-filter-content {
    height: rem-calc(0);
  }
}

.sort-popover-container {
  width: rem-calc(150);
  padding: rem-calc(15) rem-calc(20);
  .popover-text-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: rem-calc(35);
    cursor: pointer;
    p {
      font-size: rem-calc(12);
      letter-spacing: rem-calc(0.4);
      color: $dusk;
    }
    .down-arrow {
      transform: rotate(270deg);
    }
    .up-arrow {
      transform: rotate(90deg);
    }
  }
}
