.standalone-tab-container {
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    .tab-card {
      width: rem-calc(290);
      margin: 0 rem-calc(11) rem-calc(11) 0;
      @media screen and (min-width: 1920px) {
        margin: 0 rem-calc(12) rem-calc(12) 0;
      }
      .card-v3__tile-view {
        width: rem-calc(290);
        max-width: rem-calc(290);
        margin: 0 !important;
      }
    }
  }
  .tab-label-conatiner {
    display: flex;
    margin-bottom: rem-calc(10);
    .back-arrow {
      cursor: pointer;
    }
    .tab-label {
      font-size: rem-calc(20);
      letter-spacing: rem-calc(0.3);
      color: $dusk;
      margin-left: rem-calc(8);
    }
  }
}
