.data-not-available-msg {
  color: #acadc1;
  font-size: rem-calc(12);
}

@mixin marginRight($margin) {
  margin-right: $margin;
}

@mixin backgroundColor($color) {
  background-color: $color;
}

@mixin padding($padding) {
  padding: $padding;
}

@mixin color($color) {
  color: $color;
}

.seperator {
  height: 1px;
  opacity: 0.7;
  border: solid 0.5px #acadc1;
}

.flex {
  display: flex;
  width: 100%;
}
.flex-end {
  display: flex;
  justify-content: flex-end;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}

.pointer {
  cursor: pointer;
}

.flex-center {
  display: flex;
  align-items: center;
}

.relative {
  position: relative;
}

.edcast-pricing {
  font-size: 0.75rem;
  color: #454560;
  svg {
    width: 10px !important;
    height: 17px !important;
    margin-right: 2px;
    padding-top: 1px;
  }
}

.text-card-message {
  position: absolute !important;
  right: 0;
  left: 0;
}

.inline-block {
  display: inline-block !important;
}

.vertical-insight-dropdown {
  vertical-align: top;
  display: inline-block;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.width-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}
.align-tileview-feed {
  margin: 0 -0.5rem 0 -0.5rem;
}
.blankContainer {
  // Class created for the div to focus on popover forcefully
  width: 1px;
}
.anchorAlignment {
  display: block;
}
.hideOutline {
  outline: none !important;
  display: inline-block;
}
.hiddenTextField {
  width: 0px !important;
  height: 0px !important;
}
.hide-teamActivity,
.hidden {
  display: none !important;
}
.show-teamActivity {
  display: block !important;
}
.align-header-icons {
  padding: 0.2rem;
}
.show-outline:focus {
  outline: -webkit-focus-ring-color auto 5px;
}
.hide-outline:focus {
  outline: none !important;
}
.action-btn-color {
  color: #fff !important;
}
.action-btn-color:hover:focus {
  color: #fff;
}
.iconmenu-style-ontab {
  display: block !important;
  margin-bottom: 0.3rem !important;
}
.show-outline-iconmenu:focus {
  background: #f0f0f5 !important;
}

.italic-font {
  font-style: italic;
}

.snackbar-white {
  > div {
    background: white !important;
    border: 1px solid #d6d6e0;
    opacity: 1 !important;
    box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.24);
    border-radius: 2px !important;
    padding: 1.25rem !important;
    min-height: rem-calc(57) !important;
    width: auto !important;
    > div {
      color: #26273b !important;
      font-size: rem-calc(12) !important;
      letter-spacing: 0.4px;
      opacity: 1 !important;
    }
  }
}

.route-loading-spinner {
  margin-left: 50%;
}

.truncate-text-250 {
  width: rem-calc(250);
  height: rem-calc(28);
  overflow: hidden;
}

.skype-call-btn {
  border-radius: rem-calc(2);
  background-color: #00aff0;
  color: #fff;
  padding: rem-calc(9 19);
  margin: rem-calc(4);
  font-size: rem-calc(14);
}

.tag-info {
  font-size: rem-calc(10);
  color: #9c9cab;
  padding: 0.625rem 0 0;
}

.tag-info-guidance {
  font-size: rem-calc(10);
  color: #9c9cab;
  padding: 0.125rem 0 0;
}

// margin bottom 20 px
.mb-20 {
  margin-bottom: rem-calc(20);
}

.position-relative {
  position: relative;
}

.white-text {
  color: white;
}

.font-italic {
  font-style: italic !important;
}
