#premium-provider {
  .banner {
    height: rem-calc(160);
    position: relative;
    .provider-banner-info {
      position: absolute;
      width: 100%;
      height: rem-calc(60);
      background-color: white;
      opacity: 0.8;
      bottom: 0;
      padding: 0.5rem 1rem;
      @media #{$small-only} {
        padding: 0.25rem 0.5rem;
      }
      .logo {
        padding: rem-calc(4);
        margin-left: auto;
        margin-right: auto;
        max-height: rem-calc(50);
        display: inline-block;
        margin-bottom: 0.5rem;
      }
    }
  }
  .provider-search {
    .search-column {
      padding: 0.5rem 1rem;
      .search-container {
        position: relative;
        .search-box {
          padding: rem-calc(6) rem-calc(12);
          outline: none;
          display: inline-block;
          width: 88%;
        }
        .search-text {
          display: inline-block;
          .search {
            position: absolute;
            top: 0;
            bottom: 0;
            padding: rem-calc(5) 1rem;
            border-radius: 0 rem-calc(3) rem-calc(3) 0;
            width: 12%;
            display: flex;
            align-items: center;
            justify-content: center;
            span {
              height: 24px;
            }
          }
        }
      }
    }
  }

  .custom-card-container .four-card-column {
    .card-v2 {
      .paper-card {
        width: 100%;
      }
    }
    @media (max-width: 499px) {
      .card-v2.card-v2__wide {
        width: 100%;
      }
    }
    @media (min-width: 500px) {
      .card-v2.card-v2__wide {
        width: 50%;
      }
    }
    @media (min-width: 710px) {
      .card-v2.card-v2__wide {
        width: 33.3333%;
      }
    }
  }
  .custom-card-container .three-card-column {
    .card-v2:nth-child(3n + 2) {
      padding: 0 0.46875rem;
    }
    .card-v2:nth-child(3n + 1) {
      padding-right: 0.46875rem;
    }
    .card-v2:nth-child(3n) {
      padding-left: 0.46875rem;
    }
  }
}
