#provider {
  .provider-paper {
    width: 100%;

    .provider-logo {
      img {
        height: rem-calc(50);
      }
    }

    .provider-content {
      margin-top: rem-calc(25);
      .content-row {
        .content-number {
          max-width: rem-calc(40);

          div {
            border: rem-calc(2) solid #555555;
            text-align: center;
            border-radius: 50%;
            height: rem-calc(28);
            width: rem-calc(28);
          }
        }

        .content-heading {
          font-weight: bold;
        }

        .content-tags {
          font-style: italic;
          color: #808080;
          margin-top: rem-calc(10);
          text-transform: lowercase;
        }
      }
    }
  }

  .filter-container {
    padding: rem-calc(35 15);
    background: $lilac;
    width: 100%;

    .filter-column {
      padding-left: rem-calc(20);
    }

    .filter-heading {
      padding-left: rem-calc(20);
      margin-bottom: rem-calc(5);
      font-weight: 500;

      .heading {
        border-bottom: rem-calc(1) solid $silver-sand;
        padding-bottom: rem-calc(5);
      }
    }
  }
}
