.comment-list {
  padding-bottom: 1rem;
  .comment-list-container {
    overflow-y: auto;
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
    max-height: 50vh;
    padding-bottom: rem-calc(20);

    .comment-list-item {
      padding-bottom: 1rem;
      .comment-text {
        margin-left: rem-calc(4);
        font-size: rem-calc(12);
        color: #26273b;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: rem-calc(0.1);
      }
      .more-text-comment {
        text-decoration: underline;
        cursor: pointer;
      }
      .comment-list-user {
        color: #26273b;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 0.00625rem;
        font-size: 12px;
        font-weight: 600;
      }
      .comment-actions {
        display: inline-block;
        & > div {
          display: inline;
        }
        .likes {
          & > div {
            display: inline;
          }
        }
        .pipe {
          vertical-align: top;
        }
      }
      .delete-comment {
        float: right;
        display: inline;
        .delete-action {
          font-size: rem-calc(12);
          cursor: pointer;
        }
      }
    }

    &.inside-modal {
      transition: all 0.2s ease-in;
      max-height: 20rem;
      opacity: 0;
      padding-bottom: 0;
    }
  }
}

.comment-input-modal {
  background-color: white;
  position: relative;
  .create {
    width: 100%;
    padding: 0.5rem;
    min-height: 42px;
  }
  textarea {
    overflow: hidden;
    resize: none;
    font-size: 14px;
    display: block;
    border: solid 1px #dbdbdb;
    position: relative;
    z-index: auto;
  }
}

.comment-container-v3 {
  .comment-input {
    display: block;
    //prevent textarea from growing higher than 33px
    height: 0;
    min-height: rem-calc(33);
    padding: rem-calc(2) rem-calc(82) rem-calc(2) rem-calc(10);
  }
  .comment-button {
    bottom: 0;
    span {
      height: 100% !important;
    }

    input {
      height: 100% !important;
    }
  }
}
