.empty-feed-container {
  .influencer,
  .channel-course {
    box-shadow: 1px 1px 5px 1px rgba(119, 119, 119, 0.161);
  }

  .custom-grid {
    width: 20%;
    flex: inherit;
    margin-bottom: 10px;
  }

  @media screen and (min-width: 1440px) {
    .custom-grid {
      width: 25%;
    }
  }
  @media screen and (max-width: 1439px) {
    .custom-grid {
      width: 33.333333%;
    }
  }
  @media screen and (max-width: 1270px) {
    .custom-grid {
      width: 50%;
    }
  }
}

.feed-container_big-cards {
  .empty-feed-container {
    .custom-grid {
      width: 33.3%;
    }
    @media screen and (min-width: 1440px) {
      .custom-grid {
        width: 33.3%;
      }
    }
    @media screen and (max-width: 1439px) {
      .custom-grid {
        width: 33.333333%;
      }
    }
    @media screen and (max-width: 1270px) {
      .custom-grid {
        width: 50%;
      }
    }
  }
}
