#feed {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  .progress {
    // align-self: center;
    // flex: 1 1 auto;
    // align-items: center;
    // display: flex;
    // max-height: 25rem;
    text-align: center;
    display: block;
  }
  .title-block {
    margin-top: 2rem;
  }
  .channel-user {
    .item {
      display: inline-block;
      max-width: 25%;
    }
  }

  .vertical-spacing-large > div {
    border: none !important;

    .insight {
      margin-bottom: 1rem;
    }
  }
  .empty-message {
    margin-top: rem-calc(200);
  }
}
