.inline-video {
  padding-bottom: 16px;
  line-height: 0;
  iframe {
    @media #{$small-only} {
      height: rem-calc(240);
    }

    @media #{$medium-only} {
      height: rem-calc(360);
    }

    @media #{$large-up} {
      height: rem-calc(480);
    }
  }
}
.inline-video-v3 {
  padding-bottom: 16px;
  line-height: 0;
}
.card-v3__list-view {
  .inline-video-v3 iframe {
    height: rem-calc(249) !important;
  }
  .fp_video video {
    height: rem-calc(249);
  }
}
.card-v3__feed-view {
  .inline-video-v3 iframe {
    height: rem-calc(292) !important;
  }
  .fp_video video {
    height: rem-calc(292);
  }
}
