iframe {
  border: 1px solid #ccc;
}

.insight {
  word-break: break-word;
  -ms-word-wrap: break-word;

  .card-title {
    font-weight: 600;

    pre {
      display: table;
      table-layout: fixed;
      width: 100%;

      code {
        overflow: auto;
        display: table-cell;
      }
    }
  }

  .comment-container-v3 {
    position: relative;
  }

  .resource {
    padding-top: 16px;
    img {
      max-width: 100%;
      max-height: 300px;
      margin-bottom: 16px;
    }
  }

  .header-secondary-text {
    font-size: rem-calc(13);
  }

  .card-menu-item {
    font-size: rem-calc(14);
  }

  .action-bar-container {
    .action-bar-info {
      .stat {
        font-size: rem-calc(12);
      }
    }
  }

  @media screen and (min-width: 0\0) {
    /* IE9 and IE10 rule sets go here */
    div {
      img {
        display: inline !important;
      }
    }
  }

  .insight-channel-post {
    color: rgba(85, 85, 85, 0.541176);
    float: right;
    margin-left: 10px;
    border-left: 2px solid #b3b3b3;
    padding-left: 10px;
  }

  .channel-label {
    color: #00a1e1;
  }

  .channel-tooltip {
    position: absolute;
    border-radius: rem-calc(2);
    padding: rem-calc(2) rem-calc(8);
    font-size: rem-calc(10);
    color: white;
    background-color: rgb(97, 97, 97);
    top: rem-calc(-4);
  }

  .card-header-icons {
    position: absolute;
    right: 0;
    top: rem-calc(4);
  }

  .openCardFromSearch {
    margin-bottom: 0;
  }

  .card-views {
    border-left: 2px solid #b3b3b3;
    padding-left: 10px;
    padding-right: 5px;
  }

  .card-type {
    text-transform: uppercase;
    font-size: 14px;
    color: #666;
    font-weight: bold;
  }

  .insight-img-logo img {
    height: 25px;
  }

  .center-play-icon {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }

  .insight-action-bar {
    position: relative;
    z-index: 1;
    margin-left: rem-calc(-16);
    margin-right: rem-calc(-16);
    margin-bottom: rem-calc(16);
    height: 3rem;
    border-top: 1px dotted #eaeaea;
    padding: 12px;
    .like-container {
      display: inline;
    }
    .comments-count {
      vertical-align: -webkit-baseline-middle;
    }
  }

  .read-time-ago {
    font-size: rem-calc(14);
    line-height: rem-calc(19);
    color: #26273b;
  }

  .assignment-info {
    margin-top: 0.5rem;
  }

  .origin-logos {
    max-height: rem-calc(40);
    margin-top: rem-calc(5);
  }
  .provider-source {
    padding-top: 1rem;
    margin-top: rem-calc(5);
    font-size: 0.8rem;
    margin-bottom: 0px;
  }

  .insight-container {
    padding-top: rem-calc(8);

    .comment-list-container {
      padding-top: 11px;
    }
  }

  .react-markdown {
    p {
      margin-bottom: 1rem;
      line-height: 1.6rem;

      &:last-of-type {
        display: inline;
      }
    }

    pre {
      display: table;
      table-layout: fixed;
      width: 100%;

      code {
        overflow: auto;
        display: table-cell;
      }
    }
  }

  .provider-logo-section {
    img {
      width: 100px;
    }
  }

  .duration {
    font-size: 12px;
    padding: 4px;
    border: 1px solid #ababab;
    border-radius: 15px;
    margin-left: 10px;
  }

  .fp {
    img,
    video {
      max-width: 100%;
      max-height: 300px;
    }
  }

  .fp_img,
  .fp_video,
  .fp_preview {
    padding-top: 1rem;
    > span {
      position: relative;
    }
  }
}
.rating-stars {
  font-size: 25px;
  padding: 0 10px;
  .rating-text {
    color: white;
    font-size: 14px;
  }
}

.align-stars {
  justify-content: space-between;
  align-items: center;
}

.topic-block {
  padding: 0 0.3rem 0.3rem 0.3rem;
  height: auto;
}
.without-topics-block {
  height: 0;
  padding: 0 1rem;
}
.without-topics {
  transition: transform 850ms cubic-bezier(0.23, 1, 0.32, 1) 0ms,
    opacity 850ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: left top 0px;
}
.insight-topics {
  opacity: 1;
  transform: scaleY(1);
  transition: transform 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms,
    opacity 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  transform-origin: left top 0px;
}
.topics-list {
  background: #f2f2f2;
  color: #9b9b9b;
  padding: 0.4rem;
  font-size: 13px;
  border-radius: 3px;
  max-height: 50px;
  overflow-y: auto;
}

.time-tag {
  color: #a3a3a3;
  font-size: 0.8125rem;
  display: block;
}
.author-float {
  float: left !important;
  display: block;
}
.view-text-center {
  display: table-cell;
  vertical-align: middle;
}
.insight-other-channels {
  border-left: 0 !important;
  padding: 0 !important;
  margin-left: 4px !important;
  color: rgba(85, 85, 85, 0.541176) !important;
}
.channels-limit {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  align-self: center;
  max-width: rem-calc(350);
}
.full-channels {
  max-width: rem-calc(600);
}
.channels-block {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.fp_preview {
  span.roll {
    margin-top: 3.5rem;
  }
}

.fp_img,
.fp_video {
  video {
    width: 100%;
  }
  span.roll {
    margin-top: 2rem;
  }
}
.fp_video_card {
  z-index: 2;
  position: relative;
}
.default-video-card {
  height: 100%;
  display: flex;
  align-items: center;
}
span.roll {
  position: absolute;
  z-index: 10;
  right: 2rem;
  text-align: center;
  box-shadow: none;
  height: 2.25rem;
  width: 2.25rem;
  > button {
    background-color: #454560;
  }
}

.insight {
  .comment-actions {
    font-size: rem-calc(12);
    font-weight: 300;
  }

  .delete-comment {
    display: inline-block;
    padding: 0 0.5rem;
    border-left: 1px solid;
  }

  .likes {
    padding-right: 0.5rem;
    display: inline-block;
  }

  .comment-time-ago {
    display: inline-block;
  }

  .comments-block {
    background-color: rgba(214, 214, 225, 0.5);
    padding: 2rem;
  }

  .comment-user {
    line-height: rem-calc(18);
    font-size: rem-calc(12);
    color: #000000;
    font-weight: 600;
  }

  .comment-text {
    color: #26273b;
    font-size: rem-calc(12);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: rem-calc(0.1);
    margin-left: 10px;
  }

  .comment-create {
    position: relative;
    width: 100%;
    margin-top: 2px;

    .comment-input {
      content: '@';
      width: 100%;
      height: 33px;
      padding-left: 10px;
      padding-right: 8%;
      border: 1px solid #000000;
      border-radius: 5px;
      outline: none;
    }
    .comment-input::placeholder {
      font-size: rem-calc(14);
      color: #454560;
      font-weight: 300;
      text-align: left;
    }

    .comment-button {
      position: absolute;
      top: 0;
      right: 0;

      span {
        display: inline-block;
        width: 22px;
        height: 33px;
      }

      input {
        width: 60px;
        height: 33px;
        border: 1px solid #000000;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        background-color: #ffffff;
        font-size: rem-calc(12);
      }
    }
  }
}

.break-comment {
  word-break: break-all;
}

.more-text-comment {
  text-decoration: underline;
  cursor: pointer;
}
