@mixin placeholder {
  font-size: rem-calc(14);
  color: #454560;
  font-weight: 300;
  text-align: left;
}

.insightV2 {
  word-break: break-word;
  -ms-word-wrap: break-word;
  position: relative;
  background-color: #fff;
  margin-right: 20px;
  width: 100%;

  .pricing-label-black span {
    background-color: #454560;
    font-size: rem-calc(11);
    color: #ffffff;
    padding: rem-calc(1) rem-calc(6);
    margin-left: rem-calc(10);
    line-height: rem-calc(18);
  }
  .pricing-label-black span span {
    padding: 0;
    margin: 0;
  }

  .breadcrumbBack {
    position: absolute;
    left: -30px;

    .back-link {
      display: inline-block;
    }
  }

  .sidebar-container {
    position: relative;
    height: 755px;
  }

  .sidebar-container-for-ppt {
    height: 587px;
  }

  .main-pdf {
    canvas {
      width: auto !important;
      max-height: 708px;
      display: block;
      margin: 0 auto;
    }
  }

  .line-bottom-sidebar {
    margin-left: 2rem;
  }

  .num-page {
    border-radius: 8px;
    text-align: center;
    background-color: #d6d6e1;
    border: solid 1px #acadc1;
    font-size: 10px;
    width: 16px;
    height: 16px;
    margin: 12px auto 0 auto;
  }

  .current-main-page {
    display: block;
    margin: 0 auto;
    width: 30px;
    text-align: center;
  }

  .sidebar-toggle-button {
    cursor: pointer;
    background: url('https://d3urzlae3olibs.cloudfront.net/preview/preview_icons_retina.png')
      no-repeat -79px -59px;
    background-size: 98px;
    width: 18px;
    height: 18px;
  }

  .mini-pdf {
    display: block;
    margin: 27px auto 0 auto;
  }

  .current-page-pdf {
    display: inline-block;
    position: absolute;
    right: 40px;
    font-size: 12px;
  }

  .navigation-pdf-pages {
    position: relative;
  }

  .arrow-right-icon {
    display: inline-block;
    margin-left: 20px;
  }

  .arrow-left-icon {
    display: inline-block;
    margin-right: 20px;
  }

  @media screen and (max-width: 1100px) {
    .breadcrumbBack {
      top: -30px;
      left: 0;
    }
  }

  .user {
    font-size: 18px;
    color: #26273b;
  }

  .comment-list-user {
    color: #26273b;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.00625rem;
    font-size: 12px;
    font-weight: 600;
  }

  .time-ago {
    font-size: 14px;
    color: #26273b;
    font-weight: 300;
  }

  .inline-box {
    display: inline-block;
  }

  .level {
    display: inline-flex;
    vertical-align: top;
  }

  .level-text {
    font-weight: bold;
  }

  .line-bottom {
    margin-top: 1.25rem;
    height: 2px;
    opacity: 0.3;
    border: solid 0.5px #acadc1;
  }

  @media screen and (max-width: 545px) {
    .line-bottom {
      margin-top: 1.5rem;
    }
  }

  .message {
    margin: 5px 0 27px 0;
    font-size: 14px;
    line-height: 24px;
    color: #6f708b;

    div.marked-text {
      p {
        font-size: 15px;
        line-height: 25px;
      }
    }
  }

  .vertical-spacing-medium {
    .poll-radio:not(:first-child) {
      margin-top: 32px;
      &:last-child {
        margin-bottom: 19px;
      }
    }
  }

  .vote {
    margin-left: 0 !important;
  }

  .card-info {
    display: flex;
    flex-wrap: nowrap;
    line-height: rem-calc(24);
  }

  .card-title {
    font-weight: 600;

    pre {
      display: table;
      table-layout: fixed;
      width: 100%;

      code {
        overflow: auto;
        display: table-cell;
      }
    }
  }

  .resource {
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.29);
    padding: 8px 10px 15px 16px;
    img {
      max-width: 100%;
      max-height: 300px;
      margin-bottom: 16px;
    }

    .description {
      margin-top: 1.25rem;
      font-size: 14px;
      line-height: 24px;
      color: #6f708b;
    }
  }

  .link-to-original {
    color: #4a90e2;
  }

  .header-secondary-text {
    font-size: rem-calc(13);
  }

  @media screen and (min-width: 0\0) {
    /* IE9 and IE10 rule sets go here */
    div {
      img {
        display: inline !important;
      }
    }
  }

  .comment-container-v3 {
    position: relative;
  }

  .insight-channel-post {
    color: rgba(85, 85, 85, 0.541176);
    float: right;
    margin-left: 10px;
    border-left: 2px solid #b3b3b3;
    padding-left: 10px;
  }

  .channel-label {
    color: #4a90e2;
  }

  .card-header-icons {
    float: right;
  }

  .openCardFromSearch {
    margin-bottom: 0;
  }

  .card-views {
    border-left: 2px solid #b3b3b3;
    padding-left: 10px;
    padding-right: 5px;
  }

  .card-type-display-name {
    text-transform: uppercase;
    font-size: 12px;
    color: #6f708b;
    font-weight: 600;
    padding-right: 11px;
  }

  .card-type {
    text-transform: uppercase;
    font-size: 12px;
    color: #6f708b;
    float: right;
    padding-left: 11px;
  }

  .card-type-border {
    border-left: 1px solid #6f708b;
  }

  .insight-img-logo {
    padding-right: 11px;
    img {
      height: 25px;
    }
  }

  .insight-info-bar {
    font-size: 12px;
    margin-top: 1rem;
    position: relative;

    .info-bar-name {
      font-weight: 600;
      color: #26273b;
    }

    .channels {
      float: left;
      font-size: 14px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .tooltip {
      position: absolute;
      bottom: 40px;
      left: 5%;
      font-size: rem-calc(16);
      line-height: rem-calc(18);
      padding: 8px 10px;
      z-index: 3000;
      color: rgb(255, 255, 255);
      overflow: hidden;
      border-radius: 10px;
      user-select: none;
      opacity: 0.9;
      text-align: center;
      max-width: 250px;
      word-wrap: break-word;
      box-sizing: border-box;
      background-color: rgb(97, 97, 97);
    }

    .channel-label {
      text-decoration: none;
    }

    .tags {
      float: left;
      font-size: 14px;
    }

    .tag-name {
      text-decoration: none;
      cursor: default;
      color: #4a90e2;
      &:hover {
        cursor: default;
      }
    }
    .tags-container {
      position: relative;
    }
  }

  .insight-action-bar {
    position: relative;
    z-index: 1;
    font-size: 14px;
    line-height: 19px;
    color: #26273b;
    //height: 23px;
    padding-top: 22px;
    .like-container {
      display: inline;
    }
    .horizontal-spacing-xlarge {
      .views {
        padding-left: 0;
        display: inline-block;
      }
      .read-time-ago {
        border-right: rem-calc(2) solid #b3b3b3;
        padding-right: 1rem;
        display: inline-block;
      }
      .read-time-ago__margin {
        margin-right: 1rem;
      }
    }

    .relevancy {
      margin-left: rem-calc(10);
      line-height: 1.2;
      color: #acadc1;
    }

    .rating-count {
      text-align: right;
    }

    .relevancyRatingStars {
      span {
        margin-right: 0.25rem;
        font-weight: bold;
      }
      span:last-of-type {
        margin-right: 0;
      }
    }
  }
  .insight-action-bar-margin {
    margin-top: 5px;
  }
  .views-rates-bar {
    overflow: hidden;
  }
  .dots-btn_container {
    height: 23px;
  }

  .comment-create {
    position: relative;
    width: 100%;
    margin-top: 2px;

    .comment-input {
      content: '@';
      width: 100%;
      height: 33px;
      padding-left: 10px;
      padding-right: 8%;
      border: rem-calc(1) solid #6f708b;
      border-radius: rem-calc(3);
      outline: none;

      &::-webkit-input-placeholder {
        @include placeholder;
      }
      &:-ms-input-placeholder {
        @include placeholder;
      }
      &::-moz-placeholder {
        @include placeholder;
      }
      &:-moz-placeholder {
        @include placeholder;
      }
    }

    .comment-button {
      position: absolute;
      top: 0;
      right: 0;

      span {
        display: inline-block;
        width: 22px;
        height: 33px;
      }

      input {
        width: rem-calc(60);
        height: rem-calc(33);
        border: rem-calc(1) solid #6f708b;
        border-radius: 0 rem-calc(3) rem-calc(3) 0;
        cursor: pointer;
        background-color: #ffffff;
        font-size: rem-calc(12);
      }
    }
  }

  .comments-block {
    background-color: #e2e2eb;
    padding: 2rem;
  }

  .comment-user {
    line-height: 18px;
    font-size: 12px;
    color: #26273b;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.00625rem;
    font-weight: 600;
  }

  .comment-text {
    color: #26273b;
    font-size: rem-calc(12);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: rem-calc(0.1);
    margin-left: 10px;
  }

  .comment-actions {
    margin-top: rem-calc(5);
    font-size: rem-calc(12);
    font-weight: 300;
  }

  .delete-comment,
  .report-comment {
    display: inline-block;
    padding: 0 0.5rem;
    border-left: 1px solid;
  }

  .likes {
    padding-right: 0.5rem;
    display: inline-block;
    a {
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: rem-calc(0.1);
    }
  }

  .comment-time-ago {
    display: inline-block;
  }

  .origin-logos {
    max-height: rem-calc(40);
    margin-top: rem-calc(5);
  }

  .resource-card {
    margin-bottom: rem-calc(20);
  }

  .insight-container {
    padding: 22px 2rem;
    > .vertical-spacing-medium {
      margin-bottom: 22px;
    }
    .main-actions-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .duration {
    font-size: 12px;
    padding: 4px;
    border: 1px solid #ababab;
    border-radius: 15px;
    margin-left: 10px;
  }

  .fp {
    img,
    video {
      max-width: 100%;
      max-height: 300px;
    }
    width: 100%;
    max-width: rem-calc(922);
    max-height: rem-calc(518);
  }

  .fp_img,
  .fp_video,
  .fp_preview {
    > span {
      position: relative;
    }
  }

  .image-container {
    height: 354px;
    width: 100%;
    position: relative;
    margin: 30px 0;

    .pathway-image {
      padding-top: 0;
      position: relative;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    .card-blurred-background {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  .article-resource {
    overflow: hidden;
    .description {
      margin-top: 5px;
    }
  }

  .image-container__article {
    width: auto;
    max-width: 319px;
    height: 239px;
    display: inline-block;
    float: left;
    margin-top: 0;
    margin-right: 15px;
    margin-bottom: 0;
    .pathway-image {
      padding: 0;
    }
  }

  .answer-decision {
    display: none;
  }
  .insightV2-answer-decision {
    display: inline;
  }
  .poll-stats-bar {
    margin-bottom: 20px;
  }

  .file-icon-devider-container {
    display: inline-block;

    .file-icon {
      width: 25px;
      height: 25px;
    }

    .file-type-devider {
      padding: 0 8px;
    }
  }

  .card-header__container > img {
    flex: none;
  }

  .card-header__container > img + :nth-child(2) {
    margin-right: auto;
  }

  .resource-title-block__article {
    display: flex;
    align-items: center;
    .align-self-middle {
      margin-left: auto;
      flex: none;
    }
  }

  .resource-title__article {
    margin-bottom: 0;
  }

  .resource-message {
    font-size: 14px;
    line-height: 1.71;
    color: #6f708b;
    font-weight: normal;
    padding-bottom: 3px;
  }

  .relevancyRatingStars span[data-index='0'] {
    margin: 0 0 0 0.3rem;
  }
  .relevancyRatingStars span[data-index='4'] {
    margin: 0 0.3rem 0 0 !important;
  }
  .removeBlueOutline {
    outline: none !important;
  }
}
.insightV2-answer-decision {
  display: none;
}

.provider-info-bar {
  padding-top: rem-calc(22);

  .provider-name {
    padding-left: rem-calc(5);
    font-weight: 600;
    font-size: rem-calc(14);
  }

  .provider-image {
    height: rem-calc(26);
    margin-left: rem-calc(9);
  }
}

.relevancy_count {
  vertical-align: middle;
}

.stand-alone {
  .provider-info-bar {
    .provider-image {
      margin-left: 0;
      margin-right: rem-calc(9);
    }
    .left-border {
      border-left: 1px solid rgb(85, 85, 85);
    }
  }
}

.recommended-block {
  background-color: #f0f0f5;
  padding-top: rem-calc(30);

  .journey-part__container {
    padding-bottom: rem-calc(30);
  }
  .journey-section-header_open {
    margin-bottom: rem-calc(30);
  }
  .journey-section-header_close {
    margin-bottom: 0;
  }
  @media (max-width: 800px) {
    .card-v2__simple-size {
      width: 50%;
    }
  }
  @media (max-width: 530px) {
    .card-v2__simple-size {
      width: 100%;
    }
  }
  @media (min-width: 801px) {
    .card-v2__simple-size {
      width: 33.333%;
    }
  }

  @media (max-width: 964px) {
    .card-v2__wide {
      width: 50%;
    }
  }
  @media (max-width: 665px) {
    .card-v2__wide {
      width: 100%;
    }
  }
  @media (min-width: 965px) {
    .card-v2__wide {
      width: 33.333%;
    }
  }
  .journey-section-header__input {
    width: calc(100% - 4.375rem);
  }
}

.container__space-between {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .influencer {
    width: rem-calc(220);
  }
}

.line {
  margin: 1.25rem 2rem 0 2rem;
  height: rem-calc(2);
  opacity: 0.3;
  border: solid rem-calc(0.5) #acadc1;
}

.insights-pricing-info {
  @include backgroundColor(#ffffff);
  @include padding(15px 25px);
  max-height: 425px;
  border-radius: 4px;
  max-width: 250px;
  .useSkillCoins {
    padding: 0px 5px;
  }
  .numberOfCoins {
    padding: 0px 5px;
  }
  .card-features {
    padding: 10px 0px;
    p {
      display: flex;
      @include color(#6f708b);
      font-size: 13px;
      margin: 15px 0px;
      align-content: center;
    }
    svg {
      margin: 0px 10px;
    }
  }
  .numberOfCoins {
    font-weight: 600;
    font-size: 16px;
    @include color(#6f708b);
  }
  .otherOptions {
    padding: 12px 0px;
  }
  button {
    span {
      font-size: 13px !important;
    }
  }
}

.scorm-processing {
  display: inline;
  max-width: 12px;

  .laoding-spinner {
    width: 34px;
  }

  p {
    display: inline-block;
    vertical-align: top;
    margin: 3px 0px 0px 5px;
  }
}

.smartbites-block {
  display: flex;
  flex-wrap: wrap;
  .custom-card-container {
    width: 100%;
  }
  .influencer {
    margin-right: 5px;
    flex-grow: 1;
    width: 0;
    &:last-child {
      margin-right: 0;
    }
  }
}
