.end-of-stream-message {
  width: 100%;
  height: rem-calc(450);
  background-color: $black;
  text-align: center;
  padding: 1rem;
  color: $white;
  padding-top: rem-calc(200);
  line-height: 1.5rem;
}
