.pathway-cover {
  img {
    margin: auto auto;
    max-height: 100%;
  }
  .pathway-img-cont {
    background: #e8e8e8;
    width: 100%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 8px 8px 0 -3px #d8d8d8,
      9px 9px 1px -3px rgba(0, 0, 0, 0.298039), 16px 16px 0 -6px #e8e8e8,
      17px 17px 2px -6px rgba(0, 0, 0, 0.298039);
  }
}
