.poll-stats-bar {
  border: 1px $iron solid;
  padding: 0.25rem 0.5rem;
  position: relative;
  border-radius: 2px;
  .bar {
    position: absolute;
    background-color: $concrete;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    &.bar-v3 {
      background-color: #f0f0f5;
    }
  }

  .name {
    position: absolute;
    width: calc(100% - 5.5rem);
  }
  .name-no-result {
    width: calc(100%);
  }
  .votes-v3 {
    position: absolute;
    right: 2.9rem;
    top: rem-calc(2);
  }
  .percentage-v3 {
    font-size: 0.875rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgb(69, 69, 96);
  }
  .percentage {
    position: absolute;
    right: 0.5rem;
  }
}
.poll-slideout {
  padding-top: 0.5rem;
}
.poll-results-container,
.smartbite-poll-content,
.insight-container {
  .poll-stats-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .name {
      position: relative;
      line-height: 1.5;
    }
    .votes {
      position: relative;
      margin-left: auto;
      line-height: 22px;
      flex: none;
    }
    .percentage {
      position: relative;
      margin-left: 4px;
      right: 0;
      white-space: nowrap;
    }
  }
}
