.resource {
  img {
    max-width: 100%;
    max-height: 200px;
  }
  .media-container {
    border: 1px solid $iron;
  }
  .resource-title {
    line-height: 1.0625rem;
    word-wrap: break-word;
  }
  @media screen and (min-width: 40em) {
    .resource-title {
      line-height: 1.25rem;
      word-wrap: break-word;
    }
  }
}
.stand-alone {
  .resource {
    padding-top: 0;
  }
}
