.video-stream {
  position: relative;
  cursor: pointer;
  padding-top: 16px;
  video {
    width: 100%;
    background-color: $black;
    @media #{$small-only} {
      max-height: rem-calc(240);
    }

    @media #{$medium-only} {
      max-height: rem-calc(360);
    }

    @media #{$large-up} {
      max-height: rem-calc(480);
    }
  }
}
.upcoming-video {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000000;

  .upcoming-video-container {
    width: 100%;
    padding: rem-calc(150 100);
  }

  .upcoming-video-overlay {
    background: rgba(0, 0, 0, 0.68);
    color: #ffffff;
    padding: rem-calc(30 0);
  }

  .calender-icon {
    text-align: right;
    img {
      width: rem-calc(40);
    }
  }

  .upcoming-video-text {
    .strong-text {
      font-weight: bold;
      font-size: rem-calc(16);
    }
  }
}

.waiting-video {
  width: 100%;
}
.video-block {
  .card-img-container {
    width: 450px;
    height: 300px;
    position: relative;
    .card-blurred-background {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      filter: blur(7px);
    }
  }
}
