.account-linking-container {
  .integration-section {
    display: flex;
    flex-wrap: wrap;
    margin: rem-calc(0 -10);

    .integration-container {
      padding: rem-calc(10);
      width: 16.6666%;

      .integration-logo {
        border-radius: 0 !important;
      }
    }
  }
}

.view-more-btn {
  width: 100%;
  text-decoration: none;
  font-size: rem-calc(12);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.33;
  letter-spacing: rem-calc(0.1);
  text-align: center;
  color: $edc-blue;

  span {
    cursor: pointer;
  }
}

#dashboard-course-carousel {
  .linked-courses-container {
    display: flex;
    flex-wrap: wrap;
    margin: rem-calc(0 -10);

    .course {
      width: 16.66%;
      padding: rem-calc(10);
    }
  }
}
