#profile-v4 {
  * {
    font-family: 'Open Sans', sans-serif !important;
  }

  #dashboard {
    margin-top: rem-calc(20);
  }

  .account-linking {
    margin-top: rem-calc(20);
  }

  #dashboard-course-carousel {
    margin-top: rem-calc(20);
  }
  #learning-analytics {
    margin-top: rem-calc(20);
  }

  .profile-dashboard {
    .chip-container {
      display: flex;
      cursor: default;
      margin: rem-calc(4);
      padding: rem-calc(2) rem-calc(5);
      font-size: rem-calc(12);
      position: relative;
      background-color: #ffffff;
      color: #454560;
      border-radius: rem-calc(2);
    }

    .chip-container:first-child {
      margin-left: 0;
    }

    .profile-title {
      font-size: rem-calc(16);
      line-height: 1.5;
      letter-spacing: rem-calc(0.2);
      color: #26273b;
      margin-bottom: rem-calc(10);
    }

    .profile-sub-title {
      font-size: rem-calc(14);
      font-weight: 600;
      line-height: 1.71;
      letter-spacing: rem-calc(0.2);
      color: #454560;
    }
  }

  .profile-container {
    #learners-dashboard-card-carousel {
      .channel-card-wrapper-inner {
        .card-v2 {
          /* removing box shadow to maintain consistancy for EP-10657*/
          /*box-shadow: 1px 1px 5px 1px rgba(119, 119, 119, 0.161);*/
          /*border: 1px solid hsla(0,0%,47%,.161);*/
        }
      }
    }
    max-width: 100%;
    @media #{$large-up} {
      max-width: 75%;
    }
  }

  .profile-container-full {
    max-width: 100%;
    @media #{$large-up} {
      max-width: 100%;
    }
  }

  .profile-box {
    @media #{$small-only} {
      max-width: 100%;
      flex: 0 0 100%;
    }
  }

  .channel-course {
    /*box-shadow: 1px 1px 5px 1px rgba(119, 119, 119, 0.161);*/
    border: rem-calc(1) solid hsla(0, 0%, 47%, 0.161);
  }

  .card-v2 {
    .paper-card {
      width: 100% !important;
    }
  }

  .full-width-row {
    width: 100%;
    margin: 0;
    padding: 0 rem-calc(40);
    max-width: none;
  }

  .profile-tabs {
    padding: rem-calc(10) rem-calc(10) rem-calc(10) rem-calc(240.6);
    flex-wrap: wrap;
    background-color: #d6d6e1;
    justify-content: left;
    a {
      color: #26273b;
      font-weight: 300;
    }
    .profile-tabs-item {
      padding: 0 3%;
      font-size: rem-calc(14);
      text-align: center;
    }
    .active-profile-tabs-item {
      font-weight: 600;
      color: #26273b;
    }

    &.profile-tabs-more-than-6 {
      .profile-tabs-item {
        padding: 0 2.5%;
      }
    }

    &.profile-tabs-more-than-8 {
      .profile-tabs-item {
        padding: 0 1.5%;
      }
    }

    &.profile-tabs-more-than-10 {
      .profile-tabs-item {
        padding: 0 1%;
      }
    }

    &.profile-tabs-8 {
      padding-left: rem-calc(264);
    }

    &.profile-tabs-6 {
      padding-left: rem-calc(251.2);
    }

    &.profile-tabs-10 {
      padding-left: rem-calc(268.8);
    }
  }

  .profile-tabs + div {
    padding-top: 0 !important;
  }

  #profile-wrapper {
    #profile {
      width: 100%;
      display: flex;
    }
  }

  .left-rail {
    width: auto;
    margin-right: 0;
    flex: 0 0 25%;
  }

  .sub-text {
    font-size: rem-calc(14);
    letter-spacing: -rem-calc(0.4);
    text-align: left;
    color: #454560;
  }

  .small-info-text {
    font-size: rem-calc(14);
    font-weight: 300;
    letter-spacing: -rem-calc(0.4);
    text-align: left;
    color: #454560;
  }

  .small-info-text-grey {
    font-weight: normal;
    color: #6f708b;
  }

  .score-points {
    font-size: rem-calc(12);
    line-height: rem-calc(18);
    text-align: left;
    color: #454560;

    td {
      padding-bottom: rem-calc(10);
    }

    .point-text {
      width: 40%;
      text-transform: capitalize;
    }

    .point-progress {
      width: 60%;
      padding-right: rem-calc(25);
    }

    .point-progress-bar {
      height: rem-calc(16) !important;
      border-radius: 0px !important;
      background-color: #ffffff !important;
    }
  }

  .column {
    margin-right: 0;
  }

  .margin-bottom-10 {
    margin-bottom: rem-calc(10);
  }

  .margin-bottom-20 {
    margin-bottom: rem-calc(20);
  }

  hr {
    border-color: #f0f0f5;
  }

  .width-100 {
    width: 100%;
  }

  .profile-box {
    position: relative;
    margin-bottom: rem-calc(10);
    .badges-block {
      min-height: rem-calc(222);

      .channel-course {
        .info button {
          min-width: rem-calc(5) !important;
          width: calc(100% - rem-calc(10)) !important;
          span {
            text-overflow: ellipsis !important;
          }
        }
      }
      .tooltip-parent {
        position: relative;

        .tooltip-snippet {
          position: absolute;
          color: rgb(255, 255, 255);
          margin-top: rem-calc(-13);
          left: rem-calc(20);
          background-color: rgba(85, 85, 85, 0.95);
          font-size: rem-calc(12);
          padding: rem-calc(8);
          z-index: 6;
          border-radius: rem-calc(3);

          bottom: 100%;
          left: 0;
          right: 0;
          width: fit-content;
          margin: 0 auto;
        }
      }
    }
  }

  .interests-section {
    .sub-text {
      display: inline-block;
      width: 25%;
      overflow: hidden;
      padding-right: rem-calc(28.8);
    }
    .sub-text_long {
      text-transform: capitalize;
      color: #454560;
      max-width: 100%;
      padding: 0rem 0.9375rem 0.9375rem 0rem;
    }
    .sub-text_middle {
      width: 33%;
      padding-right: rem-calc(10);
    }
  }

  .expertise-section {
    margin-top: rem-calc(10);
  }

  #pathwayBadgesProfile .badges-block {
    display: block;
  }

  #user-main-info {
    padding-top: 0;
  }

  .badge-block-item {
    text-align: center;
    margin: 0px 0px rem-calc(15) 0px;

    img {
      width: rem-calc(90);
      height: rem-calc(90);
    }
  }

  .channel-component {
    border: solid rem-calc(1) #d6d6e1;
  }

  .underline {
    text-decoration: underline;
  }

  .channels-card-v3-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .wrap-channel-v3 {
    margin-top: rem-calc(10);
  }
  .channel-card-v3 {
    width: rem-calc(183.5);
    border-radius: 0 0 rem-calc(4) rem-calc(4);
    margin-left: auto;
    margin-right: auto;
  }

  .profile-header-v4 {
    .pointer {
      white-space: nowrap;
      padding-right: 0;
    }
    .vertical-line {
      padding-left: rem-calc(20);
    }
  }

  .profile-header-user-info {
    .profile-header-user-block {
      align-items: flex-start;
      flex-wrap: wrap;
      padding: 0 rem-calc(16) rem-calc(5);
      .user-avatar {
        width: 25vw;
        max-width: rem-calc(175);
        min-width: rem-calc(120);
        flex: none;
        height: 12.5vw;
        max-height: rem-calc(75);
        .user-avatar-image {
          max-width: rem-calc(175);
          max-height: rem-calc(175);
          border-radius: 50%;
          overflow: hidden;
          border: solid rem-calc(4) #ffffff;
          top: -rem-calc(16);
          position: relative;
          width: 100%;
          height: 25vw;
          min-width: rem-calc(120);
          min-height: rem-calc(125);
          transform: translateY(-50%);
        }
        &.user-avatar__v2 {
          max-width: rem-calc(215);
          padding-left: rem-calc(9);
        }
      }
    }
    .right-info-block {
      align-self: start;
      flex-wrap: wrap;
      min-width: rem-calc(236);
      flex: 1;
      display: inline-flex;
      align-items: flex-start;
      justify-content: flex-end;
      &.right-info-block__updated {
        align-self: flex-start;
        font-size: rem-calc(14);
        line-height: 1.71;
        text-align: right;
      }
      .user-follow-data {
        font-size: rem-calc(14);
        line-height: 1.71;
      }
    }
  }

  @media (min-width: rem-calc(1431)) {
    .channels-card-v3-container {
      justify-content: space-around;
    }
    .wrap-channel-v3 {
      margin-top: 0;
      width: auto;
    }
  }
  @media (max-width: rem-calc(1430)) {
    .wrap-channel-v3 {
      width: 25%;
    }
  }
  @media (max-width: rem-calc(1190)) {
    .wrap-channel-v3 {
      width: 33.3333%;
    }
  }
  @media (max-width: rem-calc(930)) {
    .wrap-channel-v3 {
      width: 50%;
    }
  }
  @media (max-width: rem-calc(660)) {
    .wrap-channel-v3 {
      width: 100%;
    }
  }

  // CSS for skills passport
  .passport-heading {
    font-size: rem-calc(18);
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: left;
    color: #454560;
    margin-top: rem-calc(10);

    sup {
      font-size: rem-calc(8);
      top: -rem-calc(10);
    }
  }

  .user-summary {
    max-width: 99%;
  }

  .show-more {
    color: #4a90e2;
    margin: rem-calc(15) 0px 0px 0px;
    font-size: rem-calc(14);
    text-align: center;

    span {
      cursor: pointer;
      font-weight: 600;
    }

    .arrow-icon {
      border: solid #4a90e2;
      padding: rem-calc(3);
      transform: rotate(225deg);
    }
  }

  .integration-section {
    margin-bottom: rem-calc(10);
  }

  .integration-logo {
    text-align: center;
    width: 97%;
    height: 11.25rem;
    margin: 0 auto;
    border: solid rem-calc(1) #d6d6e1;

    .helper {
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }

    img {
      display: inline;
      vertical-align: middle;
      max-height: 2.5rem;
      max-width: 10rem;
      cursor: pointer;
      padding: 0.25rem;
    }
    &.integration-logo__new-skill-passport {
      .integration-logo__image-container {
        margin: 4.375rem auto 0;
        height: 2.5rem;
        width: 10rem;
        max-width: 100%;
        vertical-align: middle;
        line-height: 2.5rem;
        .integration-logo__image {
          max-height: 2.5rem;
          max-width: 100%;
          cursor: default;
        }
        .integration-logo__image-fade {
          opacity: 0.25;
        }
      }
      .integration-logo__action {
        margin: 0.625rem auto 0;
        font-size: 0.75rem;
        color: #4a90e2;
        font-weight: 600;
        font-family: 'Open Sans' !important;
        cursor: pointer;
        &.integration-logo__connected {
          color: #acadc1;
        }
      }
    }
  }

  .strong {
    font-weight: 600;
  }

  .skill-cred {
    line-height: rem-calc(30);
    vertical-align: middle;

    img {
      height: rem-calc(50);
      vertical-align: top;
      margin-top: -rem-calc(10);
    }

    .cred-img-margin {
      margin: -0.625rem 0;
    }

    .credName {
      margin-right: 1.125rem;
      color: #454560;
    }
  }

  .skills-section {
    display: flex;
    flex-wrap: wrap;
    .container-padding {
      height: rem-calc(280);
      overflow: hidden;
    }

    .profile-box:nth-child(2n) > div {
      margin-left: 0.25rem;
    }

    .profile-box:nth-child(2n-1) > div {
      margin-right: 0.25rem;
    }

    .add-more-skill {
      background: transparent !important;
      border: rem-calc(2) dashed #bbbbbb;
      text-align: center;
      padding-top: rem-calc(90);
      font-size: rem-calc(30);
      cursor: pointer;
    }
    .add-more-skill__flat {
      margin-right: 0 !important;
      margin-left: 0 !important;
      height: 3.125rem;
      line-height: 3.125rem;
      border-radius: 0.25rem;
      background-color: rgba(214, 214, 225, 0.45) !important;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      .add-more-skill__label {
        width: auto;
        color: #6f708b;
        .add-more-skill__plus {
          font-size: 1.5rem;
          vertical-align: middle;
        }
        .add-more-skill__text {
          vertical-align: middle;
        }
      }
    }
  }

  .skills-section {
    .skill-block_new {
      height: 13rem;
      .icon-block {
        color: #6f708b;
        font-size: 1rem;
      }
      .header-text {
        font-weight: normal;
      }

      .first {
        margin: 0;
      }
      .skill-information {
        padding-left: 1.25rem;
      }
      .skill-information__smaller-font {
        font-size: 0.875rem;
      }
      .level-dots {
        text-align: left;
      }
      .level-tip {
        font-size: 0.8125rem;
      }
      .level {
        text-transform: uppercase;
      }
    }
  }

  .empty-content-cards {
    min-height: rem-calc(150);
    padding-top: rem-calc(70);
  }

  .channel-card-wrapper-inner {
    margin: 0px !important;
  }

  .view-more-badges {
    color: #4a90e2;
    cursor: pointer;
    text-align: right;
    padding: rem-calc(2) 0;
  }
}

.vertical-align-center {
  align-items: center;
}

.text-lighter {
  font-weight: 300;
}
