.profile-header-v4 {
  background: #454560;

  * {
    font-family: 'Open Sans', sans-serif !important;
  }
  position: relative;
  min-height: rem-calc(380);
  .pointer {
    cursor: pointer;
  }
  .profile-header-banner {
    height: rem-calc(380);
    background-size: cover;
    background-position: center center;
    padding: 0;
    top: 0;
    position: absolute;
    width: 100%;
  }
  .profile-header-user-info {
    padding: rem-calc(245) rem-calc(40) 0;
    .profile-header-user-block {
      display: flex;
      min-height: rem-calc(106);
      border-radius: 0 0 rem-calc(4) rem-calc(4);
      position: relative;
      justify-content: space-between;
      align-items: center;
      .user-avatar {
        width: rem-calc(175);
        .user-avatar-image {
          width: rem-calc(175);
          height: rem-calc(175);
          border-radius: rem-calc(10);
          border: solid rem-calc(4) #ffffff;
          top: -rem-calc(87);
          position: absolute;
          img {
            width: 100%;
            height: 100%;
            border-radius: rem-calc(5);
          }
        }
      }
      .user-main-info {
        flex: 1;
        text-align: left;
        color: #ffffff;
        padding-left: rem-calc(10);
        .user-name {
          font-size: rem-calc(18);
          font-weight: 600;
          line-height: 1.44;
          &.user-name__thin {
            font-weight: 300;
          }
        }

        .user-roles {
          margin-left: -rem-calc(8);
          margin-top: -rem-calc(8);
        }

        .user-bio {
          max-width: rem-calc(600);
        }
        .user-bio,
        .user-email {
          font-size: rem-calc(14);
          font-weight: 300;
          line-height: 1.86;
        }
        .user-info-summary {
          display: flex;
          height: auto;
          max-height: rem-calc(230);
          line-height: rem-calc(1.5);
          .vertical-line {
            margin-right: 1rem;
            margin-top: 0.3125rem;
            padding-right: 1rem;
            padding-left: 0 !important;
            height: rem-calc(60);
            border-right: 0.125rem solid #d6d6e1;
          }
          .user-info__org-logo-container {
            width: 4.75rem;
            height: 3.75rem;
            text-align: center;
            .user-info__org-logo {
              max-width: 3.75rem;
              max-height: 3.75rem;
            }
          }
          .user-info__information {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            .user-info__column {
              flex-wrap: wrap;
              display: flex;
              flex-direction: column;
              max-height: rem-calc(130);
              padding-right: 2rem;
            }
            .user-info__row {
              max-width: 25.2rem;
              line-height: rem-calc(25);
              font-size: rem-calc(14);
              white-space: nowrap;
              color: #ffffff;
              overflow: hidden;
              text-overflow: ellipsis;
              .user-info__label {
                font-weight: 600;
              }
              .user-info__content {
                white-space: nowrap;
                font-weight: 300;
              }
            }
            .view-more-button {
              text-align: left;
              padding: rem-calc(12.8) 0;
              width: rem-calc(100);
              color: #d6d6e1;
              font-size: rem-calc(14);
            }
          }
          .user-info__contacts-container {
            display: inline-block;
            margin: 0.25rem 0.5rem;
            width: 1.25rem;
            height: 1.25rem;
          }
        }
      }

      .right-info-block {
        margin-top: -0.5rem;
        color: #ffffff;
        .user-follow-data {
          font-weight: 600;
          color: #ffffff;
          .user-follow-data-item {
            font-size: rem-calc(20);
          }
          span,
          a {
            color: #ffffff;
          }
          span {
            font-weight: 300;
          }
        }
        .joined-date {
          font-size: rem-calc(14);
          font-weight: 300;
          text-align: right;
          span {
            font-weight: 600;
          }
        }
        .user-follow-data {
          font-size: rem-calc(14);
          line-height: 1.57;
          letter-spacing: -rem-calc(0.3);
          text-align: right;
          margin-right: 0;
          .follow-color {
            color: #555555;
          }
          .following-block {
            padding-right: rem-calc(20);
          }
          .user-follow-data-item {
            padding: 0 rem-calc(10) 0 rem-calc(20);
            font-size: rem-calc(18);
          }
          .vertical-line {
            border-right: rem-calc(1) solid #959597;
            opacity: 0.5;
          }
          .dot-seperator {
            padding: 0 rem-calc(8);
            line-height: rem-calc(8);
            font-weight: 800;
            color: #acadc1;
            display: inline-block;
          }
        }
        .edit-user-data {
          padding-bottom: 2.125rem;
          font-size: 0.875rem;
          letter-spacing: -0.01875rem;
          text-align: right;
          color: #4990e2;
          .edit-action {
            margin-left: 0.5rem;
          }
          &.edit-user-data__updated {
            padding-bottom: 1.25rem;
            font-weight: 600;
          }
        }
        .tooltip-snippet {
          margin: auto;
        }
      }
    }
  }
  .edit-tab {
    z-index: 1;
    position: absolute;
    right: rem-calc(30);
    top: rem-calc(20);

    .edit-container {
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      font-size: rem-calc(13);
      opacity: 0.8;
      background-color: #454560;
      padding: rem-calc(3);
      border-radius: rem-calc(2);

      .edit-tab-button {
        padding: rem-calc(3) rem-calc(12);
        display: inline-block;
        color: #ffffff;
        cursor: pointer;
      }
    }
  }

  .scoreboard-tab {
    z-index: 2;
    position: absolute;
    right: rem-calc(30);
    top: rem-calc(107);
    background: #26273b;
    border-radius: rem-calc(2);

    .user-score {
      .header-text1,
      .sub-text1 {
        color: #ffffff;
      }
    }
  }
}
