.skill-passport {
  margin: rem-calc(20 0 0 0);

  .skill-passport-title {
    margin: rem-calc(0 0 10 0);
    font-size: rem-calc(16);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: normal;
    color: #26273b;
    display: flex;
    flex-wrap: wrap;

    .skill-passport-title-holder {
      width: 50%;

      sup {
        font-size: rem-calc(8);
        top: rem-calc(-8);
        margin: rem-calc(0 0 0 3);
      }
    }

    .download-transcript-container {
      width: 50%;
      text-align: right;
    }
  }

  .view-more-btn {
    width: 100%;
    text-decoration: none;
    font-size: rem-calc(12);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.33;
    letter-spacing: rem-calc(0.1);
    text-align: center;
    color: #4a90e2;

    span {
      cursor: pointer;
    }
  }
}
.skill-passport-container {
  display: flex;
  flex-wrap: wrap;
  margin: rem-calc(0 -10);

  .skill {
    width: 33.33%;
    padding: rem-calc(10);

    .skill-block {
      padding: rem-calc(10);
      border-radius: 0 !important;
      border: rem-calc(1) solid #d6d6e1;
    }
  }

  .skill-block {
    position: relative;
    height: rem-calc(200);

    .skill-name {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: rem-calc(300);
      font-size: rem-calc(14);
      margin: rem-calc(0 0 10 0);
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: rem-calc(0.1);
      color: #454560;
    }

    .skill-description {
      font-size: rem-calc(12);
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: rem-calc(0.1);
      color: #454560;
    }

    .skill-other-details {
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.1px;
      color: #454560;
      position: absolute;
      bottom: 10px;
      z-index: 1;

      strong {
        font-weight: 600;
      }

      .cred-img-margin {
        max-height: rem-calc(50);
        max-width: rem-calc(50);
      }
    }

    .skill-passport-img {
      svg {
        height: rem-calc(80) !important;
        width: rem-calc(62) !important;
      }
      position: absolute;
      z-index: 0;
      right: rem-calc(20);
      bottom: rem-calc(10);
    }
  }
}
