#profile {
  flex-wrap: nowrap;
  display: flex;
  .left-rail {
    display: none;
    flex: 0 0 300px;
    @media #{$large-up} {
      display: block;
    }
  }

  .profile-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      flex: 1 1;
    }
    & > * {
      width: 100%;
    }
  }
}
