.consumption-container-padding {
  padding: 0.5rem 2rem;
  .pathway-consumption-main-container {
    position: relative;
  }
  .pathway-consumption-arrow {
    width: 5rem;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 11.5rem;
  }
  .left-consumption-arrow {
    left: -5rem;
  }
  .right-consumption-arrow {
    right: -3.75rem;
  }
  .pathway-consumption-title {
    padding: 0.38rem 0 0.9rem;
    font-size: rem-calc(16);
    color: #454560;
    font-weight: 600;
    .pathway-consumption-title-heading {
      width: 54rem;
      float: left;
    }
    .pathway-consumption-count {
      width: 6.4rem;
      float: right;
      text-align: right;
    }
  }
  .pathway-consumption-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .journey-consumption-title {
    padding: 0.4rem 0 0.3rem;
    color: #454560;
    font-weight: 600;
    font-size: rem-calc(16);
    .journey-consumption-title-heading {
      max-width: 45rem;
      float: left;
    }
    .journey-consumption-count {
      width: 12.4rem;
      float: left;
      padding-left: rem-calc(10);
    }
  }
  .journey-pathway-consumption-title {
    padding: 0 0 0.7rem;
    font-size: rem-calc(14);
    .pathway-consumption-title-heading {
      width: 54rem;
      float: left;
      font-weight: normal;
      color: #454560;
    }
    .pathway-consumption-count {
      width: 6.4rem;
      float: right;
      text-align: right;
      font-weight: 600;
      color: #6f708b;
    }
  }
}
