#login {
  background-size: cover;
  height: 100vh;
  display: table;
  width: 100%;
  .cobrand-logo {
    max-height: rem-calc(64);
    max-width: rem-calc(256);
  }
  .top-login-row {
    min-height: 100vh;
    .email-text-label {
      height: rem-calc(78);
    }
    .login-table {
      display: table-row;
    }
    .login-container {
      padding: rem-calc(50) rem-calc(40);
      min-width: rem-calc(350);
      .line-center {
        padding: 0 10px;
        background: #fff;
        display: inline-block;
      }
      .text-line {
        position: relative;
        z-index: 2;
      }
      .text-line:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        border-top: solid 1px #d4d4d4;
        z-index: -1;
      }
      .login-text {
        margin: 2.3rem 0 rem-calc(24) 0;
      }
      .login-button {
        margin: 1.5rem 0;
        width: 100%;
      }
      .copyright {
        margin-top: rem-calc(40);
      }
    }
  }
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
  }

  input[type='text']::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }

  input[type='password']::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }
}

.signup-container {
  //padding-top: rem-calc(115);

  .border-div {
    border-top: 0.5px solid #acadc1;
    margin-bottom: rem-calc(50);
    margin-top: rem-calc(50);
  }

  .transparent-signup {
    background-color: rgba(255, 255, 255, 0.95) !important;
    box-shadow: 0 9px 28px 0 rgba(0, 0, 0, 0.5);
    width: rem-calc(540);
  }

  .cobrand-logo {
    max-height: rem-calc(98) !important;
    max-width: rem-calc(432) !important;
  }

  .sso-options {
    .sso-option {
      max-width: rem-calc(272);
      margin: 15px auto;

      button {
        background-repeat: no-repeat;
        background-size: 30px;
        background-position: 0px 0px;
      }
    }
  }

  .privacy-text {
    height: 34px;
    font-family: OpenSans;
    font-size: 12px;
    letter-spacing: 0.3px;
    color: #ffffff;
    width: rem-calc(540);
    padding: 0 6px;
    margin-top: 5px;
  }

  .signup-form {
    margin-top: 25px;

    .input-block {
      text-align: center;
      margin-top: 25px;
      input {
        width: 272px;
        height: 32px;
        border-radius: 4px;
        background-color: #ffffff;
        box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.03);
        border: solid 1px #e6e6f2;
        padding: 5px 10px;
        outline: none;
      }

      .start-btn {
        width: 152px;
        height: 32px;
        border-radius: 4px;
        background-color: #9476c9;
        color: #ffffff;
      }

      .cancel-btn {
        width: 97.9px;
        height: 32px;
        border-radius: 4px;
        background-color: #d6d6e1;
        color: #ffffff;
        margin-right: 20px;
      }
    }
  }

  .signup-footer {
    position: fixed;
    width: 100%;
    bottom: 0;

    .left-part {
      width: 50%;
      float: left;
      .terms-list {
        list-style: none;
        padding-bottom: 10px;

        li {
          display: inline;
          margin-right: 15px;

          a {
            color: #ffffff;
            font-size: 12px;
          }
        }
      }
    }

    .right-part {
      width: 50%;
      float: right;
      text-align: right;
      padding-right: 5px;

      .ed-logo {
        width: 96px;
        vertical-align: baseline;
      }

      .powered-by {
        color: #ffffff;
        font-size: 12px;
      }
      .terms-list {
        list-style: none;
        padding-bottom: 10px;

        li {
          display: inline;
          margin-right: 15px;

          a {
            color: #ffffff;
            font-size: 12px;
          }
        }
      }
    }
  }
}
