#login {
  background-size: cover;
  height: 100vh;
  display: table;
  width: 100%;
  background-color: #454560;

  .custom-row {
    max-width: 100%;

    .logo-container {
      position: relative;
      height: 6.875rem;

      .logo {
        position: absolute;
        top: 1.625rem;
        left: 2.5625rem;

        svg {
          vertical-align: middle;
        }

        img {
          vertical-align: middle;
          max-width: 215px;
          margin-left: 10px !important;
          max-height: 50px;
        }
      }
    }

    .header-list-container {
      padding-top: 45px;

      .main-header-container {
        padding-left: 4.01875rem;
      }
    }

    .video-container {
      iframe {
        border: 0px;
      }
      div {
        width: auto !important;
      }
    }

    .header-content {
      width: 750px;
      font-size: 36px;
      font-weight: bold;
      letter-spacing: 2.2px;
      text-align: left;
      margin: 0px 0px 60px 0px;
    }

    .login-container {
      .signup-message {
        margin: 25px 0px 16px 0px;
        max-width: 280px;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 0.5px;
        text-align: left;
        color: #454560;
      }

      .form-container {
        min-height: 90vh;
        position: relative;
        margin: 37px 90px 0px 0px;
        padding: 42px 60px;
        background: linear-gradient(#61607b, #53526d);
        box-shadow: 3px -3px 4px 0 rgba(39, 39, 59, 0.4), -2px 0 5px 0 rgba(39, 39, 59, 0.4);

        .text-fields-container {
          .text-field {
            padding: 11px 14px;
            width: 100%;
            border-radius: 5px;
            font-size: 14px;
            color: #f0f0f5;
            border: solid 0.4px rgba(172, 173, 193, 0.3);
            background-color: rgba(69, 69, 96, 0.35);
            box-shadow: inset 1px 2px 2px 0 rgba(38, 39, 59, 0.5);
          }

          .text-field::-webkit-input-placeholder {
            color: #acadc1;
          }

          .text-field::-moz-placeholder {
            color: #acadc1;
          }

          .text-field::-moz-placeholder {
            color: #acadc1;
          }

          .text-field:-ms-input-placeholder {
            color: #acadc1;
          }

          .text-field:-moz-placeholder {
            color: #acadc1;
          }

          .check-box {
            max-width: 12px;
            height: 12px;
            border-radius: 3px;
            background-color: #ffffff;
            box-shadow: inset 0 0 3px 0 rgba(172, 173, 193, 0.5);
            border: solid 1px #dddddd;
          }

          .forget-your-password {
            font-size: 10px;
            letter-spacing: 0.5px;
            text-align: right;

            a {
              color: #56e7ce;
            }
          }

          .keep-me-signed-in {
            margin-left: 7px;
            font-size: 12px;
            letter-spacing: 0.5px;
            text-align: left;
            color: #454560;
          }
        }

        .login-page-button {
          outline: 0px;
          width: 100%;
          padding: 15px;
          border-radius: 5px;
          font-size: 12px;
          font-weight: bold;
          color: #ffffff;
          text-transform: uppercase;
          border: 0px;
        }

        .login-page-button:disabled {
          opacity: 0.5;
        }

        .signup-message {
          max-width: 280px;
          font-size: 12px;
          line-height: 1.5;
          letter-spacing: 0.5px;
          text-align: left;
          color: #d6d6e1;
        }

        .signup-page-message {
          margin: 22px 0px 10px 0px;
          font-size: 10px;
          line-height: 1.8;
          color: #d6d6e1;
        }

        .text-social-share {
          font-size: 11px;
          font-weight: bold;
          text-transform: uppercase;
          display: inline-block;
          margin: 4px 13px;
          vertical-align: top;
        }
      }
    }

    .main-list-container {
      padding-left: 4.01875rem;

      .list-content {
        margin: 0px 0px 25px 0px;
      }
      .list-content-description {
        vertical-align: top;
        max-width: 745px;
        font-size: 16px;
        text-align: left;
        letter-spacing: normal;
        display: inline-block;
      }
    }
  }

  .margin-bottom-15 {
    margin-bottom: 15px;
  }

  .copy-right {
    padding: 30px 90px 30px 0px;
    font-size: 12px;
    text-align: right;
    color: #acacc1;
  }

  .disable-click {
    pointer-events: none;
  }
}

.button-loader span {
  font-size: 27px;
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  line-height: 0;
}

.button-loader span:nth-child(2) {
  animation-delay: 0.2s;
}

.button-loader span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@media (min-width: 500px) {
  .login-page-video-player {
    height: 540px !important;
  }
}

@media (max-width: 499px) {
  .header-list-container {
    display: none;
  }

  .login-small-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .form-container {
    margin: 0 !important;
  }

  .login-container {
    margin-top: -6px;
  }

  .video-container {
    height: 10% !important;

    div {
      width: auto !important;
    }
  }

  .small-header {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }

  .login-page-video-player {
    height: 10% !important;

    video {
      height: auto !important;
    }
  }

  .copy-right {
    padding: 30px 100px !important;
    text-align: center !important;
  }
}
