@media (max-width: 870px) {
  .group-v2 {
    width: 100%;
  }
}
@media (min-width: 871px) {
  .group-v2 {
    width: 50%;
  }
}
@media (min-width: 1050px) {
  .group-v2 {
    width: 33.3%;
  }
}

@media (min-width: 1250px) {
  .group-v2 {
    width: 25%;
  }
}

@media (min-width: 1555px) {
  .group-v2 {
    width: 20%;
  }
}

.group-v2 {
  padding: 0.5rem;
  cursor: pointer;
  flex: none;
  height: 24.75rem;
  .card-img-container {
    height: 10.4375rem;
  }
}
