#groups {
  .banner {
    background: no-repeat center center;
    background-size: cover;
  }
}

#groupsContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.group-name {
  line-height: rem-calc(22);
}
