.my-team_v2 {
  padding: rem-calc(20) rem-calc(40) 0 rem-calc(40) !important;
}

.my-team__search-bar {
  text-align: right;
  padding-bottom: rem-calc(16);
  display: inline-flex;
}

.my-team__container {
  display: flex;
  .custom-card-container {
    width: calc(100% - 8.125rem);
  }
}

.my-team__filter-block {
  width: rem-calc(130);
  padding: 0 rem-calc(9) 0 0;
  flex: none;
  &.my-team__filter-block_new {
    width: rem-calc(316);
    padding-right: rem-calc(16);
  }
}

.my-team__search-input-block {
  position: relative;
  padding-right: rem-calc(25);
  border-radius: rem-calc(4);
  background-color: rgba(255, 255, 255, 0.7);
  width: rem-calc(236);
  font-size: rem-calc(14);
  line-height: 1.5;
  display: inline-block;
  input {
    border: none;
    width: 100%;
    height: 100%;
    padding: rem-calc(7) 0 rem-calc(7) rem-calc(16);
    outline: none;
    background: transparent;
    &::placeholder {
      color: #acadc1;
    }
  }
}

.my-team__filter-item {
  cursor: pointer;
  font-size: rem-calc(14);
  color: #959597;
  padding-bottom: 15px;
  letter-spacing: -0.5px;
  text-transform: uppercase;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
  &_active {
    font-weight: bold;
    color: #5c5c5c;
  }
}

.my-team__information-block {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

// group left filter content css
.my-team__filter-block {
  .filter-block {
    .checkbox-label-alignment {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      padding: 10px 0;
      width: 100%;
      label {
        padding: 0 !important;
      }
    }
    .checkbox-label-alignment > div:first-child {
      display: block !important;
    }
  }
}
