.lbv2 {
  padding: 0 rem-calc(38) rem-calc(32) rem-calc(38);
  .lbv2__title {
    font-size: rem-calc(16);
    padding-bottom: rem-calc(19);
    font-weight: 600;
    color: #26273b;
  }

  .lbv2__filter-row {
    display: flex;
    align-items: center;
    padding-bottom: rem-calc(17);
  }

  .lbv2__select-input-container {
    position: relative;
    margin-right: rem-calc(16);
    width: auto;
    max-width: 25%;
    flex: 1 1 rem-calc(138);
    &.lbv2__select-input_datarange {
      margin-right: 0;
    }
  }

  .lbv2__select-input {
    width: 100%;
    height: rem-calc(28);
    background-color: #d6d6e1;
    box-shadow: rem-calc(1) rem-calc(1.5) rem-calc(2) 0 rgba(0, 0, 0, 0.24);
    font-size: rem-calc(12);
    line-height: 1.5;
    text-align: left;
    color: #454560;
    padding: rem-calc(5) rem-calc(24) rem-calc(5) rem-calc(12);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    &:after {
      content: '';
      display: block;
      position: absolute;
      right: rem-calc(7);
      border-width: rem-calc(9);
      border-style: solid;
      border-color: transparent;
      border-top-color: #6f708b;
      top: rem-calc(10);
    }
  }
  .lbv2__select-dropdown {
    box-shadow: 0 rem-calc(2) rem-calc(4) 0 rgba(0, 0, 0, 0.5);
    position: absolute;
    top: rem-calc(30);
    left: 0;
    width: 100%;
    z-index: 10;
    min-width: rem-calc(250);
    background: white;
    max-height: rem-calc(92);
    overflow-y: auto;
    &.auto-complete-as-input > div > div {
      height: rem-calc(34) !important;
    }
    &.auto-complete-as-input > div > div > div:first-child {
      pointer-events: none;
      font-weight: normal;
      font-size: rem-calc(12);
    }
  }

  .lbv2__select-input_datarange {
    max-width: rem-calc(360);
  }

  .lbv2__select-dropdown_datarange {
    left: unset;
    right: 0;
    min-height: rem-calc(280);
    width: rem-calc(360);

    .rdr-Calendar {
      width: rem-calc(179) !important;
    }
    .rdr-MonthAndYear-innerWrapper {
      font-size: rem-calc(10) !important;
      padding: rem-calc(6) 0 !important;
      height: rem-calc(30) !important;
    }
    span.rdr-WeekDay,
    .rdr-Days > span,
    .rdr-Day {
      width: rem-calc(21) !important;
      height: rem-calc(21) !important;
      line-height: rem-calc(21) !important;
      font-size: rem-calc(10) !important;
    }

    .rdrDateDisplayWrapper {
      display: none;
    }
  }

  .lbv2__table-header,
  .lbv2__table-body {
    border-radius: rem-calc(4);
    overflow: hidden;
    background-color: #ffffff;
  }
  .lbv2__table-header {
    display: flex;
    align-items: center;
    align-content: space-around;
    height: rem-calc(36);
    margin-bottom: rem-calc(6);
    padding: rem-calc(12) rem-calc(16);
  }
  .lbv2__table-cell {
    font-size: rem-calc(16);
    font-weight: 600;
    line-height: 1.31;
    text-align: center;
    color: #26273b;
    position: relative;
  }

  .lbv2__table-cell_big {
    width: 40%;
  }

  .lbv2__table-body {
    overflow: visible;
  }

  .lbv2__table-cell_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .lbv2__table-row {
    display: flex;
    align-items: stretch;
    align-content: space-around;
    padding: rem-calc(12) rem-calc(16);

    &:hover {
      background-color: #f0f0f5;
      box-shadow: inset 0 0 rem-calc(2) 0 rgba(0, 0, 0, 0.24);
    }
    &.lbv2__table-row_current-user {
      background-color: #d6d6e1;
      position: relative;
      border-left-color: green;
      &:before {
        content: '';
        display: block;
        position: absolute;
        border-width: rem-calc(11);
        border-style: solid;
        border-color: transparent;
        border-left-color: inherit;
        transform: translateY(-50%);
        top: 50%;
        left: 0;
      }
    }
    .lbv2__table-cell_with-border:after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      width: rem-calc(2);
      height: rem-calc(38);
      background: #d6d6e1;
    }
    .lbv2__table-cell_2,
    .lbv2__table-cell_3 {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .lbv2-table__index {
    font-size: rem-calc(18);
    font-weight: 600;
    color: #454560;
    min-width: rem-calc(50);
    text-align: left;
  }
  .lbv2-table__user-info {
    margin-right: auto;
    display: flex;
    width: calc(100% - 9.375rem);
    align-items: center;
  }
  .lbv2-table__user-name {
    display: block;
    font-size: rem-calc(16);
    font-weight: 600;
    letter-spacing: 0.4px;
    text-align: left;
    color: #454560;
  }
  small.lbv2-table__user-name {
    font-size: rem-calc(12);
    font-weight: 300;
  }

  .lbv2-table__user-info-text {
    width: calc(100% - 4rem);
    padding-left: rem-calc(23);
    display: flex;
    flex-direction: column;
    justify-content: center;
    .user-roles {
      text-align: left;
    }
  }

  .lbv2__table-cell_1 {
    flex: 2;
    min-width: rem-calc(400);
  }
  .lbv2__table-cell_2 {
    width: 20%;
    min-width: rem-calc(100);
  }
  .lbv2__table-cell_3 {
    width: 40%;
  }

  .lbv2-table__follow {
    text-align: center;
    min-width: rem-calc(100);
    margin-right: 3rem;
  }

  .lbv2-table__follow-text {
    font-size: rem-calc(10);
    line-height: 1.8;
    letter-spacing: 0.5px;
    text-align: center;
    color: #26273b;
  }
  .lbv2-table__score {
    font-size: rem-calc(20);
    font-weight: 600;
    line-height: 0.9;
    letter-spacing: 0.7px;
    color: #454560;
  }

  .lbv2-table__expertise {
    font-size: rem-calc(14);
    line-height: 1.29;
    letter-spacing: 0.5px;
    color: #26273b;
    font-weight: 400;
  }

  @media (max-width: 930px) {
    .lbv2__table-header {
      height: auto;
    }
    .lbv2__table-row,
    .lbv2__table-header {
      flex-wrap: wrap;
    }
    .lbv2__table-cell_1 {
      min-width: 80%;
    }
    .lbv2__table-cell_2:after {
      display: none;
    }
    .lbv2__table-cell_3 {
      width: 100%;
      padding-top: rem-calc(10);
    }

    .lbv2__table-header .lbv2__table-cell_1 {
      text-align: left;
    }
  }

  .auto-complete-as-input {
    input {
      border-radius: 0 !important;
      padding-right: rem-calc(30) !important;
    }
  }

  .auto-complete-as-input > div > div > div:first-child {
    z-index: 100;
    bottom: rem-calc(5) !important;
    left: rem-calc(8);
  }

  .auto-complete-as-input__icon {
    position: absolute;
    right: rem-calc(2);
    top: rem-calc(4);
    z-index: 100;
  }

  .empty-message {
    text-align: center;
    margin-top: 5rem;
  }

  .leaderboard-zero-padding {
    margin: 0;
    max-width: 100%;

    .float-right {
      text-align: right;
    }

    input {
      background: transparent;
      border: 1px solid #626180;
      padding: rem-calc(2) rem-calc(10);
      outline: none;
      margin-top: rem-calc(5);
    }

    input::placeholder {
      color: #9e9ebd;
    }
  }
}

.lbv2_new {
  .breadcrumbBack {
    display: inline-block;
    position: relative;
    top: rem-calc(3);
  }
  .lbv2__title {
    font-size: rem-calc(24);
    font-weight: normal;
    font-style: normal;
    line-height: 0.88;
    letter-spacing: rem-calc(0.2);
    color: #454560;
    padding-bottom: rem-calc(20);
    > span {
      padding-left: rem-calc(20);
    }
  }

  .team-group {
    display: flex;
    justify-content: space-between;
  }
}

.select-input__remove-value {
  float: right;
  top: -3px;
}

.multiselect-checkbox {
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  padding-right: rem-calc(10);
  position: relative;
  input[type='checkbox'] {
    visibility: hidden;
    &:not(:checked) + label {
      font-weight: 300;
    }
    &:checked + label {
      font-weight: 600;
    }
  }
  .multiselect-checkbox__text {
    display: inline-block;
    font-size: rem-calc(10);
    line-height: 2.2;
    color: #454560;
    width: 97%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    span {
      cursor: pointer;
    }
  }
}

.multiselect-overflow {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
}
