.card-v3 {
  border: solid 0.5px #d6d6e1;
  background-color: #ffffff;
  padding: 0;
  vertical-align: top;
  position: relative;
  * {
    font-family: 'Open Sans' !important;
  }
  .RichTextEditor__root___2QXK- {
    border: none;
  }
  .video-stream {
    height: rem-calc(300);
    padding: 0;
  }
  .video-block,
  .fp_video {
    position: relative;
    z-index: 1;
  }

  .pathway-card-btn {
    min-width: rem-calc(20);
    height: rem-calc(20);
    position: absolute;
    top: 0;
    z-index: 11;
    opacity: 0.9;
  }
  .close-card-btn {
    right: 1rem;
  }
  .move-card-btn {
    right: 2.9rem;
  }

  .number-card-btn {
    width: rem-calc(20);
    height: rem-calc(20);
    opacity: 0.9;
    background-color: #000;
    font-size: rem-calc(14);
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    left: rem-calc(20);
  }

  .lock-leap-panel {
    opacity: 0.9;
    border-radius: rem-calc(2);
    position: absolute;
    width: 100%;
    height: rem-calc(47);
    background: #000;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;

    .lock-btn {
      span {
        padding-left: rem-calc(10) !important;
        padding-right: rem-calc(10) !important;
        letter-spacing: -0.3px !important;
        color: #ffffff;
        font-size: 0.75rem !important;
        font-weight: 600 !important;
      }
    }
    .leap-btn {
      span {
        padding-left: rem-calc(10) !important;
        letter-spacing: -0.3px !important;
        color: #ffffff;
        font-size: 0.75rem !important;
        font-weight: 600 !important;
      }
    }
    span {
      color: #fff;
    }
  }

  .tooltip-snippet {
    &.left {
      transform: translateX(-100%);
      left: 0;
    }
    &.bottom {
      transform: translateX(-50%);
      bottom: rem-calc(20);
    }
    &.center {
      transform: translateX(-50%);
      left: 0;
    }
    padding: rem-calc(3) rem-calc(9);
    border-radius: 0;
    background-color: #454560;
    [classname='tooltip-text'] {
      white-space: nowrap;
      font-size: rem-calc(10);
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.2px;
      color: #ffffff;
    }
  }
}

.card-v3__assignor {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  font-size: 12px;
  color: white;
  padding: 2px 6px;
  right: 0;
  z-index: 5;
}

.card-v3__tile-view {
  width: rem-calc(300);
  height: rem-calc(406) !important;
  margin: 0 rem-calc(4) rem-calc(15) rem-calc(4) !important;
  display: inline-block;
  .card-v3__skill-type-effort {
    flex-wrap: wrap;
    width: 100%;
  }
}

.slick-slide,
.channel-card-v2,
.channel-card-wrapper-inner {
  .card-v3__tile-view {
    width: 100%;
    max-width: rem-calc(315);
    margin: 0 !important;
  }
}

.card-tile-v3__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  .card-v3__user-provider_under-img.card-v3__user-provider_with-provider {
    + .card-tile-v3__text-container_with-image {
      padding-top: 0;
    }
  }
}
.poll-radio-v3 {
  svg {
    fill: #6f708b !important;
  }
  label,
  span {
    color: #454560 !important;
    text-overflow: ellipsis;
  }
  & > div {
    align-items: center;
    div {
      margin-bottom: auto;
      margin-top: rem-calc(1);
    }
  }
}
.correct-poll-radio-v3 {
  svg {
    fill: #2fb7a0 !important;
    opacity: 0.8;
  }
  label,
  span {
    color: #2fb7a0 !important;
    font-size: 0.875rem;
  }
}
.incorrect-poll-radio-v3 {
  svg {
    fill: #e64360 !important;
    opacity: 0.8;
  }
  label,
  span {
    color: #e64360 !important;
    font-size: 0.875rem;
  }
}
.card-v3__poll-content {
  padding-left: rem-calc(20);
  padding-right: rem-calc(20);
  overflow: hidden;
  span {
    color: #6f708b;
  }
  .poll-radio-box {
    div {
      align-items: center;
    }
    div div {
      margin-right: rem-calc(11) !important;
    }
  }
  .poll-radio,
  .poll-radio-box {
    margin-bottom: rem-calc(13.5px);
  }
}
.card-content-v3__poll-content {
  .vertical-spacing-medium > .vertical-spacing-medium > .poll-radio-v3 {
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.card-tile-v3__poll-content {
  height: 11.9875rem;
  max-height: 11.9875rem;
}
.vote-v3 {
  width: rem-calc(53);
  height: rem-calc(26) !important;
  min-width: auto !important;
  border-radius: rem-calc(2) !important;
  background-color: #6f708b !important;
  border: none !important;
  &.disabled-v3 {
    background-color: #f0f0f5 !important;
    span {
      color: #d6d6e1 !important;
    }
  }
  &.answer-v3 {
    width: rem-calc(73) !important;
  }
  span {
    font-family: Open Sans !important;
    font-size: rem-calc(14);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
}
.card-list-v3__poll-content {
  max-height: 5.3625rem;
}
.card-feed-v3__poll-content {
  max-height: 14.2rem;
}

.card-v3__skill-type-effort {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: rem-calc(20) rem-calc(10) rem-calc(20) rem-calc(2);
  color: #6f708b;
  white-space: nowrap;
}

.new-card-bia {
  max-width: inherit;
  display: inline-flex;
  padding-right: rem-calc(3);
  margin-left: 0;
  a {
    &:focus {
      outline: 0;
    }
    display: inline-block;
  }
  .level {
    padding-left: rem-calc(10);
    font-size: rem-calc(11);
    color: inherit;
  }
  .level-dots > a > span {
    width: rem-calc(6);
    height: rem-calc(6);
    color: inherit;
    position: relative;
  }
}

.card-v3__card-type {
  color: inherit;
  font-size: rem-calc(11);
  text-transform: capitalize;
}

.card-v3__card-type.card-v3__published-date {
  width: rem-calc(75);
  text-align: right;
  margin-right: 0.5rem;
  .tooltip-snippet {
    width: rem-calc(105);
  }
}

.dot {
  width: rem-calc(3);
  height: rem-calc(3);
  background-color: #acadc1;
  border-radius: 50%;
  margin: 0 rem-calc(10);
}
.duration-icon {
  height: rem-calc(8);
  width: rem-calc(8);
}

.card-v3__duration {
  color: inherit;
  font-size: rem-calc(11);
  display: inline-flex;
  align-items: center;
  text-transform: lowercase;
  letter-spacing: normal;
}

.card-tile-v3__text-container_with-file {
  max-height: rem-calc(44);
  min-height: rem-calc(20);
  height: auto !important;
}

.insight-v3__header .card-v3__user-provider {
  width: auto;
}

.card-v3__user-provider {
  padding-left: rem-calc(20);
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  min-height: rem-calc(39);
  //overflow: hidden;
  width: 100%;
  .right-block {
    margin-left: auto;
    display: inline-flex;
    margin-right: 0.9375rem;
  }
  &.card-v3__user-provider_with-content {
    height: rem-calc(59);
  }
  .author-info-container {
    margin-top: -2px;
    width: calc(100% - 3.125rem);
  }
  .my-card__header {
    margin: 0;
    max-width: 100%;
    height: 100%;
    width: 100%;
    flex-shrink: 2;
    overflow: hidden;
  }
  .my-card__header_cut {
    max-width: calc(100% - 4rem);
  }
  .user-name {
    font-size: rem-calc(14) !important;
    color: #454560 !important;
  }
  .card-new {
    display: inline-block;
    font-size: rem-calc(12);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #38b6a0;
    margin-top: 0;
    margin-bottom: 0;
  }
  .my-card__provider {
    padding: 0;
  }
  .my-card__provider-logo {
    height: rem-calc(25);
    max-width: 100%;
  }
  .my-card__provider-container {
    padding: 0;
  }
}
.card-v3__rating-container {
  padding-right: 0 !important;
}

.card-v3__quiz-container {
  height: auto !important;
  box-sizing: content-box;
  .card-v3__text:not(.poll-title) > div > p {
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &.card-tile-v3__quiz-container {
    max-height: rem-calc(44);
  }
  &.card-list-v3__quiz-container,
  &.card-feed-v3__quiz-container {
    max-height: rem-calc(21);
    .card-v3__text > div > p {
      white-space: nowrap;
    }
  }
}
.card-v3__text-container {
  overflow: hidden;
  margin: rem-calc(15) rem-calc(20) rem-calc(10) rem-calc(20);
  height: 13.125rem;
  padding: 0;
  box-sizing: content-box;
  &.card-v3__article-container {
    margin: -0.625rem 1.25rem 0.625rem;
    border: solid 1px #d6d6e1;
    max-height: rem-calc(69);
    height: auto;
    box-sizing: content-box;
    .card-v3__text {
      padding: rem-calc(5) rem-calc(20);
      max-height: rem-calc(66);
      overflow: hidden;
    }
  }
  .card-v3__title-article-header {
    padding-top: 0;
  }
}
.card-v3__title-article {
  font-weight: 600;
  color: #26273b;
  padding-right: 0.375rem;
}
.card-v3__description-article {
  font-weight: normal;
  color: #454560;
}
.card-feed-v3__image-article {
  margin: 0.625rem auto 0;
}
.card-tile-v3__text-container {
  height: rem-calc(189);
}
.card-tile-v3__text-container_with-image {
  height: rem-calc(45);
  margin-bottom: auto !important;
}

.card-v3__posted-by-name_container {
  flex-shrink: 1;
}

.card-v3__text {
  font-size: rem-calc(14);
  font-weight: normal;
  line-height: 1.59;
  letter-spacing: 0.1px;
  color: #454560;
}

.card-v3__reference-info {
  font-size: rem-calc(11);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  color: #6f708b;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  &:not(.tooltip) {
    overflow: hidden;
  }
  > span:last-child {
    padding-left: rem-calc(3);
  }
  &.purchased {
    text-decoration: line-through;
  }
}

.card-v3__posted-by-name {
  max-width: calc(100% - 3rem);
  text-overflow: ellipsis;
  overflow: hidden;
}

.card-v3__CPE-credit {
  font-size: 0.6875rem;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  color: #6f708b;
  align-items: center;
}
.card-v3__stadalone-CPE {
  display: flex;
  flex-wrap: wrap;
}
.card-v3__tile-CPE {
  display: block;
}
.card-v3__skillcoin-container {
  padding: 0 1.25rem 0;
}

.card-v3__pricing-value {
  padding-left: rem-calc(3);
}

.card-v3__pricing {
  flex: none;
}

.card-v3__bottom-block {
  margin-top: auto;
}

.card-v3__skillcoin-price,
.card-tile-v3__skillcoin-price {
  display: flex;
  width: 100%;
}
.card-v3__posted-by {
  padding: 0 1.25rem rem-calc(10);
  display: flex;
  width: 100%;
}

.card-v3__footer {
  padding: 0 0 rem-calc(10) 0.625rem;
  margin-top: rem-calc(10);
  .commentators-avatar {
    height: rem-calc(20);
  }
  .add-comment {
    display: inline-flex;
  }
  .actions-bar__bottom-row {
    .insight-dropdown {
      margin-left: rem-calc(20);
      button {
        height: rem-calc(16) !important;
        width: rem-calc(23) !important;
      }
    }
    .rating-container {
      margin-right: rem-calc(-15);
    }
  }
  .right-block {
    margin-left: auto;
  }
}

.card-tile-v3__footer {
  margin-top: rem-calc(5);
}

.card-v3__commentators-avatar {
  padding-right: rem-calc(7);
  img:first-child {
    margin-left: 0 !important;
  }
}

.card-v3__comment {
  font-size: rem-calc(11);
  color: #6f708b;
  vertical-align: text-top;
  & > span > span {
    font-weight: normal;
  }
}

.card-v3__relevancyRatingStars {
  span {
    padding-right: rem-calc(1.5);
  }
}

.card-v3__comment-count {
  font-size: rem-calc(10);
  letter-spacing: 0.1px;
  color: #6f708b;
  padding-right: rem-calc(11);
}

.card-v3__image {
  position: relative;
  overflow: hidden;
  .card-image-block {
    height: 100%;
  }
  .card-blurred-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .center-play-icon {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 3;
  }
  .card-v3__image_gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
  }
}

.card-tile-v3__image {
  width: 100%;
  height: rem-calc(210);
}

.card-list-v3__image {
  width: rem-calc(300);
  height: 100%;
  margin-bottom: 0;
}

.card-list-v3__info-container_with-file {
  flex: none;
  width: calc(100% - 19.75rem) !important;
}

.card-feed-v3__image {
  width: 100%;
  height: 100%;
  margin: auto;
}

.card-feed-v3__image,
.card-list-v3__image {
  &:hover {
    .inline-video-v3,
    .fp_video {
      z-index: 10;
      position: relative;
      background: white;
    }
  }
  .video-playing {
    z-index: 10;
    position: relative;
    background: white;
  }
}

.card-v3__image-and-skill-container {
  position: relative;
  min-height: rem-calc(52);
  flex: none;
  audio {
    width: calc(100% - 2.625rem) !important;
    margin-left: rem-calc(21);
    margin-right: rem-calc(21);
  }
}

.card-tile-v3__image-and-skill-container {
  width: 100%;
}

.card-tile-v3__image-and-skill-container_with-image {
  height: 13.125rem;
  flex-basis: 13.125rem;
  flex: none;
  margin-bottom: rem-calc(20);
}

.card-v3__skill-type-effort_on-the-file {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #f0f0f5;
  z-index: 10;
  padding: rem-calc(8) rem-calc(10);
  .dot {
    color: #f0f0f5;
  }
}

.card-v3__skill-type-effort_on-the-file_blur {
  opacity: 0.5;
}

.card-v3__complete-icon {
  //margin-right: 1.25rem;
  //margin-left: auto;
  margin-top: rem-calc(-6);
  &.card-v3__complete-icon-ie-moz {
    height: rem-calc(65);
    padding-bottom: rem-calc(35);
  }
  &:hover > svg > g > g {
    stroke: #38b6a0;
  }
}

.card-v3__list-view {
  height: rem-calc(250);
  width: 100%;
  min-width: rem-calc(652);
  .card-list-v3__image > .card-image-block > svg {
    height: rem-calc(250);
  }
}

.card-list-v3__container {
  display: flex;
  height: 100%;
  position: relative;
}

.card-list-v3__image-and-skill-container {
}

.card-list-v3__info-container {
  width: 100%;
  flex-grow: 2;
  padding-top: rem-calc(20);

  &.file-border {
    border-left: solid 0.5px #d6d6e1;
  }
  display: flex;
  flex-direction: column;
}

.card-v3__user-provider_with-provider,
.card-v3__user-provider_with-ecl-provider {
  height: rem-calc(40);
  min-height: rem-calc(40);
}

.card-list-v3__text-container {
  height: rem-calc(88);
  //margin-bottom: rem-calc(10);
  //margin-top: rem-calc(15);
}

.card-v3__header-and-skill {
  display: flex;
  align-items: center;
  .card-v3__skill-type-effort {
    padding: 0 rem-calc(19);
    margin-left: auto;
  }
}

.card-v3__feed-view {
  width: rem-calc(552);
  margin: 0 auto 1.25rem;
}

.card-feed-v3__text-container {
  max-height: rem-calc(318);
  height: auto;
  margin-top: rem-calc(10);
  margin-bottom: rem-calc(16);
}

.card-feed-v3__text-container_with-image {
  max-height: rem-calc(63);
  margin-top: rem-calc(15);
  //&.card-feed-v3__text-container_above-image {
  //  height: auto;
  //  max-height: rem-calc(66);
  //}
}

.card-feed-v3__header-and-skill {
  padding-top: rem-calc(10);
  padding-bottom: rem-calc(10);
}

.card-feed-v3__text-container_above-image {
  margin-top: rem-calc(10);
  margin-bottom: rem-calc(10);
  height: auto;
  max-height: rem-calc(66);
}

.card-feed-v3__skillcoin-price {
}

.card-feed-v3__image-and-skill-container {
  width: calc(100% - 2.5rem);
  height: rem-calc(292);
  margin: rem-calc(10) auto;
}

.card-feed-v3__image-and-skill-container_no-top-margin {
  margin-top: 0 !important;
}

.card-v3__video_stream {
  .video-label-type {
    position: absolute;
    bottom: rem-calc(10);
    right: rem-calc(10);
    height: rem-calc(19);
    font-size: rem-calc(11);
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #f0f0f5;
    z-index: 10;
    padding: rem-calc(2) rem-calc(5);
    text-transform: capitalize;
  }

  .past-stream {
    background-color: #454560;
  }

  .live-stream {
    background-color: #c10e4b;
  }
}

.line {
  width: calc(100% - 2.5rem);
  height: rem-calc(2);
  margin: rem-calc(5) auto;
  background-color: rgba(172, 173, 193, 0.7);
}

.card-tile-v3__file {
  padding: 0;
  margin: 0 auto;
  width: rem-calc(246);
  overflow: hidden;
}
.card-big-v3__file {
  padding: 0.375rem 1.25rem 0 1.25rem;
}
.card-list-v3__file {
  padding: 1.25rem 1.25rem 0 1.25rem;
  &.no-padding {
    padding: 0 !important;
  }
}
.card-list-v3__audio {
  audio {
    width: rem-calc(274) !important;
    margin: rem-calc(21);
  }
}

.card-v3__locked-card,
.card-v3__completed-card {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.76);
  z-index: 11;
  text-align: center;
}

.card-v3-cursor {
  cursor: pointer;
}

.card-v3__locked-card {
  background: rgba(255, 255, 255, 0.5) no-repeat;
  background-size: 100% 100%;
}

.card-v3__locked-img,
.card-v3__locked-img_with-image {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background-size: contain;
  background-position: bottom;
}

.card-v3__locked-img {
  background-image: url(/i/images/lock_card.png);
  background-repeat: no-repeat;
}

.card-v3__locked-img_with-image {
  background-image: url(/i/images/empty_state_cardv3.png);
  background-repeat: no-repeat;
}
.card-v3__file-text {
  max-height: 2.75rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-v3__text * {
  font-size: rem-calc(14) !important;
  line-height: 1.52857143 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.card-feed-v3__text-container_with-file {
  box-sizing: content-box;
  height: rem-calc(44);
  margin-bottom: auto;
}

.card-v3__badge {
  //margin-right: rem-calc(15);
  //margin-left: auto;
}

.insight-v3 {
  border-radius: rem-calc(4);
  box-shadow: rem-calc(1) rem-calc(2) rem-calc(4) 0 rgba(black, 0.24);
  background-color: #ffffff;
  * {
    font-family: 'Open Sans' !important;
  }
  .line {
    margin-bottom: 0;
    margin-top: rem-calc(10);
  }
  .message {
    margin-top: 0;
    margin-bottom: 0;
  }
  .resource {
    border-radius: 4px;
    border: solid 1px #d6d6e1;
    box-shadow: none;
    padding: rem-calc(8) rem-calc(12) rem-calc(12) !important;
  }
  .inline-video {
    padding-bottom: 0 !important;
  }
  .my-card__user-avatar {
    height: 100%;
  }

  .image-container__article {
    width: rem-calc(319) !important;
    height: rem-calc(239) !important;
    margin-right: rem-calc(15) !important;
  }

  .resource-card {
    margin-bottom: rem-calc(10);
  }

  .fp {
    max-width: rem-calc(930);
  }
}

.insight-v3__container {
  padding: rem-calc(18);
  padding-bottom: rem-calc(10);
  .poll-stats-bar {
    .name {
      position: relative;
      float: left;
      white-space: normal !important;
    }
    .votes-v3,
    .percentage-v3 {
      top: 50%;
      transform: translateY(-50%);
    }
    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }
  .poll-radio:not(:first-child) {
    margin-top: rem-calc(13) !important;
  }
  .poll-radio {
    div {
      align-items: center;
    }
  }
  &.insight-v3__container_small-top-padding {
    padding-top: rem-calc(5);
  }
  &.insight-v3__container_small-no-top-padding {
    padding-top: 0;
  }
  .image-container {
    margin: 0;
    height: rem-calc(505);
    margin-bottom: 1rem !important;
  }
  .card-blurred-background {
    max-width: 100%;
  }
  .video-stream {
    padding-top: rem-calc(10);
    .openCardFromSearch > p {
      font-size: rem-calc(14);
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.3125rem !important;
      letter-spacing: 0.1px;
      color: #454560;
    }
  }
}

.description_top {
  font-size: rem-calc(14);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: 0.1px;
  padding-bottom: rem-calc(18);
}

.description_in-arrow {
  margin: 0 !important;
}

.insight-v3__header {
  padding: rem-calc(10) rem-calc(18) 0 rem-calc(18);
  display: flex;
  align-items: center;
  .card-v3__user-provider,
  .card-v3__skill-type-effort {
    padding: 0;
  }
  .card-v3__card-type,
  .card-v3__user-provider,
  .card-v3__skill-type-effort,
  .level,
  .card-v3__duration {
    font-size: rem-calc(12);
  }
  .card-v3__skill-type-effort {
    margin-left: auto;
  }
}

.card-standalone-v3__channel-tags,
.card-standalone-v3__posted-by,
.card-standalone-v3__assigner-due,
.card-standalone-v3__skillcoin-price {
  padding: 0 0 rem-calc(10) !important;
  .card-v3__reference-info {
    font-size: rem-calc(12) !important;
    font-weight: normal !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: 1.83 !important;
    letter-spacing: 0.1px !important;
    color: #6f708b !important;
    .card-v3__posted-by-name,
    .card-v3__channel-label,
    .card-v3__tag-name {
      font-weight: 600 !important;
      color: #6f708b !important;
    }
  }
}

.card-standalone-v3__text-container_above-image {
  margin-bottom: rem-calc(10);
  height: auto;
  max-height: rem-calc(44);
  overflow: hidden;
}

.statistic-button {
  margin-right: rem-calc(30);
}

.checked-button {
  height: 1.75rem;
  padding: 0.4375rem 0.765rem;
  margin: 0 1.875rem;
}

.card-standalone-v3__footer {
  padding: rem-calc(5) 0 0 0;
  .like-container {
    padding-right: rem-calc(20);
  }
  .right-block {
    margin-left: auto;
  }
  .card-v3__comment {
    font-size: rem-calc(12);
  }
  .my-icon-button {
    font-size: rem-calc(14);
    font-weight: normal;
    letter-spacing: 1.2px;
    color: #ffffff;
    border-radius: rem-calc(2);
  }
  .my-icon-button_mark_complete {
    background-color: #ff1f6b;
  }
  .mark_as_complete_button_disabled {
    background-color: #d6d6e1 !important;
  }
}

.card-standalone-v3__image {
  //width: rem-calc(762);
  //height: rem-calc(505);
}

.card-standalone-v3__user-provider {
  height: rem-calc(35);
  flex-grow: 2;
  .my-card__provider-logo {
    max-width: rem-calc(150);
  }
  .card-v3__pricing {
    font-size: rem-calc(10);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.5px;
    color: #acadc1;
    padding-left: rem-calc(5);
    text-transform: uppercase;
  }
}

.card-standalone-v3__image-container {
  width: rem-calc(762);
  height: rem-calc(505);
}

.insight-v3__container_10-top-padding {
  padding-top: rem-calc(10) !important;
}

.insight-v3 {
  .comments-block {
    padding: rem-calc(20) rem-calc(18);
  }
  .comment-user {
    color: #26273b;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: rem-calc(0.1);
  }
  .comment-text {
    margin-left: rem-calc(5);
  }
  .likes {
    padding: 0;
    a {
      color: #4a90e2;
    }
  }
  .comment-actions {
    margin-top: 0;
  }
  .comment-time-ago time {
    padding-left: 0 !important;
  }
  .comment-input {
    padding: rem-calc(8) rem-calc(16);
    line-height: 1.14;
  }
}

.user-v3__job-title {
  font-size: rem-calc(12);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  color: #6f708b;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
.card-v3__reference-info.tooltiplargetext {
  .tooltiptext {
    transform: translateX(0%);
  }
}
