.table-bookmarked {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 rem-calc(3);
  table-layout: fixed;
  tr td:first-child {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }
  tr td:last-child {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
}

.table-bookmarked__header {
  border-radius: 0.25rem;
  border-bottom: 0.5rem solid #f2f2f2;
}

.table-bookmarked__cell {
  color: #454560;
  padding-left: 1.875rem;
  width: 10%;
  background: #ffffff;
  .bookmarked__title {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0.1rem 0;
    padding-left: 1rem;
    max-width: 80rem;
  }
  & span {
    font-family: 'Open Sans' !important;
    font-weight: 300;
    font-size: 0.875rem;
    letter-spacing: 0.1px;
  }
  &:first-child {
    width: 60%;
    max-width: 90rem;
  }
  &:last-child {
    padding: 0;
  }
}

.table-bookmarked__cell_header {
  height: rem-calc(41);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  span {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.5px;
  }
}
.row-bookmarked {
  height: 4.6875rem;
  border-top: solid 0.125rem #d6d6e1;
  &:hover {
    .table-bookmarked__cell {
      background-color: #d6d6e1;
    }
  }
}
.bookmark-standalone.show-outline-iconmenu {
  background: none !important;
  font-weight: 300 !important;
  font-size: 0.875rem !important;
  min-height: initial !important;
  margin: 0 !important;
  &:focus {
    font-weight: 300 !important;
  }
  &:hover {
    font-weight: 600 !important;
  }
  &:hover,
  &:focus {
    background: none !important;
  }
  & > div > div {
    padding: 0 0.5625rem !important;
  }
}

.bookmarks__header {
  font-size: rem-calc(20) !important;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.6px;
  padding-bottom: rem-calc(11);
  .breadcrumbBack {
    top: 0.3rem;
    margin-right: rem-calc(15);
  }
}

.bookmark__info {
  display: inline-flex;
  max-width: 100%;
}

.table-bookmarked__cell .bookmark__featured span {
  font-size: rem-calc(12) !important;
  font-weight: normal !important;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.5px !important;
}
