.profile-tabs {
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  text-transform: uppercase;
  cursor: pointer;
  color: #959597;
  justify-content: center;
  white-space: nowrap;
  .profile-tabs-item {
    padding: 0 3%;
    font-size: 13px;
    text-align: center;
  }
  .active-profile-tabs-item {
    font-weight: bold;
    color: #5c5c5c;
  }
}

.profile-tabs-more-than-6 {
  .profile-tabs-item {
    padding: 0 2.5%;
  }
}

.profile-tabs-more-than-8 {
  .profile-tabs-item {
    padding: 0 2%;
  }
}

.profile-tabs-more-than-10 {
  .profile-tabs-item {
    padding: 0 1%;
  }
}
