#profile-v3 {
  * {
    font-family: 'Open Sans', sans-serif !important;
  }

  .profile-container {
    #learners-dashboard-card-carousel {
      .channel-card-wrapper-inner {
        .card-v2 {
          /* removing box shadow to maintain consistancy for EP-10657*/
          /*box-shadow: 1px 1px 5px 1px rgba(119, 119, 119, 0.161);*/
          /*border: 1px solid hsla(0,0%,47%,.161);*/
        }
      }
    }
    max-width: 100%;
    @media #{$large-up} {
      max-width: 75%;
    }
  }

  .profile-container-full {
    max-width: 100%;
    @media #{$large-up} {
      max-width: 100%;
    }
  }

  .profile-box {
    @media #{$small-only} {
      max-width: 100%;
      flex: 0 0 100%;
    }
  }

  .channel-course {
    /*box-shadow: 1px 1px 5px 1px rgba(119, 119, 119, 0.161);*/
    border: 1px solid hsla(0, 0%, 47%, 0.161);
  }

  .card-v2 {
    .paper-card {
      width: 100% !important;
    }
  }

  .full-width-row {
    width: 100%;
    margin: 0;
    padding: 0 40px;
    max-width: none;
  }

  .profile-tabs {
    padding: 0 40px;
    margin: 10px 0;
    flex-wrap: wrap;
    a {
      color: #6f708b;
    }
  }

  .profile-tabs + div {
    padding-top: 0 !important;
  }

  #profile-wrapper {
    #profile {
      width: 100%;
      display: flex;
    }
  }

  .left-rail {
    width: auto;
    margin-right: 0;
    flex: 0 0 25%;
  }

  .header-text {
    font-size: 16px;
    letter-spacing: -0.4px;
    text-align: left;
    color: #454560;
    margin-bottom: 20px;
  }

  .sub-text {
    font-size: 14px;
    letter-spacing: -0.4px;
    text-align: left;
    color: #454560;
  }

  .small-info-text {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: -0.4px;
    text-align: left;
    color: #454560;
  }

  .small-info-text-grey {
    font-weight: normal;
    color: #6f708b;
  }

  .score-points {
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    color: #454560;

    td {
      padding-bottom: 10px;
    }

    .point-text {
      width: 40%;
      text-transform: capitalize;
    }

    .point-progress {
      width: 60%;
      padding-right: 25px;
    }

    .point-progress-bar {
      height: 16px !important;
      border-radius: 0px !important;
      background-color: #ffffff !important;
    }
  }

  .column {
    margin-right: 0;
  }

  .margin-bottom-10 {
    margin-bottom: 10px;
  }

  .margin-bottom-20 {
    margin-bottom: 20px;
  }

  hr {
    border-color: #f0f0f5;
  }

  .width-100 {
    width: 100%;
  }

  .profile-box {
    position: relative;
    margin-bottom: 10px;
    .badges-block {
      min-height: 222px;

      .channel-course {
        .info button {
          min-width: 5px !important;
          width: calc(100% - 10px) !important;
          span {
            text-overflow: ellipsis !important;
          }
        }
      }
      .tooltip-parent {
        position: relative;

        .tooltip-snippet {
          position: absolute;
          color: rgb(255, 255, 255);
          margin-top: rem-calc(-13);
          left: rem-calc(20);
          background-color: rgba(85, 85, 85, 0.95);
          font-size: rem-calc(12);
          padding: rem-calc(8);
          z-index: 6;
          border-radius: rem-calc(3);

          bottom: 100%;
          left: 0;
          right: 0;
          width: fit-content;
          margin: 0 auto;
        }
      }
    }
  }

  .interests-section {
    .sub-text {
      display: inline-block;
      width: 25%;
      overflow: hidden;
      padding-right: rem-calc(28.8);
    }
    .sub-text_long {
      text-transform: capitalize;
      color: #454560;
      max-width: 100%;
      padding: 0rem 0.9375rem 0.9375rem 0rem;
    }
    .sub-text_middle {
      width: 33%;
      padding-right: rem-calc(10);
    }
  }

  .expertise-section {
    .sub-text {
      display: inline-block;
      width: 30%;
    }
  }

  #pathwayBadgesProfile .badges-block {
    display: block;
  }

  #user-main-info {
    padding-top: 0;
  }

  .badge-block-item {
    text-align: center;
    margin: 0px 0px 15px 0px;

    img {
      width: 90px;
      height: 90px;
    }
  }

  .channel-component {
    border: solid 1px #d6d6e1;
  }

  .underline {
    text-decoration: underline;
  }

  .channels-card-v3-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .wrap-channel-v3 {
    margin-top: 10px;
  }
  .channel-card-v3 {
    width: 183.5px;
    border-radius: 0 0 4px 4px;
    margin-left: auto;
    margin-right: auto;
  }

  .profile-header {
    .pointer {
      white-space: nowrap;
      padding-right: 0;
    }
    .vertical-line {
      padding-left: 20px;
    }
  }
  .profile-header-user-info {
    .profile-header-user-block {
      align-items: flex-start;
      flex-wrap: wrap;
      padding: 11px 16px 20px;
      .user-avatar {
        width: 25vw;
        max-width: 175px;
        min-width: 120px;
        flex: none;
        height: 12.5vw;
        max-height: 75px;
        .user-avatar-image {
          max-width: 175px;
          max-height: 175px;
          border-radius: 50%;
          overflow: hidden;
          border: solid 4px #ffffff;
          top: -16px;
          position: relative;
          width: 100%;
          height: 25vw;
          min-width: 120px;
          min-height: 125px;
          transform: translateY(-50%);
        }
        &.user-avatar__v2 {
          max-width: 204px;
          padding-left: 9px;
        }
      }
      .user-main-info {
        flex-basis: calc(100% - 25vw - 236px);
        align-self: center;
      }
    }
    .right-info-block {
      align-self: center;
      flex-wrap: wrap;
      min-width: 236px;
      flex: 1;
      display: inline-flex;
      align-items: flex-start;
      justify-content: flex-end;
      &.right-info-block__updated {
        align-self: flex-start;
      }
      .user-follow-data {
        line-height: 21px;
      }
    }
  }

  @media (min-width: 1431px) {
    .channels-card-v3-container {
      justify-content: space-around;
    }
    .wrap-channel-v3 {
      margin-top: 0;
      width: auto;
    }
  }
  @media (max-width: 1430px) {
    .wrap-channel-v3 {
      width: 25%;
    }
  }
  @media (max-width: 1190px) {
    .wrap-channel-v3 {
      width: 33.3333%;
    }
  }
  @media (max-width: 930px) {
    .wrap-channel-v3 {
      width: 50%;
    }
  }
  @media (max-width: 660px) {
    .wrap-channel-v3 {
      width: 100%;
    }
  }

  // CSS for skills passport
  .passport-heading {
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: left;
    color: #454560;
    margin-top: 10px;

    sup {
      font-size: 8px;
      top: -10px;
    }
  }

  .user-summary {
    max-width: 99%;
  }

  .show-more {
    color: #4a90e2;
    margin: 15px 0px 0px 0px;
    font-size: 14px;
    text-align: center;

    span {
      cursor: pointer;
      font-weight: 600;
    }

    .arrow-icon {
      border: solid #4a90e2;
      padding: 3px;
      transform: rotate(225deg);
    }
  }

  .integration-section {
    margin-bottom: 10px;
  }

  .integration-logo {
    text-align: center;
    width: 97%;
    height: 11.25rem;
    margin: 0 auto;
    border: solid 1px #d6d6e1;

    .helper {
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }

    img {
      display: inline;
      vertical-align: middle;
      max-height: 2.5rem;
      max-width: 10rem;
      cursor: pointer;
      padding: 0.25rem;
    }
    &.integration-logo__new-skill-passport {
      .integration-logo__image-container {
        margin: 4.375rem auto 0;
        height: 2.5rem;
        width: 10rem;
        max-width: 100%;
        vertical-align: middle;
        line-height: 2.5rem;
        .integration-logo__image {
          max-height: 2.5rem;
          max-width: 100%;
          cursor: default;
        }
        .integration-logo__image-fade {
          opacity: 0.25;
        }
      }
      .integration-logo__action {
        margin: 0.625rem auto 0;
        font-size: 0.75rem;
        color: #4a90e2;
        font-weight: 600;
        font-family: 'Open Sans' !important;
        cursor: pointer;
        &.integration-logo__connected {
          color: #acadc1;
        }
      }
    }
  }

  .strong {
    font-weight: 600;
  }

  .skill-cred {
    line-height: rem-calc(30);
    vertical-align: middle;

    img {
      height: 50px;
      vertical-align: top;
      margin-top: -10px;
    }

    .cred-img-margin {
      margin: -0.625rem 0;
    }

    .credName {
      margin-right: 1.125rem;
      color: #454560;
    }
  }

  .skills-section {
    display: flex;
    flex-wrap: wrap;
    .container-padding {
      height: rem-calc(280);
      overflow: hidden;
    }

    .profile-box:nth-child(2n) > div {
      margin-left: 0.25rem;
    }

    .profile-box:nth-child(2n-1) > div {
      margin-right: 0.25rem;
    }

    .add-more-skill {
      background: transparent !important;
      border: 2px dashed #bbbbbb;
      text-align: center;
      padding-top: 90px;
      font-size: 30px;
      cursor: pointer;
    }
    .add-more-skill__flat {
      margin-right: 0 !important;
      margin-left: 0 !important;
      height: 3.125rem;
      line-height: 3.125rem;
      border-radius: 0.25rem;
      background-color: rgba(214, 214, 225, 0.45) !important;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      .add-more-skill__label {
        width: auto;
        color: #6f708b;
        .add-more-skill__plus {
          font-size: 1.5rem;
          vertical-align: middle;
        }
        .add-more-skill__text {
          vertical-align: middle;
        }
      }
    }
  }

  .skills-section {
    .skill-block_new {
      height: 13rem;
      .icon-block {
        color: #6f708b;
        font-size: 1rem;
      }
      .header-text {
        font-weight: normal;
      }

      .first {
        margin: 0;
      }
      .skill-information {
        padding-left: 1.25rem;
      }
      .skill-information__smaller-font {
        font-size: 0.875rem;
      }
      .level-dots {
        text-align: left;
      }
      .level-tip {
        font-size: 0.8125rem;
      }
      .level {
        text-transform: uppercase;
      }
    }
  }

  .empty-content-cards {
    min-height: 150px;
    padding-top: 70px;
  }

  .channel-card-wrapper-inner {
    margin: 0px !important;
  }

  .view-more-badges {
    color: #4a90e2;
    cursor: pointer;
    text-align: right;
    padding: 2px 0;
  }
}

.vertical-align-center {
  align-items: center;
}

.text-lighter {
  font-weight: 300;
}
