.sub-nav {
  padding: rem-calc(0 16);
}
.profile {
  position: relative;
}
.badge-line {
  line-height: 30px;
}
#user-main-info {
  border-radius: 5px;
  padding-top: 5rem;
  .user-info-content {
    flex-wrap: nowrap;
    align-items: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    border: none;
  }
  .expertise-topics {
    word-break: break-word;
    width: 100%;
    overflow: inherit !important;
    text-overflow: inherit !important;
    white-space: inherit !important;
  }
  .right {
    > div,
    button {
      float: right;
    }
  }
  .user-data {
    padding: 0 16px 16px;
    > small {
      padding: 0 rem-calc(16);
      &:not(:last-child) {
        border-right: 1px solid $iron;
      }
      &:first-child {
        padding-left: 0;
      }
      > strong {
        color: #555555;
      }
    }
  }
}

.auto-complete-as-input {
  input {
    padding: 0 7px !important;
    height: 2rem !important;
    background-color: rgb(255, 255, 255) !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: rgb(230, 230, 242) !important;
    border-image: initial !important;
    border-radius: 0.1875rem !important;
    font-size: 0.8125rem !important;
  }
  hr {
    display: none !important;
  }
}

.explore-msg-channel-group-user {
  margin: 3rem 0;
}
