.profile-header {
  * {
    font-family: 'Open Sans', sans-serif !important;
  }
  position: relative;
  min-height: 346px;
  .pointer {
    cursor: pointer;
  }
  .profile-header-banner {
    height: 240px;
    background-size: cover;
    background-position: center center;
    padding: 0;
    top: 0;
    position: absolute;
    width: 100%;
  }
  .profile-header-user-info {
    padding: 240px 40px 0;
    .profile-header-user-block {
      display: flex;
      background: #ffffff;
      min-height: 106px;
      padding: 16px;
      margin-bottom: 16px;
      border-radius: 0 0 4px 4px;
      position: relative;
      justify-content: space-between;
      align-items: center;
      .user-avatar {
        width: 175px;
        .user-avatar-image {
          width: 175px;
          height: 175px;
          border-radius: 10px;
          border: solid 4px #ffffff;
          top: -87px;
          position: absolute;
          img {
            width: 100%;
            height: 100%;
            border-radius: 5px;
          }
        }
      }
      .user-main-info {
        flex: 1;
        text-align: left;
        color: #6f708b;
        padding-left: 10px;
        .user-name {
          font-size: 18px;
          font-weight: 600;
          line-height: 1.44;
          &.user-name__thin {
            font-weight: 300;
            margin-bottom: 0.5rem;
          }
        }
        .user-bio {
          max-width: 600px;
        }
        .user-bio,
        .user-email {
          font-size: 14px;
          font-weight: 300;
          line-height: 1.86;
        }
        .user-job-title {
          font-size: rem-calc(12);
          font-weight: 300;
        }
        .user-info-summary {
          margin-top: 0.5rem;
          display: flex;
          height: auto;
          max-height: rem-calc(130);
          .vertical-line {
            margin-right: 1rem;
            margin-top: 0.3125rem;
            padding-right: 1rem;
            padding-left: 0 !important;
            height: rem-calc(60);
            border-right: 0.125rem solid #d6d6e1;
          }
          .user-info__org-logo-container {
            width: 4.75rem;
            height: 3.75rem;
            text-align: center;
            .user-info__org-logo {
              max-width: 3.75rem;
              max-height: 3.75rem;
            }
          }
          .user-info__information {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            .user-info__column {
              flex-wrap: wrap;
              display: flex;
              flex-direction: column;
              max-height: rem-calc(130);
              padding-right: 2rem;
            }
            .user-info__row {
              max-width: 17rem;
              line-height: rem-calc(25);
              font-size: 0.75rem;
              white-space: nowrap;
              color: #454560;
              overflow: hidden;
              text-overflow: ellipsis;
              .user-info__label {
                font-weight: 300;
              }
              .user-info__content {
                white-space: nowrap;
              }
            }
          }
          .user-info__contacts-container {
            display: inline-block;
            margin: 0.25rem 0.5rem;
            width: 1.25rem;
            height: 1.25rem;
          }
        }
      }
      .user-roles {
        position: absolute;
        top: -40px;
        left: 198px;
      }
      .right-info-block {
        &.right-info-block__updated {
          margin-top: 0.5rem;
          .user-follow-data {
            margin-right: 1rem;
            font-weight: 600;
            color: #4a90e2;
            .user-follow-data-item {
              font-size: rem-calc(20);
            }
          }
        }
        .user-follow-data {
          font-size: 14px;
          line-height: 1.57;
          letter-spacing: -0.3px;
          text-align: right;
          .follow-color {
            color: #555555;
          }
          .following-block {
            padding-right: 20px;
          }
          .user-follow-data-item {
            padding: 0 10px 0 20px;
            font-size: 18px;
          }
          .vertical-line {
            border-right: 1px solid #959597;
            opacity: 0.5;
          }
        }
        .edit-user-data {
          padding-bottom: 2.125rem;
          font-size: 0.875rem;
          letter-spacing: -0.01875rem;
          text-align: right;
          color: #4990e2;
          .edit-action {
            margin-left: 0.5rem;
          }
          &.edit-user-data__updated {
            padding-bottom: 1.25rem;
            font-weight: 600;
          }
        }
        .tooltip-snippet {
          margin: auto;
        }
      }
    }
  }
  .public-private-view-tabs {
    z-index: 1;
    position: absolute;
    right: 30px;
    top: 20px;

    .view-tabs-continer {
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      font-size: 13px;
      opacity: 0.8;
      border-radius: 4px;
      background-color: #6f708b;
      padding: 5px;

      .private-tab,
      .public-tab {
        padding: 5px 15px;
        border-radius: 3px;
        box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.03);
        border: solid 1px #e9eff4;
        display: inline-block;
        color: #f0f0f5;
        cursor: pointer;
      }

      .private-tab {
        margin: 0px 5px 0px 0px;
      }

      .active-view-tab {
        color: #454560;
        background: #fff;
      }
    }
  }
}
