#profile-v2 {
  #user-main-info {
    padding-top: 0;
  }

  .profile-container {
    .sub-nav {
      padding: 0;
    }

    .v2-bio {
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 450px;
      overflow: hidden;
    }
  }
}
#pathwayBadgesProfile {
  .view-more-badges {
    color: #4a90e2;
    cursor: pointer;
    text-align: right;
    padding: 2px 0;
  }
  .header-text {
    font-size: 16px;
    letter-spacing: -0.4px;
    text-align: left;
    color: #454560;
    margin-bottom: 20px;
  }
  .badges-title {
    padding: 12px 24px 0;
  }
  .badge-block-item {
    text-align: center;
    img {
      width: 95px;
      height: 95px;
    }
  }
}
