.channel-user-search-input {
  .bootstrap-typeahead-menu {
    position: relative;
    width: 300px !important;
    font-size: 12px !important;
  }
  .bootstrap-typeahead-input-main {
    border-color: #d6d6e1;
    padding-left: 10px;
    max-width: 300px;
  }
  .save-curators {
    height: 24px !important;
    line-height: 24px !important;
    position: absolute !important;
    top: 0;
    right: 0;
    margin-top: 0 !important;
    border: 1px solid #9276b5 !important;

    div,
    span {
      height: 24px !important;
      line-height: 24px !important;
      color: #9276b5 !important;
    }

    span {
      display: block;
    }
  }
}

.channel-curators-wrapper {
  .list-users {
    margin-bottom: 12px;
    .user-chip {
      margin-bottom: 5px;
      height: 30px;
      padding-right: 16px !important;
      margin: 0 5px 5px 0 !important;
      border: 1px solid #9276b5 !important;

      span,
      small {
        line-height: 30px !important;
        color: white;
      }

      svg {
        width: 21px !important;
        height: 21px !important;
      }
    }
  }
}
