.channel-carousel {
  margin: 0 -32px;
  .carousel {
    padding: 0 41px;

    .slick-slider {
      .slick-slide {
        padding: 0;
      }
      .slick-list {
        overflow-x: hidden;
        overflow-y: auto;
      }
    }
  }
  .card-overview-content {
    background-color: white;
    padding: 16px;
    border-radius: 2px;
    .card-content-inner-wrapper {
      margin: 0px;
    }
    .inline-video iframe {
      height: 301px;
    }
    .card-title {
      font-size: 20px;
      font-weight: normal;
      white-space: normal;
      line-height: 1.2;
      color: #555;
    }

    .card-desc {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      position: relative;
      line-height: 1.2;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0 !important;
      -webkit-line-clamp: 2;
      font-size: 16px;
      margin-top: 5px;
    }

    .article-card-block .card-desc {
      display: none;
    }
    .show-pack-cards {
      display: none;
    }

    .article-card-block + .card-desc {
      display: none;
    }

    .comments-container {
      min-height: 294px;
      .comment-list {
        padding-bottom: 0;
      }

      .comments {
        .label {
          font-size: 13px;
          color: #555;
        }
        .comments-block-list {
          min-height: 356px;
        }
        .comment-list-container {
          min-height: 315px;
        }
        .view-more-comments {
          font-size: 13px;
          color: #4990e2;
          text-decoration: underline;
        }
        .matte.user {
          color: #555;
          font-size: 13px;
          font-weight: 600;
        }
        .comment-text {
          span {
            color: #9b9b9b;
          }
        }
        .comment-actions {
          .likes {
            a {
              font-size: 12px;
            }
            small {
              font-size: 12px;
            }
          }
        }
        .comment-input-modal .create {
          border-radius: 3px;
        }
      }
    }

    .modal-actions-bar {
      button {
        padding-bottom: 0px !important;

        &.comment {
          display: none !important;
        }
      }
      .comments-count {
        display: none;
      }
      .icon-inline-block.my-icon-button-block {
        height: rem-calc(48);
        padding-top: rem-calc(27);
        .votes-count {
          margin-top: 0;
          font-size: rem-calc(14);
        }
      }
    }

    .main-image {
      height: 302px;
      width: 100%;
    }
    .card-text-block {
      padding-top: 9px;
    }
    .time-ago {
      text-decoration: underline;
      text-decoration-color: #9b9b9b;
    }
    .video-label-type {
      .scheduled-stream,
      .live-stream,
      .past-stream {
        padding: 16px 0px 0px 0px;
        float: right;
      }
      .live-stream {
        width: 72px;
        height: 20px;
        border-radius: 2px;
        background-color: #d0011b;
      }
    }
    .video-stream {
      padding-top: 0px;
      position: relative;
      .video,
      video {
        max-height: 302px;
      }
    }

    .center-play-icon {
      position: absolute;
      right: 295px;
      top: 126px;
    }
    .smartbite-overview {
      .logo-type {
        display: none;
      }
    }
  }
}

.larger-arrow {
  .slick-prev,
  .slick-next {
    .prevArrow,
    .nextArrow {
      padding: 0px !important;
      svg {
        width: 48px !important;
        height: 48px !important;
      }
    }
  }
}

.slick-prev .prevArrow:disabled,
.slick-next .nextArrow:disabled {
  visibility: hidden;
  transition: none !important;
}
