.channel-banner {
  .banner-info {
    margin-top: -4.5rem;
    min-height: 138px;
  }
  .sub-nav {
    > .vertical-spacing-large {
      margin-bottom: 1rem;
    }
  }

  .custom-card-container {
    .card-v2 {
      .paper-card {
        width: 100%;
      }
    }
    @media (max-width: 499px) {
      .card-v2.card-v2__simple-size {
        width: 100%;
      }
    }
    @media (min-width: 500px) {
      .card-v2.card-v2__simple-size {
        width: 50%;
      }
    }
    @media (min-width: 710px) {
      .card-v2.card-v2__simple-size {
        width: 33.3333%;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .properImage {
    background-size: cover !important;
    padding: 11rem 0px 0px !important;
  }
}
