.channel-base {
  padding-top: 23px;
  padding-bottom: 30px;
  .channel-title {
    margin-top: 16px;
    margin-bottom: 3px;
    padding: 0 9px;
    h5 {
      font-size: 16px;
      color: #555;
      margin-bottom: 0;
      font-weight: normal;
    }
  }
  .team-feed-content {
    margin: 0 -4px;
  }
  .channel-header-wrapper {
    padding: 0 15px;
    margin-bottom: 3px;
  }
  .channel-details {
    background-color: #ffffff;
    color: #454560;
    width: 100%;
    border-radius: 4px;
    padding: 15px 0px;
    .cover-image {
      background-repeat: no-repeat;
      background-size: contain;
      width: 100%;
      height: 100%;
      margin: 0px;
      background-position: center center;
      background-color: #d3d3d3;
    }
    .details-container {
      padding: 8px 20px 16px 0;
      height: 100%;
      .channel-description {
        font-size: 14px;
        padding-top: 7px;
        font-weight: 100;
        color: #454560;
        word-wrap: break-word;
      }
      .channel-content-list {
        padding-top: 15px;
        font-size: 13px;
        color: #6f708b !important;
      }
      .channel-content-list span:first-child > .channel-left-boundary {
        display: none;
      }
      .creator-curator {
        margin-top: 14px;
        height: 32px;
        .author-title {
          font-weight: 600 !important;
          color: #454560 !important;
          font-size: 14px !important;
          margin-right: 10px;
        }
        .creator-name {
          padding-right: 20px;
        }
      }
    }
  }

  .card-view-channel {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .breadcrumbBack {
    position: absolute;
    left: -1.125rem;

    .back-link {
      display: inline-block;
    }
  }
  .card-v2 {
    .tooltip-parent {
      position: relative;

      .tooltip-snippet {
        position: absolute;
        color: rgb(255, 255, 255);
        margin-top: rem-calc(-13);
        left: rem-calc(20);
        background-color: rgba(85, 85, 85, 0.95);
        font-size: rem-calc(12);
        padding: rem-calc(8);
        z-index: 6;
        border-radius: rem-calc(3);

        bottom: 100%;
        left: 0;
        right: 0;
        width: fit-content;
        margin: 0 auto;
      }
    }
  }

  .custom-card-container {
    .two-card-column {
      width: 100%;
      display: flex;
      flex: 1;
      flex-wrap: wrap;
      margin: 0;
      justify-content: space-between;
      .card-tile-space {
        margin-bottom: 1rem;
        width: 49%;
      }
      .card-v3-tile-space {
        margin-bottom: 0;
      }
      .card-v3-list-space {
        margin-bottom: 0.5rem;
        width: 100%;
      }
      .card-list-space {
        width: 100%;
      }
      .card-v2.card-v2__simple-size {
        width: 100%;
        height: 22rem;
      }
      .text-center {
        flex-basis: 100%;
      }
      .text-card-message {
        position: relative !important;
      }
    }
    // fixing card list view in channel search
    .list-view-block .feed-card-view .list-view-main-card .card-details > .cursor {
      max-height: rem-calc(160);
    }
  }
  .my-team-filter-block {
    width: 95%;
    .filter-title {
      margin-bottom: 1rem;
    }
    .outer-checkbox {
      margin-bottom: rem-calc(10);
      label {
        font-size: rem-calc(14);
        font-family: OpenSans;
        padding: 0 !important;
        text-transform: capitalize;
        color: #6f708b;
      }
    }
    .inner-checkbox {
      margin-bottom: rem-calc(15);
      label {
        font-size: rem-calc(14);
        padding: 0 !important;
        text-transform: capitalize;
        color: #6f708b;
        top: rem-calc(2);
      }
    }
    .view-more-container {
      display: flex;
      justify-content: flex-end;
      small {
        font-size: rem-calc(12);
        color: #4a90e2;
        line-height: 2.14;
        cursor: pointer;
      }
    }
  }
  .make-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .note-container {
    color: rgb(85, 85, 85);
    background-color: rgb(255, 255, 255);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    border-radius: rem-calc(2);
    width: 50%;
    margin: auto;
    padding: 1rem;
  }
  .make-filter-align {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .card-view-channel-search-info-row {
    flex: 1;
    margin: rem-calc(17) 0;
    .refine-search {
      display: inline-block;
      font-size: rem-calc(18);
      vertical-align: middle;
    }
    .search-results-info {
      display: inline-block;
      font-size: rem-calc(16);
      font-weight: 300;
      vertical-align: middle;
    }
  }

  .container-spacing {
    padding: 0rem 0.75rem;
  }

  .padding-right-zero {
    padding-right: 0;
  }

  .padding-left-zero {
    padding-left: 0;
  }

  .suggestion-list-item {
    padding-right: rem-calc(7);
  }
}

@media screen and(max-width: 768px) {
  .team-detail-page_with-teem-feed {
    width: 100% !important;
    max-width: 100% !important;
  }
}

@media screen and(max-width: 1100px) {
  .team-detail-page_with-big-team-feed {
    width: 100% !important;
    max-width: calc(100% - 30px) !important;
  }
}

div.team-detail-page_with-teem-feed .channel-card-wrapper-inner {
  .slick-prev {
    left: rem-calc(-35);
  }
  .slick-next {
    right: rem-calc(-35);
  }
}

.feed-page_new-style:not(.user-block_new-style) .left-rail.group-page {
  width: 22.3125rem !important;
  .team-feed-block_v2 {
    width: 22.3125rem !important;
  }
}

.group-page {
  .chat-button-group {
    width: rem-calc(60);
    height: rem-calc(60);
    position: fixed;
    top: 50%;
    right: 0;
    background-color: #6f708b;
    z-index: 10;
    top: calc(50% - 4.3rem);
  }
  .chat-button-group-ie {
    right: 0;
  }
  .chat-btn-group-other {
    left: -4.75rem;
  }
}

.author-img {
  height: 26px;
  width: 26px;
  border-radius: 50%;
}

.author-name {
  font-size: 12px;
  padding: 0 10px 0 8px;
}

.provider-img {
  height: 26px;
  margin-left: 15px;
}

.channel-desc-popover {
  padding: 12px 16px;
  max-width: 500px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
  line-height: 1.29;
}

.channel-popover-header {
  font-size: rem-calc(14);
  color: #454560;
  margin-bottom: rem-calc(5);
}

.curator-list {
  font-size: rem-calc(14);
  color: #454560;
  line-height: 1.3;
  font-weight: 100;
  overflow: auto;
  max-height: rem-calc(180);
  height: auto;
}

.emptyStateWrapper {
  padding: 13px 9px;
  margin-bottom: 3px;
}

.emptyStateImage {
  width: 100%;
}

.emptyStateImageText {
  width: 469px;
  height: 52px;
  font-family: Open Sans;
  font-size: 24px;
  text-align: center;
  color: #6f708b;
  position: absolute;
  top: 42%;
  left: 11%;
}

.cover-image-container {
  height: 150px;
}

@media screen and (max-width: 875px) {
  .emptyStateImageText {
    font-size: 20px;
  }
}

@media screen and (max-width: 845px) {
  .emptyStateImageText {
    font-size: 12px;
    left: 5%;
  }
}

@media screen and (max-width: 768px) {
  .emptyStateImageText {
    font-size: 12px;
  }
}

@media screen and (max-width: 630px) {
  .emptyStateImageText {
    font-size: 8px;
    left: -9%;
  }
}

@media screen and (max-width: 430px) {
  .emptyStateImageText {
    font-size: 8px;
    left: -12%;
  }
}

@media screen and (max-width: 1020px) {
  .cover-image {
    background-size: contain !important;
    margin: 0 auto !important;
  }
}

.team-detail-page_active-team-feed {
  width: 100% !important;
  max-width: calc(100% - 30px) !important;
}

.feed-page_new-style {
  .active-menu-container {
    &.left-rail:not(.right-rail) {
      left: 0;
    }
    &.right-rail {
      right: 0;
    }
    .rail__mobile-btn {
      background: white;
      svg {
        color: black !important;
      }
    }
    .right-rail__container {
      display: block;
    }
    .rail-container {
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    }
    &.right-rail {
      right: rem-calc(-370px);
      transition: right 0.2s;
      left: auto;
    }
  }
  .rail__mobile-btn {
    display: block;
    width: 1.8375rem !important;
    height: 1.8375rem !important;
    background: black;
    color: white;
    position: absolute;
    button {
      border: none !important;
      padding: 0 !important;
      font-size: rem-calc(15) !important;
      top: rem-calc(-2) !important;
      left: -1.125rem !important;
      svg {
        width: 1.8375rem !important;
        height: 1.8375rem !important;
        color: white !important;
      }
    }
  }
  .left-rail__mobile-btn {
    right: rem-calc(-15);
  }
  .right-rail__mobile-btn {
    left: rem-calc(-15);
    button {
      left: rem-calc(-2);
    }
  }
}
