.channel-course {
  .image {
    background: center center no-repeat;
    background-size: cover;
    height: rem-calc(107);
  }
  .info {
    padding: rem-calc(5);
    .title {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 100%;
      padding: 0.2rem;
      margin: 0 auto;
    }
  }
  a.channel {
    display: block;
    color: rgb(85, 85, 85);
  }
  .private-lock {
    width: rem-calc(20) !important;
    height: rem-calc(30) !important;
    position: absolute !important;
    z-index: 10;
    top: 0;
    right: rem-calc(20);
  }
  .channel-overlay-container {
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;

    .delete-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      div.delete {
        color: #f1736a;
      }
      .delete-icon {
        transition: none !important;

        svg {
          transition: none !important;
        }
      }
    }
  }
  &:hover {
    .channel-overlay-container {
      visibility: visible;
    }
  }
}

.private-lock__container {
  position: relative;
  overflow: visible;
  .private-lock {
    position: absolute !important;
    top: 0.5rem;
    right: 0.5rem;
  }
}
