#discovery {
  .discover-title {
    padding: 0 rem-calc(52);
  }
  & > * {
    padding-top: rem-calc(16);
  }
  .discovery-contents {
    position: relative;
  }
  .discovery-contents .columns {
    margin-bottom: 0.5rem;
  }
  .truncate {
    overflow: hidden;
  }
  .columns {
    overflow: auto;
  }
  .empty-state {
    padding: 0 rem-calc(52);
  }
  .tooltip-text {
    position: absolute;
    font-size: 16px;
    line-height: 18px;
    padding: 8px 10px;
    z-index: 3000;
    color: rgb(255, 255, 255);
    overflow: hidden;
    border-radius: 10px;
    user-select: none;
    max-height: 116px;
    opacity: 0.9;
    text-align: center;
    max-width: 250px;
    word-wrap: break-word;
    box-sizing: border-box;
    background-color: rgb(97, 97, 97);
  }
  .card-v2 {
    .tooltip-parent {
      position: relative;

      .tooltip-snippet {
        position: absolute;
        color: rgb(255, 255, 255);
        margin-top: rem-calc(-13);
        left: rem-calc(20);
        background-color: rgba(85, 85, 85, 0.95);
        font-size: rem-calc(12);
        padding: rem-calc(8);
        z-index: 6;
        border-radius: rem-calc(3);

        bottom: 100%;
        left: 0;
        right: 0;
        width: fit-content;
        margin: 0 auto;
      }
    }
  }
}
