.empty-block {
  background-color: $lilac;
  &.video-stream {
    height: rem-calc(250);
  }
  &.influencers {
    height: rem-calc(207);
  }
  &.channels {
    height: rem-calc(185);
  }
  &.courses {
    height: rem-calc(165);
  }
  &.pathways {
    height: rem-calc(252);
  }
  &.content {
    height: rem-calc(280);
    margin-bottom: rem-calc(16);
  }
  & > div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}
