.influencer {
  position: relative;
  .follow {
    padding-top: rem-calc(2);
  }
  .influencer-wrapper {
    text-align: center;
    height: rem-calc(220);

    .influencer-avatar {
      width: rem-calc(80);
      height: rem-calc(80);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-radius: 50%;
    }

    .influencer-info {
      overflow: visible;
      .tooltip-parent {
        position: static !important;
      }

      .influencer-name {
        overflow: hidden;
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-bottom: rem-calc(2);
      }

      .tooltip-snippet {
        margin-top: rem-calc(-30);
        width: rem-calc(250);

        &:before {
          border-width: 6px;
          bottom: calc(50% - 6px);
          content: '';
          position: absolute;
          z-index: 99;
        }

        &.top {
          width: rem-calc(180);
          margin-top: 0 !important;
          left: 0;
          bottom: rem-calc(87);
          &:before {
            border-style: solid inset inset inset;
            border-color: rgba(85, 85, 85, 0.95) transparent transparent transparent;
            left: calc(50% - 6px);
            top: 100%;
          }
        }

        .tooltip-title {
          font-size: rem-calc(14);
          margin-bottom: 10px;
          font-weight: bold;
        }

        .line-clamp-4 {
          display: -webkit-inline-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }

        p {
          white-space: normal;
        }
      }
    }

    .edcaster-info {
      padding-top: rem-calc(4);
      padding-bottom: rem-calc(4);
    }

    a > * {
      margin: auto auto rem-calc(8);
    }
  }
  .role-badges-style {
    svg {
      width: 18px !important;
      height: 18px !important;
    }
  }
  .role-badge-profile {
    svg {
      padding: 0px 0px 4px 0px;
    }
  }
  .align-avtar {
    display: block;
    margin-bottom: -0.6rem;
  }
}
