.pathway,
.journey {
  position: relative;
  .stream-image {
    padding: 8px 16px 8px 8px;
  }
  .image {
    background: center center no-repeat;
    background-size: cover;
    height: rem-calc(178);
    position: relative;
    &:before {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: rem-calc(178);
      overflow: hidden;
      box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px, rgb(216, 216, 216) 8px 8px 0px -3px,
        rgba(0, 0, 0, 0.298039) 9px 9px 1px -3px, rgb(232, 232, 232) 16px 16px 0px -6px,
        rgba(0, 0, 0, 0.298039) 17px 17px 2px -6px;
    }
  }
  .info {
    padding: rem-calc(5);
    .title {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
