.provider {
  .provider-wrapper {
    .provider-logo-container {
      height: 200px;
      display: flex;
      align-items: center;
      img {
        max-width: 180px;
        max-height: 100px;
        margin: auto;
      }
    }
  }
}
