.videostream {
  .image {
    background: center center no-repeat;
    background-size: cover;
    height: rem-calc(178);
    position: relative;
    .live-label {
      font-size: 80%;
      background-color: $edc-pink;
      position: absolute;
      bottom: rem-calc(5);
      right: rem-calc(5);
      border-radius: rem-calc(2);
      color: $white;
      padding: rem-calc(2 5);
      text-transform: uppercase;
    }
  }
  .avatar-name {
    line-height: 1.2;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .stream-from-cms {
    padding: rem-calc(4);
  }
}
