#career-advisor {
  .CA_pathways {
    .item__title {
      width: 70%;
    }
  }

  .CA_channels {
    .item__title {
      width: 85%;
    }
  }

  .CA_courses {
    .item__title {
      width: 35%;
    }
  }

  #trendingSkillsGraph,
  #trendingJobsGraph {
    max-width: 100%;
    max-height: 300px;
    width: auto !important;
    height: auto !important;
  }

  .step-selection {
    color: #8f77c4;
    display: flex;
    border-bottom: 1px solid #e1e0e9;
    margin-bottom: 20px;

    .step {
      color: #e1e0e9;
      flex: 1 0 auto;
      text-align: center;
      font-size: 13px;
      padding-bottom: 10px;
      margin-bottom: -1px;
      position: relative;

      span {
        cursor: pointer;
      }

      &.active,
      &.completed {
        color: #8f77c4;
        border-bottom: 1px solid #8f77c4;
      }

      &.active {
        &::after {
          content: '·';
          position: absolute;
          font-size: 50px;
          line-height: 0;
          bottom: 1px;
          right: 50%;
          width: 0;
        }
        &::before {
          content: '';
          width: 49%;
          border-bottom: 1px solid #e1e0e9;
          position: absolute;
          right: 0;
          bottom: -1px;
        }
      }
    }
  }

  .skill-step {
    background: #d6d5e0;
    padding: 10px 25px;
    margin-right: 30px;
    text-transform: capitalize;
    border-radius: 3px;
    position: relative;
    outline: none;

    &::after {
      content: '→';
      position: absolute;
      right: -22px;
      color: #333;
    }

    &:last-child::after {
      content: none;
    }

    &.selected {
      background: #8f77c4;
      color: white;
    }
  }

  .my-skills {
    font-size: 13px;

    span {
      margin-right: 12px;
      text-transform: capitalize;
    }
  }

  .has-skill {
    color: #5282ed;
  }

  h4 .has-skill {
    font-size: 12px;
    margin-left: 10px;
  }

  .aspiring-map {
    font-size: 13px;
    color: #454560;
    display: flex;

    div {
      width: 50%;
      margin: 5px;
    }

    li {
      line-height: 1.7;
      font-weight: 300;
    }

    h4 {
      padding-top: 16px;
      font-weight: 600;

      &:first-child {
        padding-top: 0;
      }
    }
  }

  .flex {
    display: flex;
    flex-wrap: wrap;

    &.f100 {
      flex: 1 0 100%;
    }

    &.flex-center {
      justify-content: center;
    }

    .flex-header {
      flex: 1 0 100%;

      h4 {
        line-height: 1.3rem;
        margin-bottom: 1rem;
      }

      h5 {
        color: #6f708b;
      }
    }
  }

  .flex-middle {
    display: flex;
    align-items: center;
  }

  .columns {
    justify-content: space-between;
    flex-wrap: nowrap;

    .col {
      flex: 1;
      margin-left: 6px;
      margin-right: 6px;
      &:first-child {
        margin-left: -4px;
      }

      &:last-child {
        margin-right: -4px;
      }

      > svg {
        max-width: 100%;
      }

      &.fg2 {
        flex-grow: 2;
      }
    }

    .col-3 {
      flex: 0 1 33.333333%;
    }
  }

  .select-column {
    display: flex;
    // flex: 1;
    // margin-right: 2rem;

    .Select {
      flex: 1 0 100%;
    }

    .Select-control {
      border-radius: 0;
      background: #f0f0f5;
      border-color: #f0f0f5;
    }

    .step-upload-resume {
      background: #6f6f89;
      padding: 0 12px;
      color: white;
    }
  }

  .list-column {
    line-height: 1.8rem;
  }

  .btn-assessment {
    border: 1px solid #acadc1;
    min-width: 160px;
    margin-bottom: 12px;
    border-radius: 2px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mettl-container {
    text-align: center;
    margin: 0 auto;

    div:first-child {
      margin: 0px 10px 0px 0px;
    }

    div {
      display: inline-block;
    }
  }

  .loadmore-container {
    width: 100%;

    .loadmore-button {
      cursor: pointer;
      float: right;
      color: #4a90e2;
    }
  }

  .ca-block {
    padding: 2rem;
    background: #fff;
    margin-bottom: 12px;
    border-radius: 3px;

    &.p0 {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .loading-resume-placeholder {
    background: #f0f0f5;
    border: none;
    width: 100%;
    height: 36px;
    text-indent: 10px;
    max-width: 340px;
  }

  .btn-actions {
    margin-top: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .btn-upload {
    max-width: 340px;
    border-radius: 2px;
    background-color: #2fb7a0;
    color: #fff;
    padding: 8px 40px;
    display: flex;
    align-items: center;

    svg {
      margin-right: 6px;
    }
  }

  .flex-table {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #d6d6e2;

    .flex-table-header {
      font-weight: bold;
      border-bottom: 1px solid #d6d6e2;
      margin-bottom: 8px;
      padding-bottom: 8px;

      &.flex-table-row > div {
        border-color: transparent;
        height: auto;
      }
    }
    .flex-table-row {
      display: flex;
      flex: 1 0 100%;
      font-size: 13px;

      > div {
        border-right: 1px solid #d6d6e2;
        margin-right: 12px;
        display: flex;
        align-items: center;
        padding: 5px 0;

        &:last-child {
          border-color: transparent;
        }
      }

      .item__provider {
        width: 20%;
      }
      .item__provider {
        img {
          max-height: 48px;
          max-width: 120px;
        }
      }

      .item__action,
      .item__cards_count {
        width: 15%;
      }

      .item__duration,
      .item__credential,
      .item__price {
        width: 10%;
      }

      .item__action {
        justify-content: center;

        a {
          text-decoration: none;
        }

        .completed {
          background-color: #2fb7a0;
        }

        .started {
          background-color: #bdba31;
        }
      }

      .btn__action {
        width: 120px;
        height: 28px;
        color: #fff;
        background: #6f708b;
        border-radius: 2px;
        text-align: center;
        padding: 5px 0;
      }
    }
  }

  .Select {
    position: relative;
  }
  .Select input::-webkit-contacts-auto-fill-button,
  .Select input::-webkit-credentials-auto-fill-button {
    display: none !important;
  }
  .Select input::-ms-clear,
  .Select input::-ms-reveal {
    display: none !important;
  }
  .Select,
  .Select div,
  .Select input,
  .Select span {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .Select.is-disabled .Select-arrow-zone {
    cursor: default;
    pointer-events: none;
    opacity: 0.35;
  }
  .Select.is-disabled > .Select-control {
    background-color: #f9f9f9;
  }
  .Select.is-disabled > .Select-control:hover {
    box-shadow: none;
  }
  .Select.is-open > .Select-control {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background: #fff;
    border-color: #b3b3b3 #ccc #d9d9d9;
  }
  .Select.is-open > .Select-control .Select-arrow {
    top: -2px;
    border-color: transparent transparent #999;
    border-width: 0 5px 5px;
  }
  .Select.is-searchable.is-focused:not(.is-open) > .Select-control,
  .Select.is-searchable.is-open > .Select-control {
    cursor: text;
  }
  .Select.is-focused > .Select-control {
    background: #fff;
  }
  .Select.is-focused:not(.is-open) > .Select-control {
    border-color: #007eff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1);
    background: #fff;
  }
  .Select.has-value.is-clearable.Select--single > .Select-control .Select-value {
    padding-right: 42px;
  }
  .Select.has-value.is-pseudo-focused.Select--single
    > .Select-control
    .Select-value
    .Select-value-label,
  .Select.has-value.Select--single > .Select-control .Select-value .Select-value-label {
    color: #333;
  }
  .Select.has-value.is-pseudo-focused.Select--single
    > .Select-control
    .Select-value
    a.Select-value-label,
  .Select.has-value.Select--single > .Select-control .Select-value a.Select-value-label {
    cursor: pointer;
    text-decoration: none;
  }
  .Select.has-value.is-pseudo-focused.Select--single
    > .Select-control
    .Select-value
    a.Select-value-label:focus,
  .Select.has-value.is-pseudo-focused.Select--single
    > .Select-control
    .Select-value
    a.Select-value-label:hover,
  .Select.has-value.Select--single > .Select-control .Select-value a.Select-value-label:focus,
  .Select.has-value.Select--single > .Select-control .Select-value a.Select-value-label:hover {
    color: #007eff;
    outline: none;
    text-decoration: underline;
  }
  .Select.has-value.is-pseudo-focused.Select--single
    > .Select-control
    .Select-value
    a.Select-value-label:focus,
  .Select.has-value.Select--single > .Select-control .Select-value a.Select-value-label:focus {
    background: #fff;
  }
  .Select.has-value.is-pseudo-focused .Select-input {
    opacity: 0;
  }
  .Select.is-open .Select-arrow,
  .Select .Select-arrow-zone:hover > .Select-arrow {
    border-top-color: #666;
  }
  .Select.Select--rtl {
    direction: rtl;
    text-align: right;
  }
  .Select-control {
    background-color: #fff;
    border-color: #d9d9d9 #ccc #b3b3b3;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: #333;
    cursor: default;
    display: table;
    border-spacing: 0;
    border-collapse: separate;
    height: 36px;
    outline: none;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .Select-control:hover {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  }
  .Select-control .Select-input:focus {
    outline: none;
    background: #fff;
  }
  .Select--single > .Select-control .Select-value,
  .Select-placeholder {
    bottom: 0;
    color: #aaa;
    left: 0;
    line-height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    right: 0;
    top: 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .Select-input {
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
  }
  .Select-input > input {
    width: 100%;
    background: none transparent;
    border: 0 none;
    box-shadow: none;
    cursor: default;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    outline: none;
    line-height: 17px;
    padding: 8px 0 12px;
    -webkit-appearance: none;
  }
  .is-focused .Select-input > input {
    cursor: text;
  }
  .has-value.is-pseudo-focused .Select-input {
    opacity: 0;
  }
  .Select-control:not(.is-searchable) > .Select-input {
    outline: none;
  }
  .Select-loading-zone {
    cursor: pointer;
    display: table-cell;
    text-align: center;
  }
  .Select-loading,
  .Select-loading-zone {
    position: relative;
    vertical-align: middle;
    width: 16px;
  }
  .Select-loading {
    -webkit-animation: Select-animation-spin 0.4s infinite linear;
    -o-animation: Select-animation-spin 0.4s infinite linear;
    animation: Select-animation-spin 0.4s infinite linear;
    height: 16px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-right-color: #333;
    display: inline-block;
  }
  .Select-clear-zone {
    -webkit-animation: Select-animation-fadeIn 0.2s;
    -o-animation: Select-animation-fadeIn 0.2s;
    animation: Select-animation-fadeIn 0.2s;
    color: #999;
    cursor: pointer;
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 17px;
  }
  .Select-clear-zone:hover {
    color: #d0021b;
  }
  .Select-clear {
    display: inline-block;
    font-size: 18px;
    line-height: 1;
  }
  .Select--multi .Select-clear-zone {
    width: 17px;
  }
  .Select-arrow-zone {
    cursor: pointer;
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 25px;
    padding-right: 5px;
  }
  .Select--rtl .Select-arrow-zone {
    padding-right: 0;
    padding-left: 5px;
  }
  .Select-arrow {
    border-color: #999 transparent transparent;
    border-style: solid;
    border-width: 5px 5px 2.5px;
    display: inline-block;
    height: 0;
    width: 0;
    position: relative;
  }
  .Select-control > :last-child {
    padding-right: 5px;
  }
  .Select--multi .Select-multi-value-wrapper {
    display: inline-block;
  }
  .Select .Select-aria-only {
    position: absolute;
    display: inline-block;
    height: 1px;
    width: 1px;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
    float: left;
  }
  @-webkit-keyframes Select-animation-fadeIn {
    0% {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes Select-animation-fadeIn {
    0% {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .Select-menu-outer {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top-color: #e6e6e6;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    margin-top: -1px;
    max-height: 200px;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1;
    -webkit-overflow-scrolling: touch;
  }
  .Select-menu {
    max-height: 198px;
    overflow-y: auto;
  }
  .Select-option {
    box-sizing: border-box;
    background-color: #fff;
    color: #666;
    cursor: pointer;
    display: block;
    padding: 8px 10px;
  }
  .Select-option:last-child {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .Select-option.is-selected {
    background-color: #f5faff;
    background-color: rgba(0, 126, 255, 0.04);
    color: #333;
  }
  .Select-option.is-focused {
    background-color: #ebf5ff;
    background-color: rgba(0, 126, 255, 0.08);
    color: #333;
  }
  .Select-option.is-disabled {
    color: #ccc;
    cursor: default;
  }
  .Select-noresults {
    box-sizing: border-box;
    color: #999;
    cursor: default;
    display: block;
    padding: 8px 10px;
  }
  .Select--multi .Select-input {
    vertical-align: middle;
    margin-left: 10px;
    padding: 0;
  }
  .Select--multi.Select--rtl .Select-input {
    margin-left: 0;
    margin-right: 10px;
  }
  .Select--multi.has-value .Select-input {
    margin-left: 5px;
  }
  .Select--multi .Select-value {
    background-color: #ebf5ff;
    background-color: rgba(0, 126, 255, 0.08);
    border-radius: 2px;
    border: 1px solid #c2e0ff;
    border: 1px solid rgba(0, 126, 255, 0.24);
    color: #007eff;
    display: inline-block;
    font-size: 0.9em;
    line-height: 1.4;
    margin-left: 5px;
    margin-top: 5px;
    vertical-align: top;
  }
  .Select--multi .Select-value-icon,
  .Select--multi .Select-value-label {
    display: inline-block;
    vertical-align: middle;
  }
  .Select--multi .Select-value-label {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    cursor: default;
    padding: 2px 5px;
  }
  .Select--multi a.Select-value-label {
    color: #007eff;
    cursor: pointer;
    text-decoration: none;
  }
  .Select--multi a.Select-value-label:hover {
    text-decoration: underline;
  }
  .Select--multi .Select-value-icon {
    cursor: pointer;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    border-right: 1px solid #c2e0ff;
    border-right: 1px solid rgba(0, 126, 255, 0.24);
    padding: 1px 5px 3px;
  }
  .Select--multi .Select-value-icon:focus,
  .Select--multi .Select-value-icon:hover {
    background-color: #d8eafd;
    background-color: rgba(0, 113, 230, 0.08);
    color: #0071e6;
  }
  .Select--multi .Select-value-icon:active {
    background-color: #c2e0ff;
    background-color: rgba(0, 126, 255, 0.24);
  }
  .Select--multi.Select--rtl .Select-value {
    margin-left: 0;
    margin-right: 5px;
  }
  .Select--multi.Select--rtl .Select-value-icon {
    border-right: none;
    border-left: 1px solid #c2e0ff;
    border-left: 1px solid rgba(0, 126, 255, 0.24);
  }
  .Select--multi.is-disabled .Select-value {
    background-color: #fcfcfc;
    border: 1px solid #e3e3e3;
    color: #333;
  }
  .Select--multi.is-disabled .Select-value-icon {
    cursor: not-allowed;
    border-right: 1px solid #e3e3e3;
  }
  .Select--multi.is-disabled .Select-value-icon:active,
  .Select--multi.is-disabled .Select-value-icon:focus,
  .Select--multi.is-disabled .Select-value-icon:hover {
    background-color: #fcfcfc;
  }
  @keyframes Select-animation-spin {
    to {
      transform: rotate(1turn);
    }
  }
  @-webkit-keyframes Select-animation-spin {
    to {
      -webkit-transform: rotate(1turn);
    }
  }
  body {
    color: #333;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    margin: 0;
    padding: 0;
  }
  a {
    color: #007eff;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    padding: 0 30px;
  }
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #000;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 0.66em;
    margin-top: 0;
  }
  .h1,
  h1 {
    font-size: 3em;
  }
  .h2,
  h2 {
    font-size: 2em;
    font-weight: 300;
  }
  .h3,
  h3 {
    font-size: 1.25em;
  }
  .h4,
  h4 {
    font-size: 1em;
  }
  .h5,
  h5 {
    font-size: 0.85em;
  }
  .h6,
  h6 {
    font-size: 0.75em;
  }
  .page-body,
  .page-footer,
  .page-header {
    padding: 30px 0;
  }
  .page-header {
    background-color: #007eff;
    color: #bfdfff;
  }
  .page-header h1,
  .page-header h2,
  .page-header h3 {
    color: #fff;
  }
  .page-header p {
    font-size: 1.2em;
    margin: 0;
  }
  .page-header a {
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.3);
    color: #fff;
    text-decoration: none;
  }
  .page-header a:focus,
  .page-header a:hover {
    border-bottom-color: #fff;
    outline: none;
    text-decoration: none;
  }
  .page-subheader {
    background-color: #e6f2ff;
    line-height: 20px;
    padding: 30px 0;
  }
  .page-subheader__button {
    float: right;
  }
  .page-subheader__link {
    border-bottom: 1px solid rgba(0, 126, 255, 0.3);
    outline: none;
    text-decoration: none;
  }
  .page-subheader__link:focus,
  .page-subheader__link:hover {
    border-bottom-color: #007eff;
    outline: none;
    text-decoration: none;
  }
  .page-footer {
    background-color: #fafafa;
    color: #999;
    padding: 30px 0;
    text-align: center;
  }
  .page-footer a {
    color: #000;
  }
  @media (min-width: 480px) {
    .page-body,
    .page-header {
      padding: 60px 0;
    }
    .page-header {
      font-size: 1.4em;
    }
    .page-subheader {
      font-size: 1.125em;
      line-height: 28px;
    }
  }
  .checkbox-list {
    margin-top: 0.5em;
    overflow: hidden;
  }
  .checkbox-list > .checkbox {
    clear: left;
    float: left;
    margin-top: 0.5em;
  }
  .checkbox-control {
    margin-right: 0.5em;
    position: relative;
    top: -1px;
  }
  .switcher {
    color: #999;
    cursor: default;
    font-size: 12px;
    margin: 10px 0;
    text-transform: uppercase;
  }
  .switcher .link {
    color: #007eff;
    cursor: pointer;
    font-weight: 700;
    margin-left: 10px;
  }
  .switcher .link:hover {
    text-decoration: underline;
  }
  .switcher .active {
    color: #666;
    font-weight: 700;
    margin-left: 10px;
  }
  .section {
    margin-bottom: 40px;
  }
  .hint {
    font-size: 0.85em;
    margin: 15px 0;
    color: #666;
  }
  .virtual-scroll {
    z-index: 1;
  }
}
