.team-analytics-base {
  padding-top: rem-calc(20);
  padding-bottom: rem-calc(30);

  .row-width {
    max-width: none;
    margin: 0 40px;
  }

  .breadcrumbBack {
    cursor: pointer;
    width: 25px;
  }

  .graphs-container {
    padding-top: rem-calc(10);
    .small-graph-container {
      .recharts-responsive-container {
        tspan {
          font-size: 9px;
        }
      }
    }
  }

  .graph-container {
    .graph-title {
      font-weight: 700;
      color: #7a7a93;
    }

    .graph-subtitle {
      color: #7a7a93;
    }

    .graph {
      margin-left: -(rem-calc(30));
      font-size: 12px;
      margin-bottom: -(rem-calc(16));
      font-weight: 600;

      .recharts-layer {
        .recharts-text {
          font-weight: 600;
          fill: #7a7a93 !important;
        }

        .recharts-cartesian-axis-tick-line {
          stroke: #c5c5ca !important;
        }
      }
    }
  }

  .small-graph-container {
    padding-bottom: rem-calc(16);
    padding-left: rem-calc(8);
    padding-right: rem-calc(8);
    cursor: pointer;

    .graph-title {
      margin-bottom: rem-calc(5);
    }

    .graph-subtitle {
      font-size: 12px;
      margin-bottom: rem-calc(5);
    }

    .graph {
      height: rem-calc(200);
    }
  }

  .standalone-graph-container {
    padding-top: rem-calc(10);
    padding-bottom: rem-calc(10);

    .graph-title {
      font-size: 25px;
    }

    .graph-subtitle {
      margin-bottom: rem-calc(20);
    }

    .graph {
      height: rem-calc(400);
    }

    .graph-header-row {
      margin-bottom: rem-calc(10);
      margin-top: rem-calc(40);
      max-width: none;
      border-bottom: 1px solid #d6d6e1;
      .graph-header {
        padding-bottom: 5px;
        font-size: 17px;
        font-weight: 600;
        color: #454560;

        &:first-child {
          padding-left: 0;
        }
      }
    }

    .graph-body-row {
      margin-bottom: rem-calc(10);
      margin-top: rem-calc(25);
      max-width: none;
      border-bottom: 1px solid #d6d6e1;
      .graph-body {
        padding-bottom: 25px;
        font-size: 14px;
        color: #666666;

        &:first-child {
          padding-left: 0;
        }
      }
    }
  }

  .top-container {
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    cursor: pointer;
    .tick-grp {
      text {
        font-size: 9px !important;
      }
    }
  }

  .assignment-analytics-container {
    margin-left: 0;
    .path-title {
      word-wrap: break-word;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      position: relative;
      line-height: 1.2;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0 !important;
      -webkit-line-clamp: 2;
      font-size: 14px;
      cursor: pointer;
      font-weight: 600;
      color: #6f718a !important;
    }

    .card-list-row {
      font-size: 13px;
      margin-bottom: 5px;
      max-width: none;
      border-bottom: 1px solid #d6d6e1;
      padding-top: 10px;
      padding-bottom: 10px;
      height: 70px;

      .title-wrapper {
        padding-left: 0;
        padding-right: 30px;
        font-size: 13px;
      }

      .count-link {
        text-decoration: underline;
        color: #4990e2;
      }
    }

    .card-meta-data {
      font-size: 11px;
      color: #818298;
      font-weight: 600;
      margin-top: 5px !important;
      .meta-data-title {
        color: #aaaab6 !important;
        display: inline-block;
        font-weight: 500;
      }
    }

    .cell-center-align {
      text-align: center;
      margin: auto;
      color: #6f718a !important;
    }

    .assignment-header-row {
      max-width: none;
      .assignment-header {
        padding-bottom: 5px;
        font-size: 13px;
        font-weight: 600;
        color: #353647;

        &:first-child {
          padding-left: 0;
        }
      }
    }

    .card-state {
      text-transform: capitalize;
    }

    .learning-progress-wrapper {
      padding-right: 50px;
    }

    .learning-progress {
      background: #cacaca !important;
      height: 12px !important;
    }

    .learning-load-more {
      padding: 10px 0;
      font-size: 13px;
      text-align: right;
      background-color: white;
      color: #4990e2;
      font-size: 14px;
      text-decoration: underline;
      cursor: auto;

      span {
        cursor: pointer;
      }
    }

    .learning-plan-section-title {
      font-size: 16px;
      color: #6f708b;
      margin-bottom: 12px;
      font-weight: 400;
      text-transform: uppercase;
    }

    .learning-content-row-wrapper {
      border-bottom: 1px solid #d6d6e1;
    }
  }
  .download-button-container {
    height: 1rem;

    .download-button {
      width: 8rem;
    }
  }
  .standalone-graph-container .download-button-container {
    height: 2.5rem;
  }
}
