#ecl-search {
  padding-top: 1.5rem;
  color: #454560;

  .lighter {
    font-weight: 100;
  }

  .paper-card {
    width: 100%;
  }

  .search-content-section {
    button span {
      text-transform: capitalize !important;
    }
  }

  .filter-title {
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    color: #6f708b;
    text-transform: capitalize;
    display: inline-block;
  }

  .translucent-layer {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(255, 255, 255, 0.6);
    left: 0;
    z-index: 2;
  }

  .each-filter-label {
    font-size: 14px;
    text-align: left;
    color: #6f708b;
  }

  .search-section-header {
    font-size: 16px;
    color: #454560;
    font-weight: normal;
    text-transform: capitalize;
  }

  .custom-card-container .three-card-column .card-v2 {
    margin-bottom: 15px;

    &:nth-child(3n) {
      padding-left: 7.5px;
    }
    &:nth-child(3n + 1) {
      padding-right: 7.5px;
    }
    &:nth-child(3n + 2) {
      padding-right: 7.5px;
      padding-left: 7.5px;
    }
  }

  .search-channel {
    &:nth-child(3n) {
      padding-left: 7.5px;
    }
    &:nth-child(3n + 1) {
      padding-right: 7.5px;
    }
    &:nth-child(3n + 2) {
      padding-right: 7.5px;
      padding-left: 7.5px;
    }
    .image {
      margin: 8px 8px 0 8px;
    }
    .info {
      padding: 5px 5px 4px 5px;
    }
  }

  .search-people {
    &:nth-child(4n) {
      padding-left: 7.5px;
    }
    &:nth-child(4n + 1) {
      padding-right: 7.5px;
    }
    &:nth-child(4n + 2),
    &:nth-child(4n + 3) {
      padding-right: 7.5px;
      padding-left: 7.5px;
    }
  }

  .ecl-search-card {
    padding: 1rem;
  }

  .result-card {
    margin-top: 0.5rem;
    margin-bottom: 1rem;

    .ecl-search-card {
      .card-img {
        height: rem-calc(150);
      }

      .card-description {
        font-size: rem-calc(14);
        border-bottom: rem-calc(1) solid $lilac;
        padding-bottom: rem-calc(10);
      }
    }

    .card-meta {
      padding: rem-calc(10 0 35 0);
      .author-info {
        font-size: rem-calc(12);
        float: left;
        img {
          width: rem-calc(40);
          height: rem-calc(40);
          border-radius: 50%;
          margin-right: rem-calc(5);
        }
      }

      .card-actions {
        float: right;

        ul {
          list-style: none;
          margin: 0;
          li {
            a {
              font-size: rem-calc(12);
            }
          }
        }
        svg {
          color: $silver-sand !important;
        }
      }
    }

    .card-header {
      margin-bottom: rem-calc(10);
      border-bottom: rem-calc(1) solid $lilac;
      padding-bottom: rem-calc(5);
      .card-title {
        font-size: rem-calc(22);
        display: inline;
        a {
          color: $black;
          &:hover {
            color: $edc-blue;
          }
        }
      }

      .card-cat {
        float: right;
        text-align: right;
        span {
          background: $lilac;
          font-size: rem-calc(12);
          padding: rem-calc(4 15);
          border-radius: rem-calc(1);
          text-transform: uppercase;
        }
      }
    }

    .card-desc {
      padding: rem-calc(10);
    }

    .card-img {
      background-position: center;
      background-size: contain;
    }

    .pathway-list-container {
      position: absolute;
      right: rem-calc(80);
      margin-top: rem-calc(10);
      padding: rem-calc(5 10);
      z-index: 1;
      min-width: rem-calc(180);

      .pathway-list-heading {
        padding-bottom: rem-calc(4);
        border-bottom: rem-calc(1) solid $gray;
        font-size: rem-calc(14);
        margin-bottom: rem-calc(5);
      }

      .pathway-message {
        padding: rem-calc(5 10);
      }

      .close-link {
        position: absolute;
        top: 0;
        right: rem-calc(4);
        a {
          color: $dark-gray;
          font-weight: bold;
        }
      }
      /*&:before{
        border: inset 6px;
        content: "";
        display: block;
        height: 0;
        width: 0;
        border-color: transparent transparent #808080 transparent;
        border-bottom-style: solid;
        position: absolute;
        top: -12px;
        left: 10px;
        z-index: 89;
      }*/
    }
  }

  .search-type {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    ul {
      list-style: none;
      margin: 0;
      li {
        a {
          font-size: rem-calc(14);
          color: $gray;
          text-transform: capitalize;
          &.active,
          &:hover {
            color: $edc-blue;
          }
        }
      }
    }

    .filter-checks {
      ul {
        li {
        }
      }
    }

    .filter-list {
      ul {
        li {
          label {
            line-height: rem-calc(28);
          }
        }
      }
    }
  }

  .filter-checks {
    li {
      font-size: rem-calc(14);
      line-height: rem-calc(24);
      input {
        margin-right: rem-calc(5);
      }
    }
  }

  .card-type {
    ul {
      li {
        line-height: rem-calc(28);
      }
    }
  }

  .pathway-content {
    max-height: rem-calc(150);
    margin-top: rem-calc(12);

    .pathway-img {
      min-height: rem-calc(150);
      background-position: center;
      background-size: contain;
    }

    .pathway-numbers {
      margin-left: -30px;
    }

    .pathway-number {
      padding: rem-calc(8);
      span {
        background: rgba(236, 64, 95, 0.49);
        padding: 8px 14px;
        border-radius: 20px;
        color: $white;
        text-shadow: 1px 1px 4px #000000;
        vertical-align: middle;
      }
    }

    .pathway-list-item {
      font-size: rem-calc(12);
    }

    ul {
      margin: 0;
      padding-top: rem-calc(10);
      list-style: none;

      li {
        margin-bottom: rem-calc(5);
      }
    }
  }
  .yearClear {
    position: absolute !important;
    top: 6%;
    left: 74%;
    label {
      color: #4990e2 !important;
    }
  }

  .result-block {
    margin-left: 7px;
  }

  .info-block-in-search {
    margin-bottom: 15px;
  }

  .veiw-more__container {
    margin-bottom: 27px;
    margin-top: 15px;
  }

  .row_big {
    max-width: 77.625rem;
  }

  .filter-row {
    margin-bottom: 10px;
  }

  .filter-row__title {
    padding-left: 11px;
  }

  .new-search__paper-container {
    position: relative;
  }
}

#ecl-search2 {
  color: #454560;
  padding-top: 0;

  .lighter {
    font-weight: 100;
  }

  .search-container {
    padding: 40px;
    display: flex;
    border-top: solid 1px #d6d6e1;
  }

  .search-section-header {
    padding-bottom: 4px;
  }

  .search-container__left-column {
    width: 24.5%;
    max-width: 352px;
    min-width: 300px;
  }
  .search-container__right-column {
    width: 75.5%;
    min-width: calc(100% - 352px);
    padding-left: 16px;

    .card-v2 {
      .paper-card,
      .channel-course {
        width: 100% !important;
      }
    }
    @media (max-width: 979px) {
      .card-v2:not(.card-v2__simple-size) {
        width: 100%;
      }
    }
    @media (max-width: 850px) {
      .card-v2.card-v2__simple-size {
        width: 100%;
      }
    }
    @media (min-width: 980px) {
      .card-v2:not(.card-v2__simple-size) {
        width: 50%;
      }
    }
    @media (min-width: 850px) {
      .card-v2.card-v2__simple-size {
        width: 50%;
      }
    }
    @media (min-width: 1280px) {
      .card-v2:not(.card-v2__simple-size) {
        width: 33.3333%;
      }
    }
    @media (min-width: 1100px) {
      .card-v2.card-v2__simple-size {
        width: 33.3333%;
      }
    }
    @media (min-width: 1632px) {
      .card-v2:not(.card-v2__simple-size) {
        width: 25%;
      }
    }
    @media (min-width: 1320px) {
      .card-v2.card-v2__simple-size {
        width: 25%;
      }
    }
    @media (min-width: 1932px) {
      .card-v2:not(.card-v2__simple-size) {
        width: 20%;
      }
    }
    @media (min-width: 1520px) {
      .card-v2.card-v2__simple-size {
        width: 20%;
      }
    }
    @media (min-width: 2232px) {
      .card-v2:not(.card-v2__simple-size) {
        width: 16.666%;
      }
    }
    @media (min-width: 1921px) {
      .card-v2.card-v2__simple-size {
        width: 16.666%;
      }
    }
  }
  .search-container__subtitle {
    font-size: 16px;
    line-height: 1;
  }

  .new-search__paper {
    padding: 11px 15px;
    border-radius: 4px;
    margin-bottom: 16px;
    &:first-child {
      margin-top: 11px;
    }
  }

  .filter-title {
    font-size: 16px;
    font-weight: 600;
    color: #6f708b;
    padding-bottom: 16px;
    line-height: 1;
    &:first-letter {
      text-transform: uppercase;
    }
  }

  .outer-checkbox > div > div {
    align-items: center;
    font-size: rem-calc(12);
  }

  .inner-checkbox {
    padding-left: 25px;
  }

  .inner-checkbox > div > div {
    align-items: center;
    font-size: rem-calc(12);
  }

  .user-search-input {
    max-width: 157px;
  }

  .list-users .user-chip {
    height: 26px;
  }

  .list-users .user-chip span,
  .list-users .user-chip small {
    line-height: 26px !important;
  }

  .accordion-title span {
    text-transform: capitalize;
    font-size: 16px;
    color: #454560;
  }

  .accordion-title > span > span {
    text-transform: capitalize;
    font-size: 16px;
    color: #454560;
  }

  .accordion-title__icon {
    font-size: 14px;
  }

  .link-btn {
    font-size: 14px;
    line-height: 2.14;
    text-align: right;
    color: #4990e2;
    text-decoration: underline;
    cursor: pointer;
  }

  .custom-card-container .three-card-column .card-v2,
  .custom-card-container .channel-card-wrapper-inner .card-v2,
  .custom-card-container .discover-card-wrapper-inner .card-v2,
  .channel-card-wrapper .three-card-column .card-v2,
  .channel-card-wrapper .channel-card-wrapper-inner .card-v2,
  .channel-card-wrapper .discover-card-wrapper-inner .card-v2,
  .discover-card-wrapper .three-card-column .card-v2,
  .discover-card-wrapper .channel-card-wrapper-inner .card-v2,
  .discover-card-wrapper .discover-card-wrapper-inner .card-v2 {
    width: 223px;
    margin-bottom: 16px;
    margin-right: 16px;
  }

  .new-search__paper-container {
    position: relative;
  }

  .veiw-more__container {
    margin-bottom: 27px;
    margin-top: 15px;
  }
}
// To override ripple effect
.outer-checkbox,
.year-radio-button {
  span {
    top: -8px !important;
    left: -9px !important;
  }
}

.inner-checkbox {
  padding-left: 28px;
  span {
    top: -5px !important;
    left: -8px !important;
  }
}

.user-search-input {
  position: relative;
  font-weight: 300;
  color: #6f708b;
  .bootstrap-typeahead-input-main {
    border-radius: 2px;
    background-color: white !important;
    outline: 0;
    padding-left: 25px;
    font-size: 14px;
    color: #6f708b;
    width: 100%;
    height: 24px;
    border: 1px solid #86879e;
    &.bootstrap-typeahead-input-main-v1 {
      color: white !important;
    }
  }

  .dropdown-menu {
    position: absolute;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  }

  .dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #777;
    white-space: nowrap;
  }

  .dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
  }

  .bootstrap-typeahead .dropdown-menu > li a {
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #f2f2f2;
    }
  }

  .bootstrap-typeahead .dropdown-menu > li.disabled {
    padding-left: 12px;
    a:hover {
      background-color: transparent;
    }
  }

  .dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
  }

  .dropdown-menu-justify {
    right: 0;
  }

  .search-button {
    position: absolute;
    left: 4px;
    top: 4px;
    z-index: 1;
    padding: 0;
    outline: 0;
    width: 21px;
  }

  .bootstrap-typeahead-input-hint {
    background-color: transparent;
    font-size: 12px;
  }

  .action-icon {
    height: 21px;
  }
}

.user-search-image {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 7px;
  vertical-align: middle;
  display: inline-block;
}

.user-search-name {
  display: inline-block;
  vertical-align: middle;
}

.list-users .user-chip {
  margin-bottom: 5px;
  height: 24px;
  padding-right: 16px !important;
  margin: 0 5px 5px 0 !important;

  span,
  small {
    line-height: 24px !important;
    color: white;
  }

  svg {
    width: 21px !important;
    height: 21px !important;
  }
}

//Styling For Price Filter
.price-filter-input {
  width: 25%;
  display: inline-block;
  padding-left: 5px;
  font-size: 14px;
  color: #6f708b;
  height: 24px;
  outline: none;
}

.sources-filter-container {
  :focus {
    outline: none;
  }
  .bootstrap-typeahead-input-main {
    border-radius: 2px;
    background-color: white !important;
    outline: 0;
    padding-left: 25px;
    font-size: 14px;
    color: #6f708b;
    width: 100%;
    max-width: 157px;
    height: 24px;
    border: 1px solid #86879e;
    &.bootstrap-typeahead-input-main-v1 {
      color: white !important;
    }
  }
  .search-button {
    position: absolute;
    left: 4px;
    top: 4px;
    z-index: 1;
    padding: 0;
    outline: 0;
    width: 18px;
  }
  .search-source-input {
    max-width: 100%;
  }
}

.search-loading {
  height: 70vh;
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  img {
    width: rem-calc(100);
  }
}

.search-spinner {
  position: absolute;
  top: calc(50% - 1.078125rem);
  left: calc(50% - 1.40625rem);
  width: 2.8125rem;
}
