@keyframes placeHolderShimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

.animated-background {
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #e9f0f4 8%, #e2ebf0 18%, #e9f0f4 33%);
  background-size: 800px 104px;
  position: relative;
  &.ht-257 {
    height: 257px;
  }
  &.ht-180 {
    height: 180px;
  }
}

.search-loader-card .avatar {
  background-color: #e9f0f4;
}

.grey-background-masker {
  background: #f2f2f2;
  position: absolute;
}

.top-heading {
  height: 13px;
  position: relative;
  &.right {
    width: 300px;
  }
}

.top-header {
  top: 0;
  right: 0;
  height: 13px;
  &.left {
    left: 138px;
  }
  &.right {
    left: 210px;
  }
}

.content-section-heading {
  position: relative;
  height: 15px;
  margin-top: 6px;
  width: 300px;
}

.content-header {
  left: 110px;
  height: 15px;
  right: 0;
  width: calc(100% - 110px);
}

.background-masker {
  background: #fff;
  position: absolute;
}

.filter-container {
  padding: 17px 14px 24px 14px !important;
  margin-bottom: 15px;
}

.filter-line-1 {
  left: 35px;
  right: 0;
  height: 16px;
}

.filter-line-2 {
  top: 16px;
  left: 0;
  right: 0;
  height: 15px;
}

.checkbox-outer {
  width: 14px;
  height: 14px;
  border-radius: 2px;
  opacity: 0.6;

  &.first {
    top: 30px;
  }
  &.second {
    top: 209px;
  }
  &.third {
    top: 243px;
  }
  &.fourth {
    top: 64px;
  }
  &.fifth {
    top: 98px;
  }
  &.sixth {
    top: 132px;
  }
  &.seventh {
    top: 166px;
  }
}

.outer-checkbox-label-gap {
  width: 14px;
  height: 14px;
  left: 14px;
  &.first {
    top: 30px;
  }
  &.second {
    top: 209px;
  }
  &.third {
    top: 243px;
  }
  &.fourth {
    top: 64px;
  }
  &.fifth {
    top: 98px;
  }
  &.sixth {
    top: 132px;
  }
  &.seventh {
    top: 166px;
  }
}

.after-label-1 {
  left: 121px;
  top: 30px;
  height: 14px;
  width: calc(100% - 121px);
}

.filter-line-4 {
  top: 44px;
  left: 0;
  right: 0;
  height: 20px;
}

.filter-stars {
  padding-left: 8px;
  overflow: visible !important;
  top: 8px;
  span {
    margin-right: 0.25rem;
    font-weight: bold;
  }
  span:last-of-type {
    margin-right: 0;
  }
}

.checkbox-inner {
  width: 12px;
  height: 12px;
  border-radius: 2px;
  opacity: 0.6;
  left: 28px;

  &.first {
    top: 64px;
  }
  &.second {
    top: 93px;
  }
  &.third {
    top: 122px;
  }
  &.fourth {
    top: 151px;
  }
  &.fifth {
    top: 180px;
  }
}

.checkbox-inner-before {
  width: 28px;
  height: 12px;
  left: 0;
  &.first {
    top: 64px;
  }
  &.second {
    top: 93px;
  }
  &.third {
    top: 122px;
  }
  &.fourth {
    top: 151px;
  }
  &.fifth {
    top: 180px;
  }
}

.inner-checkbox-label-gap {
  width: 12px;
  height: 12px;
  left: 40px;
  &.first {
    top: 64px;
  }
  &.second {
    top: 93px;
  }
  &.third {
    top: 122px;
  }
  &.fourth {
    top: 151px;
  }
  &.fifth {
    top: 180px;
  }
}

.after-label-2 {
  left: 118px;
  top: 64px;
  height: 12px;
  width: calc(100% - 118px);
}

.after-label-3 {
  left: 113px;
  top: 93px;
  height: 12px;
  width: calc(100% - 113px);
}

.after-label-4 {
  left: 100px;
  top: 122px;
  height: 12px;
  width: calc(100% - 100px);
}

.after-label-5 {
  left: 120px;
  top: 151px;
  height: 12px;
  width: calc(100% - 120px);
}

.after-label-6 {
  left: 124px;
  top: 180px;
  height: 12px;
  width: calc(100% - 124px);
}

.after-label-7 {
  left: 114px;
  top: 209px;
  height: 14px;
  width: calc(100% - 114px);
}

.after-label-8 {
  left: 100px;
  top: 243px;
  height: 14px;
  width: calc(100% - 100px);
}

.after-label-9 {
  left: 135px;
  top: 30px;
  height: 14px;
  width: calc(100% - 135px);
}

.after-label-10 {
  left: 145px;
  top: 64px;
  height: 14px;
  width: calc(100% - 145px);
}

.after-label-11 {
  left: 142px;
  top: 98px;
  height: 14px;
  width: calc(100% - 142px);
}

.after-label-12 {
  left: 153px;
  top: 132px;
  height: 14px;
  width: calc(100% - 153px);
}

.after-label-13 {
  left: 145px;
  top: 166px;
  height: 14px;
  width: calc(100% - 145px);
}

.filter-line-5 {
  @extend .filter-line-4;
  top: 76px;
  height: 17px;
}

.filter-line-6 {
  @extend .filter-line-5;
  top: 105px;
}

.filter-line-7 {
  @extend .filter-line-5;
  top: 134px;
}

.filter-line-8 {
  @extend .filter-line-5;
  top: 163px;
}

.filter-line-9 {
  @extend .filter-line-5;
  top: 192px;
}

.filter-line-10 {
  @extend .filter-line-4;
  top: 223px;
}

.filter-line-11 {
  @extend .filter-line-4;
  top: 78px;
}

.filter-line-12 {
  @extend .filter-line-4;
  top: 112px;
}

.filter-line-13 {
  @extend .filter-line-4;
  top: 146px;
}

.search-loader-card {
  border-radius: 3px;
  width: 100%;
  height: 350px;
  margin-bottom: 15px;
  border: 1px solid #e3e3e3;
}

.search-loader-card-wrapper {
  &:nth-child(3n) {
    padding-left: 7.5px;
  }
  &:nth-child(3n + 1) {
    padding-right: 7.5px;
  }
  &:nth-child(3n + 2) {
    padding-right: 7.5px;
    padding-left: 7.5px;
  }
}

.card-block {
  border-radius: 0 0 3px 3px;
  height: 190px;
  top: 160px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 12px 10px;
  position: relative;
}

.avatar-wrapper {
  width: 35px;
  height: 25px;
  left: 0;
  top: 0;

  .avatar {
    border-radius: 50%;
    width: 25px;
    height: 25px;
  }
}

.after-name {
  top: 0;
  left: 105px;
  height: 10px;
  width: calc(100% - 105px);
}

.card-time {
  top: 15px;
  left: 120px;
  height: 10px;
  width: calc(100% - 120px);
}

.card-line-1 {
  width: calc(100% - 35px);
  height: 5px;
  top: 10px;
  left: 35px;
}

.card-line-2 {
  width: 100%;
  height: 20px;
  top: 25px;
  left: 0;
}

.card-line-3 {
  width: calc(100% - 50px);
  height: 10px;
  top: 45px;
  left: 50px;
}

.card-line-4 {
  width: 100%;
  height: 12px;
  top: 55px;
  left: 0;
}

.card-line-5 {
  width: 100%;
  height: 8px;
  top: 75px;
  left: 0;
}

.card-line-6 {
  width: 100%;
  height: 8px;
  top: 91px;
  left: 0;
}

.card-line-7 {
  width: 100%;
  height: 8px;
  top: 107px;
  left: 0;
}

.card-line-8 {
  width: 100%;
  height: 20px;
  top: 123px;
  left: 0;
}

.after-card-icon-1 {
  width: 28px;
  height: 23px;
  top: 143px;
  left: 23px;
}

.after-card-icon-2 {
  width: 110px;
  height: 23px;
  top: 143px;
  left: 79px;
}

.channel-loader,
.trending-pathway-loader,
.course-loader,
.video-loader {
  height: 177px;

  .channel-name-loader {
    position: relative;
    height: 20px;
    margin: 0 0 5px 0;

    div {
      position: absolute;
      height: 20px;
      background: #fff;
      width: 20%;
    }
    .channel-name-loader-right {
      right: 0;
    }

    .channel-name-loader-left {
      left: 0;
    }
  }

  .channel-line {
    width: 100%;
    height: 5px;
    top: 20px;
    left: 0;
  }

  .channel-button-loader {
    position: relative;
    height: 30px;

    div {
      position: absolute;
      height: 30px;
      background: #fff;
      width: 25%;
    }
    .channel-button-loader-right {
      right: 0;
    }

    .channel-button-loader-left {
      left: 0;
    }
  }

  .channel-block {
    height: 68px;
    top: 107px;
  }
}

.trending-pathway-loader {
  height: 252px;

  .channel-block {
    top: 182px;
  }
}

.video-loader {
  height: 247px;

  .video-title-block {
    height: 60px;
    top: 185px;
    padding: 22px 10px;
  }
}

.video-loader,
.trending-pathway-loader,
.course-loader {
  .channel-line {
    height: 10px;
  }
}

.provider-loader {
  height: 200px;
}

.user-loader {
  height: auto;

  .card-block {
    top: 0;
    height: 220px;
    padding: 25px 10px;
  }

  .animated-background {
    height: 100%;
  }

  .avatar-wrapper {
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
  }

  .avatar-wrapper .avatar {
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    margin: 0px auto;
  }

  .line-0 {
    top: 80px;
    height: 20px;
    width: 100%;
  }

  .line-1 {
    left: 0;
    top: 100px;
    height: 20px;
    width: 10%;
  }

  .line-2 {
    right: 0;
    top: 100px;
    height: 20px;
    width: 10%;
  }

  .line-3 {
    right: 0;
    top: 120px;
    height: 15px;
    width: 100%;
  }

  .line-4 {
    right: 0;
    top: 135px;
    height: 35px;
    width: 16%;
  }

  .line-5 {
    left: 0;
    top: 135px;
    height: 35px;
    width: 16%;
  }
}
