.search-v2_container {
  display: flex;
  margin: 24px;

  .search-v2_left-col {
    flex: 1 0 20%;
    max-width: 250px;
    margin-right: 24px;
  }

  .search-v2_right-col {
    width: 100%;
  }

  .search-v2_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    // Align everything to the left.
    &::after {
      content: '';
      flex: 1 1 30%;
      max-width: 30%;
      margin: 1% 0;
    }

    // Fix for v2 cards
    .card-v2.card-v2__simple-size {
      flex: 1 1 30%;
      margin: 1% 0;
      max-width: 30%;
    }
  }

  .search-v2__bucket {
    background: white;
    border-radius: 1px;
    padding: 18px;
    color: #6f708b;
    margin-bottom: 24px;

    .search-option-tag {
      margin: 8px 0 4px 8px;
      font-size: 13px;
      font-weight: 600;
    }

    .filter-select {
      margin-bottom: 4px;
    }

    div {
      margin-left: 28px;
      display: flex;
      align-items: center;
      font-size: rem-calc(12);

      label {
        cursor: pointer;
      }

      input {
        margin-right: 9px;
        border-radius: 2px;
        -webkit-appearance: none;
        width: rem-calc(14);
        height: rem-calc(14);
        border: 1px solid #6f708b;
        outline: none;
        flex: 0 0 rem-calc(14);
        cursor: pointer;

        &:checked {
          background-color: #6f708b;
          &:before {
            content: '';
            display: block;
            width: 7px;
            height: 14px;
            border-top: 2px solid transparent;
            border-left: 2px solid transparent;
            border-right: 2px solid #fff;
            border-bottom: 2px solid #fff;
            -webkit-transform: rotateZ(37deg);
            transform: rotateZ(37deg);
            margin-left: 3px;
            margin-top: -2px;
          }
        }

        &[disabled] {
          opacity: 0.5;
          ~ label {
            opacity: 0.5;
          }
        }
      }
    }
  }

  .search-v2__sub-bucket {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
  }

  .custom-card-container {
    .five-card-column {
      display: flex;
      flex-wrap: wrap;

      .card-v2.search-people,
      .card-v2.search-channel {
        flex: 0 1 20%;
        max-width: 20%;

        button {
          display: none !important; // Hide the follow button
        }
      }
    }
  }

  .header-overwrite {
    button {
      display: none !important;
    }

    // Issue since we don't use classes and need to modify the users and channels component
    > div + div {
      margin: 8px;
    }
  }
}

.searchCard {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  flex: 1 1 30%;
  max-width: 30%;
  margin: 1% 0;
  position: relative;
  cursor: pointer;
  background: #000000;

  .cardImage {
    height: 170px;
    width: 100%;
    opacity: 0.8;
    object-fit: cover;
  }

  .price {
    font-size: 10px;
    padding: 5px 10px;
    color: #ffffff;
    position: absolute;
    top: 0;
    right: 10px;
    border-radius: 2px;
  }

  .cardType {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    top: 150px;
    left: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 7px 12px;
  }

  .detailContainer {
    padding: 10px 10px;
    background-color: #ffffff;

    .typeAndTime {
      font-size: 10px;
      margin-bottom: 10px;
      margin-left: 50px;
    }

    .cardTitle {
      font-size: 15px;
      height: 20px;
      overflow: hidden;
      margin-bottom: 10px;
    }

    .desc {
      font-size: 12px;
      height: 15px;
      overflow: hidden;
    }
  }

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
}

// div.searchCard:nth-child(1) {
//     margin-left: 0;
// }

// div.searchCard:nth-child(5n+1) {
//     margin-left: 0;
// }
