// Onboarding modal
.onboarding-modal-body {
  transform: none !important;
}

// Onboarding modal to have translucent like background
.onboarding-modal-body > div {
  background-color: rgba(255, 255, 255, 0.93) !important;
}

// Onboarding modal height
.onboarding-modal-body > div > div {
  max-height: none !important;
}

// Transitions for errors appearing below inputs
.error-appear {
  opacity: 0.01;
}

.error-appear.error-appear-active {
  opacity: 1;
  transition: opacity 0.4s ease-in;
}

// Transitions for skill chips
.skill-enter {
  opacity: 0.01;
}

.skill-enter.skill-enter-active {
  opacity: 1;
  transition: opacity 400ms ease-in;
}

.skill-leave {
  opacity: 1;
}

.skill-leave.skill-leave-active {
  opacity: 0.01;
  transition: opacity 400ms ease-in;
}

// Transitions for onboarding last screen
.onboarding-enter {
  opacity: 0.01;
}

.onboarding-enter.onboarding-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.onboarding-leave {
  opacity: 1;
}

.onboarding-leave.onboarding-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

// Label stylings used in onboarding screens
.onboarding-label {
  display: block;
  margin-bottom: rem-calc(6);
  color: #454560;
  font-size: rem-calc(12);
}

// Each screen title and description
.step-title {
  font-size: rem-calc(20);
  color: #454560;
  font-weight: 600;
}

.step-desc {
  font-size: rem-calc(14);
  color: #454560;
  font-weight: 400;
}

// Onboarding input box
.onboarding-input-box {
  display: block;
  border-radius: rem-calc(3);
  width: 100%;
  max-width: rem-calc(320);
  height: rem-calc(32);
  border: 1px solid #e6e6f2;
  margin-bottom: rem-calc(16);
  font-size: rem-calc(13);
  padding: rem-calc(0 5);
  color: #acadc1;
  -webkit-text-fill-color: none;

  @media all and (-ms-high-contrast: none) {
    color: #777;
  }
}

// Error appearing below input box
.onboarding-error {
  display: block;
  text-align: right;
  font-size: 13px;
  margin-top: -10px;
  color: #dc143c;
}

// Button
.onboarding-button {
  box-shadow: none !important;
  button {
    height: rem-calc(34) !important;
    line-height: rem-calc(34) !important;
    width: 100%;
  }
  span {
    color: white;
  }
}

// Selected skill chip
.selected-label {
  transition: all 0.3s ease-in;

  .cancel-icon,
  .cancel-icon > * {
    visibility: collapse !important;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms !important;
  }

  .tick-icon,
  .tick-icon > * {
    visibility: visible !important;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms !important;
  }

  &:hover {
    background-color: #dad3e2 !important;

    .tick-icon,
    .tick-icon > * {
      visibility: collapse !important;
      opacity: 0;
      transition: visibility 0s linear 300ms, opacity 300ms !important;
    }

    .cancel-icon,
    .cancel-icon > * {
      visibility: visible !important;
      opacity: 1;
      transition: visibility 0s linear 0s, opacity 300ms !important;
    }
  }

  span {
    max-width: 90% !important;
  }
}

// Few hacks
.loadDivHide {
  display: none;
}

.loadDivShow {
  display: block;
}

.onboarding-step {
  &.hideStep {
    visibility: collapse;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s linear 0.2s;
    height: 0;

    .tick-icon,
    .add-icon,
    .selected-label,
    .suggestion-chip,
    .buttons-wrapper {
      visibility: collapse;
      opacity: 0;
    }
  }
  &.activeStep {
    visibility: visible;
    opacity: 1;
    height: auto;
    transition: visibility 0s, opacity 0.2s linear 0.2s;
  }
}

// Onboarding background B&W image
.onboarding-loading-no-overlay {
  transition: all 3000s;
}

// Onboarding background image general styling
.bg-image {
  background-size: cover;
  margin: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

// Overlay effect for images in background
.onboarding-loading-overlay {
  transition: all 3000s;
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 1;
    transition: all 1s;
  }
}

.onboarding-page-style {
  background: white;
  padding: rem-calc(40 15 20 15);
  min-height: rem-calc(600);

  .small-3 {
    height: 5rem;
  }

  .line-clamp-3 {
    display: -webkit-inline-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .skill-row-container {
    .small-3 {
      min-height: 3rem;
    }
  }

  .skills-row-transition {
    transition: all 0.5s ease-in;
  }

  .view-more {
    color: $edc-blue;
    cursor: pointer;
    text-decoration: underline;
    min-height: rem-calc(52);
  }

  .topic-block {
    border: 1px solid #424242;
    color: #424242;
    cursor: pointer;
    transition: all 0.3s ease-in;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 0;
    position: relative;

    .skill-count {
      position: absolute;
      top: rem-calc(5);
      right: rem-calc(5);
      border-radius: 50%;
      width: rem-calc(20);
      height: rem-calc(20);
      line-height: rem-calc(20);
      font-size: rem-calc(12);
      color: $white;
    }

    &.selected {
      border: 1px solid #424242;
      background: #cacaca;
      color: #424242;

      .skill-block.selected {
        border: 1px solid #424242;
        background-color: #cacaca;
        color: #424242;
      }

      .skill-count {
        background-color: #555555;
        color: $white;
      }
    }

    &.active {
      border: 1px solid $edc-blue;
      background: $edc-blue;
      color: $white;

      .skill-block.selected {
        background-color: $edc-blue;
        color: $white;
      }

      .skill-block {
        border: 1px solid $edc-blue;
        color: $edc-blue;
      }

      .skill-count {
        background-color: $white;
        color: $edc-blue;
      }
    }
  }

  .skill-block {
    // padding: rem-calc(0 15);
    background-color: $white;
    border: 1px solid #424242;
    color: #424242;
    border-radius: rem-calc(26);
    margin-bottom: rem-calc(11);
    cursor: pointer;
    transition: all 0.3s ease-in;
    display: flex;
    height: 3rem;
    align-items: center;
    justify-content: center;
    position: relative;

    .line-clamp-3 {
      width: 70%;
      line-height: 0.9rem;
    }

    span {
      font-size: rem-calc(13);
    }

    .check-mark {
      position: absolute;
      right: 3px;
      top: 10px;
    }

    &.selected {
      border: 1px solid #424242;
      background-color: #cacaca;
      color: #424242;
    }

    &.active {
      border: 1px solid $edc-blue;
      color: $edc-blue;

      &.selected {
        background-color: $edc-blue;
        color: $white;
      }
    }
  }

  .onBoard-page-title {
    color: #5a5a5a;
  }
}

.skill-appear {
  opacity: 0.01;
}

.skill-appear.skill-appear-active {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.skill-input-row {
  margin-bottom: 10px;
}

// Onboarding Autocomplete
.onboarding-autocomplete {
  position: relative;

  &.is-open,
  &.is-focused {
    .Select-input {
      margin-top: 0;
      padding-left: rem-calc(8);
    }
  }

  &.is-pseudo-focused {
    .Select-input {
      margin-top: rem-calc(2);
      padding-left: rem-calc(8);
    }
  }

  .Select-control {
    height: rem-calc(32);
    border: 1px solid #e6e6f2;
    border-radius: rem-calc(3);
    background-color: white;
  }

  .Select-input {
    display: inline-block;
    margin-top: rem-calc(-20);
    input {
      width: rem-calc(5);
      box-sizing: content-box;
      border: 0;
      display: inline-block;
      border-radius: rem-calc(3);
      background-color: transparent;
      font-size: rem-calc(13);
      color: #acadc1;
      outline: 0;

      @media all and (-ms-high-contrast: none) {
        color: #777;
      }
    }
    input[aria-expanded='true'] {
      margin-top: rem-calc(5);
    }
  }

  .Select-clear {
    display: none;
  }

  .Select-placeholder {
    font-size: rem-calc(13);
    color: #acadc1;
    margin-top: rem-calc(0);
    bottom: 0;
    left: 0;
    line-height: rem-calc(32);
    padding-left: rem-calc(10);
    padding-right: rem-calc(10);
    position: absolute;
    right: 0;
    top: 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @media all and (-ms-high-contrast: none) {
      color: #777;
    }
  }

  .Select-menu-outer {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.23);
    max-height: rem-calc(200);
    overflow: hidden;
    margin-top: rem-calc(4);
    border-radius: rem-calc(2);
    transition: height 0.4s ease-in;

    .Select-option {
      font-size: rem-calc(12);
      color: #454560;
      padding: rem-calc(5 10);
      transition: all 0.4s ease-in;
      cursor: pointer;

      &:first-child {
        padding-top: rem-calc(10);
      }

      &:hover,
      &.is-focused {
        background-color: #dad3e2;
        color: #454560;
      }
    }

    .Select-noresults {
      display: none;
    }
  }

  &.hide-options {
    .Select-menu-outer {
      display: none;
    }
  }
}

@media all and (-ms-high-contrast: none) {
  .uploadImage.forIE {
    display: inline-block !important;
  }
}
