.onboarding-custom-stepper {
  height: rem-calc(35);
  margin: rem-calc(0 -28px 20px -28px);
  border-bottom: 1px solid #d6d6e1;
  position: relative;
  &:before {
    content: '';
    width: calc(50% + 260px);
    height: rem-calc(1);
    position: absolute;
    bottom: -1px;
    background-color: #9476c9;
    left: 0;
    z-index: 1;
  }

  .step {
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
    font-size: rem-calc(13);
    position: relative;
    height: rem-calc(35);

    &:before {
      content: '';
      width: 100%;
      height: rem-calc(1);
      position: absolute;
      bottom: 0;
      background-color: #d6d6e1;
      left: 0;
      z-index: 2;
    }

    &.complete-border {
      &:after {
        content: '';
        width: 100%;
        height: rem-calc(1);
        position: absolute;
        bottom: 0;
        background-color: #9476c9;
        left: 0;
        z-index: 3;
      }
    }

    &.active {
      color: #9476c9;
      .onboard-dot {
        width: rem-calc(6);
        height: rem-calc(6);
        position: absolute;
        bottom: rem-calc(-3);
        background-color: #9476c9;
        border-radius: 50%;
        left: calc(50% - 3px);
        z-index: 4;
      }

      &:after {
        content: '';
        width: calc(50% - 3px);
        height: rem-calc(1);
        position: absolute;
        bottom: 0;
        background-color: #9476c9;
        left: 0;
        z-index: 3;
      }
    }
  }
}
