#mobile-banner {
  height: 100vh;
  background: #454560;
  padding-top: 70px;
  text-align: center;
  margin-top: 20px;

  .app-message {
    font-size: 16px;
    line-height: 2;
    text-align: center;
    color: #ffffff;
    margin-top: 22px;
  }

  .app-store-logos {
    margin-top: 150px;
    img {
      height: 50px;
      max-height: 50px;
      width: auto;
      margin: 0 20px;
    }
  }

  .download-btn-container {
    margin-top: 30px;
    .download-btn {
      border-radius: 4px;
      background-color: #2fb7a0;
      padding: 5px 50px;
      color: #ffffff;
    }
  }

  .logos {
    img,
    svg {
      vertical-align: middle;
    }
    img {
      height: 50px;
      max-width: 215px;
      margin-left: 8px;
    }
  }
}
