.groups-assign-modal {
  .assignment-info {
    position: relative;
  }
  .card-image {
    width: rem-calc(160);
    height: rem-calc(80);
    margin-bottom: 1rem;
  }
  .card-title-container {
    vertical-align: top;
    .card-title {
      font-size: 1.25rem;
      font-weight: 600;
    }
  }
  .card-description-container {
    vertical-align: top;
    padding-top: 1rem;
  }
  .chip-container {
    flex-wrap: wrap;
    display: flex;
  }
  .dates-container {
    padding-bottom: rem-calc(40);

    #startDate::-webkit-calendar-picker-indicator,
    #startDate::-webkit-inner-spin-button,
    #startDate::-webkit-clear-button,
    #dueDate::-webkit-calendar-picker-indicator,
    #dueDate::-webkit-inner-spin-button,
    #dueDate::-webkit-clear-button {
      display: none;
    }
    .calendar-container {
      position: absolute;
      background-color: #fff;
      z-index: 1;
      margin-top: 0.7rem;
    }
    .date-field-container {
      width: 16rem;
      height: 3rem;
      position: relative;

      .dates-arrow {
        position: absolute !important;
        right: 0;
      }
    }
  }
}
