.cardData {
  .cardData-header {
    color: #ffffff;
    width: 100%;
    position: absolute;
    top: -25px;
    left: 0;
    text-transform: capitalize;
  }
  .close {
    cursor: pointer;
    float: right;
    top: 0;
  }
  .data-users {
    padding: 20px 35px;
  }
  .data-user {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .data-ava {
    border-radius: 25px;
  }
  .data-name {
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
  }
  .data-labels {
    height: 30px;
    margin-left: auto;
  }
  .without-scroll {
    overflow: hidden;
  }
}
