.card-modal-container.card-class-modal-container .modal .modal-content .class-card-wrapper {
  border: 1px solid rgb(237, 237, 237) !important;
}

.card-class-modal-container.card-modal-container {
  padding: 0;
  .modal {
    max-height: 500px;
    overflow-y: auto;
    padding: 0;

    .close-button {
      top: 3px;
      right: 3px;
    }

    .modal-content {
      padding: 1rem;
      background-color: white;
      border: none;
      div {
        border: none !important;
      }
    }
  }
}

.class-card-wrapper {
  max-width: 200px;
  border-radius: 3px;
  padding: 5px;
  margin: 0 auto;
  margin-bottom: 20px;
  .card-img {
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .title {
    word-break: break-all;
    font-size: 14px;
    margin-bottom: 10px;
  }
}
