.card-modal-container {
  .modal {
    padding: 2rem 1rem 0 0;
    width: 70%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;

    .card-modal-left-column {
      overflow-y: auto;
      height: 70vh;
    }
    .close-button {
      position: absolute;
      right: 0;
      top: rem-calc(-6);
    }
    .modal-header {
      @media screen and (min-width: 0\0) {
        /* IE9 and IE10 rule sets go here */
        > img {
          display: inline !important;
        }
      }
    }
    .card-container {
      padding: 1rem 1rem 1rem 0;
      min-height: rem-calc(500);
      .card-type {
        padding-right: rem-calc(10);
        color: #666;
        font-size: rem-calc(14);
        font-weight: 700;
        text-transform: uppercase;
      }
      .card-resource {
        margin-bottom: 0.5rem;
      }
      .card-title {
        word-break: break-word;
        -ms-word-wrap: break-word;
        max-height: none;
      }
    }
    .card-content {
      min-height: rem-calc(250);
    }
    .comments-container {
      height: 70vh;
      .comments {
        padding-left: 1rem;
        position: relative;
        height: 92%;
        .label {
          display: inline;
        }
        .break-line {
          border-bottom: 1px solid lightgrey;
          margin: rem-calc(10) 0;
        }
        @media screen and (min-width: 64em) {
          border-left: 1px solid lightgrey;
        }
      }
      .modal-actions-bar {
        height: 8%;
        padding: 0 0.2rem;
        .votes-count {
          vertical-align: super;
          display: inline-block;
          margin-top: rem-calc(4);
        }
        .comments-count {
          vertical-align: super;
        }
        .button-icon {
          display: inline-block;
        }
      }
    }
  }
}
