.channel-curators-dialog {
  & > div {
    background-color: transparent !important;
    box-shadow: none !important;
    & > div {
      padding: 0 !important;
    }
  }
  .close-button {
    top: -10px;
    right: 0;
    position: absolute;
  }
}
