.channel-modal {
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1600;
    background: rgba(0, 0, 0, 0.9);
  }
  .modal {
    max-height: 620px;
    width: 724px;
    position: fixed;
    top: 15px;
    left: calc(50% - 362px);
    transform: none;
    z-index: 1600;
    height: 620px;
    padding: 41px 0 0;
    overflow: auto;
    .modal-title {
      color: white;
      position: absolute;
      top: 0.5rem;
      font-size: 18px;
      text-align: left;
    }
    .close-button {
      top: -0.375rem;
      position: absolute;
    }
    .channel-table {
      width: 100%;
      th {
        text-align: left;
        font-size: 14px;
        font-weight: 600;
        color: #454560;
        padding-bottom: 8px;
      }
      .checkbox {
        display: inline;
      }
      .channel-name {
        display: inline;
        font-size: 14px;
        text-align: left;
        color: #454560;
      }
    }
    .message-empty-channel {
      padding: 20px 0;
      font-size: 14px;
    }
    .active-channel-link {
      cursor: pointer;
    }
  }
}
