.channel-card-remove-modal {
  .remove-card {
    background-color: #9276b5 !important;
    border-color: #9276b5 !important;
  }

  .remove-cancel {
    border-color: #9276b5 !important;
    div,
    span {
      color: #9276b5 !important;
    }
  }
}
