$dusk: #454560;
$light-gray: #d6d6e1;
$dusk-text: #6f708b;
$carousel-container-width: rem-calc(925);
.channel-edit-modal {
  label,
  span {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif !important;
  }
  .header-title {
    font-size: 1.125rem;
  }
  .input-block {
    padding-bottom: 1.675rem;
    label {
      font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif !important;
      font-size: 0.75rem !important;
    }
  }
  .input-block-flex {
    display: flex;
    align-items: center;
  }

  .card-img-container,
  .card-img {
    height: 100%;
    width: 100%;
  }
  .action-buttons {
    display: flex;
    justify-content: center;
    button {
      font-size: 0.75rem !important;
      font-family: OpenSans-Regular, Open Sans !important;
      height: 1.75rem !important;
    }
  }
  .react-tags,
  .react-tags_link {
    padding: rem-calc(3) rem-calc(5);
    line-height: 1;
    font-size: rem-calc(10);
  }
  .with-view-more {
    .react-tags__search {
      display: none !important;
    }
  }
  .selected-source__text {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif !important;
    font-size: 0.75rem;
    height: 0.75rem;
    word-wrap: break-word;
    -ms-word-wrap: break-word;
  }

  .Select.Select--single * {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif !important;
  }

  .Select-control {
    height: rem-calc(30);

    .Select-placeholder {
      line-height: 1.875rem;
      font-size: 0.75rem;
    }

    .Select-value {
      line-height: 1.875rem;
      font-size: 0.75rem;
    }

    .Select-input {
      height: rem-calc(30);
    }
  }

  .Select-option {
    font-size: 0.75rem;
    height: rem-calc(30);
  }

  .channel-sources {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif !important;
    font-size: 1rem;
  }

  .alert-text {
    font-size: rem-calc(12);
    color: red;
    margin-top: rem-calc(5);
  }
}

.more-items {
  position: absolute;
  top: 0;
  z-index: 1000000000;
  width: 100%;

  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1600;
    background: rgba(0, 0, 0, 0.9);
  }
  .modal {
    z-index: 1000000;
    position: absolute;
    width: 100%;
  }
  .my-modal-content {
    border-radius: rem-calc(4);
    background-color: #ffffff;
    padding: rem-calc(5) rem-calc(35) rem-calc(20);
    &.bookmark-modal {
      font-size: 0.875rem;
      color: #454560;
      padding: 1.3125rem 1.1875rem 1.25rem;
    }
  }
  .items-row {
    height: rem-calc(38);
    display: flex;
    font-size: rem-calc(12);
    align-items: center;
    color: $dusk-text;
    border-top: rem-calc(1) solid $light-gray;
    &:first-child {
      border-top: none;
    }
    .my-icon-button {
      margin-left: auto;
    }
  }
}

.tabs-header {
  display: flex;
}
.tab-item {
  width: 50%;
  text-align: center;
  padding: 1.6875rem 0 2.125rem 0;
}

.tab-content {
  &.tab-content-v3 {
    padding-top: 2.1875rem;
  }
  padding: 0 1.8125rem 2.625rem 2.1875rem;
}

.tab-item__text {
  font-size: 1.125rem;
  font-weight: 300;
  letter-spacing: 0.6px;
  color: #454560;
}

.tab-item_active {
  font-weight: 600;
}

.hint-text {
  font-size: 0.625rem !important;
  font-weight: 300;
  line-height: 1.8;
  color: $dusk-text;
  font-family: OpenSans-Regular, Open Sans !important;
}

.hint-text_big {
  font-size: 0.75rem !important;
  color: #acadc1;
}
.radio-channel,
.empty-image,
.my-input {
  font-family: OpenSans-Regular, Open Sans !important;
  font-size: 0.75rem !important;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: $dusk-text;
}
.table-container {
  background: #fbfbfb;
  padding: rem-calc(20) rem-calc(10);
  margin-bottom: rem-calc(20);
  .list-text {
    font-size: rem-calc(12);
  }
}

.channel-edit-standalone {
  margin-top: rem-calc(50);
  .back-arrow-position {
    position: absolute;
    left: rem-calc(-35);
    cursor: pointer;
    top: rem-calc(6);
  }
  .header {
    margin-bottom: rem-calc(15);
  }
  .tabs {
    display: flex;
    width: 100%;
    background-color: white;
    .tab {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      p {
        padding: rem-calc(25);
        letter-spacing: rem-calc(0.3);
      }
      .selected-teb-text {
        font-weight: 600;
        color: $dusk;
      }
    }
  }
  .edit-container {
    padding: 0 rem-calc(25) rem-calc(25) rem-calc(25);
    background-color: white;
    .label-spacing {
      padding-left: 2.5rem;
      line-height: 1;
    }
    .react-tags__selected {
      z-index: 10;
    }
    .alert-text {
      margin-bottom: 0;
      padding-top: rem-calc(5);
      color: red;
      font-size: rem-calc(12);
    }
  }
  .carousel-section-title {
    font-size: rem-calc(14);
    font-weight: 600;
    line-height: 1.29;
    margin-bottom: rem-calc(15);
  }
  .carousel-list-header,
  .carousel-list {
    width: $carousel-container-width;
    display: flex;
    margin: auto;
    .name {
      flex-grow: 1;
      display: flex;
      align-items: center;
    }
    .status {
      width: rem-calc(200);
      align-items: center;
      display: flex;
      justify-content: center;
    }
    .action {
      width: rem-calc(80);
      display: flex;
      align-items: center;
      justify-content: center;
    }
    label {
      font-size: rem-calc(12);
      font-weight: 600;
    }
  }
  .carousel-list-header {
    margin-bottom: rem-calc(15px);
  }
  #carousels-list {
    margin-bottom: rem-calc(20);
    .list-container {
      width: $carousel-container-width;
      margin-bottom: rem-calc(10);
      padding: rem-calc(10) 0;
      border-bottom: solid 1px $light-gray;
      margin: auto;
      .carousel-list {
        display: flex;
        align-items: center;
        .sort-handler {
          margin-right: rem-calc(20);
        }
        p {
          flex-grow: 1;
          font-size: rem-calc(11);
          font-weight: 300;
          line-height: 1.8;
        }
        .action-buttons {
          display: flex;
          justify-content: center;
          align-items: center;
          .edit {
            margin-right: rem-calc(10);
          }
          .edit,
          .delete,
          .close-label {
            @extend .pointer;
          }
          .close-label {
            color: $light-gray;
            font-size: rem-calc(12);
          }
        }
      }
    }
  }
  .add-carousel-container {
    display: flex;
    height: rem-calc(25);
    width: $carousel-container-width;
    margin: auto auto rem-calc(20) auto;
    .carousel-name-input {
      width: rem-calc(120);
      height: 100%;
      outline: none;
      padding: 0rem 0.6rem;
      display: flex;
      border: 1px solid $light-gray;
      align-items: center;
      input {
        width: 100%;
        border: none;
        outline: none;
        font-size: rem-calc(12);
      }
    }
    .add-carousel-btn {
      width: rem-calc(45);
      font-size: rem-calc(10);
      background-color: $light-gray;
      color: $dusk-text;
      position: relative;
      left: rem-calc(-2);
      outline: none;
    }
    ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      font-size: 12px;
      font-weight: 300;
      color: $dusk-text;
      opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      font-size: 12px;
      font-weight: 300;
      color: $dusk-text;
    }

    ::-ms-input-placeholder {
      /* Microsoft Edge */
      font-size: 12px;
      font-weight: 300;
      color: $dusk-text;
    }
  }

  .custom-carousel-setup {
    .add-card-container {
      display: flex;
      height: rem-calc(32);
      margin: rem-calc(20) 0;
      .Select {
        flex-grow: 1;
        .Select-control {
          border-radius: 0;
          input {
            font-size: rem-calc(12);
          }
        }
        .Select-menu-outer {
          z-index: 13;
        }
      }
      .add-card-btn {
        width: rem-calc(90);
        background-color: $light-gray;
        color: $dusk-text;
        font-size: rem-calc(12);
      }
    }
    .custom-carousel-cards-container {
      width: $carousel-container-width;
      display: flex;
      margin: 0 auto rem-calc(20) auto;
      flex-wrap: wrap;
      .card-v3__tile-view {
        width: rem-calc(290);
        .lock-leap-panel {
          .lock-btn {
            display: none !important;
          }
        }
      }
    }
  }
  .widget-container {
    margin-bottom: rem-calc(20);
    .widget-header-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: rem-calc(10);
      .carousel-section-title {
        flex: 1;
        margin-right: rem-calc(10);
        margin-bottom: 0;
      }
      .status-label {
        font-size: rem-calc(12);
        font-weight: 600;
        margin-right: rem-calc(10);
      }
      .status-container {
        display: flex;
        justify-content: center;
        align-items: center;
        .checkbox {
          max-width: rem-calc(40);
          margin-right: rem-calc(20);
        }
      }
    }
    .widget-layout {
      width: 100%;
      background-color: #F5F5F8;;
      color: $dusk;;
      font-size: rem-calc(12);
      resize: none;
      outline: none;
      border: rem-calc(1) solid $light-gray;
      padding: rem-calc(10);
      height: rem-calc(100);
    }
    .hint-text {
      font-weight: 600;
      letter-spacing: rem-calc(0.2);
      position: relative;
      top: rem-calc(-4);
    }
    .error-text {
      color: red;
    }
  }
}

.react-tags__suggestions-width {
  width: rem-calc(500);
}

.bars-container {
  height: rem-calc(10);
  width: rem-calc(12);
  max-width: rem-calc(20);
  @extend .pointer;
  .bar {
    height: rem-calc(1);
    margin-bottom: rem-calc(2);
    background-color: $dusk-text;
  }
  .no-margin {
    margin-bottom: 0;
  }
}
