.channel-cards-dialog {
  max-width: none !important;
  width: 90% !important;
  height: 100vh !important;
  overflow-y: scroll;
  & > div {
    background-color: transparent !important;
    box-shadow: none !important;
    height: 100vh !important;
    & > div {
      padding: 0 !important;
      max-height: 100vh !important;
    }
  }
}

.channel-modal-root.modal > div {
  height: 100%;
  padding: 15px 0px;
}

.channel-cards-modal {
  padding-bottom: 15px;
  .close-button {
    top: -10px;
    right: 0;
    position: absolute;
  }
  .view-more {
    margin-bottom: 15px;
  }
  &.padding-bottom-30 {
    padding-bottom: rem-calc(30);
  }
  .four-card-column {
    .channel-card-v2 {
      .card-v2 {
        width: 100% !important;
        margin: 0;
        padding: 0 !important;
        .card-details {
          .text-title {
            line-height: 1.4;
          }
          .title {
            line-height: 1.4;
          }
        }
      }
      &.show-overlay {
        &:hover {
          .card-v3 {
            z-index: 1;
          }
          .card-overlay-layer {
            z-index: 4;
            visibility: visible;
          }
        }
      }
    }
    .card-overlay-layer {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: -1;
      visibility: hidden;
      &.card-overlay-layer-v3 {
        height: 25.375rem !important;
        width: calc(100% - 0.9375rem);
        margin-left: 0 !important;
      }
      .action-icons-row {
        margin-top: rem-calc(70);
      }
      .not-custom-carousel {
        margin-top: 0;
      }
      .no-reordering {
        margin-top: rem-calc(130);
      }
      .icon-wrapper {
        .specific-icon-parent-wrapper {
          width: 65px;
          display: inline-block;
          text-align: center;
          position: relative;
          top: rem-calc(100);
          &:first-child {
            margin-left: calc((100% - 131px) / 3);
            margin-right: calc((100% - 130px) / 3);
          }
          &:last-child {
            margin-right: calc((100% - 130px) / 3);
          }
        }
        .specific-icon-wrapper {
          width: auto;
        }
        .icon-label {
          color: #4de8ce;
          font-size: 14px;

          &.delete {
            color: #f1736a;
          }
        }
      }
    }
    .channel-card-v2:nth-child(4n + 2) .card-overlay-layer,
    .channel-card-v2:nth-child(4n + 3) .card-overlay-layer {
      left: 7.5px;
      right: 7.5px;
      width: calc(100% - 0.9375rem);
    }
    .channel-card-v2:nth-child(4n + 1) .card-overlay-layer {
      left: 4px;
      right: 7.5px;
      width: calc(100% - 11.5px);
      &.card-overlay-layer-v3 {
        left: rem-calc(8);
        width: calc(100% - 0.96875rem);
      }
    }
    .channel-card-v2:nth-child(4n) .card-overlay-layer {
      left: 7.5px;
      width: calc(100% - 11.5px);
      &.card-overlay-layer-v3 {
        width: calc(100% - 0.96875rem);
      }
    }
  }
}

.card-overlay-text {
  position: relative;
  left: rem-calc(40);
  color: #ffffff;
  font-size: rem-calc(12);
  width: 70%;
}

.card-overlay-confirmation {
  padding: rem-calc(100) 0;

  .confirmation-buttons-container {
    margin: 0 auto;
    text-align: center;

    .confirmation-buttons {
      padding: 0.3125rem;
      border-radius: 0.125rem;
      font-size: 0.75rem;
    }

    .primary {
      margin: rem-calc(10);
      background-color: #ffffff;
      border: rem-calc(1) solid #ffffff;
    }

    .secondary {
      margin: rem-calc(10);
      background-color: transparent;
      color: #ffffff;
      border: rem-calc(1) solid #ffffff;
    }
  }
}

.channel-rank-input {
  color: #ffffff;
  background: transparent;
  width: 50%;
}

.channel-rank-submit {
  display: inline-block;
}

.input-block-style {
  margin-top: rem-calc(-5);
  input {
    border: rem-calc(1) solid #ffffff;
    border-radius: rem-calc(2) 0 0 rem-calc(2);
    vertical-align: bottom;
    height: rem-calc(22);
  }
  button {
    background-color: #ffffff;
    padding: rem-calc(5);
    border-radius: 0 rem-calc(2) rem-calc(2) 0;
    font-size: rem-calc(12);
  }
}
@media (max-width: 64em) and (min-width: 25em) {
  .custom-medium-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .custom-medium-6:nth-child(2n) {
    padding: 0 0.5rem 0 0.25rem;
  }
  .custom-medium-6:nth-child(2n + 1) {
    padding: 0 0.25rem 0 0.5rem;
  }
}

.custom-medium-6 {
  padding: 0 0.5rem 0 0.5rem;
}

.channel-overview-modal > div > div {
  max-height: none !important;
}
