.close {
  top: 0;
  right: 0;
}

.my-modal-header {
  position: absolute;
  width: 100%;
  top: -2.5rem;
  line-height: 3rem;
  right: 0;
  .header-title {
    color: white;
  }
  .close-button {
    float: right;
  }
}

.load-state {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 41.3125rem;
}

.my-row {
  display: flex;
}
.image-container {
  flex: none;
}

.item-banner {
  max-width: rem-calc(220);
  height: rem-calc(150);
  border-radius: rem-calc(2);
  border: solid rem-calc(1) #d6d6e1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  -ms-flex-align: center;
  position: relative;
  background: url('/i/images/folder.png') 50% 50% no-repeat;
  > div {
    width: 100%;
    height: rem-calc(183); // height pathway-banner - padding-top and padding-bottom
  }
}

.advanced-toggle {
  cursor: pointer;
  font-size: rem-calc(12);
  color: #4a90e2;
}

.my-input {
  border-radius: rem-calc(2);
  border: solid rem-calc(1) #d6d6e1;
  padding: rem-calc(5) rem-calc(10);
  font-size: rem-calc(12);
  line-height: 1.5;
  width: 100%;
  color: #6f708b;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background: rgba(0, 0, 0, 0.8);
}
