.congrats-modal-container {
  .congrats-header {
    text-align: center;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
    font-weight: 600;
    font-size: 2em;
    color: #454560;
  }
  .badge-info {
    font-weight: 500;
    font-size: 1.5em;
  }
  .badge-icon {
    margin: 30px auto;
    display: block;
    height: 130px;
  }
}
