.course-card-root {
  align-items: unset !important;
  padding: rem-calc(50) 0 0 0 !important;

  .course-card-dialog {
    opacity: 1 !important;
    max-width: 100% !important;

    & > div {
      background-color: transparent !important;
      box-shadow: none !important;
      & > div {
        padding: 0 !important;
      }
    }
    .close-button {
      top: -10px;
      right: 0;
      position: absolute;
    }

    .course-card-modal {
      .loader {
        color: #ffffff;
        margin: rem-calc(100) auto;
      }

      .course-cards-v2-container {
        display: inline-block;
        width: 25%;
        margin: 0 0 rem-calc(15) 0;
        vertical-align: top;
      }

      @media screen and (max-width: rem-calc(880)) {
        .course-cards-v2-container {
          width: 33.333333%;
        }
      }

      @media screen and (max-width: rem-calc(580)) {
        .course-cards-v2-container {
          width: 50%;
        }
      }

      @media screen and (max-width: rem-calc(420)) {
        .course-cards-v2-container {
          width: 100%;
        }
      }
    }
  }
}
