.curate-card-dialog {
  opacity: 1 !important;
  max-width: none !important;
  width: 90% !important;
  height: 100vh !important;
  overflow-y: scroll !important;
  & > div {
    background-color: transparent !important;
    box-shadow: none !important;
    height: 100vh !important;
    & > div {
      padding: 0 !important;
      max-height: 100vh !important;
    }
  }
  .main-card-content-container {
    height: auto;
  }
  .customClass-curateCards {
    display: none;
  }
}

.publishButton svg,
.rejectButton svg,
.publishButton .small-7,
.rejectButton .small-7 {
  cursor: pointer;
}

.curate-card-root.modal > div {
  height: 100%;
  padding: 15px 0px;
}

.curate-cards-modal {
  padding-bottom: 15px;
  .close-button {
    top: -10px;
    right: 0;
    position: absolute;
  }
  .view-more {
    margin-bottom: 15px;
  }
  .four-card-column {
    .channel-card-v2 {
      .card-v2 {
        width: 100%;
        margin: 0;
        padding: 0 !important;
      }
      &.show-overlay {
        &:hover {
          .card-v3 {
            z-index: 1;
          }
          .card-overlay-layer {
            z-index: 4;
            visibility: visible;
          }
        }
      }
    }
    .card-overlay-layer {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: -1;
      visibility: hidden;
      .action-icons-row {
        margin-top: rem-calc(70);
      }
      .icon-wrapper {
        .specific-icon-parent-wrapper {
          width: 65px;
          display: inline-block;
          text-align: center;
          position: relative;
          top: rem-calc(100);
          &:first-child {
            margin-left: calc((100% - 130px) / 3);
            margin-right: calc((100% - 130px) / 3);
          }
          &:last-child {
            margin-right: calc((100% - 130px) / 3);
          }
        }
        .specific-icon-wrapper {
          width: auto;
        }
        .icon-label {
          color: #4de8ce;
          font-size: 14px;
        }
      }
    }
    .channel-card-v2:nth-child(4n + 2) .card-overlay-layer,
    .channel-card-v2:nth-child(4n + 3) .card-overlay-layer {
      left: 7.5px;
      right: 7.5px;
      width: calc(100% - 15px);
    }
    .channel-card-v2:nth-child(4n + 1) .card-overlay-layer {
      left: 4px;
      right: 7.5px;
      width: calc(100% - 11.5px);
    }
    .channel-card-v2:nth-child(4n) .card-overlay-layer {
      left: 7.5px;
      width: calc(100% - 11.5px);
    }
  }
}

@media (max-width: 64em) and (min-width: 25em) {
  .custom-medium-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .custom-medium-6:nth-child(2n) {
    padding: 0 0.5rem 0 0.25rem;
  }
  .custom-medium-6:nth-child(2n + 1) {
    padding: 0 0.25rem 0 0.5rem;
  }
}

.custom-medium-6 {
  padding: 0 0.5rem 0 0.5rem;
}
