.dynamic-container {
  font-size: 0.75rem;
  height: 30.1875rem;
}

.dynamic-container_only-filter {
  height: auto !important;
}

.current_filter {
  width: rem-calc(330px);
  height: auto;
  padding: 1.0625rem 0.75rem;
  .search_box {
    width: 8.25rem;
    margin-bottom: 0.625rem;
  }
  .values-spinner-container {
    width: 100%;
    text-align: center;

    .loading-spinner {
      height: 1rem;
      width: 1.5rem;
    }
  }
}

.footer_button {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.9375rem;
}

.clear_button {
  color: #4a90e2;
  font-weight: 300;
  font-size: rem-calc(12);
  cursor: pointer;
}
