.group-creation-modal {
  label {
    display: block;
    font-size: rem-calc(14px);
    margin-bottom: rem-calc(4px);
    &[required] {
      &::after {
        content: '*';
      }
    }
  }

  .modal-header {
    position: absolute;
    width: 100%;
    top: -40px;
    line-height: 48px;
    right: 0;
    .header-title {
      color: white;
    }
    .close-button {
      float: right;
    }
  }
  .group-header {
    border: 1px solid #d6d6e1;
    border-radius: 0.125rem;
  }
  .group-name {
    width: 100%;
  }
  .group-description {
    width: 100%;
  }
  .action-bar {
    text-align: center;
    margin-top: 1rem;
  }
  .preview-upload {
    padding: 0.5rem 0;
    &:first-child {
      .card-img-container {
        .card-img {
          background-size: cover;
        }
      }
    }
    .card-img-container {
      position: relative;
      cursor: pointer;
      overflow: hidden;
      height: 164px;
      width: 222px;
      margin: auto;
      .card-blurred-background {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        filter: blur(7px);
      }
    }
  }
  .preview-banner {
    height: 202px;
    border-radius: 2px;
    border: solid 1px #d6d6e1;
    background: url('/i/images/folder.png') 50% 50% no-repeat;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    -ms-flex-align: center;
    position: relative;
    > div {
      width: 100%;
    }
  }
  .container__v2 {
    padding: 0.5625rem 0.5625rem 0;
    line-height: 1;
    .input-row__margin-bottom {
      margin-bottom: rem-calc(28);
    }
    .input-tags-row_v2 {
      margin-bottom: rem-calc(32);
    }
    .input-tags-row_v3:not(:last-child) {
      margin-bottom: rem-calc(32);
    }
    .share-admin-checkbox {
      margin-left: 15px;
    }
    .preview-banner {
      height: rem-calc(150);
      width: rem-calc(216);
      background: none;
      .empty-image {
        font-size: rem-calc(12);
        letter-spacing: rem-calc(0.4);
        color: #6f708b;
      }
      .card-img-container {
        max-height: 100%;
        max-width: 100%;
      }
    }
    small {
      font-size: rem-calc(10);
      font-weight: 300;
      line-height: 1.8;
      letter-spacing: normal;
      color: #6f708b;
    }
    input {
      padding: rem-calc(3) rem-calc(4);
      font-size: rem-calc(12);
      line-height: rem-calc(17);
      color: #6f708b;

      &::-webkit-input-placeholder {
        color: #999aad;
      }
      &::-moz-placeholder {
        color: #999aad;
      }
      &:-moz-placeholder {
        color: #999aad;
      }
      &::-ms-input-placeholder {
        color: #999aad;
      }
      &:-ms-input-placeholder {
        color: #999aad;
      }
    }
    .group__inline-text {
      display: inline-block;
      width: rem-calc(117);
      vertical-align: middle;
      font-size: rem-calc(12);
      color: #6f708b;
    }
    .advanced-settings {
      .group__checkbox + .group__checkbox {
        margin-top: 0.5rem;
      }
      .advanced-settings-container {
        padding-left: rem-calc(27);
      }
      .select-filters-link {
        position: absolute;
        top: rem-calc(21);
        font-size: rem-calc(12);
        left: 24.8rem;
        font-weight: 300;
      }
      .select-filters-link__disabled {
        pointer-events: none;
        color: #64b5f6;
      }
    }
    .members-field__disabled {
      .react-tags,
      input {
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.75;
      }
    }
    .group__checkbox {
      vertical-align: middle;
      font-size: rem-calc(12);
      label {
        color: #6f708b !important;
      }
      > div > div {
        margin-right: rem-calc(4) !important;
        svg {
          fill: #acadc1;
          margin-top: rem-calc(2);
          width: rem-calc(20) !important;
          height: rem-calc(20) !important;
        }
      }
      &.group__checkbox-inline {
        display: inline-block !important;
        width: 50% !important;
      }
      &.group__checkbox-inline_small {
        width: rem-calc(100) !important;
      }
    }
    .group-checkbox__top {
      > div > div svg {
        margin-top: 0;
      }
    }
    .group-checkbox-label {
      line-height: 1.5;
    }
    .group-checkbox-label__thin {
      font-weight: 300;
    }
    .group-checkbox-dynamic {
      input {
        width: 24.5rem !important;
      }
    }
    .dynamic-container-v3 {
      position: relative;
      margin: 0.7rem 1.8rem 1.2rem 1.8rem;

      .dynamic-container {
        height: rem-calc(238);
        position: relative;
        background-color: #f0f0f6;
        border: solid 0.03125rem #e3e3e3;
        padding: 0.35rem 0.75rem;
        &:after {
          content: '';
          display: block;
          position: absolute;
          right: 27.3rem;
          top: -0.35rem;
          width: 0.625rem;
          height: 0.625rem;
          background-color: #f0f0f6;
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          border-left: solid 0.03125rem #e3e3e3;
          border-top: solid 0.03125rem #e3e3e3;
        }
      }
    }
    .react-tags__search-input {
      input {
        padding: 0;
        z-index: 1000;
      }
    }
    .action-bar {
      margin-bottom: rem-calc(25);
      padding-bottom: rem-calc(25);
    }
    .react-tags__search {
      vertical-align: middle;
    }
    .react-tags__selected {
      display: inline-block;
      vertical-align: middle;
    }
    .input-row__right-align {
      text-align: right;
    }
    .action-bar {
      padding-bottom: rem-calc(5);
    }
  }
  .advanced-settings {
    .advanced-settings-container {
      padding-bottom: rem-calc(11);
    }
  }
  .advanced-label {
    display: inline-block;
    margin: 1rem 0;
  }
  .advanced-label__big {
    font-size: rem-calc(14);
    font-weight: normal;
    margin: rem-calc(8) 0 rem-calc(11) 0;
  }
}
.group-creation-body {
  -ms-overflow-x: visible !important;
  -ms-overflow-y: visible !important;

  .ma-individual {
    margin-right: 0;
    .preview-users-table {
      .user-name {
        font-size: rem-calc(12);
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 3;
        letter-spacing: rem-calc(0.4);
        color: #454560;
        white-space: nowrap;
      }
      .user-name__light {
        color: #89899b;
      }
      .user-name__empty {
        display: flex;
        justify-content: center;
      }
      .preview-header {
        font-weight: 600;
      }
      tr {
        > :not(:first-child) {
          padding: 0 4.2rem;
          text-align: center;
        }
      }
    }
  }
  .section-from-group {
    margin-bottom: 0.625rem;
    position: absolute !important;
    top: -42px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0;
    left: 0;
  }
  * {
    font-family: 'Open Sans', sans-serif !important;
  }
  .unchecked {
    top: rem-calc(3);
    left: rem-calc(3);
    width: 0.9375rem;
    height: 0.9375rem;
    border-radius: rem-calc(2);
    border: solid 1px #acadc1;
  }
}
.share-and-create-modal {
  background: #fff;
  width: rem-calc(768);
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1.875rem;
  margin-top: rem-calc(200);

  .share-and-create-modal-header {
    position: absolute;
    line-height: 48px;
    width: rem-calc(768);
    top: rem-calc(160);
    .header-title {
      color: white;
    }
    .close-button {
      float: right;
    }
  }
  .container__v2 {
    padding: 1.875rem;
  }
}

.group-carousel-list {
  display: flex;
  .carousel-move-handler {
    margin-right: rem-calc(10);
    margin-top: auto;
  }
}

.bar-container {
  height: 21px;
  width: 21px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  .bar {
    height: 2px;
    width: 100%;
    background-color: grey;
  }
}
