.group-invite-dialog {
  & > div {
    background-color: transparent !important;
    box-shadow: none !important;
    & > div {
      padding: 0 !important;
    }
  }
  .close-button {
    top: rem-calc(-10);
    right: 0;
    position: absolute;
  }
  .group-modal-root {
    max-width: rem-calc(436);
    margin: 0 auto;
  }
  .group-modal-header {
    color: white;
    font-size: rem-calc(18);
  }
  .group-invite_tab {
    color: #454560;
    font-size: 1rem;
    font-weight: 400;
    height: rem-calc(31);
    line-height: rem-calc(24);
    cursor: pointer;
  }
  .group-invite_tab__selected {
    font-weight: 600;
  }
  .share-content-modal-container {
    padding: rem-calc(15);
  }
}

.channel-modal-root.modal > div {
  height: 100%;
  padding: rem-calc(15) 0;
}
