#insight_editor {
  padding-bottom: calc(3.875rem + 8px);
  .smartbite-textarea {
    width: 100%;
    outline: none;
    padding: 0.5rem;
  }
  .actions-block {
    position: absolute;
    bottom: 0;
    right: calc(24px + 1rem);
    z-index: 11;
    margin-bottom: 0;
    width: calc(100% - 2rem - 48px);
    background: white;
    left: calc(24px + 1rem);
  }

  .button-options {
    vertical-align: top;
    display: inline-block;
  }

  .inline-creation-resource {
    position: relative;
    width: 100%;
    display: block;
    overflow: hidden;
  }

  .topics-container {
    padding-left: 1.5rem;
    position: relative;
  }

  .error-text {
    color: red;
    font-size: 12px;
  }

  .actions {
    margin: 0 0 1rem;
  }

  .fp {
    position: relative;
    width: 48%;
    display: block;
    float: left;
    height: 220px;
    margin: 1%;

    .delete {
      position: absolute;
      background: rgba(0, 0, 0, 0.4);
      width: 22px;
      height: 22px;
      text-align: center;
      line-height: 18px;
      color: white;
      font-weight: bold;
      cursor: pointer;
      right: 2px;
      font-size: 22px;
      border-radius: 20px;
      top: 2px;
      z-index: 10;
    }

    &.fp_img,
    &.fp_preview {
      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-radius: 3px;
        border: 1px solid #d3d3d3;
      }

      .fp_file-type {
        position: absolute;
        color: white;
        background: rgba(0, 0, 0, 0.4);
        padding: 2px 6px;
        font-size: 0.7rem;
        text-transform: uppercase;
        font-weight: bold;
        left: 1px;
        top: 1px;
        border-top-left-radius: 3px;
      }
    }

    &.fp_video {
      video {
        height: 100%;
        width: 100%;
        background: black;
        border-radius: 3px;
        border: 1px solid #d3d3d3;
      }
    }
  }

  .warning-message {
    color: $crimson;
    vertical-align: middle;
    letter-spacing: 0px;
    text-transform: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 2.4rem;
  }
}

input::-ms-clear {
  display: none;
}
