.section-header {
  margin: 1.5rem 0;
  .section-title {
    margin: 0;
    font-size: 0.875rem;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.description-section {
  p {
    line-height: 1.6;
    margin-bottom: 1rem;
  }
  margin-bottom: 3rem;
}

.section-fields {
  p {
    line-height: 2.6875rem;
  }
  input {
    border: 1px solid #d2d0d0;
    font-size: 0.875rem;
    height: 2.6875rem;
    padding: 0.625rem;
    width: 100%;
  }
}

.mute-font {
  color: #9a9da1;
}

.actions-integration {
  margin: 1rem 0;
}
