/////////////////////////////
//*SEARCHBOX STYLING START*//
/////////////////////////////

.search-box-container {
  width: 100%;
  margin: 0px auto;
  position: relative;

  .search-input-box {
    background-color: #ffffff;
    border: none;
    box-shadow: 0px 0px 1px #000000;
    border-radius: 3px;
    color: #515069;
    padding: 10px 20px;
    width: 100%;
  }

  .search-input-box::placeholder {
    color: #b9b8bb;
    opacity: 1; /* Firefox */
  }

  .search-input-box:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #b9b8bb;
  }

  .search-input-box::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #b9b8bb;
  }

  .search-input-box:focus {
    outline: none;
  }

  .search-suggestions {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 10;
    width: 100%;
    margin: 5px 0 0 0;
    padding: 5px 0;

    .suggestions-list,
    .custom-string {
      text-align: left;
      font-size: 13px;
      font-weight: 500;
      color: #434455;
    }

    .suggestions-list-container {
      max-height: 200px;
      overflow-y: auto;

      .suggestions-list {
        .suggestion-without-checkbox {
          padding: 5px 10px;
        }

        .suggestion-with-checkbox {
          padding: 0 0 0 5px;
        }

        .suggestion-list-without-checkbox {
          cursor: pointer;
        }
      }
    }

    .custom-string-container {
      display: flex;

      .custom-string {
        margin-left: 24px;
        padding: 8px;
      }

      .add-custom-string {
        height: 20px;
        font-size: 12px;
        line-height: 0;
        padding: 5px;
        color: #fff;
        background: #bcbcbc;
        box-shadow: 0 0 0 transparent;
        outline: 0;
        border: 0px;
        margin: 8px 0 0 0;
        border-radius: 5px;
      }
    }

    .custom-string-container:hover,
    .suggestions-list:hover {
      background-color: #ebeeed;
    }
  }
}

.selected-interest-chip-container {
  .tooltip-parent {
    .tooltip-snippet {
      left: 0.25rem;
      padding: 0.5rem;
      z-index: 6;
      margin-top: 0px;
      width: 181px;
    }
  }
}

.cancel-chip-icon {
  svg {
    width: 18px !important;
    height: 18px !important;
  }
}
