.journey-weeks-dropdown {
  margin-top: -4px;
}

.journey-radiobutton-group {
  display: flex;
  align-items: center;
}

.journey-radiobutton-group .journey-weeks-dropdown {
  margin-top: 0;
}

.pathway-label_journey-type > span {
  display: inline-block;
  line-height: 1.5;
}

.journey-section-header_open {
  background: #6e708a;
  color: white;
}

.journey-section-header_close {
  background: #d6d6e0;
  color: #6e708a;
  margin-bottom: 15px;
}

.journey-section-header__input {
  border: none;
  background-color: transparent;
  width: calc(100% - 70px);
  padding-left: 25px;
  outline: none;
  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: inherit;
  }

  &::-moz-placeholder {
    /* Firefox 19+ */
    color: inherit;
  }
  &:-ms-input-placeholder {
    /* IE 10+ */
    color: inherit;
  }
  &:-moz-placeholder {
    /* Firefox 18- */
    color: inherit;
  }
}
.journey-section-header__input_notOwner {
  width: calc(100% - 170px);
}

.journey-details__container .container-padding {
  padding-bottom: 0;
}

.journey__accordion-title {
  min-width: 60px !important;
}

.pathway-creation_journey {
  .pathway-content .tile-block {
    justify-content: flex-end;
  }

  .three-card-column {
    margin: 0 0 15px 0 !important;
  }
}

.journey-part__container {
  position: relative;
}
.dont-edit-over-image {
  position: absolute;
  top: rem-calc(40);
  background-color: hsla(0, 0%, 100%, 0.76);
  z-index: 10;
  text-align: center;
  width: 100%;
  height: 90%;
  display: flex;

  .dont-edit-message {
    margin: auto;
  }
}

.expandCollapse {
  text-align: right;
  font-size: rem-calc(12);
}

.journey-load-more {
  padding: 5px 10px;
  text-align: center;
  margin: 0% 40%;
}

.pointer {
  cursor: pointer;
}

.progressContainer {
  display: inline-block;
  position: relative;
  width: rem-calc(100);
  top: rem-calc(4);
  right: rem-calc(18);
  .progressText {
    font-size: rem-calc(10);
    text-align: right;
  }
}
