.mdp-modal {
  .mdp-header {
    position: absolute;
    width: 100%;
    top: -2.5rem;
    line-height: 3rem;
    right: 0;
    .close-button {
      float: right;
    }
  }
  .mdp-title {
    font-size: 0.875rem;
    font-weight: normal;
    letter-spacing: normal;
    color: #454560;
    border-bottom: solid 0.5px #acadc1;
    padding-bottom: 0.1875rem;
  }
  .mdp-sub-title {
    font-size: 0.75rem;
    padding: 0.3125rem 0;
    font-weight: 600;
    color: #454560;
    line-height: 2.5;
  }
  .mdp-text {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
