.modal-actions {
  margin: 1rem 0;
}

.chip-style {
  background-color: white;
  min-width: rem-calc(150);
  max-width: rem-calc(150);
  margin: 4px auto;
  height: rem-calc(56);
  line-height: rem-calc(56);
  transition: all 0.4s ease-in;

  &:hover,
  &.active {
    background-color: #00a1e1 !important;
    border-color: #00a1e1 !important;
    div {
      color: white !important;
    }
  }

  span {
    display: block;
    margin: 0 auto;
    white-space: normal !important;
    line-height: rem-calc(54) !important;
    cursor: pointer;
  }

  div {
    color: #424242 !important;
    line-height: 1.3;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    display: -webkit-inline-box;
    transition: all 0.4s ease-in;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: center;

    &:hover {
      color: white !important;
    }
  }
}

.skill-chip {
  margin: 4px auto !important;
  min-width: rem-calc(150);
  max-width: rem-calc(150);
  border-radius: rem-calc(24) !important;
  border: 1px solid $edc-blue;
  background-color: $white;
  transition: all 0.4s ease-in;

  &:hover {
    background-color: #00a1e1 !important;
    border-color: #00a1e1 !important;
    div {
      color: white !important;
    }
  }

  span {
    width: 100%;
    text-align: center;
    white-space: normal !important;
    height: rem-calc(44);
    line-height: rem-calc(28) !important;
    padding: rem-calc(8 15 10 15) !important;
    cursor: pointer;
  }

  div {
    line-height: rem-calc(17);
    color: $edc-blue !important;
    display: inline-block;
    transition: all 0.4s ease-in;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-inline-box;
    vertical-align: middle;
    max-width: rem-calc(120);
    font-size: rem-calc(13);
  }

  &.selected div {
    color: $white !important;
  }
}

.view-more {
  color: $edc-blue;
  cursor: pointer;
  text-decoration: underline;
  min-height: rem-calc(42);
  margin-top: rem-calc(17);
  font-size: rem-calc(12);
}

.view-more-v2 {
  background: #f0f0f5;
  color: #454560;
  font-family: 'Open Sans';
  font-size: rem-calc(13);
  width: rem-calc(90);
  height: rem-calc(30);
  border-radius: 2px;
  margin-bottom: rem-calc(15);
}

.selected-skill {
  div {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: inline-block;
    display: -webkit-inline-box;
    vertical-align: middle;
    max-width: rem-calc(120);
  }
}

.stats-dialog {
  padding-top: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.standard-dialog {
  max-height: 620px !important;
  padding: 0 !important;
}

.modal.modalContainer {
  z-index: 1503 !important;
  background: rgba(0, 0, 0, 0.8);
  > div:nth-child(2) {
    display: none;
  }
}

.modal.channelGroupModalContainer {
  z-index: 1500 !important;
}

.modal.modalContainer.modalContainer_slideout {
  z-index: 2003 !important;
  background: rgba(0, 0, 0, 0);
}

.standalone-root {
  overflow: auto;
}

.standalone-dialog > div > div {
  max-height: 100% !important;
  padding: 0 !important;
}

.standalone-dialog > div {
  background-color: #f0f0f5 !important;
}
.taxonomy-chip > svg {
  fill: #dddddd !important;
}

// as below div's are added by material ui we can not add selector
// applying default property fixed the abrupt behaviour
.modal.modalContainer > div > div > div > div {
  max-height: none !important;
}
