.multiactions-dialog {
  & * {
    font-family: 'Open Sans', sans-serif !important;
  }
}
.multiaction-modal-container {
  padding: rem-calc(25);
  .ma_tabs_container {
    display: flex;
    justify-content: space-between;
  }
  .user-search-input {
    position: relative;
    margin: 0 0 rem-calc(10) 0;
    width: 26.5rem;
    .bootstrap-typeahead-input > input {
      background-color: #f0f0f5 !important;
      padding-left: 0.5rem;
      padding-right: 1.6rem;
      border: none;
    }
    .bootstrap-typeahead-input-main::-webkit-input-placeholder {
      color: #6f708b !important;
    }
    .bootstrap-typeahead-input-main:-ms-input-placeholder {
      color: #6f708b !important;
    }
    .bootstrap-typeahead-input-main {
      input:-ms-input-placeholder {
        color: #6f708b !important;
      }
    }
  }

  .bootstrap-typeahead-menu {
    position: absolute;
    font-size: rem-calc(12) !important;
  }
  .bootstrap-typeahead-input-main {
    border-color: #d6d6e1;
    padding-left: rem-calc(10);
  }
  .save-users {
    height: rem-calc(24) !important;
    line-height: rem-calc(24) !important;
    position: absolute !important;
    top: 0;
    right: 0;
    margin-top: 0 !important;
    border: rem-calc(1) solid #9276b5 !important;

    div,
    span {
      height: rem-calc(24) !important;
      line-height: rem-calc(24) !important;
      color: #9276b5 !important;
    }

    span {
      display: block;
    }
  }

  .ma_tabs_container {
    margin: 0 0 rem-calc(15) 0;
    display: flex;

    .sc_tab {
      font-size: rem-calc(16);
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #454560;
    }

    .active {
      font-weight: 600;
    }
  }

  .ma_tabs_content_container {
    .preview_data {
      .row-header-preview {
        line-height: 3;
        font-size: rem-calc(12);
        font-weight: 600;
        color: #454560;
      }
      .row-body-preview {
        line-height: 3;
        font-size: rem-calc(12);
        font-weight: normal;
        color: #454560;
      }
    }
    .inactive-tab-container {
      display: none;
    }

    .checkbox-label {
      display: inline-block;
      white-space: nowrap;

      .user-name {
        font-size: rem-calc(13);
        font-weight: 500;
        margin: 0 rem-calc(10) 0 0;
      }
      .user-handle {
        font-size: rem-calc(12);
        font-weight: 300;
        vertical-align: middle;
      }
    }
  }
  .dynamic-container {
    height: 17.5625rem;
    .dynamic-button__plus {
      background-color: #6f708b !important;
      font-size: 1.25rem !important;
      line-height: rem-calc(8);
      vertical-align: top;
    }
  }
  .unchecked {
    top: 0;
    left: 0;
    margin-left: 0.125rem !important;
    margin-top: 0.3125rem !important;
    width: 0.875rem !important;
    height: 0.875rem !important;
    border-radius: rem-calc(2);
    border: solid 1px #6f708b;
  }
}

.date-picker__block {
  display: inline-block;
  margin-bottom: rem-calc(19);
}

.date-picker__label {
  display: inline-block;
  height: 1.875rem;
  width: auto;
  padding: 0 0.5rem;
  vertical-align: top;
  font-size: 0.875rem;
  line-height: 1.875rem;
  color: #6f708b;
  background-color: #f0f0f5;
  border-top-left-radius: 0.125rem;
  border-bottom-left-radius: 0.125rem;
}

.date-picker {
  input {
    color: #6f708b !important;
  }
}

.individuals-select-info {
  position: absolute;
  bottom: rem-calc(35);
  height: rem-calc(17);
  font-size: rem-calc(12);
  color: #454560;
}

.ma-list-wrapper__outer {
  overflow-x: auto;

  .checkbox-label {
    > :not(:first-child).item-name_user__custom-fields {
      text-align: center;
    }
  }
}

.ma-list-wrapper__inner {
  overflow-y: hidden;
}

.ma-individual {
  display: inline-block;
  margin-bottom: 1rem;
  height: rem-calc(280);
  min-width: 100%;
  overflow-y: auto;
  .list-item-wrapper {
    overflow-x: visible;
    display: inline-block;
  }
}

.ma-preview-data {
  .ma-individual {
    overflow: unset;
  }
}

.overflow-wrapper__outer {
  display: inline-block;
  min-width: 100%;
}

.dynamic-container_only-filter {
  margin-bottom: rem-calc(11);
}

.multiactions-dialog {
  & > div {
    background-color: transparent !important;
    box-shadow: none !important;
    & > div {
      padding: 0 !important;
    }
  }
  .close-button {
    top: rem-calc(-10);
    right: 0;
    position: absolute;
  }
  .item-name {
    display: inline-block;
    white-space: nowrap;
    font-size: rem-calc(12);
    font-weight: 500;
    &.item-name_user {
      margin-right: rem-calc(10);
      &.item-name_user__custom-fields {
        margin-right: 0;
        width: 13.275rem;
        padding: 0 0.25rem;
        overflow-x: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}

.ma-row__header {
  white-space: nowrap;
  overflow-x: visible;

  > :nth-child(n + 3).ma-row-item__header {
    text-align: center;
  }

  > :not(:first-child).ma-preview__list-header {
    text-align: center;
  }
}

.ma-row-item {
  display: inline-block;
  width: calc(25% - 0.35rem);
  height: 2.25rem;
  padding: 0 0.25rem;
  font-size: 0.75rem;
  line-height: 2.25rem;
  vertical-align: middle;
  letter-spacing: 0.025rem;
  overflow-x: hidden;
  &.ma-row-item__header {
    font-weight: 600;
  }
}

.ma-multiaction-list-container {
  max-height: rem-calc(700);
  min-height: rem-calc(300);
  overflow: hidden;

  .title {
    font-size: rem-calc(14);
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #454560;
    cursor: pointer;
  }

  .list-container {
    position: relative;
    padding: rem-calc(16);
    & + .list-container {
      border-top: 0.0625rem solid #d6d6e1;
    }
  }

  .list {
    overflow-y: auto;
    margin-right: -1rem;
    max-height: 11.25rem;
    padding-left: 3rem;
  }

  .collapse-arrow {
    display: inline-block;
    vertical-align: middle;
  }

  .empty-msg {
    color: #acadc1;
    font-size: rem-calc(11);
  }

  .group-list {
    margin: rem-calc(10) 0 0 0;
  }
  .preview-link {
    position: absolute;
    right: 0;
    font-size: 0.75rem;
    letter-spacing: 0.025rem;
    color: #4a90e2;
    cursor: pointer;
  }
}

.assign-message {
  display: block;
  margin: 1.75rem 0;
  width: 42.375rem;
  border: 0.0625rem solid #acadc1;
  border-radius: 0.125rem;
  padding: 0.3125rem 1rem;
  font-size: 0.875rem;
  &::placeholder {
    font-weight: 300;
  }
}

.ma-remark {
  margin-left: 1.3rem;
  padding-top: 1rem;
  font-size: 0.75rem;
  font-weight: 300;
  letter-spacing: 0.025rem;
  color: #454560;
  .remark-action {
    color: #4a90e2;
    cursor: pointer;
  }
  &.ma-remark__groups {
    margin-bottom: 1rem;
  }
}

.ma-container {
  padding: 1.5625rem;
  .clip-container {
    margin: 0 !important;

    > :not(:first-child) {
      text-align: center !important;
    }
  }
}

.ma-preview__header {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.ma-preview__list-header {
  display: inline-block;
  width: 25%;
  padding: 0 0.5rem;
  font-size: 0.75rem;
  letter-spacing: 0.025rem;
  font-weight: 600;
}

.preview-row-item {
  display: inline-block;
  width: 13.7rem;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  padding: 0 0.5rem;
}

.share-content-modal-container
  .sc_tabs_content_container
  .ma-individual
  .clip-container
  .clip-main-text {
  display: inline-block;
  margin: 0;
}

.share-content-modal-container
  .sc_tabs_content_container
  .ma-individual
  .clip-container
  .clip-handle-text {
  display: inline-block;
}

.clip-container {
  border-radius: rem-calc(2);
  border: solid rem-calc(1) #acadc1;
  display: inline-block;
  margin: rem-calc(3);

  .clip-main-text,
  .clip-handle-text {
    font-size: rem-calc(11);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.27;
    letter-spacing: rem-calc(0.5);
    text-align: left;
    color: #454560;
  }

  .clip-main-text {
    margin: 0 rem-calc(5) 0 0;
  }

  .clip-handle-text {
    font-weight: 300;
  }

  .clip-group-name {
    margin: 0 rem-calc(5) 0 rem-calc(12);
  }

  .clip-remove-btn {
    margin: 0 rem-calc(5) !important;
    vertical-align: middle;
    padding: rem-calc(0) !important;
    width: rem-calc(20) !important;
    height: rem-calc(20) !important;

    svg {
      width: rem-calc(20) !important;
      height: rem-calc(20) !important;
    }
  }

  .user-avatar {
    width: rem-calc(20);
    border-radius: 50%;
    margin: rem-calc(0) rem-calc(5);
  }
}
.clip-container-block {
  display: block;
}

.current_filter {
  & * {
    font-family: 'Open Sans', sans-serif !important;
  }
  .ma-search-input-block__filter {
    margin-left: rem-calc(2);
    width: rem-calc(132);
    height: rem-calc(18);
    border-radius: rem-calc(2);
    input {
      padding: 0.0625rem 0 0.0625rem 1rem;
      font-size: rem-calc(12);
      font-weight: 300;
      color: #acadc1;
      vertical-align: top;
    }
  }
  .unchecked {
    top: 0;
    left: 0;
    width: 0.625rem !important;
    height: 0.625rem !important;
    margin-left: 0.125rem !important;
    margin-top: 0.1875rem !important;
    border-radius: rem-calc(2);
    border: solid 1px #6f708b;
  }
  .filter-option-name {
    vertical-align: top;
    line-height: rem-calc(14);
    padding-right: rem-calc(3);
  }
}

.start-date-error-message {
  bottom: rem-calc(35);
  height: rem-calc(17);
  font-size: rem-calc(10);
  color: #acadc1;
  margin-left: rem-calc(10);
  margin-top: rem-calc(-10);
}
