#org-payment-modal {
  .subs-text {
    p {
      margin-top: 14px;
      font-size: 14px;
      color: #636363;
      line-height: 20px;
    }
  }

  .payment-header {
    position: absolute;
    width: 100%;
    top: -40px;
    line-height: 48px;
    right: 0;
    .header-title {
      color: white;
    }
    .close-button {
      float: right;
    }
  }

  .position-relative {
    position: relative;
  }

  .position-absolute {
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .cvv-heading {
    font-size: 12px;
    color: #454460;
    letter-spacing: 1px;
    padding: 1px 1px 5px 5px;
  }

  .cvv-fade {
    background: #ffffffa6;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

#card-wallet-payment-modal {
  .close {
    position: absolute;
    top: -40px;
    right: 0;
  }
  .card-wallet-payment-modal-title {
    position: absolute;
    top: -32px;
    color: #fff;
  }
  .order-details {
    background-color: #454560;
    color: #f0f0f5;
    padding: 24px;

    .row {
      margin-bottom: 20px;
    }
    .providerImage {
      img {
        margin-top: 10px;
        max-width: 50px;
        height: auto;
      }
    }
  }
  .order-info {
    .tooltip-parent {
      .tooltip-snippet {
        width: 100%;
        height: 100%;
        overflow: scroll;
      }
    }
  }
  .details-heading {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
  }

  .payment-buttons {
    padding: 80px 0;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    text-align: left;
    color: #454560;

    button {
      width: 170px;
      height: 35px !important;
      border-radius: 5px !important;
    }

    .heading {
      font-size: 18px;
      margin-bottom: 90px;
    }

    .actions-container {
      padding: 0px 40px;
    }
  }

  .payment-error-buttons {
    padding: 40px 0;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    text-align: left;
    color: #454560;

    .actions-container {
      padding: 0px 40px;
    }
  }

  .payment-success {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 30px;

    a {
      color: #414158;
      border: 1px solid #454460;
      padding: 8px 19px;
      text-transform: uppercase;
      border-radius: 4px;
      font-size: 13px;
    }
  }
}
