.pathway-badges-modal {
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1600;
    background: rgba(0, 0, 0, 0.8);
  }
  .modal {
    position: fixed;
    transform: none;
    z-index: 1600;
    height: 100%;
    padding: 41px 0 0;
    width: 100%;
    overflow: auto;
    top: 0;
    left: 0;
    .modal-content {
      width: 724px;
      top: 15px;
      left: calc(50% - 362px);
      position: relative;
      margin: 0;
      margin-bottom: 25px;
      .modal-badge-item {
        padding: 8px;
        margin: 8px;
        text-align: center;
        img {
          width: 95px;
          height: 95px;
        }
        .ellipsis {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          padding-top: 8px;
        }
      }
    }
    .modal-content-channel {
      width: 758px;
      left: calc(50% - 369px);
      .custom-column {
        margin-bottom: 10px;
      }
    }
    .modal-title {
      color: #fff;
      position: absolute;
      top: -30px;
      font-size: 18px;
      text-align: left;
    }
    .close-button {
      top: -40px;
      right: 0;
      position: absolute;
    }
  }
}
