label {
  display: block;
  font-size: rem-calc(14px);
  margin-bottom: rem-calc(4px);
  &[required] {
    &::after {
      content: '*';
    }
  }
}

.pathway-creation {
  min-height: 661px;
  .custom-card-container {
    width: 100%;
  }
  .not-allowed {
    cursor: not-allowed !important;
    & * {
      cursor: not-allowed !important;
    }
  }
  > div:not([class]) > div > div:first-child {
    border-color: transparent !important;
  }
  .pathway-content {
    .card-v2__simple-size {
      height: rem-calc(340);
    }
    .action-buttons {
      text-align: center;
      padding: 24px 0;
    }
    .common-block {
      > .row {
        max-width: 100%;
      }
    }
    .pathway-banner {
      max-width: 290px;
      height: 202px;
      border-radius: 2px;
      border: solid 1px #d6d6e1;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      justify-content: center;
      cursor: pointer;
      align-items: center;
      -ms-flex-align: center;
      position: relative;
      > div {
        width: 100%;
        height: 183px; // height pathway-banner - padding-top and padding-bottom
      }
    }

    .effort-caption {
      font-size: rem-calc(10);
    }
    .chip-tag-pathway {
      padding-bottom: 10px;
      margin-left: -5px;
    }
    .chip-tag-pathway-item,
    .chip-channel-pathway-item {
      padding-left: 5px;
      .channel-item-insight {
        text-align: center;
      }
    }
    .custom-hr {
      border: solid 1px #d6d6e1;
      margin: 16px auto 5px;
    }
    .tile-block {
      padding-bottom: 15px;
      padding-top: 10px;
      display: flex;
      align-items: center;
    }
    .tile-text {
      font-size: 12px;
      color: #454560;
    }
    .list-block {
      display: flex;
      padding: 0 0 15px 0;
      align-items: center;

      .list-icons {
        width: 20px;
        height: 20px;
        padding: 0;
        margin-right: 20px;
      }
      .list-main-card {
        position: relative;
        border-radius: 4px;
        background-color: #ffffff;
        border: solid 1px #d8d8d8;
        width: 100%;
        &.cursor-pointer {
          cursor: pointer;
        }
        > .row {
          align-items: center;
          .card-img-container {
            width: 64px;
            height: 47px;
            position: relative;
          }
          .provider-logo {
            height: 18px;
          }
          .center-play-icon {
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
            z-index: 3;
            filter: drop-shadow(0 0 15px #000);
          }
          .fp_video_card {
            video {
              height: 47px;
            }
          }
          .card-blurred-background {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
          }
          .label-text {
            font-size: 11px;
          }
          .card-message {
            font-size: 13px;
            height: 32px;
            overflow: hidden;
            font-weight: 300;
            line-height: 1.23;
            text-align: left;
            color: #6d6d72;
            border-left: solid 1px #d6d6e1;
            padding: 0;
            margin: 7px 0;
          }
          .markdown-container {
            padding: 0 15px;
            height: 32px;
            overflow: hidden;
            display: table-cell;
            vertical-align: middle;
          }
        }
        .card-index {
          min-width: 20px;
          height: 20px;
          background: #26273b;
          color: #fff;
          float: left;
          padding: 0 2px;
          margin: 0 20px;
          text-align: center;
          font-size: 14px;
        }
      }
    }
    .input-block {
      @media screen and (min-width: 40em) {
        padding-left: 20px;
      }
      padding: 0 0 16px;
      .provider-image-btn {
        position: absolute;
        top: rem-calc(5);
        right: rem-calc(-10);
      }
    }
    .pathway-label {
      font-size: 14px;
      line-height: 14px;
      letter-spacing: 0.5px;
      text-align: left;
      color: #6f708b;
    }
    .align-label {
      align-self: center;
    }
    .align-label-top {
      align-self: flex-start;
      .pathway-label {
        line-height: rem-calc(31);
        &.pathway-badge-label {
          line-height: rem-calc(26);
        }
      }
    }
    .align-label-input-level {
      align-self: flex-end;
      .pathway-label {
        line-height: rem-calc(31);
        &.pathway-label__tag {
          margin-bottom: rem-calc(22);
        }
      }
    }
    .card-v2__wide > .empty-smartbite {
      width: 100%;
      height: 100%;
    }
    .card-v2__simple-size > .empty-smartbite,
    .card-v2__simple-size > .paper-card {
      width: 14.1114rem;
      height: 100%;
    }
    .card-v2__simple-size {
      margin: 0 0 rem-calc(20) 0;
    }
    .empty-smartbite {
      &.empty-smartbite-v3 {
        width: 100%;
      }
      margin: auto;
      background: #d6d6e1;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      justify-content: center;
      align-items: center;
      -ms-flex-align: center;
      cursor: pointer;
      > div {
        width: 100%;
      }
    }
    .empty-smartbite-list {
      width: 100%;
      height: 50px;
      background: #d6d6e1;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      align-items: center;
      -ms-flex-align: center;
      cursor: pointer;
      padding-left: 20px;
    }
    .empty-title {
      padding-left: 5px;
      color: #454560;
      font-size: 12px;
      line-height: 24px;
    }
    .empty-image {
      color: #6f708b;
      font-size: 12px;
    }

    @media (max-width: 1500px) {
      .chip-tag-pathway-item {
        width: 33.33333%;
      }
      .chip-channel-pathway-item {
        width: 100%;
      }
    }

    @media (max-width: 1150px) {
      .chip-tag-pathway-item {
        width: 50%;
      }
    }

    @media (max-width: 980px) {
      .chip-tag-pathway-item {
        width: 50%;
      }
      .chip-tag-pathway {
        padding-top: 8px;
      }
    }

    @media (max-width: 400px) {
      .chip-tag-pathway-item {
        width: 100%;
      }
    }

    @media (min-width: 1500px) {
      .chip-tag-pathway-item {
        width: 25%;
      }
      .chip-channel-pathway-item {
        width: 50%;
      }
    }

    .smartbites-block {
      @media (max-width: 1570px) {
        .more-cards {
          width: 25%;
        }
      }
      @media (max-width: 1380px) {
        .more-cards {
          width: 33.3333%;
        }
      }
      @media (max-width: 750px) {
        .more-cards {
          width: 50%;
        }
      }

      @media (max-width: 520px) {
        .more-cards {
          width: 100%;
        }
      }

      @media (min-width: 1570px) {
        .custom-card-container.tile-view {
          margin-right: calc((25% - 223px) / (-2));
          margin-left: calc((25% - 223px) / (-2));
        }
        .more-cards.card-v2__simple-size {
          width: 25%;
        }
      }
    }
  }
}

.card-circle {
  padding: 16px;
}
div .svg-align {
  padding: 5px 0px 0px 5px;
}
.popover-card-text {
  padding-top: 10px;
  line-height: 1.17;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  color: #6f708b;
  max-width: 85px;
  margin: auto;
}

.icon-card {
  border-radius: 50%;
  height: 38px;
  width: 38px;
  padding: 0;
  margin: 0 auto;
  cursor: pointer;
}

.link-card {
  background: #00a1e1;
  border: 1px solid #00a1e1;
  padding-top: 8px;
  text-align: center;
}

.text-card {
  background: #98ca36;
  border: 1px solid #98ca36;
  padding-top: 6px;
  text-align: center;
}

.project-card {
  background: #20c3c3;
  border: 1px solid #20c3c3;
  padding-top: 6px;
  text-align: center;
}

.quiz-card {
  background: #6e8a4e;
  border: 1px solid #6e8a4e;
  display: flex;
  justify-content: center;
  align-items: center;
  .quiz-card-icon {
    color: white;
    font-size: 26px;
    font-weight: 600;
    line-height: 34px;
  }
}

.upload-card {
  background: #efbd48;
  border: 1px solid #efbd48;
  padding: 5px 0 0 6px;
}

.poll-card {
  background: #cb699b;
  border: 1px solid #cb699b;
  text-align: center;
  padding-top: 10px;
}

.bookmark-card {
  background: #9476c9;
  border: 1px solid #9476c9;
  text-align: center;
  padding-top: 7px;
}

.auto-generate-card {
  background: #ee5b22;
  border: 1px solid #ee5b22;
  padding: 5px 0 0 7px;
}

.smart-card {
  background: #6f708b;
  border: 1px solid #6f708b;
  padding: 7px 0 0 6px;
}

.additional-block {
  overflow: auto;
  padding-left: 5px;
}

.modal {
  > div {
    width: 100%;
  }
}

.smartbites-block {
  .card-v2 {
    padding-bottom: 10px;
  }
}

.search-block {
  .row {
    align-items: center;
  }
  .searched-row {
    height: 33px;
    line-height: 13px;
  }
  .search-image {
    background-position: center;
    background-size: contain;
    height: 30px;
  }
  .search-text {
    font-size: 11px;
    padding-left: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .search-type {
    text-transform: uppercase;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 10px;
    border-left: 1px solid;
  }
  @media (max-width: 576px) {
    .search-text {
      font-size: 9px;
      padding-left: 3px;
    }
    .search-type {
      font-size: 10px;
      padding-left: 3px;
      padding-right: 7px;
    }
  }
  @media (max-width: 477px) {
    .search-type {
      font-size: 8px;
      padding-left: 2px;
    }
  }
}

.cards-search-list {
  max-height: 300px;
  overflow: auto;
  margin: 5px 0;
}

.search-pending {
  padding: 16px 0;
}

.search-smartbite-count {
  font-size: 12px;
  padding: 0 10px;
}

.auto-generate-action-buttons {
  text-align: right;
  padding: 12px 0 0;
  width: 100%;
}

.autopathway-block {
  input {
    padding: 5px 10px;
    font-size: 14px;
    line-height: 14px;
    border: 1px solid #d6d6e1;
    color: #999aad;
    &::-webkit-input-placeholder,
    ::-moz-placeholder,
    ::-moz-placeholder,
    :-ms-input-placeholder,
    :-moz-placeholder {
      color: #999aad;
    }
  }

  select,
  input:focus {
    outline: none;
  }
}

.card-number-dropdown,
.journey-weeks-dropdown {
  border: 1px solid #d6d6e1;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 14px;
  color: #999aad;
  height: 31px;
  vertical-align: top;
  border-radius: 2px;
  margin-top: 8px;
  background-color: white;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: linear-gradient(45deg, transparent 50%, #d6d6e1 50%),
    linear-gradient(135deg, #d6d6e1 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1em), calc(100% - 15px) calc(1em),
    calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}

select > option.placeholder {
  display: none;
}

.warning-message {
  color: #e88c03;
  vertical-align: middle;
  font-size: rem-calc(12);
  line-height: 2.4rem;
}

@media (max-width: 980px) {
  .modal {
    > div {
      > div {
        width: 100% !important;
      }
    }
  }
}

@media (max-width: 1500px) {
  .chip-tag-pathway-item {
    width: 33.33333%;
  }
  .chip-channel-pathway-item {
    width: 100%;
  }
}

@media (max-width: 1150px) {
  .chip-tag-pathway-item {
    width: 50%;
  }
}

@media (max-width: 980px) {
  .chip-tag-pathway-item {
    width: 50%;
  }
  .chip-tag-pathway {
    padding-top: 8px;
  }
}

@media (max-width: 400px) {
  .chip-tag-pathway-item {
    width: 100%;
  }
}

@media (min-width: 1500px) {
  .chip-tag-pathway-item {
    width: 25%;
  }
  .chip-channel-pathway-item {
    width: 50%;
  }
}

.auto-size {
  height: auto !important;
}

//EP-21834 reselect causing issue
.modalContainer {
  .react-tags__selected {
    z-index: 10;
  }
}
