.card-overview {
  z-index: 10;
}
.card-overview-header {
  position: absolute;
  width: 100%;
  top: -40px;
  line-height: 48px;
  right: 0;
  .header-title {
    color: #fff;
    .header-draft-label {
      color: #f18d86;
    }
  }
  .close-wrapper {
    position: absolute;
    right: -2.8125rem;
    width: 100%;
    line-height: 48px;
    right: 0;
    z-index: 9;
    .close-button {
      float: right;
    }
  }
  .close-button {
    float: right;
  }
}
.pathway-overview-spinner {
  line-height: rem-calc(620);
}
.locked-card-in-modal {
  width: 50%;
  margin: 0 auto;
}
.list-locked-card {
  margin: 0 auto;
}
.preview-arrows {
  position: absolute;
  width: calc(100% + 100px);
  left: -50px;
  top: 270px;
}
.preview-back {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -35px;
  text-decoration: underline;
  cursor: pointer;
  font-size: 18px;
  line-height: 1.71;
  text-align: center;
  color: #ffffff;
}
.preview-count {
  position: absolute;
  width: 100%;
  left: 0;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  top: -27px;
  z-index: 0;
}
.card-overview-content {
  .fp.fp_preview {
    position: relative;
  }

  .main-image {
    width: 640px;
    height: 360px;
    position: relative;
    .card-blurred-background {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  }
  .top-block {
    padding: 16px 0 0;
    .pull-right {
      float: right;
    }
  }
  .inline-video {
    iframe {
      width: 100%;
      height: 360px;
    }
  }
  .label-text {
    font-size: 11px;
  }
  .provider-logo {
    height: 20px;
    margin-right: 8px;
    padding-right: 8px;
    border-right: solid 1px #bababa;
  }
  .pathway-title {
    padding: 16px 0 0;
  }
  .show-pack-cards {
    text-decoration: underline;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    padding-top: 8px;
  }
  .comments-container {
    min-height: 500px;
    .comments {
      padding-left: 1rem;
      position: relative;
      .comments-block-list {
        min-height: 503px;
      }
      .label {
        display: inline;
      }
      .break-line {
        border-bottom: 1px solid lightgrey;
        margin: 10px 0;
      }
      .comment-list-container {
        opacity: 1;
        min-height: 445px;
      }
    }
    .modal-actions-bar {
      .icon-inline-block {
        display: inline-flex;
        position: relative;
        width: rem-calc(50);
        padding-top: rem-calc(15);

        small {
          position: relative;
          top: 2px;
          font-size: rem-calc(12);
          line-height: rem-calc(17);
        }
      }
      .icon-mark-block {
        display: inline-flex;
        position: relative;
        padding-top: 1.5375rem;
        vertical-align: top;
      }
      .icon-dropdown {
        width: auto;
      }
      .votes-count {
        vertical-align: super;
        display: inline-block;
        margin-top: rem-calc(4);
        padding-right: 16px;
      }
      .comments-count {
        color: #6f708b;
        opacity: 0.3;
      }
      .button-icon {
        display: inline-block;
      }
    }
  }
  a[name='marked-link'] {
    word-break: break-word;
  }
  .relevancyRatingStars span[data-index='0'] {
    margin: 0 0 0 0.3rem;
  }
  .relevancyRatingStars span[data-index='4'] {
    margin: 0 0.3rem 0 0 !important;
  }
}
.image-upload {
  border: #d6d6e1 solid 1px !important;
  border-style: solid;
  border-width: 1px;
  padding: 1rem;
  width: 100%;
  height: auto;
  color: #999aad;
  background-color: #ffffff;
  border-radius: 3px;
}

@media (max-width: 1120px) {
  .modal {
    .main-image {
      width: auto;
    }
  }
}
@media (min-width: 640px) {
  .break-line {
    border-left: 1px solid lightgrey;
  }
  .left-content {
    padding-right: 16px;
    border-right: 1px solid lightgrey;
  }
}
