.card-payment-modal {
  .card-payment-header {
    position: absolute;
    width: 100%;
    top: -40px;
    line-height: 48px;
    right: 0;
    .header-title {
      color: white;
    }
    .close-button {
      float: right;
    }
  }
}

.payment-details-container {
  width: rem-calc(250);

  .card-header {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .card-number {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .card-exp-period {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .cvv {
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
