.reason-modal {
  padding: 0px 10px;
  .reason-header {
    position: absolute;
    width: 100%;
    top: -40px;
    line-height: 48px;
    right: 0;
    .close-button {
      float: right;
    }
  }
  .header-title {
    color: #ffffff;
  }
  .reason-title {
    font-size: 1.1rem;
    font-weight: normal;
    letter-spacing: normal;
    color: #454560;
    border-bottom: solid 0.5px #acadc1;
    padding-bottom: 0.1875rem;
    margin-bottom: 0.5rem;
  }
  .reason-sub-title {
    font-size: 0.9rem;
    padding: 0.3125rem 0;
    font-weight: 600;
    color: #454560;
    line-height: 2.5;
  }
  .reason-text {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .hiddenTextField {
    display: none;
  }
  .another-rsn-title {
    font-size: 0.85rem;
    margin-top: 0.8rem;
    position: relative;
    color: #555555;
    font-weight: 400;
    top: rem-calc(6);
  }
}
