.relevancy-rating-dialog {
  opacity: 1 !important;
  & > div {
    background-color: transparent !important;
    box-shadow: none !important;
    & > div {
      padding: 0 !important;
    }
  }
  .close-button {
    top: -10px;
    right: 0;
    position: absolute;
  }
  .relevancyRatingStars span {
    margin-right: 5px;
  }
  .poll-radio {
    div div {
      margin-right: 5px !important;
    }

    svg {
      fill: #878787 !important;
    }
  }
}
