.share-content-modal-dialog {
  & > div {
    background-color: transparent !important;
    box-shadow: none !important;
    & > div {
      padding: 0 !important;
    }
  }
  .close-button {
    top: rem-calc(-10);
    right: 0;
    position: absolute;
  }
}
.share-content-modal-container {
  padding: rem-calc(15);

  .user-search-input {
    position: relative;
    margin: 0 0 rem-calc(10) 0;
  }

  .bootstrap-typeahead-menu {
    position: absolute;
    font-size: rem-calc(12) !important;
  }
  .bootstrap-typeahead-input-main {
    border-color: #d6d6e1;
    padding-left: rem-calc(10);
  }
  .save-users {
    height: rem-calc(24) !important;
    line-height: rem-calc(24) !important;
    position: absolute !important;
    top: 0;
    right: 0;
    margin-top: 0 !important;
    border: rem-calc(1) solid #9276b5 !important;

    div,
    span {
      height: rem-calc(24) !important;
      line-height: rem-calc(24) !important;
      color: #9276b5 !important;
    }

    span {
      display: block;
    }
  }

  .sc_tabs_container {
    margin: 0 0 rem-calc(15) 0;
    display: flex;

    .sc_tab {
      font-size: rem-calc(16);
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #454560;
    }

    .active {
      font-weight: 600;
    }
  }

  .sc_tabs_container__extra-margin {
    margin-bottom: rem-calc(30);
  }

  .sc_tabs_content_container {
    .preview_data {
      .row-header-preview {
        line-height: 3;
        font-size: rem-calc(12);
        font-weight: 600;
        color: #454560;
      }
      .row-body-preview {
        line-height: 3;
        font-size: rem-calc(12);
        font-weight: normal;
        color: #454560;
      }
    }
    .inactive-tab-container {
      display: none;
    }

    .checkbox-label {
      display: flex;

      .user-image {
        width: rem-calc(25);
        height: rem-calc(25);
        margin: 0 rem-calc(10) 0 0;
        border-radius: 50%;
        display: inline-block;
      }
      .user-name {
        font-size: rem-calc(13);
        font-weight: 500;
        margin: 0 rem-calc(10) 0 0;
      }
      .user-handle {
        font-size: rem-calc(11);
        vertical-align: middle;
      }
    }

    #sc-individual-list-content {
      height: rem-calc(380);
      overflow-y: auto;
    }

    #searched-users {
      padding: rem-calc(5) 0;
      height: rem-calc(150);
      overflow-y: auto;
    }

    #sc-group-list-content {
      height: rem-calc(380);
      overflow-y: auto;
    }

    #searched-groups {
      padding: rem-calc(10) 0;
      height: rem-calc(150);
      overflow-y: auto;
    }

    #sc-shared-list-container {
      height: rem-calc(380);
      overflow: auto;
    }

    .clip-container {
      border-radius: rem-calc(2);
      border: solid rem-calc(1) #acadc1;
      display: inline-block;
      margin: rem-calc(3);

      .clip-main-text,
      .clip-handle-text {
        font-size: rem-calc(11);
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 3.27;
        letter-spacing: rem-calc(0.5);
        text-align: left;
        color: #454560;
      }

      .clip-main-text {
        margin: 0 rem-calc(5) 0 0;
      }

      .clip-handle-text {
        font-weight: 300;
      }

      .clip-group-name {
        margin: 0 rem-calc(5) 0 rem-calc(12);
      }

      .clip-remove-btn {
        margin: 0 rem-calc(5) !important;
        vertical-align: middle;
        padding: rem-calc(0) !important;
        width: rem-calc(20) !important;
        height: rem-calc(20) !important;

        svg {
          width: rem-calc(20) !important;
          height: rem-calc(20) !important;
        }
      }

      .user-avatar {
        width: rem-calc(20);
        border-radius: 50%;
        margin: rem-calc(0) rem-calc(5);
      }
    }
    .clip-container-block {
      display: block;
    }

    #sc-shared-list-container {
      .title {
        font-size: rem-calc(14);
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #454560;
      }

      .empty-msg {
        color: #acadc1;
        font-size: rem-calc(11);
      }

      .group-list {
        margin: rem-calc(10) 0 0 0;
      }
    }
  }

  .sc-button-container {
    margin: rem-calc(10) 0 0 0;
  }
}
