.skills-directory-modal {
  .skills-directory-header {
    position: absolute;
    width: 100%;
    top: -2.5rem;
    line-height: 3rem;
    right: 0;

    .close-button {
      float: right;
    }

    .skills-directory-title {
      display: inline-block;
      color: #ffffff;
    }
  }

  .user-search-input {
    margin: rem-calc(20);

    input {
      height: rem-calc(30);
      padding-left: rem-calc(10);
    }

    p {
      font-size: 0.8rem;
      font-weight: 400;
      margin-top: rem-calc(5);
    }

    .buttons {
      display: flex;
      justify-content: center;

      button {
        margin: rem-calc(10) !important;
      }
    }
  }
}
