.slide-out-card-modal-container {
  width: rem-calc(694);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 20;
  height: 100%;

  .card-image-block {
    position: relative;
    .card-blurred-background {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  }

  .poll-content {
    .poll-stats-bar {
      .name {
        white-space: normal !important;
      }
    }
  }

  .slide-out-modal {
    background: white;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 30;
    overflow-y: auto;
  }
  .slide-out__white-block {
    padding: 2.375rem 2.375rem 0 2.375rem;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
  }
  .slide-out__comment-block {
    padding: rem-calc(11) rem-calc(38) rem-calc(15) rem-calc(38);
    background-color: #e2e2eb;
    flex-shrink: 0;
  }
  .card-bia .level-dots > span {
    width: rem-calc(14);
    height: rem-calc(14);
  }
  .card-bia .level {
    font-size: rem-calc(14);
  }

  .slide-out__file-block {
    padding-bottom: 1rem;
    .inline-video iframe {
      height: rem-calc(410);
    }
  }

  .card-image-block {
    .center-play-icon {
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      z-index: 3;
    }
  }

  .main-image {
    width: 100%;
    height: rem-calc(410);
  }
  .star-block {
    margin-left: auto;
    display: inline-flex;
    align-items: center;
    padding: 0 1rem;
  }

  .close-button {
    position: absolute;
    top: rem-calc(5);
    right: rem-calc(5);
  }

  .my-card__text-info {
    max-height: 100%;
    height: auto;
    margin-bottom: 0.5rem;
    overflow-y: visible;
    &:hover {
      overflow-y: visible;
    }
    .name {
      display: inline-block;
    }
    .poll-stats-bar .votes-v3 {
      right: 0;
    }
  }
  .card-image {
    margin-bottom: 1rem;
  }
  .slide-out__bottom-block {
    margin-top: auto;
    margin-bottom: rem-calc(7);
  }
  .read-time-ago {
    font-size: 0.75rem;
    color: #454560;
  }
  .insight-action-bar {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    font-size: rem-calc(14);
    line-height: rem-calc(19);
    color: #26273b;
    padding-top: rem-calc(22);
    .like-container {
      display: inline;
    }
    .views {
      padding-left: 0;
      display: inline-block;
    }
    .read-time-ago {
      border-right: rem-calc(2) solid #b3b3b3;
      padding-right: 1rem;
      display: inline-block;
    }
    .read-time-ago__margin {
      margin-right: 1rem;
    }

    .relevancy {
      margin-left: rem-calc(10);
      line-height: 1.2;
      color: #acadc1;
    }

    .rating-count {
      text-align: right;
    }

    .relevancyRatingStars {
      padding-right: rem-calc(7);
      span {
        margin-right: 0.25rem;
        font-weight: bold;
      }
      span:last-of-type {
        margin-right: 0;
      }
    }
    .side-spacing {
      margin: 0 20px;
    }
  }

  .inside-modal {
    opacity: 1 !important;
  }
}

.slide-out__header {
  .user-name {
    font-size: rem-calc(14) !important;
  }
  .time-ago {
    font-size: rem-calc(12) !important;
  }
  .my-card__provider {
    height: auto;
  }
  .my-card__provider-name {
    font-size: rem-calc(14) !important;
  }
}
