label {
  display: block;
  font-size: rem-calc(14px);
  margin-bottom: rem-calc(4px);
  &[required] {
    &::after {
      content: '*';
    }
  }
}

/* Extracted from React tags styles */
.react-tags {
  position: relative;
  border: 1px solid rgb(214, 214, 225);
  border-radius: 2px;

  /* shared font styles */
  font-size: 12px;

  /* clicking anywhere will focus the input */
  cursor: text;
  color: #acadc1;
  padding: 4px 0;
  min-height: 30px;
}

.react-tags__selected {
  display: inline-block;
  float: left;
  position: relative;
  z-index: 40;
}

.react-tags__search-input {
  margin-left: 5px;
}

.react-tags__selected-tag {
  display: inline-flex;
  box-sizing: border-box;
  margin: 1px 0px 0px 5px;
  padding: 2px 8px;
  border-radius: 2px;
  background: #d6d6e1;
  color: #9899ae;
  align-items: center;
  cursor: pointer;

  /* match the font styles */
  font-size: 10px;
  line-height: 16px;
}

.react-tags__search input::placeholder {
  color: #999aad;
}

.react-tags__selected-tag:after {
  content: '\2715';
  color: #6f708b;
  margin-left: 8px;
}

.react-tags__selected-tag:hover,
.react-tags__selected-tag:focus {
  border-color: #b1b1b1;
}

.react-tags__search {
  display: block;

  /* match tag layout */
  /*
  padding: 7px 2px;
  margin-bottom: 6px;
  */
  /* prevent autoresize overflowing the container */
  max-width: 100%;
}

@media screen and (min-width: 30em) {
  .react-tags__search {
    /* this will become the offsetParent for suggestions */
    position: relative;
  }
}

.react-tags__search input {
  /* prevent autoresize overflowing the container */
  max-width: 100%;
  height: 21px;
  /* remove styles and layout from this element */
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;

  /* match the font styles */
  font-size: inherit;
  line-height: inherit;
}

.react-tags__search input::-ms-clear {
  display: none;
}

.react-tags__suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: auto;
  border-left: 1px solid #d1d1d1;
  border-right: 1px solid #d1d1d1;
  background-color: #fff;
  color: #999aad;
}

@media screen and (min-width: 30em) {
  .react-tags__suggestions {
    width: 240px;
  }
}

.react-tags__suggestions ul {
  margin: 4px -1px;
  padding: 0;
  list-style: none;
  background: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  color: #999aad;
}

.react-tags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 6px 8px;
}

.react-tags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}

.react-tags__suggestions li:hover {
  cursor: pointer;
  background: #eee;
}

.react-tags__suggestions li.is-active {
  background: #b7cfe0;
}

.react-tags__suggestions li.is-disabled {
  opacity: 0.5;
  cursor: auto;
}
.common-margin {
  margin-bottom: 20px;
}

.pdf-upload {
  position: relative;
}

.project-preview-top-spacing {
  margin-top: rem-calc(10);
}
