.smartbite-overview {
  min-height: 50px;
  .logo-type {
    padding-top: 16px;
    float: right;
  }
  .time-to-read {
    clear: left;
    padding-top: rem-calc(16);
    font-size: rem-calc(14);
    color: #454560;
    .separator {
      display: inline-block;
      height: rem-calc(14);
      background-color: #9e9eac;
      width: rem-calc(1);
      margin: 0 rem-calc(15) 0 0;
      vertical-align: middle;
    }
  }
  .author-info-container {
    vertical-align: top;
    font-family: 'Open Sans', sans-serif;
    font-size: rem-calc(12);
    line-height: 1.2;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    a.user-name {
      font-weight: 600;
      color: #454560;
    }

    .time-ago {
      font-weight: 300;
      color: #6f708b;
    }
  }
}
.card-text-block {
  padding-top: 16px;
  .smartbite-poll-content {
    .vertical-spacing-medium {
      padding-top: 16px;
      .vertical-spacing-medium {
        padding-top: 0;
      }
    }
  }
  .card-title {
    font-weight: 800;
    padding-bottom: 8px;
  }
  .article-card-block {
    padding-bottom: 8px;
  }
  .show-pack-cards {
    padding-top: 35px;
  }
}
.smartbite-preview-text {
  word-break: break-word;
  &.card-desc {
    .public-DraftEditor-content {
      padding: rem-calc(1) 0;
    }
  }
}

.smartbite-preview-text,
.smartbite-preview-text .DraftEditor-root {
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  color: #555555;
  .marked-text {
    p,
    span,
    strong,
    del,
    ul,
    em {
      font-size: 14px;
      line-height: 23px;
    }
  }
}

.card-image-block {
  .center-play-icon {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 3;
  }
}
.overview-tags-container {
  margin-top: 10px;
  padding-left: 0;
  word-wrap: break-word;
}

.modal-author {
  .user-name {
    font-weight: 600;
    color: #454560;
  }
  .time-ago {
    font-weight: 300;
    color: #6f708b;
  }
}

.card-pricing {
  font-size: 0.75rem;
  color: rgb(69, 69, 96);
  padding-left: 0.625rem;
}
