.smartbite-creation {
  .smartbite-header {
    position: absolute;
    width: 100%;
    top: -40px;
    line-height: 48px;
    right: 0;
    .header-title {
      color: white;
    }
    .close-button {
      float: right;
    }
  }

  .smartbite-content {
    .not-allowed {
      & * {
        cursor: not-allowed !important;
      }
    }
    .icon-opacity {
      opacity: 0.2;
    }
    .type-block {
      color: #999aad;
      font-size: 16px;
      cursor: pointer;
      margin-top: 20px;
      .icon-card {
        border-radius: 50%;
        height: 3.125rem;
        width: 3.125rem;
        padding: 0.725rem;
        margin: 0 auto;
      }
      .link-card {
        background: #00a1e1;
        text-align: center;
        padding: 14px;
      }
      .text-card {
        background: #98ca36;
        text-align: center;
      }
      .project-card {
        background: #20c3c3;
        text-align: center;
      }
      .upload-card {
        background: #efbd48;
        text-align: center;
      }
      .poll-card {
        background: #cb699b;
        text-align: center;
        padding-top: 15px;
      }
      .course-card {
        background: #9476c9;
        text-align: center;
        padding-top: 15px;
      }
      .vertical-line {
        width: 1px;
        background: #d6d6e1;
        float: right;
        height: 75px;
        top: -10px;
      }
      .horizontal-line {
        height: 1px;
        background: #d6d6e1;
        width: 90%;
        margin: 15px 0 0 8px;
      }
      &:last-child {
        .vertical-line {
          display: none;
        }
      }
    }
    .chip-tag-pathway {
      padding-bottom: 0;
      margin-left: -5px;
    }
    .chip-tag-pathway-item,
    .chip-channel-pathway-item {
      padding-left: 5px;
      .channel-item-insight {
        text-align: center;
      }
    }
    .card-types-list {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .overlined {
      background: #fff;
      height: 1px;
      top: -1px;
      position: relative;
    }

    @media (max-width: 1200px) {
      .chip-channel-pathway-item {
        width: 33.33333%;
      }
      .chip-tag-pathway-item {
        width: 25%;
      }
    }

    @media (max-width: 900px) {
      .chip-channel-pathway-item {
        width: 50%;
      }
      .chip-tag-pathway-item {
        width: 33.33333%;
      }
    }

    @media (max-width: 400px) {
      .chip-channel-pathway-item {
        width: 100%;
      }
      .chip-tag-pathway-item {
        width: 50%;
      }
    }

    @media (min-width: 1200px) {
      .chip-tag-pathway-item {
        width: 20%;
      }
      .chip-channel-pathway-item {
        width: 33.33333%;
      }
    }
  }
}

.smart-bite-cards {
  .duplicate-block p,
  .duplicate-block a {
    font-size: rem-calc(10);
    height: rem-calc(14);
    margin-top: rem-calc(5);
    display: block;
  }
  .duplicate-links {
    height: rem-calc(55);
    position: relative;
    overflow: auto;
    margin-bottom: rem-calc(12);
  }
  .duplicate-error-message {
    color: #c10e4b;
  }
  .duplicate-info-message {
    color: #6f708b;
  }
  .duplicate-link {
    color: #4a90e2;
    margin-left: rem-calc(23);
  }

  .duplicate-check-btn {
    color: #4a90e2;
    font-size: rem-calc(10);
    height: rem-calc(14);
    cursor: pointer;
  }

  .upload-error {
    text-align: center;
  }
  .upload-error-text {
    position: relative;
    bottom: 2px;
    font-size: 12px;
    line-height: 12px;
    color: rgb(244, 67, 54);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    padding: 0.5rem 1rem 0;
  }
  .action-buttons {
    padding: 16px 0;
    text-align: center;
    background: white;
  }
  .preview-video {
    padding: 0.5rem 0;
  }
  .file-title {
    display: flex;
    align-items: center;
    text-align: center;
    span {
      width: 100%;
    }
  }
  input[name='option'] {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif !important;
  }
  .relative {
    position: relative;
  }
  .text-block {
    padding: 0.5rem 0;
    font-size: 14px;

    .smartbite-input {
      &.disabled {
        background-color: #f6f6f6 !important;
      }
    }
  }
  .inputs-block {
    span.item-name {
      text-overflow: ellipsis;
      overflow: hidden;
      padding: 0px 10px;
      white-space: nowrap;
    }
  }

  .public-DraftEditorPlaceholder-root,
  .public-DraftEditor-content {
    padding: 9px 1rem;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    line-height: 1.5;
    color: #d6d6e1;
    font-size: 14px;
  }
  .EditorToolbar__root___3_Aqz {
    top: 0;
    left: 0;
    right: 0;
    background: white;
    z-index: 10;
    position: absolute;
  }
  .public-DraftEditor-content {
    color: #999aad;
  }
  .custom-text-editor-btn,
  .Button__root___1gz0c {
    background: white;
  }
  .IconButton__isActive___2Ey8p {
    background: none #d8d8d8;
  }
  .add-poll {
    text-decoration: underline;
    cursor: pointer;
    font-size: 14px;
  }
  .card-search {
    padding: 0 10px;
  }
  .quiz-item {
    display: flex;
    align-items: center;
  }
  .close-line-quiz {
    border-color: #e0e0e0;
    bottom: -4px;
    box-sizing: content-box;
    margin: 0;
    left: 0;
    position: absolute;
    width: 100%;
    color: #acadc1;
  }
  .correct-label {
    font-size: 14px;
    color: #999aad;
    padding-left: 5px;
  }
  .feild-space {
    padding: 0.5rem 0;
  }
}

.bia-block {
  display: flex;
}

.bia-block,
.complete-method-block {
  margin: 10px 0;
  font-size: 12px;
  color: #6f708b;

  .bia-radio,
  .complete-radio {
    margin-right: 15px;
  }
}

.preview-upload-video {
  height: 100%;
  width: 100%;
}

.preview-upload {
  padding: 0.5rem 0;
  &:first-child {
    .card-img-container {
      .card-img {
        background-size: cover;
      }
    }
  }
  .card-img-container {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    height: 230px;
    width: 330px;
    margin: auto;
    .card-blurred-background {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      filter: blur(7px);
    }
  }
}

.roll-image {
  background: rgba(0, 0, 0, 0.8);
  height: 5rem;
  position: absolute;
  width: 7rem;
  z-index: 10;
  left: calc(50% - 3.5rem);
  top: calc(50% - 2.5rem);
  -webkit-box-shadow: 0 0 4px #000;
  -moz-box-shadow: 0 0 4px #000;
  box-shadow: 0 0 4px #000;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
}

.roll-image-video {
  background: rgba(0, 0, 0, 0.8);
  height: 5rem;
  position: absolute;
  width: 7rem;
  z-index: 10;
  left: calc(50% - 3.5rem);
  top: calc(50% - 2.5rem);
  -webkit-box-shadow: 0 0 4px #000;
  -moz-box-shadow: 0 0 4px #000;
  box-shadow: 0 0 4px #000;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
}

.replace-image-upload {
  max-width: 320px;
}

.roll-text {
  color: white;
  font-size: 14px;
}

.close-line {
  border-color: #e0e0e0;
  bottom: -10px;
  box-sizing: content-box;
  margin: 0;
  left: 0;
  position: absolute;
  width: 100%;
  color: #acadc1;
}

.small-12 {
  -ms-flex: 0 0 100%;
}
.small-3 {
  -ms-flex: 0 0 25%;
}
.small-auto {
  flex: auto; /* changed for ticket id EP-7437 */
}
.medium-4 {
  -ms-flex: 0 0 33.33333%;
}
.medium-8 {
  -ms-flex: 0 0 66.66667%;
}
.row {
  -ms-flex-flow: row wrap;
}

.fsp-picker__footer {
  display: none !important;
}
.fsp-picker {
  justify-content: flex-start !important;
  padding-top: 56px;
}
.smartbite-inputs-container {
  position: relative;
}

.editor-image-btn-icon:focus {
  outline: -webkit-focus-ring-color auto 5px !important;
}

.advanced-label {
  height: 1.125rem;
  font-family: 'Open Sans';
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.5;
  text-align: left;
  color: #4a90e2;
  margin-bottom: 1.125rem;
  cursor: pointer;
}

.from-list-label {
  position: absolute;
  right: 0;
  margin: 0.25rem 0;
}

.advanced-settings {
  .flex {
    display: flex;
  }
  .content {
    justify-content: space-between;
  }
  .effort-caption {
    font-size: rem-calc(10);
    display: block;
    margin-top: -10px;
  }
  .row {
    margin-bottom: 10px;
  }
  .text-block {
    vertical-align: bottom;
  }
  .smartbite-label {
    height: 100%;
    font-family: 'Open Sans';
    font-size: 12px;
    line-height: 46px;
    text-align: left;
    color: #555;
  }

  .provider-image {
    width: 50px;
    top: 5px;
    border-radius: 2px;
    background-color: #acadc1;
  }
  .provider-image-btn {
    position: absolute;
    top: rem-calc(-10);
    right: rem-calc(-10);
  }
  .changesMadeBy,
  .previous-versions {
    font-size: rem-calc(13);
    padding: rem-calc(5px 0px);
  }

  .versions-headers {
    font-size: rem-calc(13);
    padding: rem-calc(5px 0px);
    border-bottom: 1.5px solid #000;
  }

  .changesMadeBy {
    padding: rem-calc(10px 0px);
    color: #9c9cab;
  }

  .previous-versions-content {
    padding: 0px 0px 10px 0px;
    border-bottom: 1px solid #000;
    color: #555;
  }
}
.from-list-container {
  width: 100%;
  height: rem-calc(238);
  margin-top: 0.6rem;
  position: relative;
  background-color: #f0f0f6;
  border: solid 0.03125rem #e3e3e3;
  padding: rem-calc(12) rem-calc(5) 0 rem-calc(26);
  .sharing-tabs-container {
    display: flex;
  }
  .sharing-tab-name {
    font-size: 0.875rem;
    font-weight: 300;
    color: #6f708b;
    display: flex;
    align-items: center;
    margin-right: 3.5rem;
    &:active,
    &:focus {
      color: #6f708b !important;
    }
  }
  .sharing-tab-name__active {
    font-weight: 600;
  }
  .sharing-search-block {
    position: relative;
    padding-right: 1.5625rem;
    border-radius: 0.25rem;
    background-color: rgba(255, 255, 255, 0.7);
    width: 11rem;
    height: 1.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    margin: rem-calc(13) 0;
    display: flex;
    align-items: center;
    input {
      border: none;
      width: 100%;
      height: 100%;
      padding-left: 1.6rem;
      outline: none;
      background: transparent;
      font-size: 0.75rem;
      vertical-align: middle;
      &::placeholder {
        color: #acadc1;
      }
    }
  }
  .track-vertical {
    background: #acadc1;
    border-radius: rem-calc(7);
    height: 2.25rem !important;
    right: rem-calc(-2);
    z-index: 10;
  }
  .spinner-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 43rem;
    height: 7rem;

    .loading-spinner {
      margin: 0;
    }
  }
  .checkbox-to-share div div {
    margin-right: 0.425rem !important;
    padding-bottom: 6px;
  }
  .checkbox-to-share > div {
    align-items: center;
  }
  .no-items-found {
    line-height: 1.5rem;
    color: rgb(85, 85, 85);
    font-size: 0.75rem;
    text-align: center;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    right: 1rem;
    top: -0.35rem;
    width: 0.625rem;
    height: 0.625rem;
    background-color: #f0f0f6;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border-left: solid 0.03125rem #e3e3e3;
    border-top: solid 0.03125rem #e3e3e3;
  }
}

.from-list-container * {
  font-family: 'Open Sans', sans-serif !important;
}
