.status-message-modal {
  opacity: 1 !important;
}
.StatusModal {
  position: relative;
  margin: auto;
  background-color: black;
  opacity: 0.9;
  outline-style: none;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 90px;

  .confirmStatus {
    margin-top: 30px;
    padding: 10px 25px;
    border: solid 1px #fff;
    border-radius: 2px;
    transition: background 150ms ease-in, color 150ms ease-in;
    &:hover {
      background-color: #fff;
      color: #000;
    }
  }

  .closeStatusModal {
    position: absolute;
    font-size: 20px;
    right: 0;
    top: 0;
    padding: 15px;
    outline-style: none;
    transition: opacity 100ms ease-in;
    &:hover {
      opacity: 0.7;
    }
  }
}

.OverlayStatusModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
