.group-share-dialog {
  max-width: 430px;

  & > div {
    background-color: transparent !important;
    box-shadow: none !important;
    & > div {
      padding: 0 !important;
    }
  }
  .close-button {
    top: -10px;
    right: 0;
    position: absolute;
  }

  #user-list {
    max-height: rem-calc(500);
    height: auto;
    overflow: auto;
  }

  .user-container {
    display: flex;
    padding: 5px 0;

    .user-avatar {
      margin: 0 10px 0 0;
      width: 30px;
      border-radius: 50%;

      img {
        border-radius: 50%;
      }
    }
  }

  .loadmore-loader {
    margin: 0 auto;
  }
}
