#uploadImage {
  padding-bottom: 2rem;
  .upload-image-content {
    > input {
      display: none;
    }
    .pointer {
      cursor: pointer;
    }
    .crop-block {
      margin-top: 0.7rem;
    }
    .preview-block {
      padding-left: 0.5rem;
    }
    .image-crop-area {
      @media screen and (min-width: 64em) {
        border-right: 1px solid lightgrey;
      }
      padding-right: 1rem;
    }
    .image-editor-block {
      border: 1px dashed $silver-sand;
      text-align: center;
      min-height: 14rem;
      max-width: 14rem;
      display: flex;
      justify-content: center;
      align-content: center;
      margin: 1rem auto;
      cursor: pointer;
      > div {
        align-self: center;
      }
      .upload-text {
        color: $silver-sand;
      }
    }

    .error-upload-image {
      position: relative;
      bottom: 2px;
      font-size: 12px;
      line-height: 12px;
      color: rgb(244, 67, 54);
      transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      padding: 0.5rem 1rem 0;
    }

    .preview-block {
      .upload-preview {
        width: 100%;
        height: auto;
        vertical-align: top;
      }
    }
  }
}
