.big-card-container {
  min-width: rem-calc(400);

  .insightV2 {
    border-radius: rem-calc(4);
    background-color: #ffffff;
    box-shadow: 0 rem-calc(2) rem-calc(4) 0 rgba(0, 0, 0, 0.24);
    margin-bottom: rem-calc(15);
  }

  .views-rates-bar,
  .breadcrumbBack,
  .card-header__container + .line {
    display: none !important;
  }

  .big-card__card-bia {
    margin-left: auto;
  }

  .fp {
    max-width: 100% !important;
    height: auto !important;
  }
  .delete-comment {
    border-color: #26273b !important;
  }
  .comment-time-ago time {
    color: #6f708b !important;
    border-color: #26273b !important;
  }

  .level {
    font-size: rem-calc(11);
    letter-spacing: 0.4px;
    text-align: right;
    color: #6f708b;
    margin-right: 0;
    text-transform: uppercase;
  }
  .beginner {
    .first {
      background: #454560;
    }
  }

  .intermediate {
    .first,
    .second {
      background: #454560;
    }
  }

  .advanced {
    .first,
    .second,
    .third {
      background: #454560;
    }
  }
  .card-header__container {
    flex-wrap: wrap;
  }
  .insight-container {
    padding-top: rem-calc(15);
  }

  .card-header-icons {
    position: relative;
    min-width: 100%;
    right: 0;
    margin-top: rem-calc(15);
  }
  .card-type {
    font-size: rem-calc(12);
    font-weight: 300;
    letter-spacing: 0.5px;
    color: #6f708b;
    padding: 0;
  }

  .resource-message {
    font-size: rem-calc(24);
    line-height: 1.25;
    letter-spacing: 0.1px;
    text-align: left;
    color: #454560;
    margin-bottom: rem-calc(14);
  }

  .description {
    font-size: rem-calc(16);
    line-height: 1.38;
    letter-spacing: 0.1px;
    color: #6f708b;
  }

  .resource-title {
    font-size: rem-calc(16);
    line-height: 1.38;
    letter-spacing: 0.1px;
    font-weight: 600;
    color: #454560;
  }

  .insightV2 .image-container__article {
    width: 100%;
    max-width: 100%;
    float: none;
    display: block;
    height: 360px;
  }

  .card-header__container,
  .insight-container,
  .comments-block {
    padding: rem-calc(19) !important;
  }

  .card-header__container {
    padding-bottom: 0 !important;
  }
  .comment-list-container > div > small > a {
    font-size: rem-calc(12);
    color: #6f708b;
  }

  .resource {
    padding: 0 rem-calc(8) rem-calc(16);
    border-radius: 4px;
    border: solid 1px #d6d6e1;
    box-shadow: none;
  }
  .description {
    margin: 0 !important;
  }

  .insightV2 .insight-info-bar {
    margin: 0 !important;
  }

  .channels {
    padding: 0 !important;
  }

  .comment-input {
    padding-right: rem-calc(82);
  }

  .due-date,
  .channels *,
  .tags * {
    font-size: rem-calc(12) !important;
  }

  .liked-by__block {
    font-size: rem-calc(14);
    line-height: 2;
    letter-spacing: 0.1px;
    color: #4a90e2;
    border-bottom: solid 0.5px #acadc1;
    margin-bottom: rem-calc(10);
  }

  .card-type-display-name,
  .insight-img-logo {
    padding-right: 0 !important;
  }
  .file-type-devider {
    margin: 0 rem-calc(8);
  }
}

.big-vew-block {
  width: rem-calc(552);
  display: block;
  margin: 0 auto rem-calc(20);
  padding: rem-calc(16);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  .my-card__header {
    padding: 0;
  }

  .line_big-view {
    margin: 0 0 rem-calc(10) 0;
    border-top: rem-calc(1) solid #d6d6e1;
  }
  .my-card__text-info_bordered {
    border: rem-calc(1) solid #d6d6e1;
    border-top: none;
    padding: rem-calc(12);
    border-radius: 0 0 rem-calc(4) rem-calc(4);
    font-family: 'Open Sans';
    font-size: rem-calc(14);
  }
  .card-title_top {
    font-size: rem-calc(14);
    font-weight: 900;
    color: #6f708b;
    line-height: 1.43;
    padding-bottom: rem-calc(10);
    font-family: 'Open Sans';
  }

  .my-card__footer {
    padding-top: rem-calc(10);
  }
}
.filestack-preview-container {
  pointer-events: none;
}
.card-details__title_bold {
  font-weight: 900;
  padding: 0;
  font-size: rem-calc(14);
  color: #454560;
  font-family: 'Open Sans';
}
