.list-view-block {
  margin: auto;
  margin-bottom: 16px;
  .checking-over {
    height: calc(100% - 2rem);
  }
  .checking-over-image {
    position: absolute;
    top: 0;
    background-color: rgba(255, 255, 255, 0.76);
    z-index: 10;
    text-align: center;
    width: 100%;
    height: 100%;
  }
  .scorm-not-uploaded-list {
    position: absolute;
    top: 0;
    background-color: rgba(255, 255, 255, 0.76);
    z-index: 10;
    text-align: center;
    width: 100%;
    max-width: rem-calc(450);
    height: 100%;
    display: flex;
  }
  .pointer {
    cursor: pointer;
  }
  .author-info-container {
    width: 150px;
  }
  .user-name-popover {
    position: absolute;
    margin-top: rem-calc(-15);
    z-index: 10;
    left: rem-calc(75);
    top: rem-calc(40);
    pointer-events: none;
  }
  .feed-card-view {
    border-radius: 2px;
    background-color: #ffffff;
    position: relative;
    .video-label-type {
      bottom: 2.5rem;
      right: 0.5rem;
      position: absolute;
      color: #fff;
      border-radius: 2px;
      font-family: 'Open Sans', sans-serif;
      font-size: 10px;
      text-align: center;
      padding: 0 0.55rem;
      text-transform: uppercase;
      z-index: 2;
    }
    .past-stream {
      background-color: #4990e2;
    }
    .live-stream {
      background-color: #d91b33;
    }
    .scheduled-stream {
      background-color: #f6a623;
    }
    .number-card-btn {
      min-width: 20px;
      height: 20px;
      position: absolute;
      top: 0;
      z-index: 11;
      opacity: 0.9;
      left: 1rem;
      background-color: #000;
      color: #fff;
      text-align: center;
      font-size: 15px;
      padding-left: 2px;
      padding-right: 2px;
    }
    .list-view-main-card {
      position: relative;
      height: 100%;
      .my-card__propvider {
        padding-left: rem-calc(8) !important;
        padding-right: rem-calc(8) !important;
      }
      .flex-block {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        height: 100%;
        .relative:not(.no-attached):not(.content-view-block) {
          width: 55%;
          max-width: 450px;
          overflow: hidden;
          .card-file-container,
          .video-block,
          .inline-video iframe {
            width: 100% !important;
          }
        }
        .no-attached {
          flex: 1;
        }
        .content-view-block {
          width: calc(100% - 300px);
          a {
            margin-right: 0 !important;
          }
        }
      }
      .main-card-content-container {
        height: auto;
        //max-height: 10.8rem;
        //overflow-y: hidden;
      }
      //.main-card-content-container:hover{
      //  overflow-y: auto;
      //}
      .center-play-icon {
        top: calc(50% - 25px);
        left: calc(50% - 25px);
        position: absolute;
        cursor: pointer;
        transform: none;
        z-index: 3;
        filter: drop-shadow(0 0 15px #000);
      }
      .card-blurred-background {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
      .card-file-container,
      .card-image-container,
      .fp_video video,
      .video-block,
      .fp_preview,
      .inline-video iframe {
        width: 100%;
        height: 300px;
        position: relative;
        z-index: 2;
        cursor: pointer;
      }
      .card-details {
        flex-grow: 2;
        height: auto;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        > .cursor {
          height: 100%;
          flex-grow: 2;
          max-height: calc(100% - 2.8125rem);
          overflow-y: scroll;

          .poll-results-container {
            max-height: 100%;
            overflow-y: inherit;
          }
          @supports (-ms-ime-align: auto) {
            height: 100px !important;
          }
        }
        .label-text {
          font-size: 11px;
          font-weight: 300;
          text-align: left;
          color: #555555;
        }
        .text-title,
        .title {
          font-size: rem-calc(14);
          line-height: 1.57;
          text-align: left;
          color: #454560;
          padding: rem-calc(10) 0;
        }
      }
      .inline-block {
        display: inline-block;
      }
      .provider-logo {
        width: auto;
        height: 20px;
      }
      .tooltip-parent {
        .tooltip-snippet {
          &.bottom {
            left: -85px;
            top: 20px;
          }
        }
      }
    }
    .playVideo {
      height: 300px;
      padding-top: 0;
      video {
        height: 300px;
      }
    }
  }
  .pathway-view {
    width: 1000px;
    margin: auto;
  }
  .full-view {
    width: 100%;
  }

  .actions-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    padding: 0px;
    display: inline-flex;

    .icon-inline-block,
    .icon-inline-block-no-count {
      display: inline-flex;
      position: relative;
      padding-top: 15px;

      small {
        position: relative;
        top: 2px;
        font-size: 12px;
        line-height: 17px;
      }
    }
    .icon-inline-block-no-count {
      width: 30px;
    }
  }
  .locked-list-card {
    position: initial !important;
    height: 300px !important;
  }
}
.vertical-spacing-large .custom-card-container .list-view-block:not(:last-child) .feed-card-view {
  margin: 0 auto 16px;
}
.locked-list-card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  background-color: #fff;
  height: 100%;
  width: 100%;
  z-index: 3;
}

i {
  border: solid #acadc1;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 2px;
  margin: 2px 4px;
}
.csod-course_feed {
  position: absolute;
  bottom: 0;
}
.csod-course_big {
  position: relative;
}
.csod-course__info {
  font-size: rem-calc(12);
}

.card-block-with-information {
  display: flex;
  flex-direction: column;
  width: 100%;
}

//update size
.feed-card-view {
  padding: 0;

  .card-block-with-information {
    padding: rem-calc(12);
  }
}
