.custom-card-container,
.channel-card-wrapper,
.discover-card-wrapper {
  .three-card-column,
  .channel-card-wrapper-inner,
  .discover-card-wrapper-inner {
    .card-v2 {
      &:first-child {
        .card-img-container {
          .card-img {
            background-size: cover;
          }
        }
      }
      display: inline-block;
      vertical-align: top;
      .card-details {
        .cursor {
          cursor: pointer;
        }
        padding: 0 rem-calc(8);
        position: relative;
        .label-text {
          font-size: rem-calc(11);
        }
        .title {
          font-size: 13px;
          overflow: hidden;
          line-height: 18px;
        }
        .title-with-image,
        .text-title,
        .card-title {
          font-size: 13px;
          line-height: 17px;
        }
        .inline-block {
          display: inline-block;
        }
        .mid-align {
          vertical-align: middle;
        }
        .provider-logo {
          height: 0.85rem;
        }
      }
    }

    .card-v2 .public-DraftStyleDefault-ul,
    .card-v2 .public-DraftStyleDefault-ol {
      line-height: 17px;
      margin: 17px 0;
    }

    .card-v2 .paper-card {
      margin: 0 auto;
    }
    .more-cards.card-v2 .paper-card {
      margin: 0 auto;
      float: none;
    }
    .card-v2 {
      width: 33.3333%;
    }
    .new-card {
      border: 1px solid #d6d6e1;
    }
    .slick-slide {
      .card-v2 {
        padding: 0 !important;
      }
      .more-cards .paper-card {
        width: 100%;
      }
    }
  }

  .discover-card-width {
    .card-v2 {
      width: 100%;
    }
  }

  .four-card-column {
    margin: 0 -0.25rem;
    .card-v2 {
      &:first-child {
        .card-img-container {
          .card-img {
            background-size: cover;
          }
        }
      }
      display: inline-block;
      vertical-align: top;
      .card-details {
        .cursor {
          cursor: pointer;
        }
        padding: 0 rem-calc(8);
        position: relative;
        .label-text {
          font-size: rem-calc(11);
        }
        .title {
          font-size: rem-calc(13);
        }
        .title-with-image,
        .text-title,
        .card-title {
          font-size: 13px;
        }
        .inline-block {
          display: inline-block;
        }
        .mid-align {
          vertical-align: middle;
        }
        .provider-logo {
          height: 0.85rem;
        }
      }
    }

    .card-v2 .public-DraftStyleDefault-ul,
    .card-v2 .public-DraftStyleDefault-ol {
      line-height: 17px;
      margin: 17px 0;
    }

    .card-v2 .paper-card {
      margin: 0 auto;
    }
    .card-v2 {
      margin-bottom: 15px;
    }
    .card-v2:nth-child(4n + 2),
    .card-v2:nth-child(4n + 3) {
      padding: 0 7.5px;
    }
    .card-v2:nth-child(4n + 1) {
      padding-right: 7.5px;
    }
    .card-v2:nth-child(4n) {
      padding-left: 7.5px;
    }
    .more-cards.card-v2 .paper-card {
      margin: 0 auto;
      float: none;
    }
    .more-cards {
      width: 25%;
    }
    .new-card {
      border: 1px solid #d6d6e1;
    }
    .view-all-container {
      overflow: scroll;
      height: 100vh;
      .view-all-card {
        width: 100%;
        display: inline;
      }
    }
  }

  .five-card-column {
    margin: 0 -8px;
    .card-details {
      .cursor {
        cursor: pointer;
      }
      position: relative;
      .label-text {
        font-size: rem-calc(11);
      }
      .title {
        font-size: rem-calc(13);
      }
      .title-with-image,
      .text-title,
      .card-title {
        font-size: 13px;
      }
      .inline-block {
        display: inline-block;
      }
      .mid-align {
        vertical-align: middle;
      }
      .provider-logo {
        height: 0.85rem;
      }
    }
    .card-v2 .public-DraftStyleDefault-ul,
    .card-v2 .public-DraftStyleDefault-ol {
      line-height: 17px;
      margin: 17px 0;
    }

    .card-v2 .paper-card {
      margin: 0 auto;
    }
    .card-v2 {
      margin-bottom: 15px;
      display: inline-block;
      vertical-align: top;
      padding: 0 8px;
    }
    .new-card-designed-locked {
      width: 18.75rem !important;
      height: 25.375rem;
      margin: 0 0.5rem 0.9375rem 0.5rem;
      padding: 0;
    }
  }

  .card-v2 {
    position: relative;

    .title {
      word-break: break-word;
      -ms-word-wrap: break-word;
      font-size: rem-calc(13);
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        max-height: 6em;
      }
    }
    .due-date {
      display: block;
      line-height: rem-calc(10);
      font-size: rem-calc(12);
      padding: 5px 0 4px;
    }
    .has-author {
      overflow-y: hidden;
      line-height: 1.4;
    }

    .quiz-title {
      margin-bottom: 10px;
      line-height: 1.4;
    }
    .card-title {
      overflow: hidden;
      position: relative;
      line-height: 17px;
      font-size: 13px;
      width: 100%;
      margin-right: -0.8em;
    }
    .title-with-image-and-due {
      .card-title {
        max-height: 16px;
      }
    }
    .card-title:after {
      content: '';
      position: absolute;
      right: 0;
      width: 1em;
      height: 1em;
      margin-top: 0.2em;
      background: white;
    }
    .markdown-text:after {
      margin-top: -0.5em;
    }
    .button-icon {
      cursor: pointer;
    }
    .center-play-icon {
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      z-index: 3;
      filter: drop-shadow(0 0 15px #000);
    }
    .fp_video_card {
      video {
        height: 156px;
      }
    }
    .paper-card {
      position: relative;

      .video-label-type {
        bottom: 0.5rem;
        right: 0.5rem;
        position: absolute;
        color: #fff;
        border-radius: 2px;
        font-family: 'Open Sans', sans-serif;
        font-size: 10px;
        text-align: center;
        padding: 0 0.55rem;
        text-transform: uppercase;
        z-index: 2;
      }
      .past-stream {
        background-color: #4990e2;
      }
      .live-stream {
        background-color: #d91b33;
      }
      .scheduled-stream {
        background-color: #f6a623;
      }
      .pathway-card-btn {
        min-width: 20px;
        height: 20px;
        position: absolute;
        top: 0;
        z-index: 11;
        opacity: 0.9;
      }
      .close-card-btn {
        right: 1rem;
      }
      .move-card-btn {
        right: 2.9rem;
      }
      .number-card-btn {
        left: 1rem;
        background-color: #000;
        color: #fff;
        text-align: center;
        opacity: 0.9;
        font-size: 15px;
        padding-left: 2px;
        padding-right: 2px;

        span {
          display: block;
          line-height: 20px;
          vertical-align: middle;
        }
      }
    }
    .paper-card-controls {
      border: solid 1px #d6d6e1;

      .lock-leap-panel {
        position: absolute;
        width: 100%;
        height: 47px;
        background: #333;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        z-index: 10;

        .lock-btn {
          span {
            padding-left: 2px;
          }
        }
        .leap-btn {
          span {
            padding-right: 2px;
          }
        }
        span {
          color: #fff;
        }
      }
    }
    .filestack-preview-container {
      min-width: 250px;
      pointer-events: none;
    }
    @media all and (-ms-high-contrast: none) {
      *::-ms-backdrop,
      .filestack-preview-container {
        min-width: 270px;
      }
    }
    .poll-radio {
      margin-bottom: 6px;
    }
  }
  .empty-message {
    margin-top: rem-calc(200);
  }
}

.custom-result {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: 12rem;
  justify-content: flex-end;
}

.search-results .openCardFromSearch {
  cursor: pointer;
}

.auto-complete-list {
  margin: -3px;
  padding: 3px;
  > div {
    box-shadow: rgba(0, 0, 0, 0.117647) 0 1px 6px, rgba(0, 0, 0, 0.117647) 0 1px 4px;
  }
}

.poll-radio-box {
  display: block !important;
}

.correct-poll-radio {
  svg {
    fill: #2fb7a0 !important;
    opacity: 0.8;
  }
}
.incorrect-poll-radio {
  svg {
    fill: #e64360 !important;
    opacity: 0.8;
  }
}
.poll-tag {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-weight: 300;
  text-align: left;
  color: #6f708b;
  display: block;
  margin-top: 14px;
  text-transform: uppercase;
}

.poll-title-container {
  margin-bottom: 16px;
  padding-left: 5px;
}

.poll-content {
  padding-left: 0.5rem;

  p {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 1.38;
    text-align: left;
    color: #6f708b;
  }
}

button.vote div span {
  padding-left: 0;
  padding-right: 0;
  line-height: 1rem;
}

.actions-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  padding: 0 rem-calc(8);

  .icon-inline-block,
  .icon-inline-block-no-count {
    display: inline-flex;
    position: relative;
    padding-top: 15px;

    small {
      position: relative;
      top: 2px;
      font-size: 12px;
      line-height: 17px;
    }
  }
  .icon-inline-block-no-count {
    width: 30px;
  }
}

.actions-counter {
  display: inline-block;
}

.main-card-content-container {
  video {
    height: 178px;
    width: 223px;
    margin: 0 -0.5rem;
  }
  div.markdown-text.card-title * {
    font-size: rem-calc(13);
    line-height: rem-calc(17);
  }
}

.card-with-image-no-author-due-at {
  height: 4.8rem;
  overflow: hidden;
}

.channel-popover,
.user-name-popover {
  .tooltip-snippet {
    color: rgb(255, 255, 255);
    font-size: rem-calc(12);
    padding: rem-calc(8);
    border-radius: rem-calc(3);
  }
  .info-tooltip-custom {
    margin-top: 0.6rem;
    width: 135px;
    background: #171717;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
  }
  .info-tooltip-header {
    display: block;
    margin-top: 4px;
    font-size: 1em;
  }
  .info-tooltip-line {
    font-weight: bolder;
    margin-top: 3px;
    font-size: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
  }
  .info-tooltip-line:last-child {
    margin-bottom: 4px;
  }
  &:before {
    top: -4px;
    left: calc(50% - 7px);
    border: solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #171717;
    border-width: 7px;
  }
}

//.poll-results-container {
//  overflow-y: auto;
//  padding-bottom: 5px;
//}

.hide-checking {
  display: none;
}

.checking-over {
  position: absolute;
  top: 0;
  background-color: rgba(255, 255, 255, 0.76);
  height: 100%;
  width: 100%;
  z-index: 15;
  text-align: center;
}
.checking-full-over {
  position: absolute;
  top: 0;
  background-color: rgba(255, 255, 255, 0.76);
  height: calc(100% - 2rem);
  width: 100%;
  z-index: 15;
  text-align: center;
  cursor: pointer;
}

.scorm-not-uploaded {
  position: absolute;
  top: 0;
  background-color: rgba(255, 255, 255, 0.76);
  height: rem-calc(160);
  width: 100%;
  z-index: 10;
  text-align: center;
  display: flex;
}
.scorm-not-uploaded-text {
  margin: auto;
}

// Channel page cards
.channel-card-wrapper-inner {
  margin: 0 -47px !important;
  .card-details .title {
    line-height: 1.31 !important;
  }
  .card-v2,
  .paper-card {
    width: 100% !important;

    .stream-label {
      display: block !important;
      z-index: 3;
      position: absolute;
      bottom: 11px;
      right: 11px;
      background-color: red;
      padding: 0px 8px;
      border-radius: 2px;
      color: white;
      font-size: 10px;
      text-align: center;

      &.past {
        background-color: #4990e2;
      }
      &.live {
        background-color: #d91b33;
      }
      &.upcoming {
        background-color: #f6a623;
      }
    }
  }
}

.more-topics-link {
  color: rgb(0, 127, 0);
  text-decoration: underline;
  margin-left: 5px;
}
.locked-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: flex;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
  }
}

.card-bia {
  font-size: rem-calc(10);
  max-width: rem-calc(62);
  margin-left: auto;
  .level-dots {
    position: relative;
    text-align: right;
    white-space: nowrap;
    > a > span {
      width: rem-calc(8);
      height: rem-calc(8);
      background: #d6d6e1;
      display: inline-block;
      margin-left: rem-calc(3);
      cursor: pointer;

      .level-tip {
        position: absolute;
        top: rem-calc(-18);
        right: rem-calc(-10);
        background: #000000;
        border: rem-calc(1);
        border-radius: rem-calc(5);
        padding: rem-calc(1) rem-calc(4);
        color: #ffffff;
        z-index: 1000000;
        visibility: hidden;
      }

      &:hover {
        .level-tip {
          visibility: visible;
        }
      }
    }
  }
  .beginner {
    .first {
      background: #454560;
    }
  }
  .intermediate {
    .first,
    .second {
      background: #454560;
    }
    .second {
      background: #454560;
    }
  }
  .advanced {
    .first,
    .second,
    .third {
      background: #454560;
    }
  }
  .level {
    text-transform: capitalize;
    color: #6f708b;
  }
}

.actions-bar__bottom-row {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .tooltip-parent {
    .tooltip-snippet {
      &.bottom {
        left: -80px;
        top: 25px !important;
      }
    }
  }

  .rail-text-title > div {
    width: rem-calc(29);
    margin-right: rem-calc(-10);
    margin-left: rem-calc(5);
  }
  .insight-dropdown {
    display: inline-block;
    position: relative;
    line-height: rem-calc(13);
    transform: rotate(90deg);
    button {
      padding: 0 !important;
      height: rem-calc(24) !important;
      width: rem-calc(22) !important;
      border: 0 !important;
    }
  }
  .relevancyRatingStars {
    padding-right: rem-calc(5);
    display: inline-block;
    float: left;
  }
  img {
    display: inline-block;
  }
}

i {
  border: solid #acadc1;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 2px;
  margin: 2px 4px;
}

.my-card__header {
  display: flex;
  align-items: center;
  margin-bottom: rem-calc(4);

  .author-info-container {
    font-family: 'Open Sans', sans-serif;
    line-height: 1;
    position: relative;
    .user-name {
      font-weight: normal;
      color: #26273b;
      font-size: rem-calc(13);
      font-family: 'Open Sans' !important;
    }
    .user-name_cutting:hover + .user-name-popover {
      visibility: visible;
    }
    .user-name-popover {
      visibility: hidden;
      position: absolute;
      left: 50%;
      top: 15px;
      z-index: 10;
      transform: translateX(-50%);
    }
    .time-ago,
    .user-name {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      display: block;
      line-height: 1.4;
    }
    .time-ago {
      font-weight: 300;
      font-size: rem-calc(10);
      color: #26273b;
    }
  }
}

.my-card__user-avatar {
  margin-right: 0;
  line-height: 1;
}

.my-card__provider-container,
.my-card__provider {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: rem-calc(5px 0px);
}

.my-card__provider {
  padding: rem-calc(4) 0;
  white-space: nowrap;
  height: rem-calc(25);
  overflow: hidden;

  + .my-card__provider {
    &:before {
      content: '|';
      padding: 0 0.5rem;
      color: #6f708b;
      font-size: rem-calc(11);
    }
  }
  .my-card__small-vertical-line {
    font-size: rem-calc(10);
    color: #454560;
  }
}

.my-card__provider-logo {
  width: auto;
  max-width: rem-calc(27);
  max-height: rem-calc(41);
  display: inline-block !important;
}
.card-v2__simple-size {
  .my-card__provider-logo {
    max-height: rem-calc(25);
  }
}
.card-v2__wide {
  .my-card__provider-logo {
    max-height: rem-calc(41);
  }
}

.my-card__provider-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: rem-calc(11);
  font-weight: 300;
  color: #6f708b;
  text-transform: capitalize;
}
.nonTileView-ellipsis {
  max-width: rem-calc(288);
}
.tileView-ellipsis {
  max-width: rem-calc(64) !important;
}
.card-v2__simple-size {
  .my-card__provider-name {
    max-width: rem-calc(60);
  }
}

.my-card__small-vertical-line {
  color: #6f708b;
  font-weight: 300;
  padding: 0 rem-calc(8);
}

.card-v2,
.list-view-block,
.my-card__big-image {
  .tooltip-parent {
    .tooltip-snippet {
      &.bottom {
        left: -3px !important;
        top: 49px !important;
      }
    }
  }

  .pathway-label-block {
    position: absolute;
    right: 0;
    z-index: 10;
    line-height: 0.75rem;
    display: flex;
    height: 1.25rem;
    .pathway-label {
      background-color: #454560;
      font-size: 0.6875rem;
      color: #fff;
      padding: rem-calc(1) rem-calc(6);
      display: flex;
      align-items: center;
      .pathway-badge-preview {
        height: rem-calc(18);
        width: rem-calc(18);
        margin-right: rem-calc(5);
      }
    }
    .pathway-draft-label {
      background-color: #f18d86;
      font-size: rem-calc(11);
      color: #fff;
      font-weight: bold;
      padding: rem-calc(1) rem-calc(6);
      display: flex;
      align-items: center;
    }
  }
}

.my-card__big-image {
  .center-play-icon {
    top: calc(50% - 1.5625rem);
    left: calc(50% - 1.5625rem);
    position: absolute;
    cursor: pointer;
    transform: none;
    z-index: 3;
    filter: drop-shadow(0 0 0.9375rem #000);
  }
  .card-blurred-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .video-label-type {
    bottom: 2.5rem;
    right: 0.5rem;
    position: absolute;
    color: #fff;
    border-radius: rem-calc(2);
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    text-align: center;
    padding: 0 0.55rem;
    text-transform: uppercase;
    z-index: 2;
  }
  .past-stream {
    background-color: #4990e2;
  }
  .live-stream {
    background-color: #d91b33;
  }
  .scheduled-stream {
    background-color: #f6a623;
  }
  .playVideo {
    height: rem-calc(300);
    padding-top: 0;
    video {
      height: rem-calc(300);
    }
  }
  .card-file-container,
  .video-block,
  .inline-video iframe {
    width: 100% !important;
  }
  .card-file-container,
  .card-image-container,
  .fp_video video,
  .video-block,
  .fp_preview,
  .inline-video iframe {
    width: 100%;
    height: rem-calc(300);
    position: relative;
    z-index: 2;
    cursor: pointer;
  }
  .video-stream__live iframe {
    height: rem-calc(300) !important;
  }
}

.my-card__footer {
  padding-top: rem-calc(5);
  .rating-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    font-size: rem-calc(10);
    color: #acadc1;
  }
  .actions-bar__bottom-row {
    .rating-container {
      padding-right: 1rem;
      margin-right: rem-calc(-15);
    }
  }
}

.my-card__footer-first-row {
  display: flex;
  align-items: center;

  .read-time-ago__component,
  .read-time-ago,
  .pricing,
  .my-card__small-vertical-line {
    font-size: rem-calc(10);
    color: #454560;
  }

  & > div,
  .tooltip-parent,
  .rail-text-title {
    display: flex;
  }
}

.my-card__text-info {
  max-height: 10.8rem;
  overflow-y: hidden;
  &:hover {
    overflow-y: auto;
  }
}

.pricing_tile {
  margin-left: auto;
  svg {
    width: 10px !important;
    height: 17px !important;
    margin-right: 2px;
    padding-top: 1px;
  }
}

.my-card__header-second-row {
  display: flex;
  align-items: center;
  .published-at {
    font-size: rem-calc(10);
    color: #454560;
    .tooltip-snippet.bottom {
      width: rem-calc(105);
      left: rem-calc(-50);
    }
  }
}

.published-date-tile {
  margin-left: auto;
}

.pricing_skill_coins_tile_icon {
  width: 20px;
  display: inline-block !important;
}

.pricing_skill_coins_label_icon {
  width: 12px;
  display: inline-block !important;
}

.count {
  margin-left: 0;
  vertical-align: middle;
  font-size: rem-calc(14);
  color: #454560;
}
.count_comments {
  font-size: rem-calc(10);
  color: #acadc1;
}

.count_comments,
.commentators-avatar {
  white-space: nowrap;
  cursor: pointer;
}

//update cars size

.card-v2 {
  &.card-v2__wide {
    min-width: rem-calc(300);
    height: rem-calc(422);
    .author-info-container {
      max-width: calc(100% - 7.2rem);
    }
    .author-info-container_short {
      max-width: calc(100% - 9.2rem);
    }
    .card-v2__text-information {
      padding: rem-calc(12);
    }
  }
  &.card-v2__simple-size {
    height: rem-calc(328);
    .card-img-container {
      height: rem-calc(160);
    }
    .author-info-container {
      max-width: calc(100% - 5.9375rem);
    }
    .author-info-container_short {
      max-width: calc(100% - 8rem);
    }
    .card-v2__text-information {
      padding: rem-calc(6);
    }
  }
  &.card-v2_private-card-size {
    height: rem-calc(328);
  }
  &.card-v2_private-card__wide {
    min-width: rem-calc(300);
    height: rem-calc(422);
  }
  .paper-card {
    height: 100%;
    position: relative;
    border: rem-calc(1) solid hsla(0, 0%, 47%, 0.161);
    display: flex;
    flex-direction: column;
  }
  .card-img-container {
    border-radius: rem-calc(3) rem-calc(3) 0 0;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    height: rem-calc(199);
    flex: none;
    .card-blurred-background {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
    .card-img {
      min-height: 10rem;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  .card-v2__text-information {
    flex-grow: 2;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0.5rem !important;

    .relevance-weight {
      font-size: 12px;
      position: absolute;
    }

    .tooltip-parent {
      .tooltip-snippet {
        &.bottom {
          top: 50px;
        }
      }
    }
    .poll-content .name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .card-details {
    height: 0;
    flex-grow: 2;
    padding: 0px !important;
    overflow: hidden;
    cursor: pointer;
  }
  .poll-card-details {
    overflow-y: auto;
  }
  .card-title {
    font-size: rem-calc(13);
    line-height: rem-calc(17);
  }
  .markdown-container .marked-text p,
  .DraftEditor-editorContainer {
    font-size: rem-calc(13);
    line-height: rem-calc(15);
  }
  .public-DraftStyleDefault-block {
    overflow: hidden;
  }
}

.due-date {
  white-space: nowrap;
  + .due-date {
    margin-left: rem-calc(5);
  }
}

.card-hide-edit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.16);
  cursor: not-allowed;
  z-index: 10;
}

.card-new {
  font-size: rem-calc(10);
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.5px;
  color: #38b6a0;
  padding-left: rem-calc(5);
  margin-top: rem-calc(3);
  font-family: 'Open Sans' !important;
}

.card-new__deleted {
  color: #c8285e;
  font-size: 0.6875rem;
  font-weight: 300;
  text-transform: capitalize;
}

.card-new__right {
  margin-left: rem-calc(10);
  margin-bottom: 0.15rem;
}

.tooltip-snippet.top {
  top: -22px;
  transform: translateX(-50%);
}

.card-title-v2 > div > p {
  line-height: 1.4 !important;
}
