.new-course-layout-container {
  display: flex;
  flex-direction: column;

  .course-loader {
    margin: rem-calc(100) 0 0 0;
  }

  .drop-down-container {
    margin: 0 0 rem-calc(16) 0;
  }

  .empty-course {
    margin: rem-calc(100) 0 0 0;
  }

  .new-course-card-layout-container {
    line-height: 1.36;
    max-width: 100%;
    margin: 0 0 rem-calc(16) 0;
    display: flex;
    flex-direction: column;

    .three-course-card {
      .course-cards-v2-container {
        width: 33.33333%;
      }
    }

    .four-course-card {
      .course-cards-v2-container {
        width: 25%;
      }
    }

    .five-course-card {
      .course-cards-v2-container {
        width: 20%;
      }
    }

    @media screen and (max-width: rem-calc(1280)) {
      .three-course-card {
        .course-cards-v2-container {
          width: 50%;
        }
        .course-cards-v2-container:nth-child(n + 3) {
          display: none;
        }
      }

      .four-course-card {
        .course-cards-v2-container {
          width: 33.3333%;
        }
        .course-cards-v2-container:nth-child(n + 4) {
          display: none;
        }
      }

      .five-course-card {
        .course-cards-v2-container {
          width: 25%;
        }
        .course-cards-v2-container:nth-child(n + 5) {
          display: none;
        }
      }
    }
  }

  .course-status-section {
    font-size: 18px;
    font-weight: 600;
    color: #454560;
    margin: 0 0 rem-calc(10) 0;

    .view-all {
      font-size: 16px;
      float: right;
      color: #4a90e2;
    }
  }
}

.course-status-section-container {
  display: flex;
  flex-direction: row;
  margin: 0 rem-calc(-8);
}

.course-cards-v2-container {
  padding: 0 rem-calc(8);

  .course-cards-v2 {
    cursor: pointer;
    padding: rem-calc(10);
    height: 100%;
    position: relative;
    min-height: rem-calc(220);

    .course-image-container {
      .course-image {
        height: rem-calc(33);
      }
    }

    .course-card-type {
      p {
        font-size: rem-calc(11);
        font-weight: 300;
        color: #6f708b;
        margin: rem-calc(10) 0;
      }
    }

    .course-card-details {
      p {
        color: #26273b;
      }

      .course-card-title {
        font-size: rem-calc(14);
      }
    }

    .course-card-other-details {
      margin: rem-calc(10) 0 0 0;
      position: absolute;
      bottom: rem-calc(10);

      p {
        font-size: rem-calc(12);
      }
    }
  }
}
