.leap-modal {
  padding: 20px 47px 24px 20px;
  .leap-modal__header {
    position: absolute;
    width: 100%;
    top: -40px;
    line-height: 48px;
    right: 0;
    .header-title {
      color: white;
    }
    .close-button {
      float: right;
    }
  }

  .leap-modal__content {
    .leap-modal__row {
      display: flex;
      padding: 7.5px 0;
      align-items: center;

      .text-block {
        padding: 0.4rem 0;
        font-size: 14px;
      }
    }

    .right-block {
      width: 220px;
    }
    .left-block {
      width: 360px;
      position: relative;
    }
  }
  .action-block {
    padding-top: 11.5px;
  }
  .leap-text {
    font-size: 14px;
    letter-spacing: -0.4px;
    color: #454560;
  }

  .leap-modal__input {
    border: solid 1px #d6d6e1;
    padding: 5px 32px 5px 12px;
    font-size: 12px;
    font-weight: 300;
    color: #6f708b;
    width: 100%;
  }

  .leap-modal__icon {
    position: absolute;
    top: 26px;
    right: -22px;
  }

  .leap-modal__btn {
    margin: 24px 16px 0;
    text-align: center;
  }

  .leap-modal__btn_cancel {
    font-size: 14px;
    color: #6f708b;
  }

  .leap-modal__btn_ok {
  }
}
