.list-block-preview {
  padding-top: 16px;
  cursor: pointer;
  .list-main-card {
    width: 100%;
    height: 101px;
    border-radius: 2px;
    border: solid 1px #ededed;
    display: flex;
    align-items: center;
    position: relative;
    .card-index {
      position: absolute;
      top: 0;
      left: 9px;
      min-width: 15px;
      height: 15px;
      background: #26273b;
      color: #fff;
      padding: 0 2px;
      text-align: center;
      font-size: 12px;
      z-index: 3;
      line-height: 15px;
    }
    .author-block {
      padding: 0 16px;
      border-right: solid 1px #d6d6e1;
    }
    .card-img-container {
      height: 100%;
      width: 137px;
      position: relative;
    }
    .provider-logo {
      height: 18px;
    }
    .card-blurred-background {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
    .fp_video_card {
      video {
        height: 100px;
      }
    }
    .card-header-preview {
      > div {
        padding-right: 0 !important;
      }
      width: 151px;
      display: flex;
      align-items: center;
    }
    .author-info-preview {
      line-height: 12px;
      .user-name {
        font-size: 12px;
        line-height: 1.17;
        text-align: left;
        color: #555555;
        font-weight: 600;
      }
      .time-ago {
        font-weight: 300;
        color: #9b9b9b;
        font-size: 12px;
        line-height: 1.17;
      }
    }
    .center-play-icon {
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      z-index: 2;
    }
    .logo-type {
      padding: 10px 0;
    }
    .card-message {
      font-size: 13px;
      height: 88px;
      overflow: hidden;
      font-weight: 300;
      text-align: left;
      color: #6d6d72;
      padding: 0;
      border-left: none;
      .markdown-container {
        line-height: 18px;
      }
    }
    .card-message-poll {
      font-size: 13px;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-left: 8px;
      max-width: none;
      white-space: inherit;
      font-weight: 400;
    }
    .poll-message {
      padding: 0 8px;
      overflow: auto;
      max-height: 92px;
    }
    .markdown-container {
      padding: 0 15px;
      height: 88px;
      overflow: hidden;
      display: table-cell;
      vertical-align: middle;
      max-width: 100%;
    }
    .poll-content {
      padding-top: 10px;
      .vertical-spacing-medium {
        display: flex;
        align-items: center;
        margin: 0;
        flex-wrap: wrap;
        .vertical-spacing-medium {
          padding-bottom: 10px;
        }
        .poll-radio {
          margin: 0;
          padding-right: 10px;
        }
        .vote {
          margin: 0 0 10px !important;
        }
        .poll-stats-bar {
          width: 150px;
          margin-bottom: 0 !important;
          margin-right: 5px;
          line-height: 22px;
          height: 33px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .name {
            position: relative;
            width: auto;
          }
          .percentage {
            position: relative;
            right: 0;
          }
          .votes {
            position: relative;
            flex: none;
            margin-left: auto;
          }
        }
      }
    }
  }
}
