.main-card-content-container {
  .RichTextEditor__editor___1QqIU {
    line-height: 1.375rem;
  }
}

.openCardFromSearch {
  .RichTextEditor__editor___1QqIU {
    font-size: 13px;
  }
}

.card-with-image-no-author-due-at,
.my-card__big-image,
.message,
.card-text-block,
.openCardFromSearch,
.main-card-content-container,
.card-message,
.previous-versions {
  .RichTextEditor__root___2QXK- {
    border: none;
    border-radius: unset;
    font-family: inherit;
    font-size: inherit;
  }
}

.RichTextEditor__editor___1QqIU {
  font-size: inherit;

  .public-DraftEditor-content,
  .RichTextEditor__editor___1QqIU .public-DraftEditorPlaceholder-root {
    padding: 0;
  }
}

.smart-bite-cards {
  .RichTextEditor__root___2QXK- {
    height: 300px;
    position: relative;
    overflow: hidden;
    padding-top: 60px;
  }

  .RichTextEditor__editor___1QqIU {
    overflow: auto;
    height: 100%;
  }

  .public-DraftEditor-content,
  .RichTextEditor__editor___1QqIU .public-DraftEditorPlaceholder-root {
    padding: 9px;
  }
}

.previous-versions {
  .RichTextEditor__root___2QXK- {
    padding-top: 0;
    height: auto;
  }
  .public-DraftEditor-content {
    padding: 0;
  }
}
