#docs-container {
  .docs {
    background-color: #fff;
    display: block;
    margin: auto;
    width: 1076px;
    margin-bottom: 20px;
    border: 1px solid #d9d9d9;
  }
  .resource-heading {
    font-size: 20px;
    margin: 15px 0 24px 0;
    font-weight: bold;
  }
  .content {
    margin: auto 10%;
  }
  .resource-sub-heading {
    font-size: 18px;
  }
  .docs-subsection {
    padding: 20px;
    border-bottom: 1px solid #d9d9d9;
  }
  .resource-paragraph {
    margin: 20px 0;
    font-size: 14px;
    color: grey;
  }
  .api-url {
    width: 82%;
    display: inline-block;
    border: 1px solid #d9d9d9;
    border-radius: 4px;

    .url-verb {
      width: 16%;
      display: inline-block;
      float: left;
      background-color: #45a1f1;
      color: white;
      padding: 8px 0;
    }
    .url {
      width: 84%;
      display: inline-block;
      float: right;
      background-color: #f7f7f7;
      padding: 8px 0;
    }
  }
  .api-url-container {
    display: inline-block;
    width: 100%;
    margin: auto 0%;
  }
  .api-name {
    float: left;
    line-height: 42px;
    width: 15%;
    text-align: left;
  }
  .json-response {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    width: 90%;
    display: inline-block;
    margin: auto 9%;
    margin-top: 30px;

    .response-header {
      border-bottom: 1px solid #d9d9d9;
      background-color: rgb(188, 188, 188);
      padding: 10px;
      font-size: 14px;
    }
    .response-content {
      background-color: #f7f7f7;
      font-size: 12px;
      padding: 5px;
    }
  }
  .api-request {
    font-size: 12px;
    padding: 10px;
    background: #f7f7f7;
  }
  .api-parameters {
    margin: auto 2%;
    width: 95%;
    border: 1px solid #d9d9d9;

    th {
      background: #f0f0f0;

      td {
        padding: 10px 0;
      }
    }

    th,
    tr {
      width: 100%;

      td {
        width: 50%;
        display: inline-block;
      }

      td:first-child {
        border-right: 1px solid #d9d9d9;
      }
    }

    tr {
      border-bottom: 1px solid #d9d9d9;

      td {
        height: 100%;

        span {
          width: 100%;
          display: inline-block;
          text-align: center;
          font-size: 12px;
        }
      }
    }
  }
}
