.marginTop30 {
  margin-top: 30px;
}

.bgWhite {
  background-color: #fff;
}

.paddingRight10 {
  padding: 0px 10px 0px 0px;
}

.paddingLeft10 {
  padding: 0px 0px 0px 10px;
}

.border4 {
  border-radius: 4px;
}

.empty-state {
  margin-top: 16px;
  margin-bottom: 8px;
  padding: 0px 12px;
}

.itemLabel {
  font-size: 16px;
  color: #555;
  margin-bottom: 0px;
  font-weight: 400;
  display: flex;
  align-items: center;
  vertical-align: middle;
  margin-right: 5px;
}

.group-title {
  margin-top: 16px;
  margin-bottom: 3px;
}
